@charset "utf-8";

input[type=text], input[type=password], input[type=submit], input[type=image], input[type=number] {padding:2px 5px; font-size:15px; border: 1px solid #e9e9e9; border-radius: 5px; -webkit-appearance:none;}
input[type=submit], input[type=image]{padding:2px 7px; cursor: pointer;}
select{font-size:15px; border: 1px solid #e9e9e9; border-radius: 5px;}
.readonly {font-size:15px; background-color: #f3f3ee; }
.d_date {width:100px; cursor: pointer;}
.result_hover:hover{ background-color:#f5f5f5;}
.not_use{ background-color:#cccccc;}

/* 초기화 */
html {overflow-y:scroll}
body {-webkit-text-size-adjust: auto; -webkit-user-select: auto; font-family:'Nanum Gothic', dotum, sans-serif;}
#wrapper, #cms_header{min-width: 1780px;}
#cms_header{margin-bottom:40px;}

/* header */
#header{ width:100%; position:relative; zoom:1; z-index: 100; min-width: 1288px; background: #383a3f;}
#header:after {display:block;visibility:hidden;clear:both;content:""}

/* head_title */
#head_title a {z-index:100000;position:absolute;top:0;left:0;width:1px;height:1px;font-size:0;line-height:0;overflow:hidden; -webkit-margin-before: 0em; -webkit-margin-after: 0em;}
#head_title a:focus, #head_title a:active {width:100%;height:200px;background:#21272e;color:#fff;font-size:2em;font-weight:bold;text-align:center;text-decoration:none;line-height:3.3em}

/* cms_header */
#cms_header{position: fixed; z-index:100; width: 100%;}
#cms_header_end {position:relative; clear:both; margin-bottom:64px; font-size:17px;}
	/* tnbs */
	#tnbs{position:relative; background-color: #000;}
	#tnbs ul {z-index:100; position:relative; margin:0 20px; padding:0; zoom:1;}
	#tnbs ul{width:1780px; margin:0 auto;} /* 가운데 정렬 */
	#tnbs ul:after {display:block;visibility:hidden;clear:both;content:""}
	#tnbs ul li{float:left; margin:0; padding:10px 10px; color:#fff;}
	#tnbs ul li a{color:#fff;}
	#tnbs ul li a:hover{color:#c57171;}


	/* gnbs */
	#gnbs {position:relative;z-index:50; padding:10px 20px 0px 20px; background:#383a3f; }
	#gnbs h2{margin:0;padding:0;font-size:0;line-height:0;overflow:hidden}
	/*
	#gnbs ul{position:relative;margin:0 20px;padding:0;zoom:1}
	#gnbs ul:after {display:block;visibility:hidden;clear:both;content:""}
	*/
	#gnbs ul.steps1{z-index:20; position:relative;margin:0 20px; padding:0;zoom:1}
	#gnbs ul.steps1{width:1780px; margin:0 auto;} /* 가운데 정렬 */
	#gnbs ul.steps1:after {display:block;visibility:hidden;clear:both;content:""}
	#gnbs ul.steps1 > li{position:relative;zoom:1;}
	#gnbs ul.steps1 > li:after {display:block;visibility:hidden;clear:both;content:""}
	#gnbs ul.steps1 > li{float:left;margin:0; padding:10px 10px; color:#fff; font-size:17px;border:1px solid #333;border-top:0;border-bottom:0}
	#gnbs ul.steps1 > li a{color:#fff;}
	#gnbs ul.steps1 > li a:hover{font-family:Nanum Gothic,dotum; font-weight:bold;text-decoration:none;}
	#gnbs ul.steps1 > li a.current1{font-family:Nanum Gothic,dotum; font-weight:bold; color:#eac269; }

	#gnbs ul.steps2{z-index:30; display:none; padding-top:5px;}
	#gnbs ul.steps2 > li{ position:relative;margin:0; padding:5px 5px; color:#fff; font-size:15px;}
	#gnbs ul.steps2 > li a{color:#fff;}
	#gnbs ul.steps2_over{ display:block;}
	#gnbs ul.steps2 > li.steps3_list{color:#fba7c1;}
	#gnbs ul.steps2 > li.steps3_list > a{color:#fba7c1;}
	#gnbs ul.steps2 > li a.current2{font-family:Nanum Gothic,dotum; font-weight:bold; text-decoration:none; color:#e41f57;}

	#gnbs ul.steps3{z-index:40; display:none; position:absolute; margin-top:-27%; margin-left:90%; width: 200%; background-color: #cecfd0; border-radius:15px; padding:10px 0px;}
	#gnbs ul.steps3 > li{z-index:5; position:relative; margin:0; padding:5px 10px; color:#5a76e0; font-size:15px;}
	#gnbs ul.steps3 > li a{color:#5a76e0;}
	#gnbs ul.steps3_over{ display:block;}
	#gnbs ul.steps3 > li a.current3{font-family:Nanum Gothic,dotum; font-weight:bold;text-decoration:none; color:#2236d2;}

	#lnbs{position:relative; z-index:20; padding:0px 15px 10px ;  background-color: #fff;}
	#lnbs ul{position:relative; zoom:1;}
	#lnbs ul{width:1780px; margin:0 auto;} /* 가운데 정렬 */
	#lnbs ul:after {display:block;visibility:hidden;clear:both;content:""}
	#lnbs ul li{position:relative;zoom:1;}
	#lnbs ul li{float:left;margin:0; padding-top:10px;}
	#lnbs ul li a{display: inline-block; margin-right: 10px; padding: 5px 10px; border: 1px solid #ccc; font-size: 14px; color:#000; border-radius: 5px;}
	#lnbs ul li a:hover{background: #383a3f; border: 1px solid #000; color: #fff; text-decoration: none;}
	#lnbs ul li a.current3{background: #383a3f; border: 1px solid #000; color: #fff; text-decoration: none;}

	#lnbs_end {position:relative; clear:both; margin-bottom:24px; font-size:17px;}
	#lnbs_next_end {position:relative; clear:both; margin-bottom:14px; font-size:17px;}


#container{min-height:500px; padding:10px;}
#container{width:1780px; margin:0 auto;} /* 가운데 정렬 */

	/* CMS 제목 */
	#cms_title {position:relative; zoom:1;}
	#cms_title:after {display:block;visibility:hidden;clear:both;content:""}
	#cms_title h1{float:left;}
	#cms_title div{float:left; padding:5px 0px 0px 12px; font-size:13px;}
	#cms_title div.write{float:right; padding:0px; font-size:15px; font-family:Nanum Gothic,dotum; font-weight:bold;}
	#cms_title div strong{color: #000;}
	#cms_title div a{font-family:Nanum Gothic,dotum; font-weight:bold; color: #000;}
	#cms_title div a:hover{color:#ddd;}
	#cms_title div.write a{display: inline-block; font-size:15px; font-family:Nanum Gothic,dotum; font-weight:bold; background: #e8da6a; padding: 5px 10px; margin-left: 5px; color: #fff; border-radius: 50px; vertical-align: middle;}
	#cms_title div.write button{display: inline-block; font-size:15px; font-family:Nanum Gothic,dotum; font-weight:bold; background: #fb6b6b; padding: 5px 10px; margin-left: 5px; color: #fff; border-radius: 50px;}
	#cms_title div.write button:hover{color:#f6fe0e;}


	/* 상단 설명 */
	#cms_explain > ul{margin-left:20px;}
	#cms_explain > ul li{padding-top:2px; list-style-type: decimal; font-weight:normal; font-family: Nanum Gothic, dotum;}
	
	/* 상단 리스트 */
	#cms_btnlist{position:relative; zoom:1; margin-top:5px;}
	#cms_btnlist:after {display:block;visibility:hidden;clear:both;content:""}
	#cms_btnlist > ul{margin-left:20px;}
	#cms_btnlist > ul li{float:left; padding:2px 6px; font-weight:normal; font-family: Nanum Gothic, dotum;}
	#cms_btnlist > ul li a{display: inline-block; background: #4bb567; padding: 5px 10px; color: #fff; border-radius: 50px;}
	
	/* 상단 배너 */
	#cms_btnlist > ul li.web a{ background: #b38fd1; }
	#cms_btnlist > ul li.mobile a{ background: #84c4c0; }
	#cms_btnlist > ul li.webmobile a{ background: #f49eba; }
	#cms_btnlist > ul li a:hover, #cms_btnlist > ul li.current a{background:#e4c037;}

	#cms_btnlist > ul li.mgl52{margin-left:55px;}
/* ////////////////////////////////////////////// 검색영역 ////////////////////////////////////////////// */

/* 컨텐츠 정보 검색*/
#cms_search {position:relative; zoom:1; margin-top:10px; padding:10px 0; background: #f6f5fb; border-top: 1px solid #e9e9e9; color:#000; font-size: 14px; text-align: center; border-radius: 10px;}
#cms_search:after {display:block;visibility:hidden;clear:both;content:""}
#cms_search .cs_s_type_btn label{margin-right:5px;}
#cms_search .cms_excel {
	position: absolute;
	top:4px;
	right:10px;
}
#cms_search .cms_excel a{display: inline-block;
	font-size: 15px;
	font-family: Nanum Gothic,dotum;
	font-weight: bold;
	background: #e86ac0;
	padding: 5px 10px;
	margin-left: 5px;
	color: #fff;
	border-radius: 50px;
	vertical-align: middle;
}

/* width: 1780px; margin: 0 auto; */
#cms_search .cs_bg{position:relative; zoom:1; display:inline-block; *display:inline; zoom:1;}
#cms_search .cs_bg:after {display:block;visibility:hidden;clear:both;content:""}
#cms_search .cs_form{position:relative; zoom:1; float:left; text-align: right; margin-right:10px;}
#cms_search .cs_form:after {display:block;visibility:hidden;clear:both;content:""}
#cms_search .cs_form .cs_search_btn{ margin-top:5px;}
#cms_search .cs_form .cs_date_btn{ margin-top:5px;}

#cms_search .cs_calendar{margin-top:5px; display:none;}
#cms_search .cs_calendar_on{display:block;}
#cms_search .cs_calendar .cs_calendar_btn{ margin-top:5px;}
#cms_search .cs_calendar .cs_calendar_btn a{display: inline-block; background: #017eff; padding: 3px 10px; margin-left: 5px; font-size: 13px; color: #fff; font-family: nanum_extrabold,dotum; font-weight: bold; border-radius: 50px;}
#cms_search .cs_calendar .cs_calendar_btn a:hover{color: #f6fe0e;}

#cms_search .cs_calendar_month{margin-top:5px;}
#cms_search .cs_calendar_month .cs_calendar_btn{ margin-top:5px;}
#cms_search .cs_calendar_month .cs_calendar_btn a{display: inline-block; background: #017eff; padding: 3px 10px; margin-left: 5px; font-size: 13px; color: #fff; font-family: nanum_extrabold,dotum; font-weight: bold; border-radius: 50px;}
#cms_search .cs_calendar_month .cs_calendar_btn a:hover{color: #f6fe0e;}

#cms_search .cs_submit{position:relative; zoom:1; float:left;}
#cms_search .cs_submit input[type=submit]{width:100px; height:72px; transition-duration: 0.5s; border-radius: 10px; font-family:Nanum Gothic,dotum; font-weight:bold;}
#cms_search .cs_submit input[type=submit]:hover{color: #6b67f9; border:1px solid #6b67f9;}
#cms_search .cs_submit input[type=submit].cs_submit_on{height:130px;} 

/* 상단 고정메뉴 */
#cr_bg #cr_thead{width:1780px; background: rgb(255, 255, 255); z-index: 5;}

/* 대분류 칼라 */
.big_list{color:red;}
p.big_list{padding-bottom:5px;}

/* 설명 */
.result_explain ul{margin-left:20px; margin-bottom:10px; }
.result_explain ul li{padding-top:2px; list-style-type: decimal; font-weight:normal; font-family: Nanum Gothic,dotum; }