@charset "utf-8";
/* ////////////////////////////////////// 공통 /////////////////////////////////////////////// */
/* 날짜 */
.date_type_view .s_date_chk{width:160px !important; text-align: center !important;}
/* ////////////////////////////////////// 줄 셀렉트 박스 /////////////////////////////////////////////// */
#cms_page_title #s_limit_select{float:right;}
/* ////////////////////////////////////// 컨텐츠 등록 /////////////////////////////////////////////// */
#comics_write {position:relative; margin-top:10px;}
#comics_write table {border-top:2px solid #eee; border-bottom:3px solid #eee;}
#comics_write table th{width:130px; min-width:130px; padding:10px 20px; background: #293254; border-top:1px solid #eee; font-size:13px; color: #fff; border-radius: 3px;}
#comics_write table th p{margin-top:5px;}
#comics_write table th p a{color:red;}
#comics_write table td{min-width:640px; padding:10px 20px; border-top:1px solid #eee; font-size:13px;}
#comics_write table td input[type=text], #comics_write table td textarea{width:100%;}
#comics_write table td input.res_open_date{text-align:center; width:100px;}
#comics_write table td input.res_stop_date{text-align:center; width:100px;}
#comics_write table td input.partner{width:40%;}
#comics_write table td select.partner{width:50%;}
#comics_write table td div label{margin-right:10px;}
#comics_write table td div.input_btn {display: inline-block;}
#comics_write table td div.input_btn label{ display: inline-block; font-family: Nanum Gothic,dotum; font-weight: bold; background: #58b7fb; padding: 3px 6px; color: #fff; border-radius: 50px;}
#comics_write table td div.input_btn label:hover{color: #f6fe0e}
#comics_write table td div label.giho{margin-left:15px;}
#comics_write table td div.cm_pay{margin-top:5px;}
#comics_write table td .data_readonly{background-color: #f3f3ee; }
#comics_write table td input.cm_free_pay{width:30%;}
/* #comics_write table td input.cm_episode_date{width:160px; text-align: center;} */

#comics_write table td ul.event_list{position:relative; border-top:1px solid #eee;}
#comics_write table td ul.event_list li{border:1px solid #eee; border-top:0px solid;}
#comics_write table td ul.event_list li.hide{display:none;}
#comics_write table td ul.event_list li.show{display:block;}
#comics_write table td ul.event_list li.on{background: #cc95f5; color:#fff;}
#comics_write table td ul.event_list li:hover{background: #95cdf5;}

#comics_write table td div.depths{position:relative; zoom:1px; width:640px;}
#comics_write table td div.depths:after {display:block;visibility:hidden;clear:both;content:""}
#comics_write table td div.depths > div{float:left;}
#comics_write table td div.depths label{ display: inline-block; font-family: Nanum Gothic,dotum; font-weight: bold; background: #58b7fb; padding: 3px 6px; color: #fff; border-radius: 50px; word-break: break-all;}
#comics_write table td div.depths label:hover{color: #f6fe0e}
#comics_write table td div.depths span{ display: inline-block; padding-bottom: 6px;}

#comics_write table td div.depths > .depths1_head{width:120px; padding-bottom:5px;  text-align:center; font-size: 16px;}
#comics_write table td div.depths > .depths2_head{width:510px; padding-bottom:5px; font-size: 16px; padding-left:10px;}
#comics_write table td div.depths > .depth1{width:120px; padding: 10px 0 4px; border:1px solid #fff; border-top-color:#eee;}
#comics_write table td div.depths > .depth1 label{width:80px; text-align:center;}
#comics_write table td div.depths > .depth2{width:510px; padding: 10px 0 4px; border:1px solid #fff; border-top-color:#eee;}
#comics_write table td div.depths > .depth2 label.depth2_null{visibility: hidden;}
#comics_write table td div.depths > .depth2 div{display: inline-block;}
#comics_write table td div.depths > .depth2 > p{margin-top: 11px;}
#comics_write table td div.depths > .depth2 .depth3_list{width:550px; margin-bottom:5px;}
#comics_write table td div.depths > .depth2 .depth3_list img{vertical-align: top;}
#comics_write table td div.depths > .depth2 .depth3_head{width:60px; vertical-align: top;}
#comics_write table td div.depths > .depth2 .depth3{width:450px;}

#comics_write table td.submit_btn{text-align:center;}
#comics_write table td.submit_btn input{padding: 4px 10px; font-family: Nanum Gothic,dotum; font-weight: bold; color:#fff;}
#comics_write table td.submit_btn input[type=submit]{background: #fb58b2;}
#comics_write table td.submit_btn input[type=reset]{background: #5d5a6f;}
#comics_write table td.submit_btn input:first-child{margin-right:10px;}

#comics_write table tr.cm_public_cycle { display: none; }

#comics_write ol {margin-left:13px; }
#comics_write ol li { list-style:decimal; }
#comics_write p.note span.red { color: red; font-weight: bold; }

/* 이미지 설명 */
#comics_write table td p.image_explan{margin-top:5px;}

/* 이미지 */
#comics_write table td div.image a{ display: inline-block; margin-top:5px; font-family: Nanum Gothic,dotum; font-weight: bold; background: #58b7fb; padding: 3px 6px; color: #fff; border-radius: 50px;}
#comics_write table td div.image a:hover{color: #f6fe0e}
#comics_write table td div.image .cm_cover_hide{display:none;}
#comics_write table td div.image .cm_cover_hide img{max-width:500px; margin-top:5px;}

/* ////////////////////////////////////// 화등록 /////////////////////////////////////////////// */
#episode_write {position:relative; margin-top:10px;}
#episode_write table {border-top:2px solid #eee; border-bottom:3px solid #eee;}
#episode_write table th{width:130px; min-width:130px; padding:10px 20px; background: #50712d; border-top:1px solid #eee; font-size:13px; color: #fff; border-radius: 3px;}
#episode_write table td{min-width:640px; padding:10px 20px; border-top:1px solid #eee; font-size:13px;}
#episode_write table td input[type=text], #episode_write table td textarea{width:100%;}
#episode_write table td input.partner{width:40%;}
#episode_write table td select.partner{width:50%;}
#episode_write table td div label{margin-right:10px;}
#episode_write table td div.input_btn label{ display: inline-block; font-family: Nanum Gothic,dotum; font-weight: bold; background: #a05d18; padding: 3px 6px; margin-bottom:5px; color: #fff; border-radius: 50px;}
#episode_write table td div.input_btn label:hover{color: #f6fe0e}
#episode_write table td div label.giho{margin-left:15px;}
#episode_write table td .data_readonly{background-color: #f3f3ee; }

#episode_write table td ul.event_list{position:relative; border-top:1px solid #eee;}
#episode_write table td ul.event_list li{border:1px solid #eee; border-top:0px solid;}
#episode_write table td ul.event_list li.hide{display:none;}
#episode_write table td ul.event_list li.show{display:block;}
#episode_write table td ul.event_list li.on{background: #cc95f5; color:#fff;}
#episode_write table td ul.event_list li:hover{background: #95cdf5;}

#episode_write table td.submit_btn{text-align:center;}
#episode_write table td.submit_btn input{padding: 4px 10px; font-family: Nanum Gothic,dotum; font-weight: bold; color:#fff;}
#episode_write table td.submit_btn input[type=submit]{background: #fb58b2;}
#episode_write table td.submit_btn input[type=reset]{background: #5d5a6f;}
#episode_write table td.submit_btn input.back_btn{margin-left:10px; background: #5649a9;}
#episode_write table td.submit_btn input:first-child{margin-right:10px;}

#episode_write table td p.red{color:red;}
#episode_write table td p.blue{color:blue;}

/* 이미지 설명 */
#episode_write table td p.episode_image_explan{margin-top:5px;}
/* 이미지 */
#episode_write table td .episode_image div .this_view{display:none; margin-top:5px; max-width:500px; width:80%; border:1px solid red;}
#episode_write table td div.episode_image a{ display: inline-block; margin-top:5px; font-family: Nanum Gothic,dotum; font-weight: bold; background: #58b7fb; padding: 3px 6px; color: #fff; border-radius: 50px;}
#episode_write table td div.episode_image a:hover{color: #f6fe0e}
#episode_write table td div.episode_image .episode_image_hide{display:none;}
#episode_write table td div.episode_image .episode_image_hide img{max-width:500px; margin-top:5px; border:1px solid;}
#episode_write table td div.episode_image .episode_file_list img{max-width:100px;width:10%; cursor: pointer;}

#episode_write table td input[type=text].ce_chapter{width:22%; margin-right:5px; text-align:right;}
#episode_write table td input[type=text].ce_notice{width:36%; margin:0 5px;}
#episode_write table td input.res_date{width:100px; text-align:center;}
#episode_write table td .res_input_btn{display: inline-block;}
#episode_write table td .res_date_hide{display:none;}
#episode_write table td .ce_outer_chapter_hide{display:none;}

/* 화 삭제 */
#episode_write ol {margin-left:13px; }
#episode_write ol li { list-style:decimal; }
#episode_write p.note span.red { color: red; font-weight: bold; }


/* ////////////////////////////////////// 화 리스트 /////////////////////////////////////////////// */
/* 화 리스트-필드 */
.episode_list_title{border-bottom:2px solid #e86239; padding-bottom:10px;}
#episode_list{position:relative; margin-top:10px;}
#episode_list h3{margin-bottom:10px;}
#episode_list ul.chapter_list{position:relative;zoom:1;  min-width: 850px;}
#episode_list ul.chapter_list:after {display:block;visibility:hidden;clear:both;content:""}
#episode_list ul.chapter_list li{position:relative;}
#episode_list ul.chapter_list li.chapter_head{position:relative;zoom:1; padding-bottom:10px; border-bottom: 2px solid #232323;}
#episode_list ul.chapter_list li.chapter_head:after {display:block;visibility:hidden;clear:both;content:""}
#episode_list ul.chapter_list li.chapter_head ul{position:relative;}
#episode_list ul.chapter_list li.chapter_head ul li{float:left; height:100%; text-align:center; font-family: Nanum Gothic,dotum; font-weight: bold;}
#episode_list ul.chapter_list li.chapter_head ul li p{padding-top:20px; color:#726e7d;}

#episode_list ul li ul li.ce_chapter{width:10%;}
#episode_list ul li ul li.ce_banner_file{width:10%;}
#episode_list ul li ul li.ce_title{width:15%;}
#episode_list ul li ul li.ce_service_state{width:10%;}
#episode_list ul li ul li.ce_free_state{width:10%;}
#episode_list ul li ul li.ce_pay{width:10%;}
#episode_list ul li ul li.ce_reg_date{width:10%;}
#episode_list ul li ul li.ce_order_btn{width:10%;}
#episode_list ul li ul li.ce_order{width:10%;}
#episode_list ul li ul li.ce_management{width:5%;}

/* 화 리스트-데이터 */
#episode_list #chapter_list_s > li{float:left; padding:15px 0; width:100%; border-bottom:1px solid #999;}
/* #episode_list ul.chapter_list li.chapter_episode{float:left;width:857px;height:76px;} */
/* #episode_list ul.chapter_list li.chapter_episode:after {display:block;visibility:hidden;clear:both;content:""} */
#episode_list #chapter_list_s li.chapter_episode ul{position:relative;}
#episode_list #chapter_list_s li.chapter_episode ul li{float:left; text-align:center; vertical-align: middle; word-break: break-all;}
#episode_list #chapter_list_s li.chapter_episode ul li p{padding-top:20px; color:#726e7d; -webkit-margin-before: 0em; -webkit-margin-after: 0em;}
#episode_list #chapter_list_s li.chapter_episode ul li p.paddingtop5{padding-top:5px;}
#episode_list #chapter_list_s li.placeHolder {position:relative;zoom:1; background-color:white !important; border:dashed 1px gray !important; }

#episode_list #chapter_list_s li.chapter_episode ul li.ce_chapter a{display: inline-block; margin:0 auto; font-size: 13px; font-family: Nanum Gothic,dotum; font-weight: bold; background: #f1b530; padding: 3px 6px; color: #fff; border-radius: 50px; word-break: break-all;}
#episode_list #chapter_list_s li.chapter_episode ul li.ce_management a{display: block; margin:0 auto; font-size: 13px; font-family: Nanum Gothic,dotum; font-weight: bold; background: #6b83fb; padding: 3px 6px; color: #fff; border-radius: 50px;}
#episode_list #chapter_list_s li.chapter_episode ul li.ce_management a.del_btn{display: block; margin-top:20px; font-size: 13px; font-family: Nanum Gothic,dotum; font-weight: bold; background: #736868; padding: 3px 6px; color: #fff; border-radius: 50px;}


#episode_list #chapter_list_s li.chapter_episode ul li.ce_banner_file img{border-radius: 10px;}
#episode_list #chapter_list_s li.chapter_episode ul li.ce_banner_file p{border-radius: 10px;}
#episode_list #chapter_list_s li.chapter_episode ul li.ce_banner_file p.noimage{display: inline-block; width:76px; margin:0; padding:31px 0px 30px; background: #ddd; color:#fff; font-size:13px; text-align:center;}

#episode_list #chapter_submit li{padding: 10px 20px; font-size: 13px;text-align: center; border-top:1px solid #999;}
#episode_list #chapter_submit li input { padding: 4px 10px; font-family: Nanum Gothic,dotum; font-weight: bold; color: #fff; }
#episode_list #chapter_submit li input[type=submit] { background: #fb58b2; }
#episode_list #chapter_submit li input[type=reset] { background: #5d5a6f; }


/* ////////////////////////////////////// 상단 고정 /////////////////////////////////////////////// */
.flex_view{ position: fixed; width: 100%; background-color:white; z-index:10;}
.flex_view_title{margin-top:-10px; padding-top:10px;}
.flex_view_head{margin-top:-72px; padding-top:10px;}
.flex_view_next{margin-top:110px;}

.flex_view #cms_page_title{margin-right:20px;}
.flex_view .chapter_list{margin-right:20px;}

/* ////////////////////////////////////// 파트너 등록 /////////////////////////////////////////////// */
#partner_write {position:relative; margin-top:10px;}
#partner_write table {border-top:2px solid #eee; border-bottom:3px solid #eee;}
#partner_write table th{width:130px; min-width:130px; padding:10px 20px; background: #293254; border-top:1px solid #eee; font-size:13px; color: #fff; border-radius: 3px;}
#partner_write table td{min-width:640px; padding:10px 20px; border-top:1px solid #eee; font-size:13px;}
#partner_write table td input[type=text], #partner_write table td textarea{width:100%;}

#partner_write table td.submit_btn{text-align:center;}
#partner_write table td.submit_btn input{padding: 4px 10px; font-family: Nanum Gothic,dotum; font-weight: bold; color:#fff;}
#partner_write table td.submit_btn input[type=submit]{background: #fb58b2;}
#partner_write table td.submit_btn input[type=reset]{background: #5d5a6f;}
#partner_write table td.submit_btn input:first-child{margin-right:10px;}

#partner_write table td p.explan{margin-top:10px;}
