@charset "utf-8";
/* ////////////////////////////////////// 팝업 /////////////////////////////////////////////// */
#epromotion_write {position:relative; margin-top:10px;}
#epromotion_write table {border-top:2px solid #eee; border-bottom:3px solid #eee;}
#epromotion_write table th{width:130px; min-width:130px; padding:10px 20px; background: #293254; border-top:1px solid #eee; font-size:13px; color: #fff; border-radius: 3px;}
#epromotion_write table td{min-width:640px; padding:10px 20px; border-top:1px solid #eee; font-size:13px;}
#epromotion_write table td input[type=text]{width: 100%;}
#epromotion_write table td textarea{width: 100%;}
#epromotion_write table td .still{display:none;}
#epromotion_write table td input.text_ct_200 { width: 200px; text-align: center;}
#epromotion_write table td input.text_rt_130 { width: 130px; text-align: right;}
#epromotion_write table td input.text_rt_100 { width: 100px; text-align: right;}
#epromotion_write table td input.readonly { width: 100px; text-align: center; }
#epromotion_write table td input.partner{width:40%;}
#epromotion_write table td select.partner{width:50%;}
#epromotion_write table td div label{margin-right:10px;}
#epromotion_write table td div.input_btn{display: inline-block;}
#epromotion_write table td div.input_btn label{ display: inline-block; font-family: Nanum Gothic,dotum; font-weight: bold; background: #58b7fb; padding: 3px 6px; color: #fff; border-radius: 50px;}
#epromotion_write table td div.input_btn label:hover{color: #f6fe0e}
#epromotion_write table td div.input_btn label.still{display:none;}
#epromotion_write table td div.margin_top10{margin-top:10px;}
#epromotion_write table td div.date_type_view > p{margin-top:10px;}
#epromotion_write table td div.date_type_view > p input[type=checkbox] {margin-left:5px;}

#epromotion_write table td.submit_btn{text-align:center;}
#epromotion_write table td.submit_btn input{padding: 4px 10px; font-family: Nanum Gothic,dotum; font-weight: bold; color:#fff;}
#epromotion_write table td.submit_btn input[type=submit]{background: #fb58b2;}
#epromotion_write table td.submit_btn input[type=reset]{background: #5d5a6f;}
#epromotion_write table td.submit_btn input:first-child{margin-right:10px;}

#epromotion_write table td ul.event_list{position:relative; border-top:1px solid #eee;}
#epromotion_write table td ul.event_list li{border:1px solid #eee; border-top:0px solid;}
#epromotion_write table td ul.event_list li.hide{display:none;}
#epromotion_write table td ul.event_list li.show{display:block;}
#epromotion_write table td ul.event_list li.on{background: #cc95f5; color:#fff;}
#epromotion_write table td ul.event_list li:hover{background: #95cdf5;}

/* 이벤트 등록 */
#epromotion_write table td div#comics_list{border:1px solid #eee; padding:10px 20px;}
#epromotion_write table td div#comics_list dl dt{color:#7765d2; padding-bottom:5px;}
#epromotion_write table td div#comics_list dl dd img{width:20%; height:20%; border:1px solid #eee;}
#epromotion_write .comics_search_btn{padding: 4px 10px; background: #7765d2; font-family: Nanum Gothic,dotum; font-weight: bold; color: #fff; border: 1px solid #e9e9e9; border-radius: 5px;}
#epromotion_write table tr#event_type_no ul li img{width:20%; height:20%; border:1px solid #eee;}

/* 이미지 설명 */
#epromotion_write table td p.eme_cover_explan{margin-top:5px;}

/* 이미지 */
#epromotion_write table td div.eme_cover a{ display: inline-block; margin-top:5px; font-family: Nanum Gothic,dotum; font-weight: bold; background: #58b7fb; padding: 3px 6px; color: #fff; border-radius: 50px;}
#epromotion_write table td div.eme_cover a:hover{color: #f6fe0e}
#epromotion_write table td div.eme_cover .eme_cover_hide{display:none;}
#epromotion_write table td div.eme_cover .eme_cover_hide img{max-width:500px; width:50%; margin-top:5px;}

/* 배너 이미지 등록 */
#epromotion_write table td div.file_cover{padding:5px 10px; border:1px solid #eee;}
#epromotion_write table td div.file_cover > p{ line-height: 16px; }
#epromotion_write table td div.file_cover > .file_name{margin-top:4px; font-weight:bold; color:#ff7171;}




/* 이미지 */
#epromotion_write table td div.embc_cover a{ display: inline-block; margin-top:5px; font-family: Nanum Gothic,dotum; font-weight: bold; background: #58b7fb; padding: 3px 6px; color: #fff; border-radius: 50px;}
#epromotion_write table td div.embc_cover a:hover{color: #f6fe0e}
#epromotion_write table td div.embc_cover .embc_cover_hide{display:none;}
#epromotion_write table td div.embc_cover .embc_cover_hide img{max-width:400px; width:50%; margin-top:5px;}

/* APP PUSH */
#cms_explain { margin-top: 10px; margin-bottom: 10px; }
#cms_explain ul{margin-left:20px;}
#cms_explain ul li{padding-top:2px; list-style-type: decimal; font-weight:normal; font-family: nanum,dotum;}
#epromotion_write table td span.res_date{display: none;}
#epromotion_write table td span.res_date input.res_date_ymd{width:100px; text-align:center;}
#epromotion_write table td span.res_date input.res_date_h{width:100px; text-align:center;}

/* PUSH 이미지 / 예약 */
#epromotion_write table td div.push_img {margin: 2px}
#epromotion_write table td div.push_img p{line-height: normal;}
#epromotion_write table td div.push_img a{ display: inline-block; font-family: Nanum Gothic,dotum; font-weight: bold; background: #58b7fb; padding: 3px 6px; font-size: 13px; color: #fff; border-radius: 50px; }
#epromotion_write table td div.push_img a:hover{color: #f6fe0e}
#epromotion_write table td div.push_img .push_img_hide{display:none;}
#epromotion_write table td div.push_img .push_img_hide img{max-width:300px; margin-top:5px;}
#epromotion_write table td span.push_res_date input.push_res_ymd{width:100px; text-align:center;}
#epromotion_write table td span.push_res_date input.push_res_h{width:100px; text-align:center;}
