#cms_search .marketer_submit input[type=submit] {
    height: 30px;
}

/* /////////////////////////////////// 공통 /////////////////////////////////// */
#collaboration_result{position:relative; margin-top:10px;}
#collaboration_result h3{margin-bottom:10px;}
#collaboration_result div table{width:100%; word-break:break-all; font-size: 13px;}
#collaboration_result div #cr_thead{width:1400px;}

#collaboration_result div .text_center{text-align: center;}

#collaboration_result div table tr th{padding:5px 10px; border-bottom:2px solid #232323; box-sizing: border-box;}
#collaboration_result div table tr th a{color: blue;}
#collaboration_result div table tr th a:hover{color: red;}
#collaboration_result div table tr td{padding:5px 10px; border-bottom:1px solid #999; box-sizing: border-box;}
#collaboration_result div table tr td a{color: blue;}
#collaboration_result div table tr td a:hover{color: red;}

#collaboration_result h3 > table{margin-top:5px;}
#collaboration_result h3 > table tr th{ padding:5px 10px; font-size: 14px; border:1px solid #bc9cd2; background: #dddddd;}
#collaboration_result h3 > table tr td{ padding:5px 10px; font-size: 14px; border:1px solid #bc9cd2; font-family: Nanum Gothic,dotum; font-weight: normal; text-align:center;}
#collaboration_result h3 > table tr .topleft{border-radius: 6px 0px 0px 0px;}
#collaboration_result h3 > table tr .topright{border-radius: 0px 6px 0px 0px;}
#collaboration_result h3 > table tr .btmright{border-radius: 0px 0px 6px 0px;}
#collaboration_result h3 > table tr .btmleft{border-radius: 0px 0px 0px 6px;}

#collaboration_result div button{display: inline-block;font-size: 13px; font-family: Nanum Gothic,dotum; font-weight: bold; background: #736868; padding: 3px 6px;  margin-left: 5px; color: #fff; border-radius: 50px;}

#collaboration_result div button.mod_btn{ background: #6b83fb; }
#collaboration_result div button.ans_btn{ background: #f36d6d; }
#collaboration_result div button.not_btn{ background: #6b83fb; }
#collaboration_result div button.del_btn { margin-top: 5px; }

/* /////////////////////////////////// 마케터 /////////////////////////////// */
#collaboration_result div .mkt_no { width: 170px; }
#collaboration_result div .mkt_title { width: 200px; }
#collaboration_result div .mkt_url { width: 400px; }
#collaboration_result div .mkt_para_join { width: 130px; }
#collaboration_result div .mkt_state { width: 200px; }
#collaboration_result div .mkt_date { width: 200px; }
#collaboration_result div .mkt_management { width: 100px; }

/* /////////////////////////////////// 마케터링크 ////////////////////////////// */
#collaboration_result div .mktl_no { width: 170px; }
#collaboration_result div .mkt_no { width: 170px; }
#collaboration_result div .mktl_link { width: 400px; }
#collaboration_result div .mktl_short_link { width: 400px; }
#collaboration_result div .mktl_click { width: 100px; }
#collaboration_result div .mktl_date { width: 230px; }
#collaboration_result div .mktl_management { width: 100px; }
#collaboration_result div .mkt_management button.mod_btn{background: #6b83fb;}