#cms_search .board_submit input[type=submit] {
    height: 30px;
}
#cms_search .board_submit #cms_submit.br_submit {
    height: 50px;
}
/* /////////////////////////////////// 공통 /////////////////////////////////// */
#board_result{position:relative; margin-top:10px;}
#board_result h3{margin-bottom:10px;}
#board_result div table{width:100%; word-break:break-all; font-size: 13px;}
#board_result div #cr_thead{width:1400px;}

#board_result div .text_center{text-align: center;}

#board_result div table tr th{padding:5px 10px; border-bottom:2px solid #232323;}
#board_result div table tr th a{color: blue;}
#board_result div table tr th a:hover{color: red;}
#board_result div table tr td{padding:5px 10px; border-bottom:1px solid #999;}
#board_result div table tr td a{color: blue;}
#board_result div table tr td a:hover{color: red;}

#board_result div button{display: inline-block;font-size: 13px; font-family: Nanum Gothic,dotum; font-weight: bold; background: #736868; padding: 3px 6px;  margin-left: 5px; color: #fff; border-radius: 50px;}

/* /////////////////////////////////// 알림 /////////////////////////////////// */
#board_result div .bn_no { width: 173px; }
#board_result div .bn_title { width: 717px; }
#board_result div .bn_date { width: 83px; }
#board_result div .bn_management { width: 427px; }
#board_result div .bn_management button.mod_btn{background: #6b83fb;}

/* /////////////////////////////////// 도움말 /////////////////////////////////// */
#board_result div .bh_no { width: 122px; }
#board_result div .bh_title { width: 770px; }
#board_result div .bh_category { width: 196px; }
#board_result div .bh_date { width: 82px; }
#board_result div .bh_management { width: 230px; }
#board_result div .bh_management button.mod_btn{background: #6b83fb;}

/* /////////////////////////////////// 문의/제안 /////////////////////////////////// */
#board_result div .ba_no { width: 95px; }
#board_result div .ba_title { width: 584px; }
#board_result div .mb_id { width: 200px; }
#board_result div .ba_date { width: 130px; }
#board_result div .ba_mode { width: 105px; }
#board_result div .ba_admin_date { width: 130px; }
#board_result div .ba_management { width: 156px; }

#board_result div .ba_management button.mod_btn{ background: #6b83fb; }
#board_result div .ba_management button.ans_btn{ background: #f36d6d; }
#board_result div .ba_management button.not_btn{ background: #6b83fb; }

#board_result div .mode0 { color: #ff0000; font-weight: bold; }
#board_result div .mode4 { font-weight: bold; }

/* /////////////////////////////////// 오류제보 /////////////////////////////////// */
#board_result div .br_no { width: 60px; }
#board_result div .cm_cover_sub { width: 100px; }
#board_result div .cm_series { width: 400px; }
#board_result div .br_title { width: 500px; }
#board_result div .br_id { width: 187px; }
#board_result div .br_date { width: 83px; }
#board_result div .br_management { width: 70px; }

/* /////////////////////////////////// 연재문의 /////////////////////////////////// */
#board_result div .bp_no { width: 280px; }
#board_result div .bp_id { width: 280px; }
#board_result div .bp_title { width: 280px; }
#board_result div .bp_date { width: 280px; }
#board_result div .bp_management { width: 280px; }

#board_result div .bp_management button.down_btn{background: #5db785;}