@charset "UTF-8";

/* page_no_list */
#page_no_list{
	position: relative;
	border-top:1px solid #bebebe; background-color:#fff; width: 100%; vertical-align: center;padding: 10px 0; text-align:center; *zoom:1;
}
#page_no_list:after {
	display:block; visibility:hidden; clear:both; content:"";
}
#page_no_list .pnl_page_left{
	float:left;
	width:20%;
	font-size:16px;
	font-family:Nanum Gothic,dotum;
	font-weight:bold;
	color:#fff;
	margin-left:2%;
}
#page_no_list .pnl_page_left p{ 
	padding:5px 14px 5px 20px; border-radius:30px; color:#fff;
}
#page_no_list .pnl_page_left p.off{ visibility: hidden; }
#page_no_list .pnl_page_left a{color:#fff;}
#page_no_list .pnl_page_center{
	float:left;
	width:56%;
	font-size:16px;
	font-family:Nanum Gothic,dotum;
	font-weight:bold;
	padding-top:5px;
	color:#000;
}
#page_no_list .pnl_page_center ul{
	*zoom:1;
}
#page_no_list .pnl_page_center ul:after {
	display:block; visibility:hidden; clear:both; content:"";
}
#page_no_list .pnl_page_center ul li{
	float:left;
}
#page_no_list .pnl_page_center ul li a{color:#000;}
#page_no_list .pnl_page_center ul li a strong{color:#ff01af;}
#page_no_list .pnl_page_right{
	float:right;
	width:20%;
	font-size:16px;
	font-family:Nanum Gothic,dotum;
	font-weight:bold;
	color:#fff;
	margin-right:2%;
}
#page_no_list .pnl_page_right p{ 
	padding:5px 20px 5px 14px; border-radius:30px; color:#fff;
}
#page_no_list .pnl_page_right p.off{ visibility: hidden; }
#page_no_list .pnl_page_right a{color:#fff;}