
#cms_title div input[type=button].excel_down {
    display: inline-block;
    font-size: 15px;
    font-family: Nanum Gothic,dotum;
    font-weight: bold;
    background: #5db785;
    padding: 5px 10px;
    color: #fff;
    border-radius: 50px;
    margin-left: 5px;
}
#cms_search .marketer_submit input[type=submit] {
    height: 30px;
}

/* /////////////////////////////////// 공통 /////////////////////////////////// */
#ticketsocket_result{position:relative; margin-top:10px;}
#ticketsocket_result h3{margin-bottom:10px;}
#ticketsocket_result div table{width:100%; word-break:break-all; font-size: 13px;}
#ticketsocket_result div #cr_thead{width:1400px;}

#ticketsocket_result div .text_center{text-align: center;}

#ticketsocket_result div table tr th{padding:5px 10px; border-bottom:2px solid #232323; box-sizing: border-box;}
#ticketsocket_result div table tr th a{color: blue;}
#ticketsocket_result div table tr th a:hover{color: red;}
#ticketsocket_result div table tr td{padding:5px 10px; border-bottom:1px solid #999; box-sizing: border-box;}
#ticketsocket_result div table tr td a{color: blue;}
#ticketsocket_result div table tr td a:hover{color: red;}

#ticketsocket_result div button{display: inline-block;font-size: 13px; font-family: Nanum Gothic,dotum; font-weight: bold; background: #736868; padding: 3px 6px;  margin-left: 5px; color: #fff; border-radius: 50px;}

#ticketsocket_result div button.mod_btn{ background: #6b83fb; }
#ticketsocket_result div button.ans_btn{ background: #f36d6d; }
#ticketsocket_result div button.not_btn{ background: #6b83fb; }
#ticketsocket_result div button.del_btn { margin-top: 5px; }

/* /////////////////////////////////// 마케터 /////////////////////////////// */
#ticketsocket_result div .mkt_no { width: 170px; }
#ticketsocket_result div .mkt_title { width: 200px; }
#ticketsocket_result div .mkt_url { width: 400px; }
#ticketsocket_result div .mkt_para_join { width: 130px; }
#ticketsocket_result div .mkt_state { width: 200px; }
#ticketsocket_result div .mkt_date { width: 200px; }
#ticketsocket_result div .mkt_management { width: 100px; }

/* /////////////////////////////////// 마케터링크 ////////////////////////////// */
#ticketsocket_result div .mktl_no { width: 170px; }
#ticketsocket_result div .mkt_no { width: 170px; }
#ticketsocket_result div .mktl_link { width: 400px; }
#ticketsocket_result div .mktl_short_link { width: 400px; }
#ticketsocket_result div .mktl_click { width: 100px; }
#ticketsocket_result div .mktl_date { width: 230px; }
#ticketsocket_result div .mktl_management { width: 100px; }
#ticketsocket_result div .mkt_management button.mod_btn{background: #6b83fb;}