
/* 회원 정보 결과 */
#member_result{position:relative; margin-top:10px;}
#member_result h3{margin-bottom:10px;}
#member_result div table{width:100%; word-break:break-all; font-size: 13px;}
#member_result div #cr_thead{width:1400px;}

#member_result div .text_center{text-align: center;}

#member_result div .mb_no{width: 102px;}
#member_result div .mb_id{width: 146px;}
#member_result div .mb_name{width: 84px;}
#member_result div .mb_email{width: 257px;}
#member_result div .mb_phone{width: 173px;}
#member_result div .mb_sns_type{width: 100px;}
#member_result div .mb_join_date{width: 121px;}
#member_result div .mb_login_date{width: 125px;}
#member_result div .mb_out_date{width: 100px;}
#member_result div .mb_point{width: 102px;}
#member_result div .mb_cash_point{width: 90px;}

#member_result div table tr th{padding:5px 10px; border-bottom:2px solid #232323;}
#member_result div table tr th a{color: blue;}
#member_result div table tr th a:hover{color: red;}
#member_result div table tr td{padding:5px 10px; border-bottom:1px solid #999;}
#member_result div table tr td a{color: blue;}
#member_result div table tr td a:hover{color: red;}

#member_result h3 > table{margin-top:5px;}
#member_result h3 > table tr th{ padding:5px 10px; font-size: 14px; border:1px solid #bc9cd2; background: #dddddd;}
#member_result h3 > table tr td{ padding:5px 10px; font-size: 14px; border:1px solid #bc9cd2; font-family: Nanum Gothic,dotum; font-weight: normal; text-align:center;}
#member_result h3 > table tr .topleft{border-radius: 6px 0px 0px 0px;}
#member_result h3 > table tr .topright{border-radius: 0px 6px 0px 0px;}
#member_result h3 > table tr .btmright{border-radius: 0px 0px 6px 0px;}
#member_result h3 > table tr .btmleft{border-radius: 0px 0px 0px 6px;}

/* 회원 중 마케터 */
#member_result div .mb_mkt {width: 90px;}
#member_result div .mb_won {width: 125px;}
#member_result div .mb_won_count {width: 125px;}

/* 회원 중 티켓소켓 */
#member_result div .mb_tksk {width: 125px;}
#member_result div table tr th{padding:5px 10px; border-bottom:2px solid #232323;}
#member_result div table tr th a{color: blue;}
#member_result div table tr th a:hover{color: red;}
#member_result div table tr td{padding:5px 10px; border-bottom:1px solid #999;}
#member_result div table tr td a{color: blue;}
#member_result div table tr td a:hover{color: red;}

/* 회원 통계 엑셀 */
#cms_title div input[type=button].excel_down {display: inline-block;font-size: 15px; font-family: Nanum Gothic,dotum; font-weight: bold; background: #5db785; padding: 5px 10px; color: #fff; border-radius: 50px; margin-left: 5px;}
#cms_title div button.email_send {display: inline-block;font-size: 15px; font-family: Nanum Gothic,dotum; font-weight: bold; background: #84c4c0; padding: 5px 10px; color: #fff; border-radius: 50px; margin-left: 5px;}

/******************************* 휴면 회원 관리 ***********************************/

#member_result div .hm_mb_no{width: 102px;}
#member_result div .hm_mb_id{width: 146px;}
#member_result div .hm_mb_name{width: 84px;} 
#member_result div .hm_mb_login_date{width: 155px;}
#member_result div .hm_mb_out_date{width: 154px;}
#member_result div .hm_mb_point{width: 102px;}
#member_result div .hm_mb_cash_point{width: 90px;}
#member_result div .hm_mb_human_note{width: 567px;}

/******************************* 중복 회원 관리 ***********************************/

#member_result div .ol_mb_no{width: 102px;}
#member_result div .ol_mb_id{width: 146px;}
#member_result div .ol_mb_name{width: 94px;}
#member_result div .ol_mb_email{width: 257px;}
#member_result div .ol_mb_phone{width: 163px;}
#member_result div .ol_mb_join_date{width: 137px;}
#member_result div .ol_mb_login_date{width: 225px;}
#member_result div .ol_mb_out_date{width: 101px;}
#member_result div .ol_mb_point{width: 90px;}
#member_result div .ol_mb_cash_point{width: 90px;}
#member_result div .ol_mb_overlap{width: 90px; color: red; font-weight: bold;}
#member_result div .ol_mb_overlap a{color: red; font-weight: bold;}

/******************************* APK 이용 회원 관리 ***********************************/
#member_result div .apk_mb_no{width: 98px;}
#member_result div .apk_mb_id{width: 107px;}
#member_result div .apk_mb_name{width: 81px;}
#member_result div .apk_mb_email{width: 231px;}
#member_result div .apk_mb_phone{width: 168px;}
#member_result div .apk_mb_sns_type{width: 99px;}
#member_result div .apk_mb_join_date{width: 133px;}
#member_result div .apk_mb_login_date{width: 134px;}
#member_result div .apk_mb_cash_point{width: 76px;}
#member_result div .apk_mb_point{width: 109px;}
#member_result div .mb_apk_point{width: 164px;}