/* ////////////////////////////////////////////// 서지 정보 ////////////////////////////////////////////// */

#bib_result{position:relative; margin-top:10px;}
#bib_result h3{margin-bottom:10px;}
#bib_result div table{width:100%; word-break:break-all; font-size: 13px;}
#bib_result div #cr_thead{width:1400px;}

#bib_result div .text_center{text-align: center;}

#bib_result div .cm_no{width:77px;}
#bib_result div .cm_cover_sub{width:97px;}
#bib_result div .cm_series{width:184px;}
#bib_result div .cm_publisher{width:107px;}
#bib_result div .cm_professional{width:150px;}

#bib_result div .cm_small{width:107px;}
#bib_result div .cm_end{width:99px;}
#bib_result div .cm_pay{width:99px;}
#bib_result div .cm_somaery{width:193px;}

#bib_result div .cm_episode_total{width:91px;}
#bib_result div .cm_reg_date{width:98px;}
#bib_result div .cm_episode_date{width:98px;}

#bib_result div .cm_cover_sub img{border-radius: 10px; border: 1px solid #ddd;}

#bib_result div .cm_modify button{display: inline-block;font-size: 13px; font-family: Nanum Gothic,dotum; font-weight: bold; background: #736868; padding: 3px 6px;  margin-left: 5px; color: #fff; border-radius: 50px;}
#bib_result div .cm_modify button.mod_btn{background: #6b83fb;}
#bib_result div .cm_modify button.del_btn{margin-top:5px;}

#bib_result div .cm_episode_update{text-align:center;}
#bib_result div .cm_episode_update button{display: inline-block;font-size: 13px; font-family: Nanum Gothic,dotum; font-weight: bold; background: #5db785; padding: 3px 6px; color: #fff; border-radius: 50px;}
#bib_result div .cm_episode_total button{display: inline-block;font-size: 13px; font-family: Nanum Gothic,dotum; font-weight: bold; background: #f1b530; padding: 3px 6px; color: #fff; border-radius: 50px;}

#bib_result div table tr th{padding:5px 10px; border-bottom:2px solid #232323; box-sizing: border-box;}
#bib_result div table tr th a{color: blue;}
#bib_result div table tr th a:hover{color: red;}
#bib_result div table tr td{padding:5px 10px; border-bottom:1px solid #999; box-sizing: border-box;}
#bib_result div table tr td a{color: blue;}
#bib_result div table tr td a:hover{color: red;}
#bib_result div table tr.result_hover { cursor: Pointer; }

#bib_result div.excel_small_down_list { display: none; margin-top: 5px; }

input[type=button] { display: inline-block; font-size: 13px; font-family: Nanum Gothic,dotum; font-weight: bold; padding: 3px 6px; color: #fff; border-radius: 50px; }
input[type=button].excel_down { background: #5db785; }
input[type=button].excel_small_down { background: #b38fd1; }
input[type=button].excel_small_down_btn { border: 1px solid #b38fd1; color: #b38fd1; background: none;}
input[type=button].excel_list_down { background: #5db785; float: right;}
input[type=button].excel_list_down:after { clear: both; }

/* ////////////////////////////////////////////// 플랫폼 사업팀 ////////////////////////////////////////////// */
#cms_explain { margin-top: 10px; }

/* 회원 가입/결제 통계 */
#bib_result h3 > table{margin-top:5px;}
#bib_result h3 > table .point{color: red;}
#bib_result h3 > table tr th{ padding:5px 10px; font-size: 14px; border:1px solid #bc9cd2; background: #dddddd;}
#bib_result h3 > table tr td{ padding:5px 10px; font-size: 14px; border:1px solid #bc9cd2; font-family: Nanum Gothic,dotum; font-weight: normal; text-align:center;}
#bib_result h3 > table tr .topleft{border-radius: 6px 0px 0px 0px;}
#bib_result h3 > table tr .topright{border-radius: 0px 6px 0px 0px;}
#bib_result h3 > table tr .btmright{border-radius: 0px 0px 6px 0px;}
#bib_result h3 > table tr .btmleft{border-radius: 0px 0px 0px 6px;}
#bib_result h3 > table tr .man{ background: #cdeaff;}
#bib_result h3 > table tr .woman{ background: #ffcdfd;}
#bib_result h3 > table tr .no_certify{ background: #dfffe2;}

#bib_result div .z_ms_join_count{width:139px;}
#bib_result div .z_ms_recharge_member_count{width:215px;}
#bib_result div .z_ms_recharge_count{width:192px;}
#bib_result div .z_ms_recharge_total{width:192px;}
#bib_result div .z_ms_login_count{width:193px;}
#bib_result div .z_ms_real_time_date{width:290px;}
#bib_result div .z_ms_date{width:179px;}

/* APK 통계 */
#bib_result div .z_as_date{width:166px;}
#bib_result div .z_as_down_count{width:204px;}
#bib_result div .z_as_recharge_member_count{width:261px;}
#bib_result div .z_as_recharge_count{width:261px;}
#bib_result div .z_as_recharge_total{width:234px;}
#bib_result div .z_as_real_time_date{width:274px;}

/* team2 - 회원요약*/
#member_summery h3 > table{margin-top:5px;}
#member_summery h3 > table tr th{ padding:5px 10px; font-size: 14px; border:1px solid #bc9cd2; background: #dddddd;}
#member_summery h3 > table tr td{ padding:5px 10px; font-size: 14px; border:1px solid #bc9cd2; font-family: Nanum Gothic,dotum; font-weight: normal; text-align:center;}
#member_summery h3 > table tr .topleft{border-radius: 6px 0px 0px 0px;}
#member_summery h3 > table tr .topright{border-radius: 0px 6px 0px 0px;}
#member_summery h3 > table tr .btmright{border-radius: 0px 0px 6px 0px;}
#member_summery h3 > table tr .btmleft{border-radius: 0px 0px 0px 6px;}

/* /////////////////////////////////// 공통 /////////////////////////////////// */
#board_result{position:relative; margin-top:10px;}
#board_result h3{margin-bottom:10px;}
#board_result div table{width:100%; word-break:break-all; font-size: 13px;}
#board_result div #cr_thead{width:1400px;}

#board_result div .text_center{text-align: center;}

#board_result div table tr th{padding:5px 10px; border-bottom:2px solid #232323;}
#board_result div table tr th a{color: blue;}
#board_result div table tr th a:hover{color: red;}
#board_result div table tr td{padding:5px 10px; border-bottom:1px solid #999;}
#board_result div table tr td a{color: blue;}
#board_result div table tr td a:hover{color: red;}

#board_result div button{display: inline-block;font-size: 13px; font-family: Nanum Gothic,dotum; font-weight: bold; background: #736868; padding: 3px 6px;  margin-left: 5px; color: #fff; border-radius: 50px;}

/* /////////////////////////////////// 연재문의 /////////////////////////////////// */
#board_result div .bp_no { width: 280px; }
#board_result div .bp_id { width: 280px; }
#board_result div .bp_title { width: 280px; }
#board_result div .bp_date { width: 280px; }
#board_result div .bp_management { width: 280px; }

#board_result div .bp_management button.down_btn{background: #5db785;}
