@charset "utf-8";

/* 대분류 칼라 */
.big_color{color:red;}
p.big_color{padding-bottom:5px;}

/* /////////////////// 기본설정 /////////////////// */
#cmsconfig_result #cr_bg{margin:0 auto; padding:30px 30px; text-align:center;}
#cmsconfig_result #cr_bg table{width: 100%;}
#cmsconfig_result #cr_bg table th{width: 15%; min-width:125px; border: 1px solid #ececec;}
#cmsconfig_result #cr_bg table td{width: 85%; padding:10px; text-align:left; border: 1px solid #ececec;}
#cmsconfig_result #cr_bg table td label{display:inline-block; width: 150px;}
/* #cmsconfig_result #cr_bg table td p{padding:10px 20px;} */
#cmsconfig_result #cr_bg table td ul li{padding:2px 0px;}
#cmsconfig_result #cr_bg table td input[type="text"] { width: 220px; }
#cmsconfig_result #cr_bg table td .mg_left { margin-left: 40px;}
#cmsconfig_result #cr_bg table td .ta_right { text-align:right;}
#cmsconfig_result #cr_bg table td input[type="text"].long_text { width: 650px;}
#cmsconfig_result #cr_bg table td input[type="text"].wt_50 { width: 50px; }
#cmsconfig_result #cr_bg table td input[type="text"].wt_100 { width: 100px; }
/* #cmsconfig_result #cr_bg table td p{line-height:24px;} */
#cmsconfig_result #cr_bg table td p{line-height:30px;}
#cmsconfig_result #cr_bg table td .float{float:left;}
#cmsconfig_result #cr_bg table td .red{color:red;}
#cmsconfig_result #cr_bg table td .blue{color:blue;}
#cmsconfig_result #cr_bg table td .blue.pgl10 {padding-left: 50px;}


#cmsconfig_result #cr_bg table td textarea{width:100%; height:200px; resize: vertical;}
#cmsconfig_result #cr_bg table td textarea.checkplus{width:99%; height:70px;}

#cmsconfig_result #cr_bg table td .clt_mb_find textarea {height:50px; border:1px solid #999;}
#cmsconfig_result #cr_bg table td .clt_payment textarea {height:50px; border:1px solid #999;}
#cmsconfig_result #cr_bg table td .clt_recharge textarea {height:50px; border:1px solid #999;}

#cmsconfig_result #cr_bg .cf_submit_btn{margin: 20px 0;}
#cmsconfig_result #cr_bg .cf_submit_btn input[type="submit"]{ margin: 0; padding: 0 40px; border: 0; height: 30px; color: #fff; background: #ff3061; border-radius: 50px; }

/* /////////////////// 회원 분류·등급별 혜택 /////////////////// */
#cmsconfig_result #cr_bg table td.cf_member_class_buff label{width: 200px;}
#cmsconfig_result #cr_bg table td.cf_member_level_buff label{width: auto; margin-right:20px;}

/* 이미지 */
#cmsconfig_result #cr_bg table td div.logo_view p{line-height: normal;}
#cmsconfig_result table td div.logo_view a{ display: inline-block; font-family: Nanum Gothic,dotum; font-weight: bold; background: #58b7fb; padding: 3px 6px; font-size: 13px; color: #fff; border-radius: 50px; }
#cmsconfig_result table td div.logo_view a:hover{color: #f6fe0e}
#cmsconfig_result table td div.logo_view .logo_view_hide{display:none;}
#cmsconfig_result table td div.logo_view .logo_view_hide img{max-width:300px; margin-top:5px;}
#cmsconfig_result #cr_bg table td p.logo_explain{font-size: 13px; font-weight: bold;}

/* /////////////////// 충전 금액 /////////////////// */
#cmsconfig_recharge_result{position:relative; margin-top:10px;}
#cmsconfig_recharge_result h3{margin-bottom:10px;}
#cmsconfig_recharge_result h3 ul{margin-left:20px;}
#cmsconfig_recharge_result h3 ul li{padding-top:2px; list-style-type: decimal; font-weight:normal; font-family: Nanum Gothic,dotum;}
#cmsconfig_recharge_result div table{width:100%; word-break:break-all; font-size: 13px;}

#cmsconfig_recharge_result div table tr th{padding:5px 10px; border-bottom:2px solid #232323; box-sizing: border-box;}
#cmsconfig_recharge_result div table tr th a{color: blue;}
#cmsconfig_recharge_result div table tr th a:hover{color: red;}
#cmsconfig_recharge_result div table tr td{padding:5px 10px; border-bottom:1px solid #999; box-sizing: border-box;}
#cmsconfig_recharge_result div table tr td a{color: blue;}
#cmsconfig_recharge_result div table tr td a:hover{color: red;}

#cmsconfig_recharge_result div#month_input table tr td{padding:8px 10px;}
#cmsconfig_recharge_result div#calendar_input table tr td{padding:9px 10px;}

/* 충전금액 검색*/
#cms_search .config_recharge_price_submit input[type=submit] {
    height: 52px;
}
#cms_search .config_recharge_price_submit input[type=submit].cs_submit_on {
    height: 107px;
}

/* 컨텐츠 정보 결과 */
#cmsconfig_recharge_result{position:relative; margin-top:10px;}
#cmsconfig_recharge_result h3{margin-bottom:10px;}
#cmsconfig_recharge_result div table{width:100%; word-break:break-all; font-size: 13px;}

#cmsconfig_recharge_result div .text_center{text-align: center;}
/* 1400px 맞춰야 fixed 시 안깨짐 */
#cmsconfig_recharge_result div .crp_no{width:100px;}
#cmsconfig_recharge_result div .crp_won{width:220px;}

#cmsconfig_recharge_result div .crp_cash_point{width:130px;}
#cmsconfig_recharge_result div .crp_point{width:130px;}

#cmsconfig_recharge_result div .crp_date_start{width:140px;}
#cmsconfig_recharge_result div .crp_date_end{width:140px;}
#cmsconfig_recharge_result div .crp_date_no{width:280px;}
#cmsconfig_recharge_result div .crp_state{width:100px;}

#cmsconfig_recharge_result div .crp_payway_limit{width:200px;}
#cmsconfig_recharge_result div .crp_cash_count_event{width:140px;}


#cmsconfig_recharge_result div .crp_management{width:100px;}

#cmsconfig_recharge_result div .crp_management button{display: inline-block;font-size: 13px; font-family: Nanum Gothic,dotum; font-weight: bold; background: #736868; padding: 3px 6px;  margin-left: 5px; color: #fff; border-radius: 50px;}
#cmsconfig_recharge_result div .crp_management button.mod_btn{background: #6b83fb;}
#cmsconfig_recharge_result div .crp_management button.del_btn{margin-top:5px;}





/* /////////////////// 코믹스 화 전체결제 /////////////////// */
#cmsconfig_sin_allpay_result{position:relative; margin-top:10px;}
#cmsconfig_sin_allpay_result h3{margin-bottom:10px;}
#cmsconfig_sin_allpay_result h3 ul{margin-left:20px;}
#cmsconfig_sin_allpay_result h3 ul li{padding-top:2px; list-style-type: decimal; font-weight:normal; font-family: Nanum Gothic,dotum;}
#cmsconfig_sin_allpay_result div table{width:100%; word-break:break-all; font-size: 13px;}

#cmsconfig_sin_allpay_result div table tr th{padding:5px 10px; border-bottom:2px solid #232323; box-sizing: border-box;}
#cmsconfig_sin_allpay_result div table tr th a{color: blue;}
#cmsconfig_sin_allpay_result div table tr th a:hover{color: red;}
#cmsconfig_sin_allpay_result div table tr td{padding:5px 10px; border-bottom:1px solid #999; box-sizing: border-box;}
#cmsconfig_sin_allpay_result div table tr td a{color: blue;}
#cmsconfig_sin_allpay_result div table tr td a:hover{color: red;}

#cmsconfig_sin_allpay_result div#month_input table tr td{padding:8px 10px;}
#cmsconfig_sin_allpay_result div#calendar_input table tr td{padding:9px 10px;}

/* 코믹스 화 전체결제 검색*/
#cms_search .config_sin_allpay_submit input[type=submit] {
    height: 52px;
}
#cms_search .config_sin_allpay_submit input[type=submit].cs_submit_on {
    height: 107px;
}

/* 컨텐츠 정보 결과 */
#cmsconfig_sin_allpay_result{position:relative; margin-top:10px;}
#cmsconfig_sin_allpay_result h3{margin-bottom:10px;}
#cmsconfig_sin_allpay_result div table{width:100%; word-break:break-all; font-size: 13px;}

#cmsconfig_sin_allpay_result div .text_center{text-align: center;}
/* 1400px 맞춰야 fixed 시 안깨짐 */
#cmsconfig_sin_allpay_result div .crp_no{width:100px;}
#cmsconfig_sin_allpay_result div .csa_buy_count{width:220px;}

#cmsconfig_sin_allpay_result div .csa_buy_than{width:230px;}
#cmsconfig_sin_allpay_result div .csa_point{width:230px;}

#cmsconfig_sin_allpay_result div .csa_date_start{width:180px;}
#cmsconfig_sin_allpay_result div .csa_date_end{width:180px;}
#cmsconfig_sin_allpay_result div .csa_date_no{width:360px;}
#cmsconfig_sin_allpay_result div .csa_state{width:160px;}

#cmsconfig_sin_allpay_result div .csa_management{width:100px;}

#cmsconfig_sin_allpay_result div .csa_management button{display: inline-block;font-size: 13px; font-family: Nanum Gothic,dotum; font-weight: bold; background: #736868; padding: 3px 6px;  margin-left: 5px; color: #fff; border-radius: 50px;}
#cmsconfig_sin_allpay_result div .csa_management button.mod_btn{background: #6b83fb;}
#cmsconfig_sin_allpay_result div .csa_management button.del_btn{margin-top:5px;}


/* /////////////////// 정산 금액 설정 /////////////////// */
#cup_result{position:relative; margin-top:10px;}
#cup_result h3{margin-bottom:10px;}
#cup_result h3 ul{margin-left:20px;}
#cup_result h3 ul li{padding-top:2px; list-style-type: decimal; font-weight:normal; font-family: Nanum Gothic,dotum;}
#cup_result div table{width:100%; word-break:break-all; font-size: 13px;}

#cup_result div table tr th{padding:5px 10px; border-bottom:2px solid #232323;}
#cup_result div table tr th a{color: blue;}
#cup_result div table tr th a:hover{color: red;}
#cup_result div table tr td{padding:5px 10px; border-bottom:1px solid #999;}
#cup_result div table tr td a{color: blue;}
#cup_result div table tr td a:hover{color: red;}
#cup_result div .text_center{text-align: center;}

#cup_result div .cup_no{width:142px;}
#cup_result div .cup_type{width:207px;}
#cup_result div .cup_won{width:247px;}
#cup_result div .cup_id{width:209px;}
#cup_result div .cup_date{width:392px;}
#cup_result div .cup_management{width:203px;}

#cup_result div .cup_management button{display: inline-block;font-size: 13px; font-family: Nanum Gothic,dotum; font-weight: bold; background: #736868; padding: 3px 6px;  margin-left: 5px; color: #fff; border-radius: 50px;}
#cup_result div .cup_management button.mod_btn{background: #6b83fb;}

/* 회원 등급 설정 */
#level_result{position:relative; margin-top:10px;}
#level_result h3{margin-bottom:10px;}
#level_result h3 ul{margin-left:20px;}
#level_result h3 ul li{padding-top:2px; list-style-type: decimal; font-weight:normal; font-family: Nanum Gothic,dotum;}
#level_result div table{width:100%; word-break:break-all; font-size: 13px;}

#level_result div table tr th{padding:5px 10px; border-bottom:2px solid #232323;}
#level_result div table tr td{padding:5px 10px; border-bottom:1px solid #999;}
#level_result div table tr td a{color: blue;}
#level_result div table tr td a:hover{color: red;}
#level_result div .text_center{text-align: center;}

#level_result table td input[type="text"] { width: 300px;}
#level_result div .align_div{display: inline-block; width: 100%;}
#level_result div .float_div{float: left; width: 32%; margin: 5px;}
#cm_level_list_submit {position:relative; padding: 10px 20px; font-size: 13px; text-align: center; clear: both;}
#cm_level_list_submit input[type=submit]{ padding: 4px 10px; background: #fb58b2; font-family: Nanum Gothic,dotum; font-weight: bold; color: #fff;}



/* /////////////////// 티켓 소켓 /////////////////// */
#tksk_result{margin:0 auto; padding:30px 30px; text-align:center;}
#tksk_result table{width: 100%;}
#tksk_result table th{width: 15%; min-width:125px; border: 1px solid #ececec;}
#tksk_result table td{width: 85%; padding:10px; text-align:left; border: 1px solid #ececec;}
#tksk_result table td label{display:inline-block; width: 150px;}
/* #tksk_result table td p{padding:10px 20px;} */
#tksk_result table td ul li{padding:2px 0px;}
#tksk_result table td input[type="text"] { width: 220px; }
#tksk_result table td .mg_left { margin-left: 40px;}
#tksk_result table td .ta_right { text-align:right;}
#tksk_result table td input[type="text"].long_text { width: 650px;}
#tksk_result table td input[type="text"].wt_50 { width: 50px; }
#tksk_result table td input[type="text"].wt_100 { width: 100px; }
/* #tksk_result table td p{line-height:24px;} */
#tksk_result table td p{line-height:30px;}
#tksk_result table td .float{float:left;}
#tksk_result table td .red{color:red;}
#tksk_result table td .blue{color:blue;}
#tksk_result table td .blue.pgl10 {padding-left: 50px;}

/* /////////////////// 알림톡 /////////////////// */
#kakao_result h3 {margin-bottom: auto; padding:30px 30px; text-align:left;}
#kakao_result table{width: 100%;}
#kakao_result table th{width: 20%; min-width:125px; border: 1px solid #ececec;}
#kakao_result table td{width: 20%; padding:10px; text-align:center; border: 1px solid #ececec;}
#kakao_result table td label{display:inline-block; width: 150px;}
/* kakao_result table td p{padding:10px 20px;} */
#kakao_result table td ul li{padding:2px 0px;}
#kakao_result table td input[type="text"] { width: 220px; }
#kakao_result table td .mg_left { margin-left: 40px;}
#kakao_result table td .ta_right { text-align:right;}
#kakao_result table td input[type="text"].long_text { width: 650px;}
#kakao_result table td input[type="text"].wt_50 { width: 50px; }
#kakao_result table td input[type="text"].wt_100 { width: 100px; }
/* kakao_result table td p{line-height:24px;} */
#kakao_result table td p{line-height:30px;}
#kakao_result table td .float{float:left;}
#kakao_result table td .red{color:red;}
#kakao_result table td .blue{color:blue;}
#kakao_result table td .blue.pgl10 {padding-left: 50px;}