
/* ////////////////////////////////////////////// 코믹스 정보 ////////////////////////////////////////////// */

#comics_result{position:relative; margin-top:10px;}
#comics_result h3{margin-bottom:10px;}
#comics_result div table{width:100%; word-break:break-all; font-size: 13px;}
#comics_result div #cr_thead{width:1400px;}

#comics_result div .text_center{text-align: center;}


#comics_result div .cm_no{width:100px;}
#comics_result div .cm_cover_sub{width:100px;}
#comics_result div .cm_series{width:200px;}
#comics_result div .cm_publisher{width:180px;}
#comics_result div .cm_professional{width:180px;}

#comics_result div .cm_provider{width:180px;}
#comics_result div .cm_service{width:80px;}
#comics_result div .cm_date{width:200px;}
#comics_result div .cm_modify{width:80px;}
#comics_result div .cm_episode{width:100px;}

#comics_result div .cm_cover_sub img{border-radius: 10px; border: 1px solid #ddd;}

#comics_result div .cm_modify button{display: inline-block;font-size: 13px; font-family: Nanum Gothic,dotum; font-weight: bold; background: #736868; padding: 3px 6px;  margin-left: 5px; color: #fff; border-radius: 50px;}
#comics_result div .cm_modify button.mod_btn{background: #6b83fb;}
#comics_result div .cm_modify button.del_btn{margin-top:5px;}

#comics_result div .cm_episode{text-align:center;}
#comics_result div .cm_episode button{display: inline-block;font-size: 13px; font-family: Nanum Gothic,dotum; font-weight: bold; background: #5db785; padding: 3px 6px; color: #fff; border-radius: 50px;}
#comics_result div .cm_episode button.list_btn{display: inline-block; margin-top: 5px; font-size: 13px; font-family: Nanum Gothic,dotum; font-weight: bold; background: #f1b530; padding: 3px 6px; color: #fff; border-radius: 50px;}

#cms_title div button.excel_btn {display: inline-block;font-size: 15px; font-family: Nanum Gothic,dotum; font-weight: bold; background: #5db785; padding: 5px 10px; color: #fff; border-radius: 50px; margin-left: 5px;}

#comics_result div table tr th{padding:5px 10px; border-bottom:2px solid #232323; box-sizing: border-box;}
#comics_result div table tr th a{color: blue;}
#comics_result div table tr th a:hover{color: red;}
#comics_result div table tr td{padding:5px 10px; border-bottom:1px solid #999; box-sizing: border-box;}
#comics_result div table tr td a{color: blue;}
#comics_result div table tr td a:hover{color: red;}
#comics_result div table tr td.cm_series a:hover{color: blue; font-weight:bold;}
#comics_result div table tr td.cm_series p{color: #ff0101;}


/* ///////////////////////////////////////// 코믹스 파트너 ////////////////////////////////////////// */
/* 컨텐츠 정보 검색*/

#cms_search .partner_submit input[type=submit]{height:30px;}


/* 컨텐츠 정보 결과 */
#partner_result{position:relative; margin-top:10px;}
#partner_result h3{margin-bottom:10px;}
#partner_result h3 ul{margin-left:20px;}
#partner_result h3 ul li{padding-top:2px; list-style-type: decimal; font-weight:normal; font-family: Nanum Gothic,dotum;}
#partner_result h3 ul li a{color: #167afb;}

#partner_result div table{width:100%; word-break:break-all; font-size: 13px;}
#partner_result div #cr_thead{width:1400px;}

#partner_result div .text_center{text-align: center;}
#partner_result div .text_left{text-align: left;}

#partner_result div table tr th{padding:5px 10px; border-bottom:2px solid #232323;}
#partner_result div table tr th a{color: blue;}
#partner_result div table tr th a:hover{color: red;}
#partner_result div table tr td{padding:5px 10px; border-bottom:1px solid #999;}
#partner_result div table tr td a{color: blue;}
#partner_result div table tr td a:hover{color: red;}

/* ///////////////////////////////////////// 컨텐츠 파트너-CP ////////////////////////////////////////// */
#partner_result div .c_prov_cp_no{width:305px;}
#partner_result div .c_prov_cp_name{width:837px;}
#partner_result div .c_prov_cp_management{width:258px;}
#partner_result div .c_prov_cp_management button{display: inline-block;font-size: 13px; font-family: Nanum Gothic,dotum; font-weight: bold; background: #736868; padding: 3px 6px;  margin-left: 5px; color: #fff; border-radius: 50px;}
#partner_result div .c_prov_cp_management button.mod_btn{background: #6b83fb;}

/* ///////////////////////////////////////// 컨텐츠 파트너-출판사 ////////////////////////////////////////// */
#partner_result div .c_publ_cp_no{width:305px;}
#partner_result div .c_publ_cp_name{width:837px;}
#partner_result div .c_publ_cp_management{width:258px;}
#partner_result div .c_publ_cp_management button{display: inline-block;font-size: 13px; font-family: Nanum Gothic,dotum; font-weight: bold; background: #736868; padding: 3px 6px;  margin-left: 5px; color: #fff; border-radius: 50px;}
#partner_result div .c_publ_cp_management button.mod_btn{background: #6b83fb;}

/* ///////////////////////////////////////// 컨텐츠 파트너-작가 ////////////////////////////////////////// */
#partner_result div .c_prof_cp_no{width:305px;}
#partner_result div .c_prof_cp_name{width:837px;}
#partner_result div .c_prof_cp_management{width:258px;}
#partner_result div .c_prof_cp_management button{display: inline-block;font-size: 13px; font-family: Nanum Gothic,dotum; font-weight: bold; background: #736868; padding: 3px 6px;  margin-left: 5px; color: #fff; border-radius: 50px;}
#partner_result div .c_prof_cp_management button.mod_btn{background: #6b83fb;}

/* ///////////////////////////////////////// 컨텐츠 분류-장르 ////////////////////////////////////////// */
#partner_result div .cm_small_no{width:305px;}
#partner_result div .cm_small_name{width:837px;}
#partner_result div .cm_small_management{width:258px;}
#partner_result div .cm_small_management a{display: inline-block;font-size: 13px; font-family: Nanum Gothic,dotum; font-weight: bold; background: #736868; padding: 3px 6px;  margin-left: 5px; color: #fff; border-radius: 50px;}
#cm_small_list_submit {position:relative; padding: 10px 20px; font-size: 13px; text-align: center; border-top: 1px solid #999; }
#cm_small_list_submit input[type=submit]{ padding: 4px 10px; background: #fb58b2; font-family: Nanum Gothic,dotum; font-weight: bold; color: #fff;}
#cm_small_list_submit input[type=submit]{ padding: 4px 10px; background: #fb58b2; font-family: Nanum Gothic,dotum; font-weight: bold; color: #fff;}

/* ///////////////////////////////////////// 컨텐츠 분류-키워드 ////////////////////////////////////////// */
#partner_result div .ck_id{width:305px;}
#partner_result div .ck_name{width:737px;}
#partner_result div .ck_adult{width:100px;}
#partner_result div .ck_management{width:258px;}
#partner_result div .ck_name img.ck_class1{margin-left:2px;}
#partner_result div .ck_name img.ck_class2{margin-left:20px;}
#partner_result div .ck_management a{display: inline-block;font-size: 13px; font-family: Nanum Gothic,dotum; font-weight: bold; background: #736868; padding: 3px 6px;  margin-left: 5px; color: #fff; border-radius: 50px;}
#kw_list_submit {position:relative; padding: 10px 20px; font-size: 13px; text-align: center; border-top: 1px solid #999; }
#partner_result div .ck_management button{display: inline-block;font-size: 13px; font-family: Nanum Gothic,dotum; font-weight: bold; background: #736868; padding: 3px 6px;  margin-left: 5px; color: #fff; border-radius: 50px;}
#partner_result div .ck_management button.mod_btn{background: #6b83fb;}
#partner_result div .ck_management button.add_btn{background: #a760bd;}

/* ///////////////////////////////////////// 컨텐츠 분류-메뉴 ////////////////////////////////////////// */
#partner_result div .cn_id{width:305px;}
#partner_result div .cn_name{width:237px;}
#partner_result div .cn_link{width:300px;}
#partner_result div .cn_order{width:80px;}
#partner_result div .cn_exe{width:80px;}
#partner_result div .cn_adult{width:100px;}
#partner_result div .cn_display{width:100px;}
#partner_result div .cn_management{width:258px;}
#partner_result div .cn_name img.cn_class1{margin-left:2px;}
#partner_result div .cn_name img.cn_class2{margin-left:20px;}
#partner_result div .cn_management a{display: inline-block;font-size: 13px; font-family: Nanum Gothic,dotum; font-weight: bold; background: #736868; padding: 3px 6px;  margin-left: 5px; color: #fff; border-radius: 50px;}
#kw_list_submit {position:relative; padding: 10px 20px; font-size: 13px; text-align: center; border-top: 1px solid #999; }
#partner_result div .cn_management button{display: inline-block;font-size: 13px; font-family: Nanum Gothic,dotum; font-weight: bold; background: #736868; padding: 3px 6px;  margin-left: 5px; color: #fff; border-radius: 50px;}
#partner_result div .cn_management button.mod_btn{background: #6b83fb;}
#partner_result div .cn_management button.add_btn{background: #a760bd;}

/* ///////////////////////////////////////// 코믹스 순위 ////////////////////////////////////////// */
/* ///////////////////////////////////////// 코믹스 순위 - 통계 ////////////////////////////////////////// */

/* ///////////////////////////////////////// 코믹스 순위 - 순위 ////////////////////////////////////////// */
#cms_search .ranking_submit input[type=submit]{height:86px;} 
#cms_search .cs_search_btn label { margin-right: 5px; }
#comics_result .comics_ranking_list{  float:left; margin-bottom: 10px; }
#comics_result .comics_ranking_list h3 { position:relative; margin-bottom: 10px;}
#comics_result .comics_ranking_list h4 { position:relative; margin-bottom: 10px;}

#comics_result .comics_sales{ position:relative; float:left; }
#comics_result .comics_ranking{ position:relative; float:left; }

#comics_result #sortable0, #sortable1, #sortable2, #sortable3 {
	border: 1px solid #eee;
	/* width: 142px; */
	min-height: 20px;
	list-style-type: none;
	margin: 0;
	padding: 5px 0 0 0;
	float: left;
	margin-right: 10px;
    cursor: pointer;

}
#comics_result #sortable0 li, #sortable1 li, #sortable2 li, #sortable3 li{
	margin: 0 5px 5px 5px;
	padding: 5px;
	font-size: 1.2em;
	width: 300px;
	height: 75px;
    cursor: pointer;
}

#comics_result  .comics_ranking_list ul li{position:relative;}
#comics_result  .comics_ranking_list ul li i.fa-times-circle {position: absolute; top:2px; right:2px;    font-size: 20px; z-index:1;}
#comics_result  .comics_ranking_list ul li i.ranking_lock {position: absolute; top:2px; right:27px; font-size: 20px; z-index:1;}
#comics_result  .comics_ranking_list ul li dl{zoom:1;}
#comics_result  .comics_ranking_list ul li dl:after {display:block;visibility:hidden;clear:both;content:""}
#comics_result  .comics_ranking_list ul li dl dt{position:relative; float: left; }
#comics_result  .comics_ranking_list ul li dl dt img{width:75px; height:75px;}
#comics_result  .comics_ranking_list ul li dl dd{position:relative; float: left; max-width:200px; margin-left:5px;}
#comics_result  .comics_ranking_list ul li dl dd p {position:relative; margin-top: 5px;}
#comics_result  .comics_ranking_list ul li dl dd p i {margin-left:5px;}
#comics_result  .comics_ranking_list ul li dl dd p i.fa-sign-in{color:#ff9800;}

#comics_result #ranking_submit {position: absolute; top:-5px; right:10px; z-index:10;}
