/* 이벤트 */
/* 출석이벤트 */
/* ///////////////////////////////////////// 공통 ////////////////////////////////////////// */
#epromotion_result{position:relative; margin-top:10px;}
#epromotion_result h3{margin-bottom:10px;}
#epromotion_result h3 ul{margin-left:20px;}
#epromotion_result h3 ul li{padding-top:2px; list-style-type: decimal; font-weight:normal; font-family: nanum,dotum;}
#epromotion_result div table{width:100%; word-break:break-all; font-size: 13px;}

#epromotion_result div table tr th{padding:5px 10px; border-bottom:2px solid #232323; box-sizing: border-box;}
#epromotion_result div table tr th a{color: blue;}
#epromotion_result div table tr th a:hover{color: red;}
#epromotion_result div table tr td{padding:5px 10px; border-bottom:1px solid #999; box-sizing: border-box;}
#epromotion_result div table tr td a{color: blue;}
#epromotion_result div table tr td a:hover{color: red;}

#epromotion_result div#month_input table tr td{padding:8px 10px;}
#epromotion_result div#calendar_input table tr td{padding:9px 10px;}

/* ///////////////////////////////////////// 팝업 ////////////////////////////////////////// */
/* 충전/지급 검색*/
#cms_search .popup_submit input[type=submit] {
    height: 82px;
}

/* 컨텐츠 정보 결과 */
#epromotion_result{position:relative; margin-top:10px;}
#epromotion_result h3{margin-bottom:10px;}
#epromotion_result div table{width:100%; word-break:break-all; font-size: 13px;}

#epromotion_result div .text_center{text-align: center;}
/* 1400px 맞춰야 fixed 시 안깨짐 */
#epromotion_result div .emp_no{width:100px;}
#epromotion_result div .emp_title{width:300px;}
#epromotion_result div .emp_date_start{width:120px;}
#epromotion_result div .emp_date_end{width:120px;}
#epromotion_result div .emp_date_no{width:240px;}

#epromotion_result div .emp_state{width:120px;}
#epromotion_result div .emp_device{width:100px;}
#epromotion_result div .emp_disable_hours{width:120px;}
#epromotion_result div .emp_left_top{width:160px;}
#epromotion_result div .emp_width_height{width:160px;}
#epromotion_result div .emp_management{width:100px;}

#epromotion_result div .emp_management button{display: inline-block;font-size: 13px; font-family: Nanum Gothic,dotum; font-weight: bold; background: #736868; padding: 3px 6px;  margin-left: 5px; color: #fff; border-radius: 50px;}
#epromotion_result div .emp_management button.mod_btn{background: #6b83fb;}
#epromotion_result div .emp_management button.del_btn{margin-top:5px;}


#epromotion_result div table tr th{padding:5px 10px; border-bottom:2px solid #232323; box-sizing: border-box;}
#epromotion_result div table tr th a{color: blue;}
#epromotion_result div table tr th a:hover{color: red;}
#epromotion_result div table tr td{padding:5px 10px; border-bottom:1px solid #999; box-sizing: border-box;}
#epromotion_result div table tr td a{color: blue;}
#epromotion_result div table tr td a:hover{color: red;}

/* 대분류 칼라 */
.big_color{color:red;}
p.big_color{padding-bottom:5px;}


/* ///////////////////////////////////////// 이벤트 ////////////////////////////////////////// */

#epromotion_result div .eme_no{width:100px;}
#epromotion_result div .eme_cover{width:320px;}
#epromotion_result div .eme_name{width:300px;}
#epromotion_result div .eme_order{width:100px;}
#epromotion_result div .eme_event_type{width:120px;}
#epromotion_result div .eme_adult{width:100px;}

#epromotion_result div .eme_state{width:120px;}
#epromotion_result div .eme_date_start{width:120px;}
#epromotion_result div .eme_date_end{width:120px;}
#epromotion_result div .eme_date_no{width:240px;}
#epromotion_result div .eme_management{width:100px;}

#epromotion_result div .eme_management button{display: inline-block;font-size: 13px; font-family: Nanum Gothic,dotum; font-weight: bold; background: #736868; padding: 3px 6px;  margin-left: 5px; color: #fff; border-radius: 50px;}
#epromotion_result div .eme_management button.mod_btn{background: #6b83fb;}
#epromotion_result div .eme_management button.del_btn{margin-top:5px;}


#epromotion_result div .eme_cover img{max-width:200px;}

/* ///////////////////////////////////////// 배너 ////////////////////////////////////////// */
#cms_search .banner_submit input[type=submit] {
    height: 32px;
}


#epromotion_result div .emb_no{width:100px;}
#epromotion_result div .emb_position{width:240px;}
#epromotion_result div .emb_name{width:400px;}

#epromotion_result div .emb_date_start{width:120px;}
#epromotion_result div .emb_date_end{width:120px;}
#epromotion_result div .emb_date_no{width:240px;}
#epromotion_result div .emb_state{width:120px;}

#epromotion_result div .emb_script{width:100px;}

#epromotion_result div .emb_use{width:100px;}

#epromotion_result div .emb_management{width:100px;}

#epromotion_result div .emb_management button{display: inline-block;font-size: 13px; font-family: Nanum Gothic,dotum; font-weight: bold; background: #736868; padding: 3px 6px;  margin-left: 5px; color: #fff; border-radius: 50px;}
#epromotion_result div .emb_management button.mod_btn{background: #6b83fb;}
#epromotion_result div .emb_management button.del_btn{margin-top:5px;}


#epromotion_result div img.embc_cover{max-width:220px;}

/* 배너 위치 */
#epromotion_result div .embc_no{width:100px;}
#epromotion_result div .embc_position{width:240px;}
#epromotion_result div .embc_name{width:400px;}

#epromotion_result div .embc_date_start{width:120px;}
#epromotion_result div .embc_date_end{width:120px;}
#epromotion_result div .embc_date_no{width:240px;}
#epromotion_result div .embc_order{width:120px;}

#epromotion_result div .embc_order_btn{width:100px;}

#epromotion_result div .emb_adult{width:100px;}

#epromotion_result div .embc_management{width:100px;}

#epromotion_result div .embc_management button{display: inline-block;font-size: 13px; font-family: Nanum Gothic,dotum; font-weight: bold; background: #736868; padding: 3px 6px;  margin-left: 5px; color: #fff; border-radius: 50px;}
#epromotion_result div .embc_management button.mod_btn{background: #6b83fb;}
#epromotion_result div .embc_management button.del_btn{margin-top:5px;}
/* 화 리스트-필드 */
.episode_list_title{border-bottom:2px solid #e86239; padding-bottom:10px;}
#epromotion_result{position:relative; margin-top:10px;}
#epromotion_result h3{margin-bottom:10px;}
#epromotion_result ul.embc_list{position:relative;zoom:1;  min-width: 850px;}
#epromotion_result ul.embc_list:after {display:block;visibility:hidden;clear:both;content:""}
#epromotion_result ul.embc_list li{position:relative;}
#epromotion_result ul.embc_list li.embc_head{position:relative;zoom:1; padding-bottom:10px; border-bottom: 2px solid #232323;}
#epromotion_result ul.embc_list li.embc_head:after {display:block;visibility:hidden;clear:both;content:""}
#epromotion_result ul.embc_list li.embc_head ul{position:relative;}
#epromotion_result ul.embc_list li.embc_head ul li{float:left; height:100%; text-align:center; font-family: Nanum Gothic,dotum; font-weight: bold;}
#epromotion_result ul.embc_list li.embc_head ul li p{padding-top:20px; color:#726e7d;}

#epromotion_result ul li ul li.ce_chapter{width:10%;}
#epromotion_result ul li ul li.ce_banner_file{width:10%;}
#epromotion_result ul li ul li.ce_title{width:15%;}
#epromotion_result ul li ul li.ce_service_state{width:10%;}
#epromotion_result ul li ul li.ce_free_state{width:10%;}
#epromotion_result ul li ul li.ce_pay{width:10%;}
#epromotion_result ul li ul li.ce_reg_date{width:10%;}
#epromotion_result ul li ul li.ce_order_btn{width:10%;}
#epromotion_result ul li ul li.ce_order{width:10%;}
#epromotion_result ul li ul li.ce_management{width:5%;}

/* 화 리스트-데이터 */
#epromotion_result #embc_list_s > li{float:left; padding:15px 0; width:100%; border-bottom:1px solid #999;}
/* #epromotion_result ul.embc_list li.embc_episode{float:left;width:857px;height:76px;} */
/* #epromotion_result ul.embc_list li.embc_episode:after {display:block;visibility:hidden;clear:both;content:""} */
#epromotion_result #embc_list_s li.embc_episode ul{position:relative;}
#epromotion_result #embc_list_s li.embc_episode ul li{float:left; text-align:center; vertical-align: middle; word-break: break-all; box-sizing: border-box;}
#epromotion_result #embc_list_s li.embc_episode ul li p{padding-top:20px; color:#726e7d; -webkit-margin-before: 0em; -webkit-margin-after: 0em;}
#epromotion_result #embc_list_s li.embc_episode ul li p.paddingtop5{padding-top:5px;}
#epromotion_result #embc_list_s li.placeHolder {position:relative;zoom:1; background-color:white !important; border:dashed 1px gray !important; }

#epromotion_result #embc_list_s li.embc_episode ul li.embc_management a{display: inline-block; margin:0 auto; font-size: 13px; font-family: Nanum Gothic,dotum; font-weight: bold; background: #6b83fb; padding: 3px 6px; color: #fff; border-radius: 50px;}
#epromotion_result #embc_list_s li.embc_episode ul li.embc_management a.del_btn{background: #736868; margin-top:5px;}

#epromotion_result #embc_submit li{padding: 10px 20px; font-size: 13px;text-align: center; border-top:1px solid #999;}
#epromotion_result #embc_submit li input { padding: 4px 10px; font-family: Nanum Gothic,dotum; font-weight: bold; color: #fff; }
#epromotion_result #embc_submit li input[type=submit] { background: #fb58b2; }
#epromotion_result #embc_submit li input[type=reset] { background: #5d5a6f; }


/* PUSH */
#cms_search .push_submit input[type=submit] { height: 30px; }
#epromotion_result div .push_manage button{display: inline-block;font-size: 13px; font-family: Nanum Gothic,dotum; font-weight: bold; background: #736868; padding: 3px 6px;  margin-left: 5px; color: #fff; border-radius: 50px;}
#epromotion_result div .push_manage button.send_btn{background: #48802c;}
#epromotion_result div .push_manage button.mod_btn{background: #6b83fb;}

/* 친구 초대 */
#epromotion_result h3 > table{margin-top:5px;}
#epromotion_result h3 > table tr th{ padding:5px 10px; font-size: 14px; border:1px solid #bc9cd2; background: #dddddd;}
#epromotion_result h3 > table tr td{ padding:5px 10px; font-size: 14px; border:1px solid #bc9cd2; font-family: Nanum Gothic,dotum; font-weight: normal; text-align:center;}
#epromotion_result h3 > table tr .topleft{border-radius: 6px 0px 0px 0px;}
#epromotion_result h3 > table tr .topright{border-radius: 0px 6px 0px 0px;}
#epromotion_result h3 > table tr .btmright{border-radius: 0px 0px 6px 0px;}
#epromotion_result h3 > table tr .btmleft{border-radius: 0px 0px 0px 6px;}
#epromotion_result div .red{color: red;}
#epromotion_result div .blue{color: blue;}