@charset "utf-8";

input[type=text], input[type=password], input[type=submit], input[type=reset], input[type=image], textarea {padding:2px 5px; font-size:15px; border: 1px solid #e9e9e9; border-radius: 5px; -webkit-appearance:none;}
input[type=submit], input[type=reset], input[type=image]{padding:2px 7px; cursor: pointer;}
select{font-size:15px; border: 1px solid #e9e9e9; border-radius: 5px;}
.readonly {font-size:15px; background-color: #f3f3ee; }
.d_date {width:100px; cursor: pointer;}
.result_hover:hover{ background-color:#f5f5f5;}
.editor_html img{width:100%;}

/* 초기화 */
html {overflow-y:scroll}
body {-webkit-text-size-adjust: auto; -webkit-user-select: auto;}
#pop_container {position:relative; padding: 10px; }

	/* CMS 제목 */
	#cms_page_title {position:relative; zoom:1;}
	#cms_page_title:after {display:block;visibility:hidden;clear:both;content:""}
	#cms_page_title h1{float:left; margin-left:20px;}
	#cms_page_title div{float:left; padding:5px 0px 0px 12px; font-size:13px;}
	#cms_page_title div.write{float:right; padding:0px; font-size:15px; font-family:Nanum Gothic,dotum; font-weight:bold;}
	#cms_page_title div.left{float:left !important; }
	#cms_page_title div strong{color: #000;}
	#cms_page_title div a{font-family:Nanum Gothic,dotum; font-weight:bold; color: #000;}
	#cms_page_title div a:hover{color:#ddd;}
	#cms_page_title div.write button{display: inline-block; font-size:15px; font-family:Nanum Gothic,dotum; font-weight:bold; background: #fb6b6b; padding: 5px 10px; margin-left: 5px; color: #fff; border-radius: 50px;}
	#cms_page_title div.write button:hover{color:#f6fe0e;}
	#cms_page_title div.left button{background: #58b7fb !important; }

	#cms_page_title div ul li {display: inline-block; margin-top: 6px; font-family: Nanum Gothic,dotum; font-weight: bold;}
	
/* COUPON 버튼 조정 */
#cms_page_title div.stop_use {float: right; }
#cms_page_title div.excel {float: right; }

#cms_page_title div input.excel_down {display: inline-block;font-size: 13px; font-family: Nanum Gothic,dotum; font-weight: bold; background: #5db785; padding: 3px 6px; color: #fff; border-radius: 50px; margin-left: 5px;}
#cms_page_title .couponment_btn button {display: inline-block;font-size: 13px; font-family: Nanum Gothic,dotum; font-weight: bold; padding: 3px 6px;  margin-left: 5px; color: #fff; border-radius: 50px;}