/* ////////////////////////////////////// 보기 공통 ////////////////////////////////////// */
#sales_view {position:relative; margin-top:10px;}
#sales_view table {border-top:2px solid #eee; border-bottom:3px solid #eee;}
#sales_view table th{width:130px; min-width:130px; padding:10px 20px; background: #293254; border-top:1px solid #eee; font-size:13px; color: #fff; border-radius: 3px;}
#sales_view table td{min-width:640px; padding:10px 20px; border-top:1px solid #eee; font-size:13px;}
#sales_view table td input[type=text] {width:97%;}
#sales_view table td textarea {width:97%; height:600px;}

#sales_view table td.submit_btn{text-align:center;}
#sales_view table td.submit_btn input{padding: 4px 10px; font-family: Nanum Gothic,dotum; font-weight: bold; color:#fff;}
#sales_view table td.submit_btn input[type=submit]{background: #fb58b2;}
#sales_view table td.submit_btn input[type=reset]{background: #5d5a6f;}
#sales_view table td.submit_btn input:first-child{margin-right:10px;}

#sales_view table td p.explan{margin-top:10px;}

/* ////////////////////////////////////// 등록 공통 ////////////////////////////////////// */
#sales_write {position:relative; margin-top:10px;}
#sales_write table {border-top:2px solid #eee; border-bottom:3px solid #eee;}
#sales_write table th{width:130px; min-width:130px; padding:10px 20px; background: #293254; border-top:1px solid #eee; font-size:13px; color: #fff; border-radius: 3px;}
#sales_write table td{min-width:640px; padding:10px 20px; border-top:1px solid #eee; font-size:13px;}
#sales_write table td input[type=text] {width:97%;}
#sales_write table td textarea {width:97%; height:600px;}
#sales_write table td textarea.normale {width:97%; height:250px;}

#sales_write table td.submit_btn{text-align:center;}
#sales_write table td.submit_btn input{padding: 4px 10px; font-family: Nanum Gothic,dotum; font-weight: bold; color:#fff;}
#sales_write table td.submit_btn input[type=submit]{background: #fb58b2;}
#sales_write table td.submit_btn input[type=reset]{background: #5d5a6f;}
#sales_write table td.submit_btn input:first-child{margin-right:10px;}

#sales_write table td p.explan{margin-top:10px;}

#sales_write .red{ color:red; }
#sales_write .blue{ color:blue; }

#sales_write .mpee_episode_list ul li{display: inline-block; margin:4px 8px;}

