/* 이벤트 */

/* 출석이벤트 */
#event_result{position:relative; margin-top:10px;}
#event_result p{margin-top: 5px; margin-left:135px;}

#event_result h3{margin-bottom:10px;}
#event_result h3 > table{margin-top:5px;}
#event_result h3 > table tr th{ padding:5px 10px; font-size: 14px; border:1px solid #bc9cd2; background: #dddddd; vertical-align: top;}
#event_result h3 > table tr td{ padding:5px 10px; font-size: 14px; border:1px solid #bc9cd2; font-family: Nanum Gothic,dotum; font-weight: normal; text-align:center;}
#event_result h3 > table tr .topleft{border-radius: 6px 0px 0px 0px;}
#event_result h3 > table tr .topright{border-radius: 0px 6px 0px 0px;}
#event_result h3 > table tr .btmright{border-radius: 0px 0px 6px 0px;}
#event_result h3 > table tr .btmleft{border-radius: 0px 0px 0px 6px;}
#event_result h3 > table tr .man{ background: #cdeaff;}
#event_result h3 > table tr .woman{ background: #ffcdfd;}
#event_result h3 > table tr .no_certify{ background: #dfffe2;}
#event_result h3 ul{margin-left:20px;}
#event_result h3 ul li{padding-top:2px; list-style-type: decimal; font-weight:normal; font-family: Nanum Gothic,dotum;}
#event_result div table{width:100%; word-break:break-all; font-size: 13px;}

#event_result div table tr th{padding:5px 10px; border-bottom:2px solid #232323;}
#event_result div table tr th a{color: blue;}
#event_result div table tr th a:hover{color: red;}
#event_result div table tr td{padding:5px 10px; border-bottom:1px solid #999;}
#event_result div table tr td a{color: blue;}
#event_result div table tr td a:hover{color: red;}

#event_result div#month_input table tr td{padding:8px 10px;}
#event_result div#calendar_input table tr td{padding:9px 10px;}

/* 대분류 칼라 */
.big_color{color:red;}
p.big_color{padding-bottom:5px;}

#fr_bg{position:relative; zoom:1;}
#fr_bg:after {display:block;visibility:hidden;clear:both;content:""}
#month_input{float:left;}
#month_input #fr_thead{width:600px;}
#month_input .text_center{text-align:center;}
#month_input .ead_month{width:40px;}
#month_input .ead_use{width:80px;}
#month_input .ead_end_day{width:120px;}
#month_input .ead_title{width:200px;}
#month_input .ead_end_day input[type=text]{width:45px; text-align:right;}
#month_input .ead_title input[type=text]{width:180px;}

#month_input .ead_use label {
    font-size: 13px;
    font-family: Nanum Gothic,dotum;
    font-weight: bold;
    background: #7270d8;
    padding: 3px 6px;
    margin-left: 5px;
    color: #fff;
    border-radius: 50px;
}
#month_input .ead_use label:hover{color: #c6f1e3;}

#calendar_input{float:left; margin-left:50px;}
#calendar_input #ci_tbody{width:700px;}
#calendar_input table td{border:1px solid #eee; text-align:center; vertical-align: top;}
#calendar_input table td p {margin-bottom:5px;}
#calendar_input table td p.cf_cash { text-align: left; }
#calendar_input table td p.cf_point { text-align: left; }
#calendar_input table td p.cf_cash input[type=text] { width:45px; text-align:right; background-color: #fb6b6b; font-weight: bold; }
#calendar_input table td p.cf_point input[type=text]{ width:45px; text-align:right; background-color: #8785ea; font-weight: bold; }
#calendar_input table tr th span.cf_cash { color: #fb6b6b; }
#calendar_input table tr th span.cf_point { color: #8785ea; }

#event_att_submit {
    position: relative;
    padding: 10px 0px;
    font-size: 13px;
    text-align: left;
}
#event_att_submit input[type=submit] {
    padding: 4px 10px;
    background: #fb58b2;
    font-family: Nanum Gothic,dotum;
    font-weight: bold;
    color: #fff;
    width: 1214px;
}

/* 출석 이벤트2 */
#event_result div table.attend_table input[type=text] {width:100px;}
#event_result div.ea_continue_2 {margin-top: 5px;}
#event_result div.ea_continue_3 {margin-top: 5px;}

#event_result div table.attend_table .ea_month {width: 60px;}
#event_result div table.attend_table .ea_use {width: 90px;}
#event_result div table.attend_table .ea_start_date {width: 80px;}
#event_result div table.attend_table .ea_end_date {width: 80px;}
#event_result div table.attend_table .ea_oneday_point {width: 165px;}
#event_result div table.attend_table .ea_continue {width: 310px;}
#event_result div table.attend_table .ea_cont_use {width: 160px;}
#event_result div table.attend_table .ea_regu_date {width: 165px;}
#event_result div table.attend_table .ea_regu_point {width: 165px;}
#event_result div table.attend_table .ea_regu_use {width: 125px;}

#event_att_submit input[type=submit] { width: 100%; }

/* ///////////////////////////////////////// 충전/지급 ////////////////////////////////////////// */
/* 충전/지급 검색*/
#cms_search .recharge_submit input[type=submit] {
    height: 75px;
}

/* 컨텐츠 정보 결과 */
#event_result{position:relative; margin-top:10px;}
#event_result h3{margin-bottom:10px;}
#event_result div table{width:100%; word-break:break-all; font-size: 13px;}

#event_result div .text_center{text-align: center;}
#event_result div .text_right{text-align: right;}
/* 1400px 맞춰야 fixed 시 안깨짐 */
#event_result div .er_no{width:60px;}
#event_result div .er_type{width:170px;}
#event_result div .er_date_start{width:100px;}
#event_result div .er_date_end{width:100px;}
#event_result div .er_date_no{width:200px;}
#event_result div .er_state{width:60px;}

#event_result div .er_calc_way{width:200px;}
#event_result div .er_calc{width:230px;} /* er_cash_point + er_point*/
#event_result div .er_cash_point{width:115px;}
#event_result div .er_point{width:115px;}
#event_result div .er_reg_date{width:100px;}
#event_result div .er_mod_date{width:100px;}

#event_result div .er_management{width:60px;}

#event_result div .er_management button{display: inline-block;font-size: 13px; font-family: Nanum Gothic,dotum; font-weight: bold; background: #736868; padding: 3px 6px;  margin-left: 5px; color: #fff; border-radius: 50px;}
#event_result div .er_management button.mod_btn{background: #6b83fb;}
#event_result div .er_management button.del_btn{margin-top:5px;}


#event_result div table tr th{padding:5px 10px; border-bottom:2px solid #232323;}
#event_result div table tr th a{color: blue;}
#event_result div table tr th a:hover{color: red;}
#event_result div table tr td{padding:5px 10px; border-bottom:1px solid #999;}
#event_result div table tr td a{color: blue;}
#event_result div table tr td a:hover{color: red;}

/* 대분류 칼라 */
.big_color{color:red;}
p.big_color{padding-bottom:5px;}


/* ///////////////////////////////////////// 무료&코인할인 ////////////////////////////////////////// */
#event_result div .ep_no{width:90px;}
#event_result div .ep_cover{width:120px;}
#event_result div .ep_name{width:280px;}
#event_result div .ep_date_start{width:130px;}
#event_result div .ep_date_end{width:130px;}
#event_result div .ep_date_no{width:240px;}

#event_result div .ep_adult{width:70px;}
#event_result div .ep_state{width:70px;}

#event_result div .ep_reg_date{width:100px;}
#event_result div .ep_mod_date{width:100px;}
#event_result div .ep_click{width:120px;}

#event_result div .ep_management{width:60px;}

#event_result div .ep_cover img{width:100px; height:65px;}
#event_result div .ep_management button{display: inline-block;font-size: 13px; font-family: Nanum Gothic,dotum; font-weight: bold; background: #736868; padding: 3px 6px;  margin-left: 5px; color: #fff; border-radius: 50px;}
#event_result div .ep_management button.mod_btn{background: #6b83fb;}
#event_result div .ep_management button.del_btn{margin-top:5px;}

/* ///////////////////////////////////////// 쿠폰 ///////////////////////////////////////// */
#event_result div .ecm_no{width:63px;}
#event_result div .ecm_start_date{width:213px;}
#event_result div .ecm_cash_point{width:102px;}
#event_result div .ecm_point{width:136px;}
#event_result div .ecm_lot{width:102px;}
#event_result div .ecm_use{width:102px;}
#event_result div .ecm_end_date{width:254px;}
#event_result div .ecm_ticket{width:323px;}
#event_result div .ecm_admin{width:105px;}
#event_result table tbody .ecm_admin button {display: inline-block;font-size: 13px; font-family: Nanum Gothic,dotum; font-weight: bold; background: #736868; padding: 3px 6px;  margin-left: 5px; color: #fff; border-radius: 50px;}

/* ///////////////////////////////////////// 네이밍 ///////////////////////////////////////// */
#cms_title div input[type=button].excel_down {display: inline-block;font-size: 15px; font-family: Nanum Gothic,dotum; font-weight: bold; background: #5db785; padding: 5px 10px; color: #fff; border-radius: 50px; margin-left: 5px;}
#event_result div .en_no{width:125px;}
#event_result div .en_mb_id{width:357px;}
#event_result div .en_s_name{width:219px;}
#event_result div .en_p_name{width:219px;}
#event_result div .en_mp_name{width:219px;}
#event_result div .en_reg_date{width:351px;}

#cms_search .naming_submit input[type=submit] {
    height: 50px;
}


/* ///////////////////////////////////////// 랜덤박스 180227 최종 수정 ///////////////////////////////////////// */
#event_result div .er_no{width:100px;}
#event_result div .er_name{width:180px;}
#event_result div .er_event_type{width:60px;}
#event_result div .er_discount_rate_list{width:200px;}
#event_result div .er_date{width:200px;}
#event_result div .er_state{width:60px;}
#event_result div .er_available_date{width:200px;}
#event_result div .er_available_state{width:60px;}
#event_result div .er_reg_date{width:120px;}
#event_result div .er_mod_date{width:120px;}
#event_result div .er_management{width:100px;}

#cms_search .event_randombox_submit input[type=submit] {
    height: 30px;
}

#cms_search .event_randombox_coupon_submit input[type=submit] {
    height: 55px;
}

#event_result table tr td.blue{color: blue; font-weight: bold;}
#event_result table tr td.red{color: red;}
#event_result table tr th.blue{color: blue; font-weight: bold;}
#event_result table tr th.red{color: red;}

/* ///////////////////////////////////////// 투표 ///////////////////////////////////////// */

#event_result div .evc_management button{display: inline-block;font-size: 13px; font-family: Nanum Gothic,dotum; font-weight: bold; background: #736868; padding: 3px 6px;  margin-left: 5px; color: #fff; border-radius: 50px;}
#event_result div .evc_management button.mod_btn{background: #6b83fb;}
#event_result div .evc_management button.del_btn{}

/* ///////////////////////////////////////// 출석이벤트-통계 ///////////////////////////////////////// */

/* /////////////////////////////////// 공통 /////////////////////////////////// */
#collaboration_result{position:relative; margin-top:10px;}
#collaboration_result h3{margin-bottom:10px;}
#collaboration_result div table{width:100%; word-break:break-all; font-size: 13px;}
#collaboration_result div #cr_thead{width:1400px;}

#collaboration_result div .text_center{text-align: center;}

#collaboration_result div table tr th{padding:5px 10px; border-bottom:2px solid #232323; box-sizing: border-box;}
#collaboration_result div table tr th a{color: blue;}
#collaboration_result div table tr th a:hover{color: red;}
#collaboration_result div table tr td{padding:5px 10px; border-bottom:1px solid #999; box-sizing: border-box;}
#collaboration_result div table tr td a{color: blue;}
#collaboration_result div table tr td a:hover{color: red;}

#collaboration_result h3 > table{margin-top:5px;}
#collaboration_result h3 > table tr th{ padding:5px 10px; font-size: 14px; border:1px solid #bc9cd2; background: #dddddd;}
#collaboration_result h3 > table tr td{ padding:5px 10px; font-size: 14px; border:1px solid #bc9cd2; font-family: Nanum Gothic,dotum; font-weight: normal; text-align:center;}
#collaboration_result h3 > table tr .topleft{border-radius: 6px 0px 0px 0px;}
#collaboration_result h3 > table tr .topright{border-radius: 0px 6px 0px 0px;}
#collaboration_result h3 > table tr .btmright{border-radius: 0px 0px 6px 0px;}
#collaboration_result h3 > table tr .btmleft{border-radius: 0px 0px 0px 6px;}

#collaboration_result div button{display: inline-block;font-size: 13px; font-family: Nanum Gothic,dotum; font-weight: bold; background: #736868; padding: 3px 6px;  margin-left: 5px; color: #fff; border-radius: 50px;}

#collaboration_result div button.mod_btn{ background: #6b83fb; }
#collaboration_result div button.ans_btn{ background: #f36d6d; }
#collaboration_result div button.not_btn{ background: #6b83fb; }
#collaboration_result div button.del_btn { margin-top: 5px; }

/* /////////////////////////////////// 마케터 /////////////////////////////// */
#collaboration_result div .mkt_no { width: 170px; }
#collaboration_result div .mkt_title { width: 200px; }
#collaboration_result div .mkt_url { width: 400px; }
#collaboration_result div .mkt_para_join { width: 130px; }
#collaboration_result div .mkt_state { width: 200px; }
#collaboration_result div .mkt_date { width: 200px; }
#collaboration_result div .mkt_management { width: 100px; }

/* /////////////////////////////////// 마케터링크 ////////////////////////////// */
#collaboration_result div .mktl_no { width: 170px; }
#collaboration_result div .mkt_no { width: 170px; }
#collaboration_result div .mktl_link { width: 400px; }
#collaboration_result div .mktl_short_link { width: 400px; }
#collaboration_result div .mktl_click { width: 100px; }
#collaboration_result div .mktl_date { width: 230px; }
#collaboration_result div .mktl_management { width: 100px; }
#collaboration_result div .mkt_management button.mod_btn{background: #6b83fb;}