@charset "utf-8";
/* ////////////////////////////////////// 줄 셀렉트 박스 /////////////////////////////////////////////// */
#cms_page_title #s_limit_select{float:right;}
/* ////////////////////////////////////// 컨텐츠 등록 /////////////////////////////////////////////// */
#event_write {position:relative; margin-top:10px;}
#event_write table {border-top:2px solid #eee; border-bottom:3px solid #eee;}
#event_write table th{width:130px; min-width:130px; padding:10px 20px; background: #293254; border-top:1px solid #eee; font-size:13px; color: #fff; border-radius: 3px;}
#event_write table th p{margin-top:5px;}
#event_write table th p a{color:red;}
#event_write table td{min-width:640px; padding:10px 20px; border-top:1px solid #eee; font-size:13px;}
#event_write table td input[type=text]{width: 100%;}
#event_write table td input[type=text].color{width:224px;}
#event_write table td .still{display:none;}
#event_write table td input.text_rt_130 { width: 130px; text-align: right}
#event_write table td input.readonly { width: 100px; text-align: center; }
#event_write table td input.partner{width:40%;}
#event_write table td select.partner{width:50%;}
#event_write table td div label{margin-right:10px;}

#event_write table td div.input_btn{display: inline-block;}
#event_write table td div.input_btn label{ display: inline-block; font-family: Nanum Gothic,dotum; font-weight: bold; background: #58b7fb; padding: 3px 6px; color: #fff; border-radius: 50px;}
#event_write table td div.input_btn label:hover{color: #f6fe0e}
#event_write table td div.input_btn label.still{display:none;}
#event_write table td div.margin_top10{margin-top:10px;}
#event_write table td div.margin_top10 label{margin-right:0px;}
#event_write table td div.er_holiday_view{display:none;}
#event_write table td div.er_holiweek_view{display:none;}
#event_write table td div label.giho{margin-left:15px;}
#event_write table td .data_readonly{background-color: #f3f3ee; }

#event_write table td ul.event_list{position:relative; border-top:1px solid #eee;}
#event_write table td ul.event_list li{border:1px solid #eee; border-top:0px solid;}
#event_write table td ul.event_list li.hide{display:none;}
#event_write table td ul.event_list li.show{display:block;}
#event_write table td ul.event_list li.on{background: #cc95f5; color:#fff;}
#event_write table td ul.event_list li:hover{background: #95cdf5;}

#event_write table td div.depths{position:relative; zoom:1px;}
#event_write table td div.depths:after {display:block;visibility:hidden;clear:both;content:""}
#event_write table td div.depths > div{float:left;}
#event_write table td div.depths label{ display: inline-block; font-family: Nanum Gothic,dotum; font-weight: bold; background: #58b7fb; padding: 3px 6px; color: #fff; border-radius: 50px; word-break: break-all;}
#event_write table td div.depths label:hover{color: #f6fe0e}

#event_write table td div.depths > .depths1_head{width:120px; padding-bottom:5px;  text-align:center; font-size: 16px;}
#event_write table td div.depths > .depths2_head{width:530px; padding-bottom:5px; font-size: 16px; padding-left:10px;}
#event_write table td div.depths > .depth1{width:120px; padding: 10px 0; border:1px solid #fff; border-top-color:#eee;}
#event_write table td div.depths > .depth1 > label{width:80px; text-align:center;}
#event_write table td div.depths > .depth2{width:530px; padding: 10px 0; border:1px solid #fff; border-top-color:#eee;}
#event_write table td div.depths > .depth2 label.depth2_null{visibility: hidden;}
#event_write table td div.depths > .depth2 div{display: inline-block;}
#event_write table td div.depths > .depth2 .depth3_list{width:550px; margin-bottom:5px;}
#event_write table td div.depths > .depth2 .depth3_head{width:60px; padding:6px 0;}
#event_write table td div.depths > .depth2 .depth3{width:450px; padding:6px 0;}

#event_write table td.submit_btn{text-align:center;}
#event_write table td.submit_btn input{padding: 4px 10px; font-family: Nanum Gothic,dotum; font-weight: bold; color:#fff;}
#event_write table td.submit_btn input[type=submit]{background: #fb58b2;}
#event_write table td.submit_btn input[type=reset]{background: #5d5a6f;}
#event_write table td.submit_btn input:first-child{margin-right:10px;}

/* 이미지 설명 */
#event_write table td p.ep_cover_explan{margin-top:5px;}

/* 이미지 */
#event_write table td div.ep_cover a{ display: inline-block; margin-top:5px; font-family: Nanum Gothic,dotum; font-weight: bold; background: #58b7fb; padding: 3px 6px; color: #fff; border-radius: 50px;}
#event_write table td div.ep_cover a:hover{color: #f6fe0e}
#event_write table td div.ep_cover .ep_cover_hide{display:none;}
#event_write table td div.ep_cover .ep_cover_hide img{max-width:500px; width:50%; margin-top:5px;}

/* 이미지 설명 */
#event_write table td p.ep_collection_top_explan{margin-top:5px;}

/* 이미지 */
#event_write table td div.ep_collection_top a{ display: inline-block; margin-top:5px; font-family: Nanum Gothic,dotum; font-weight: bold; background: #58b7fb; padding: 3px 6px; color: #fff; border-radius: 50px;}
#event_write table td div.ep_collection_top a:hover{color: #f6fe0e}
#event_write table td div.ep_collection_top .ep_collection_top_hide{display:none;}
#event_write table td div.ep_collection_top .ep_collection_top_hide img{max-width:500px; width:50%; margin-top:5px;}

/* 무료&코인할인 등록 */
#event_write #comics_search{width:300px;}
#event_write .comics_search_btn{padding: 4px 10px; background: #7765d2; font-family: Nanum Gothic,dotum; font-weight: bold; color: #fff; border: 1px solid #e9e9e9; border-radius: 5px;}

/* 컨텐츠 검색 */
#comics_search_result{margin-top:5px;}
#comics_search_result ul li{padding-top:5px;}
#comics_search_result ul li a{display: inline-block; padding: 3px 6px; background: #58b7fb;  color: #fff; border-radius: 50px;}
#comics_search_result ul li a:hover{color: #f6fe0e}

/* 이벤트 컨텐츠 리스트 */
#event_write table td#comics_list ul li{padding:5px 0px; border-bottom:1px solid #e9e9e9;cursor: pointer;}
#event_write table td#comics_list ul li p{padding-bottom:2px;}
#event_write table td#comics_list ul li p a img{vertical-align: top; padding-top: 1px;}
#event_write table td#comics_list input[type=text].comics_list_add_input{width:50px;text-align:right; border:1px solid #58b7fb;}
#event_write table td input[type=radio] {margin-left: 10px;}

/* 쿠폰 상세보기 */
#coupon_view_info {position:relative; margin-top:10px;}
#coupon_view_info table {border-top:2px solid #eee; border-bottom:3px solid #eee; width: 850px;}
#coupon_view_info table th {width:110px; min-width:110px; padding:10px 20px; background: #293254; border-top:1px solid #eee; font-size:13px; color: #fff; border-radius: 3px;}
#coupon_view_info table td {width:250px; padding:10px 20px; border-top:1px solid #eee; font-size:13px; text-align: center;}

#coupon_view_info table td a {padding: 3px 6px; font-weight: bold; margin-left: 2px; cursor: pointer;}

#cms_page_title .couponment { font-family: Nanum Gothic,dotum; font-weight: bold; clear: both; margin-top: 15px; width:50%; }
#cms_page_title .couponment_btn { width: 47%; text-align: right; }
#cms_page_title .couponment_btn button {display: inline-block;font-size: 13px; font-family: Nanum Gothic,dotum; font-weight: bold; padding: 3px 6px;  margin-left: 5px; color: #fff; border-radius: 50px;}
#cms_page_title .couponment_btn button.stop { background: #fb6b6b; }
#cms_page_title .couponment_btn button.start { background: #6b83fb; }
#coupon_view_info table td a:hover{color:#ff8800;}
#coupon_view_info div.close_btn {padding:10px; text-align:center;}
#coupon_view_info div.close_btn input[type=button] {padding: 4px 10px; font-size:15px; font-weight: bold; color:#fff; background-color:#5d5a6f; border-radius:5px; }

/* 랜덤박스 이벤트 */
#event_write table td input[type=text]#er_first_count {display: none; width: 300px;}

/* ////////////////////////////////////// 땅콩 지급 /////////////////////////////////////////////// */
#event_comment {position:relative; margin-top:10px;}
#event_comment table {border-top:2px solid #eee; border-bottom:3px solid #eee; width:100%;}
#event_comment table th{width:130px; min-width:130px; padding:10px 20px; background: #293254; border-top:1px solid #eee; font-size:13px; color: #fff; border-radius: 3px;}
#event_comment table td{min-width:300px; padding:10px 20px; border-top:1px solid #eee; font-size:13px;}
#event_comment table td input[type=text]{width:100%;}
#event_comment table td div label{margin-right:10px;}

#event_comment table td.submit_btn{text-align:center;}
#event_comment table td.submit_btn input{padding: 4px 10px; font-family: Nanum Gothic,dotum; font-weight: bold; color:#fff;}
#event_comment table td.submit_btn input[type=submit]{background: #fb58b2;}
#event_comment table td.submit_btn input[type=reset]{background: #5d5a6f;}
#event_comment table td.submit_btn input:first-child{margin-right:10px;}