/* ////////////////////////////////////// 공통 /////////////////////////////////////////////// */

/* ////////////////////////////////////// 회원 등록 /////////////////////////////////////////////// */
#member_write {position:relative; margin-top:10px;}
#member_write table {border-top:2px solid #eee; border-bottom:3px solid #eee; width:100%;}
#member_write table th{width:130px; min-width:130px; padding:10px 20px; background: #293254; border-top:1px solid #eee; font-size:13px; color: #fff; border-radius: 3px;}
#member_write table td{min-width:300px; padding:10px 20px; border-top:1px solid #eee; font-size:13px;}
#member_write table td input[type=text]{width:100%;}
#member_write table td input[type=password]{width:100%;}
#member_write table td div label{margin-right:10px;}
#member_write table td select{ width:120px; }
#member_write table td div.cp_list{margin-top: 5px; display: none;}
#member_write table td div.cp_list select{display: block;}

/* 중복체크 */
#member_write table td a.is_btn{display: inline-block; margin-top:5px; padding: 3px 6px; background: #f1b530; color: #fff; border-radius: 50px;}
#member_write table td span.is_text{display: inline-block; margin:5px 5px 0px;}

#member_write table td.submit_btn{text-align:center;}
#member_write table td.submit_btn input{padding: 4px 10px; font-family: Nanum Gothic,dotum; font-weight: bold; color:#fff;}
#member_write table td.submit_btn input[type=submit]{background: #fb58b2;}
#member_write table td.submit_btn input[type=reset]{background: #5d5a6f;}
#member_write table td.submit_btn input:first-child{margin-right:10px;}

#member_write table td span.info {display: block; margin-top: 5px;}

/* ////////////////////////////////////// 회원 상세보기 /////////////////////////////////////////////// */
#member_view_info {position:relative; margin-top:10px;}
#member_view_info table {border-top:2px solid #eee; border-bottom:3px solid #eee; width: 850px;}
/*#member_view_info table th{width:170px; min-width:130px; padding:10px 20px; background: #293254; border-top:1px solid #eee; font-size:13px; color: #fff; border-radius: 3px;}*/
#member_view_info table th{width:110px; min-width:110px; padding:10px 20px; background: #293254; border-top:1px solid #eee; font-size:13px; color: #fff; border-radius: 3px;}
/*#member_view_info table td{min-width:300px; padding:10px 20px; border-top:1px solid #eee; font-size:13px;}*/
#member_view_info table td{width:250px; padding:10px 20px; border-top:1px solid #eee; font-size:13px;}
#member_view_info table td input[type=text]{width:60%;}
#member_view_info table td input[type=password]{width:60%;}
#member_view_info table td div label{margin-right:10px;}

#member_view_info table td.btn {text-align:center;}
#member_view_info table td.btn input{padding: 4px 10px; font-weight: bold; color:#fff;}
#member_view_info table td.btn input[type=reset]{background: #5d5a6f;}
#member_view_info table td.btn input[type=button]{border-radius: 5px; cursor: pointer; background: #fb6b6b; font-size: 15px;}

#member_view_info table td.field_submit select{display: none; width:120px;}
#member_view_info table td.field_submit select#mb_adult{display: none; width:70px;}
#member_view_info table td.field_point p{display: none; margin-top:10px;}
#member_view_info table td .modify {display: none;}
#member_view_info table td .cancel {display: none;}

#member_view_info table td a {padding: 3px 6px; font-weight: bold; color:#fff; border-radius: 50px; margin-left: 2px; cursor: pointer;}
#member_view_info table td a.change {background: #6b83fb;}
#member_view_info table td a.modify {background: #fb58b2;}
#member_view_info table td a.cancel {background: #5d5a6f;}

#member_view_info table td .cp_list{margin-top: 5px; display: none;}
#member_view_info table td .cp_list select{display: block;}

/* ////////////////////////////////////// 구매내용 상세 /////////////////////////////////////////////// */
#member_view_point {position:relative; margin-top:10px;}
#member_view_point table {border-top:2px solid #eee; border-bottom:3px solid #eee; text-align: center; width: 850px;}
#member_view_point table tr.mpec td{color:red;}
#member_view_point table th{padding:10px 20px; background: #293254; border-top:1px solid #eee; border-left:1px solid #eee; font-size:13px; color: #fff;}
#member_view_point table td{padding:10px 20px; border-top:1px solid #eee; font-size:13px;}
#member_view_point table .mpu_no{width:30px;}
#member_view_point table .mpu_date{width:80px;}
#member_view_point table .mpu_from{width:240px;}
#member_view_point table .class{width:58px;}
#member_view_point table .class.red {color:red;}
#member_view_point table .class.blue {color:blue;}
#member_view_point table .cash_point_unit{width:50px;}
#member_view_point table .point_unit{width:50px;}
#member_view_point table .mpu_point_class{margin-top: 10px;}

/* ////////////////////////////////////// 코믹스 열람 내역 /////////////////////////////////////////////// */
#member_view_comics {position:relative; margin-top:10px;}
#member_view_comics table {border-top:2px solid #eee; border-bottom:3px solid #eee; text-align: center; width: 850px;}
#member_view_comics table tr.mpec td{color:red;}
#member_view_comics table th{padding:10px 20px; background: #293254; border-top:1px solid #eee; border-left:1px solid #eee; font-size:13px; color: #fff;}
#member_view_comics table td{padding:10px 20px; border-top:1px solid #eee; font-size:13px;}
#member_view_comics table th a{color:#c0d8f3;}
#member_view_comics table th a:hover{color:#6fea48;}

#member_view_comics table .mbc_no{width:40px;}
#member_view_comics table .mbc_img{width:40px;}
#member_view_comics table .cm_series{width:180px;}
#member_view_comics table .cm_big{width:30px;}
#member_view_comics table .mbc_own_type{width:50px;}
#member_view_comics table .mbc_recent_chapter{width:72px;}
#member_view_comics table .mbc_date{width:94px;}
/* ////////////////////////////////////// 에피소드 열람 내역 /////////////////////////////////////////////// */
#member_view_episode {position:relative; margin-top:10px;}
#member_view_episode table {border-top:2px solid #eee; border-bottom:3px solid #eee; text-align: center; width: 850px;}
#member_view_episode table tr.mpec td{color:red;}
#member_view_episode table th{padding:10px 20px; background: #293254; border-top:1px solid #eee; border-left:1px solid #eee; font-size:13px; color: #fff;}
#member_view_episode table td{padding:10px 20px; border-top:1px solid #eee; font-size:13px;}
#member_view_episode table th a{color:#c0d8f3;}
#member_view_episode table th a:hover{color:#6fea48;}

#member_view_episode table .mbe_no{width:40px;}
#member_view_episode table .mbe_img{width:60px;}
#member_view_episode table .cm_series{width:180px;}
#member_view_episode table .mbe_chapter{width:54px;}
#member_view_episode table .mbe_own_type{width:60px;}
#member_view_episode table .mbe_way{width:60px;}
#member_view_episode table .mbe_end_date{width:76px;}
#member_view_episode table .mbe_date{width:80px;}

/* ////////////////////////////////////// 접속 내역 /////////////////////////////////////////////// */
#member_view_login {position:relative; margin-top:10px;}
#member_view_login table {border-top:2px solid #eee; border-bottom:3px solid #eee; text-align: center; width: 850px;}
#member_view_login table tr.mpec td{color:red;}
#member_view_login table th{padding:10px 20px; background: #293254; border-top:1px solid #eee; border-left:1px solid #eee; font-size:13px; color: #fff;}
#member_view_login table td{padding:10px 20px; border-top:1px solid #eee; font-size:13px;}
#member_view_login table th a{color:#c0d8f3;}
#member_view_login table th a:hover{color:#6fea48;}

#member_view_login table .slm_no{width:40px;}
#member_view_login table .slm_date{width:100px;}
#member_view_login table .slm_ip{width:100px;}
#member_view_login table .slm_type{width:100px;}
#member_view_login table .slm_user_agent{}