/* 컨텐츠 정보 검색*/
#cms_search .all_buy input[type=submit] { height:56px; }
#cms_search .all_buy input[type=submit] { height:56px; }

/* 컨텐츠 정보 결과 */
#sales_result{position:relative; margin-top:10px;}
#sales_result h3{margin-bottom:10px;}

#cms_title h1 a.a_btn, #sales_result h3 a.a_btn{
	display: inline-block;
    font-size: 13px;
    font-family: Nanum Gothic,dotum;
    font-weight: bold;
    background: #000;
    padding: 3px 6px;
    margin-left: 5px;
    color: #fff;
    border-radius: 50px;
}
#cms_title h1 a.a_btn:hover, #sales_result h3 a.a_btn:hover{color: #f6fe0e;}
#cms_title h1 a.episode, #sales_result h3 a.episode{ background: #5db785; }
#cms_title h1 a.date, #sales_result h3 a.date{ background: #58b7fb; }

#sales_result p{margin-top: 5px; margin-left:135px;}
#sales_result h3 > table{margin-top:5px;}
#sales_result h3 > table tr th{ padding:5px 10px; font-size: 14px; border:1px solid #bc9cd2; background: #dddddd; vertical-align: top;}
#sales_result h3 > table tr td{ padding:5px 10px; font-size: 14px; border:1px solid #bc9cd2; font-family: Nanum Gothic,dotum; font-weight: normal; text-align:center;}
#sales_result h3 > table tr .topleft{border-radius: 6px 0px 0px 0px;}
#sales_result h3 > table tr .topright{border-radius: 0px 6px 0px 0px;}
#sales_result h3 > table tr .btmright{border-radius: 0px 0px 6px 0px;}
#sales_result h3 > table tr .btmleft{border-radius: 0px 0px 0px 6px;}
#sales_result h3 > table tr .man{ background: #cdeaff;}
#sales_result h3 > table tr .woman{ background: #ffcdfd;}
#sales_result h3 > table tr .no_certify{ background: #dfffe2;}
#sales_result div table{width:100%; word-break:break-all; font-size: 13px;}
#sales_result div #fr_thead{width:1400px;}
#cms_title div input[type=button].excel_down {display: inline-block;font-size: 15px; font-family: Nanum Gothic,dotum; font-weight: bold; background: #5db785; padding: 5px 10px; color: #fff; border-radius: 50px; margin-left: 5px;}

#sales_result div .text_center{text-align: center;}
#sales_result div .text_right{text-align: right;}
#sales_result div .text_left{text-align: left;}

#sales_result div .image_small img{border-radius: 10px;}

#sales_result div .management button{display: inline-block;font-size: 13px; font-family: Nanum Gothic,dotum; font-weight: bold; background: #736868; padding: 3px 6px;  margin-left: 5px; color: #fff; border-radius: 50px;}
#sales_result div .management button.mod_btn{background: #6b83fb;}

#sales_result div table tr th{padding:5px 10px; border-bottom:2px solid #232323; box-sizing: border-box; vertical-align: top;}
#sales_result div table tr th.btm_w1{border-width:1px;}
#sales_result div table tr th a{color: blue;}
#sales_result div table tr th a:hover{color: red;}
#sales_result div table tr td{padding:5px 10px; border-bottom:1px solid #999; text-align:center; box-sizing: border-box;}
#sales_result div table tr td.btm_not{border-bottom:0px solid;}
#sales_result div table tr td a{color: blue;}
#sales_result div table tr td a:hover{color: red;}

#sales_result div table tr td.buy_info{font-size: 13px; font-family: Nanum Gothic,dotum; font-weight: bold; background: #f1c6c6;}

/* 주말 요일 */
#sales_result div table tr.sun{color:red;}
#sales_result div table tr.sat{color:blue;}
#sales_result div table tr.fri{color:#74409b;}

/* 일별결제 */
#sales_result div .sr_year_month{width:280px;}
#sales_result div .sr_week{width:280px;}
#sales_result div .sumpay{width:280px;}
#sales_result div .writer_percent{width:280px;}
#sales_result div .sumcnt{width:280px;}
#sales_result div .repay_cnt{width:280px;}


/* 일별결제 종류별 */
#sales_result div .dp_sr_year_month{width:160px;}
#sales_result div .dp_sr_week{width:120px;}

#sales_result div .dp_mobx{width:140px;}
#sales_result div .dp_card{width:140px;}
#sales_result div .dp_acnt{width:140px;}
#sales_result div .dp_scbl{width:140px;}
#sales_result div .dp_schm{width:140px;}
#sales_result div .dp_sccl{width:140px;}
#sales_result div .dp_toss{width:140px;}
#sales_result div .dp_payco{width:140px;}

#sales_result div .dp_mobx_color{background:#f1c6f1;}
#sales_result div .dp_card_color{background:#9caeef;}
#sales_result div .dp_acnt_color{background:#9cefbe;}
#sales_result div .dp_scbl_color{background:#fbb549;}
#sales_result div .dp_schm_color{background:#6bcad0;}
#sales_result div .dp_sccl_color{background:#f1ca8d;}
#sales_result div .dp_toss_color{background:#d2cffb;}
#sales_result div .dp_payco_color{background:#ff9191;}

#sales_result div .dp_sumpay{width:90px;}
#sales_result div .dp_sumcnt{width:70px;}
#sales_result div .dp_pct{width:120px;}

#sales_result div .dp_mobx_sum_cnt{width:140px;}
#sales_result div .dp_card_sum_cnt{width:140px;}
#sales_result div .dp_acnt_sum_cnt{width:140px;}
#sales_result div .dp_scbl_sum_cnt{width:140px;}
#sales_result div .dp_schm_sum_cnt{width:140px;}
#sales_result div .dp_sccl_sum_cnt{width:140px;}
#sales_result div .dp_toss_sum_cnt{width:140px;}
#sales_result div .dp_payco_sum_cnt{width:140px;}

/* 일별결제 종류별 (PAYCO)*/

#sales_result div .dpp_sr_year_month{width:160px;}
#sales_result div .dpp_sr_week{width:120px;}

#sales_result div .dpp_02{width:224px;}
#sales_result div .dpp_31{width:224px;}
#sales_result div .dpp_35{width:224px;}
#sales_result div .dpp_60{width:224px;}
#sales_result div .dpp_98{width:224px;}

#sales_result div .dpp_02_color{background:#f1c6f1;}
#sales_result div .dpp_31_color{background:#9cefbe;}
#sales_result div .dpp_35_color{background:#9caeef;}
#sales_result div .dpp_60_color{background:#9ce3ef;}
#sales_result div .dpp_98_color{background:#fbb549;}

#sales_result div .dpp_sumpay{width:85px;}
#sales_result div .dpp_sumcnt{width:75px;}
#sales_result div .dpp_pct{width:120px;}

/*
#sales_result div .dpp_02_sum_cnt{width:224px;}
#sales_result div .dpp_31_sum_cnt{width:224px;}
#sales_result div .dpp_35_sum_cnt{width:224px;}
#sales_result div .dpp_60_sum_cnt{width:224px;}
#sales_result div .dpp_98_sum_cnt{width:224px;}
*/


/* 일별 결제 상품별 */
.day_product_result div table{font-size:11px !important;}
.day_product_result div table tr th{box-sizing: border-box;}
.day_product_result div table tr td{padding:3px 0px !important;box-sizing: border-box;}

/* 일별 결제 상품별 - 이벤트 */
.day_product_result table .dpt_event_cnt{color:#e047f1;} /* #25802d; */


/* 일별 결제 상품별 */
#sales_result div .dpt_sumpay{width:80px;}
#sales_result div .dpt_sumcnt{width:70px;}
#sales_result div .dpt_pct{width:120px;}


/* 일별 결제 성별&연령별 */
.day_sex_age_result div table{font-size:11px !important;}
.day_sex_age_result div table tr td{padding:3px 0px !important;}

.day_sex_age_result h4.man{padding-top:10px;color:#0094ff;}
.day_sex_age_result h4.woman{padding-top:24px; border-top:1px solid #dddddd; color:#ff00f5;}
.day_sex_age_result h4.no_certify{padding-top:24px; border-top:1px solid #dddddd; color:#00960e;}

.day_sex_age_result table .dsa_all{background:#f5a3ad;}
.day_sex_age_result table .dsa_fl{background:#f5a3ad;}

.day_sex_age_result table .dsa_10{background:#fdba99;}
.day_sex_age_result table .dsa_fl10{background:#fdba99;}

.day_sex_age_result table .dsa_20{background:#f6fd99;}
.day_sex_age_result table .dsa_fl20{background:#f6fd99;}

.day_sex_age_result table .dsa_30{background:#bef5a3;}
.day_sex_age_result table .dsa_fl30{background:#bef5a3;}

.day_sex_age_result table .dsa_40{background:#a3cff5;}
.day_sex_age_result table .dsa_fl40{background:#a3cff5;}

.day_sex_age_result table .dsa_50{background:#b4a3f5;}
.day_sex_age_result table .dsa_fl50{background:#b4a3f5;}

.day_sex_age_result table .dsa_60{background:#c57cc3;}
.day_sex_age_result table .dsa_fl60{background:#c57cc3;}

.day_sex_age_result table .no_certify{background:#b2f9b9;}


/* 일별 결제 플랫폼별 */
#sales_result div .dpf_sr_year_month{width:180px;}
#sales_result div .dpf_sr_week{width:120px;}

#sales_result div .dpf_web{width:220px;}
#sales_result div .dpf_android{width:220px;}
#sales_result div .dpf_ios{width:220px;}
#sales_result div .dpf_appmarket{width:220px;}
#sales_result div .dpf_appsetapk{width:220px;}

#sales_result div .dpf_web_color{background:#f1c6f1;}
#sales_result div .dpf_mob_color{background:#9caeef;}

#sales_result div .dpf_sumpay{width:100px;}
#sales_result div .dpf_sumcnt{width:80px;}
#sales_result div .dpf_pct{width:120px;}

#sales_result div .dpf_web_sum{width:110px;}
#sales_result div .dpf_web_cnt{width:110px;}
#sales_result div .dpf_android_sum{width:110px;}
#sales_result div .dpf_android_cnt{width:110px;}
#sales_result div .dpf_ios_sum{width:110px;}
#sales_result div .dpf_ios_cnt{width:110px;}
#sales_result div .dpf_appmarket_sum{width:110px;}
#sales_result div .dpf_appmarket_cnt{width:110px;}
#sales_result div .dpf_appsetapk_sum{width:110px;}
#sales_result div .dpf_appsetapk_cnt{width:110px;}

/* TOP 100 결제 회원 리스트 */
#sales_result div .rank_mbr_lank{width:100px;}
#sales_result div .rank_mpi_member{width:150px;}
#sales_result div .rank_mb_name{width:150px;}
#sales_result div .rank_mb_email{width:300px;}
#sales_result div .rank_mb_post{width:120px;}
#sales_result div .rank_mb_adult{width:80px;}
#sales_result div .rank_mb_sex{width:60px;}
#sales_result div .rank_sumwon{width:240px;}
#sales_result div .rank_sumcnt{width:200px;}



/* 땅콩 매출 통계 */
/* 일별 매출 */
#sales_result div .sl_year_month{width:100px;}
#sales_result div .sl_week{width:90px;}
#sales_result div .sl_sum_won{width:160px;}
#sales_result div .sl_sum_cnt{width:130px;}

#sales_result div .sl_cash_point_sum{width:200px;}
#sales_result div .sl_cash_point_cnt{width:100px;}
#sales_result div .sl_cash_point_won_sum{width:160px;}

#sales_result div .sl_point_sum{width:200px;}
#sales_result div .sl_point_cnt{width:100px;}
#sales_result div .sl_point_won_sum{width:160px;}

#sales_result div .sl_cash_point_bgcolor{background:#f1c6f1;}
#sales_result div .sl_point_bgcolor{background:#9caeef;}
#sales_result div.partner .sl_cash_point_bgcolor{background:#fff;}
#sales_result div.partner .sl_point_bgcolor{background:#fff;}

/* 코믹스별 매출 */
#sales_result div .cm_sl_comics{width:100px;}
#sales_result div .cm_cm_series{width:340px;}
#sales_result div .cm_sl_cp_name{width:160px;}
#sales_result div .cm_sl_won_sum{width:140px;}
#sales_result div .cm_sl_sum_cnt{width:120px;}

#sales_result div .cm_sl_cash_point_sum{width:130px;}
#sales_result div .cm_sl_cash_point_won_sum{width:140px;}

#sales_result div .cm_sl_point_sum{width:130px;}
#sales_result div .cm_sl_point_won_sum{width:140px;}

#sales_result div .cm_sl_cash_point_bgcolor{background:#f1c6f1;}
#sales_result div .cm_sl_point_bgcolor{background:#9caeef;}

/* 코믹스별 성별&연령 매출건수 */
.csa_sex_age_result h4.man{padding-top:10px;color:#0094ff;}
.csa_sex_age_result h4.woman{padding-top:10px; color:#ff00f5;}
.csa_sex_age_result h4.no_certify{padding-top:10px; color:#00960e;}

.csa_sex_age_result table .csa_all{background:#f5a3ad;}
.csa_sex_age_result table .csa_fl{background:#f5a3ad;}

.csa_sex_age_result table .csa_10{background:#fdba99;}
.csa_sex_age_result table .csa_fl10{background:#fdba99;}

.csa_sex_age_result table .csa_20{background:#f6fd99;}
.csa_sex_age_result table .csa_fl20{background:#f6fd99;}

.csa_sex_age_result table .csa_30{background:#bef5a3;}
.csa_sex_age_result table .csa_fl30{background:#bef5a3;}

.csa_sex_age_result table .csa_40{background:#a3cff5;}
.csa_sex_age_result table .csa_fl40{background:#a3cff5;}

.csa_sex_age_result table .csa_50{background:#b4a3f5;}
.csa_sex_age_result table .csa_fl50{background:#b4a3f5;}

.csa_sex_age_result table .csa_60{background:#c57cc3;}
.csa_sex_age_result table .csa_fl60{background:#c57cc3;}

.csa_sex_age_result table .no_certify{background:#b2f9b9;}

#sales_result div .csa_sas_comics { width: 100px; }
#sales_result div .csa_cm_series { width: 300px; }
#sales_result div .csa_all { width: 125px; }
#sales_result div .csa_10 { width: 125px; }
#sales_result div .csa_20 { width: 125px; }
#sales_result div .csa_30 { width: 125px; }
#sales_result div .csa_40 { width: 125px; }
#sales_result div .csa_50 { width: 125px; }
#sales_result div .csa_60 { width: 125px; }
#sales_result div .csa_nocertify { width: 125px; }

#sales_result div .csa_fl { width: 125px; }
#sales_result div .csa_fl10 { width: 125px; }
#sales_result div .csa_fl20 { width: 125px; }
#sales_result div .csa_fl30 { width: 125px; }
#sales_result div .csa_fl40 { width: 125px; }
#sales_result div .csa_fl50 { width: 125px; }
#sales_result div .csa_fl60 { width: 125px; }


/* 일별 정산(미니땅콩 제외) */
#sales_result div .day_calc_sl_year_month{width:280px;}
#sales_result div .day_calc_sl_week{width:280px;}

#sales_result div .day_calc_sl_cash_point_sum{width:280px;}
#sales_result div .day_calc_sl_cash_point_cnt{width:280px;}
#sales_result div .day_calc_sl_cash_point_won_sum{width:280px;}

/* 코믹스별 정산(미니땅콩 제외) */
#sales_result div .cm_calc_sl_comics{width:100px;}
#sales_result div .cm_calc_cm_series{width:350px;}
#sales_result div .cm_calc_cm_btn{width:80px;}
#sales_result div .cm_calc_sl_cp_name{width:180px;}
#sales_result div .cm_calc_sl_prov_cp_name{width:110px;}
#sales_result div .cm_calc_sl_sum_cnt{width:100px;}
#sales_result div .cm_calc_cm_reg_date{width:200px;}
#sales_result div .cm_calc_sl_cash_point_sum{width:140px;}
#sales_result div .cm_calc_sl_cash_point_won_sum{width:140px;}
#sales_result div .cm_calc_cm_btn a{
	display: inline-block;
    font-size: 13px;
    font-family: Nanum Gothic,dotum;
    font-weight: bold;
    background: #58b7fb;
    padding: 3px 6px;
    margin-left: 5px;
    color: #fff;
    border-radius: 50px;
}
#sales_result div .cm_calc_cm_btn a:hover{color: #f6fe0e;}
#sales_result div .cm_calc_cm_btn a.episode{
	margin-top: 5px;
    background: #5db785;
}

/* 코믹스 별 상세 정산(에피소드/미니땅콩 제외) */
#sales_result div .cal_se_episode{width:139px;}
#sales_result div .cal_se_title{width:423px;}
#sales_result div .cal_se_cash_point_won{width:183px;}
#sales_result div .cal_se_cash_sum{width:141px;}
#sales_result div .cal_se_buy_sum{width:139px;}
#sales_result div .cal_se_open_sum{width:140px;}
#sales_result div .cal_se_date{width:235px;}

/* 코믹스 별 상세 매출 */
#sales_result div .coi_se_episode{width:107px;}
#sales_result div .coi_se_title{width:325px;}
#sales_result div .coi_se_cash_point_won{width:133px;}
#sales_result div .coi_se_cash_sum{width:108px;}
#sales_result div .coi_se_point_won{width:160px;}
#sales_result div .coi_se_point_sum{width:172px;}
#sales_result div .coi_se_buy_sum{width:107px;}
#sales_result div .coi_se_open_sum{width:107px;}
#sales_result div .coi_se_date{width:181px;}
#sales_result div .se_total{width:432px; height:50px;}
#sales_result div .se_total_tr{font-weight: bold;}
#sales_result div .se_month_total{width:432px; height:50px;}
#sales_result div .se_month_total_tr{font-weight: bold;}


/* 채널링(kcp) */
#sales_result div .kcp_member_id{width:137px;}
#sales_result div .kcp_payway{width:122px;}
#sales_result div .kcp_date{width:226px;}
#sales_result div .Column1{width:108px;}
#sales_result div .Column2{width:144px;}
#sales_result div .res_msg{width:220px;}
#sales_result div .note{width:443px;}

#sales_result div .blue{color:blue;}
#sales_result div .red{color:red;}

/* 채널링 (종합 결제 정보) */
#sales_result div .mc_member_id{width:151px;}
#sales_result div .mc_won{width:133px;}
#sales_result div .mc_pg{width:214px;}
#sales_result div .mc_date{width:264px;}
#sales_result div .mc_cash_point{width:147px;}
#sales_result div .mc_point{width:233px;}
#sales_result div .mc_order{width:258px;}

/* 채널링 (토스) */
#sales_result div .toss_member_id{width:139px;}
#sales_result div .toss_product{width:166px;}
#sales_result div .toss_order{width:337px;}
#sales_result div .toss_date{width:291px;}
#sales_result div .toss_cash_point{width:140px;}
#sales_result div .toss_point{width:186px;}
#sales_result div .toss_status{width:141px;}

/* 채널링 (PAYCO) */
#sales_result div .payco_member_id{width:130px;}
#sales_result div .payco_product{width:77px;}
#sales_result div .payco_date{width:156px;}
#sales_result div .payco_cash_point{width:102px;}
#sales_result div .payco_point{width:102px;}
#sales_result div .payco_payment_method_code{width:169px;}
#sales_result div .payco_status{width:323px;}
#sales_result div .payco_note{width:341px;}

/* 채널링 (가상계좌번호) */
#sales_result div .v_member_id{width:150px;}
#sales_result div .v_rProdNm{width:140px;}
#sales_result div .v_rAmt{width:115px;}
#sales_result div .v_rVirNo{width:207px;}
#sales_result div .v_date{width:240px;}
#sales_result div .v_rOrdNo{width:278px;}
#sales_result div .v_cash_point{width:115px;}
#sales_result div .v_point{width:155px;}

/* 채널링 (포인트파크) */
#sales_result div .pointpark_no{width:100px;}
#sales_result div .pointpark_member{width:100px;}
#sales_result div .pointpark_member_id{width:300px;}
#sales_result div .pointpark_order{width:150px;}
#sales_result div .pointpark_cash_point{width:100px;}
#sales_result div .totalpoint{width:100px;}
#sales_result div .code{width:50px;}
#sales_result div .tradeno{width:350px;}
#sales_result div .pointpark_date{width:150px;}
#sales_result div .success{color: blue;}
#sales_result div .error{color: red;}

/* 회원 결제 내역 */
#sales_result div .mpu_no{ width:80px; }
/* #sales_result div .mpu_member{ width: 120px; } 0726 주석처리 */
#sales_result div .mpu_member{ width: 180px; }
#sales_result div .mpu_date{ width: 160px; }
/* #sales_result div .mpu_from{ width: 400px; } 0726 주석처리 */
#sales_result div .mpu_from{ width: 460px; }
#sales_result div .class{ width: 120px; }

/* #sales_result div .mpu_cancle{ width: 120px; } 0726 주석처리 */

#sales_result div .cash_point_unit{ width: 100px; } 
#sales_result div .point_unit{ width: 100px; }

/* 매출 -일별결제(시간별결제) 180117 */
#sales_result .list {border-collapse: collapse; border-top: 1px solid #BFBFBF; width: 98%; margin: 0 auto;}
#sales_result .list th {vertical-align: middle; border-bottom: 1px solid #BFBFBF; background: #F2F2F2;}
#sales_result h1.day_view {font-size: 15px; margin: 5px; text-align: center; float:center}
#sales_result table td.btn {border-bottom: none;}
#sales_result table td input[type=reset] {text-align: center; background: #5d5a6f; color: #fff}
#sales_result div.write {float: right; padding: 0px; float: right}
#sales_result div input[type=button].excel_down {display: inline-block; font-size: 12px; font-family: Nanum Gothic,dotum; font-weight: bold; background: #5db785; padding: 5px 10px; color: #fff; border-radius: 50px; margin: 5px;}
#sales_result div table thead tr th.srp_year_month { width:25%; }
#sales_result div table thead tr th.srp_week { width:25%; }

/*
#sales_result div .mpu_cancle button {
    display: inline-block;
    font-size: 13px;
    font-family: Nanum Gothic,dotum;
    font-weight: bold;
    background: #5db785;
    padding: 3px 6px;
    color: #fff;
    border-radius: 50px;
} 0726 주석처리 
}
*/