/* ////////////////////////////////// 정산 금액 설정 /////////////////////////////////// */
#cup_write {position:relative; margin-top:10px;}
#cup_write table {border-top:2px solid #eee; border-bottom:3px solid #eee;}
#cup_write table th{width:130px; min-width:130px; padding:10px 20px; background: #293254; border-top:1px solid #eee; font-size:13px; color: #fff; border-radius: 3px;}
#cup_write table td{min-width:340px; padding:10px 20px; border-top:1px solid #eee; font-size:13px;}
#cup_write table td input[type=text] {width:97%;}

#cup_write table td.submit_btn{text-align:center;}
#cup_write table td.submit_btn input{padding: 4px 10px; font-family: Nanum Gothic,dotum; font-weight: bold; color:#fff;}
#cup_write table td.submit_btn input[type=submit]{background: #fb58b2;}
#cup_write table td.submit_btn input[type=reset]{background: #5d5a6f;}
#cup_write table td.submit_btn input:first-child{margin-right:10px;}
#cup_write table td input.readonly {
    width: 100px;
    text-align: center;
}
#cup_write table td .still { display: none; }

/* ////////////////////////////////////// 충전 금액 등록 /////////////////////////////////////////////// */
#config_recharge_price_write {position:relative; margin-top:10px;}
#config_recharge_price_write table {border-top:2px solid #eee; border-bottom:3px solid #eee;}
#config_recharge_price_write table th{width:130px; min-width:130px; padding:10px 20px; background: #293254; border-top:1px solid #eee; font-size:13px; color: #fff; border-radius: 3px;}
#config_recharge_price_write table td{min-width:640px; padding:10px 20px; border-top:1px solid #eee; font-size:13px;}
#config_recharge_price_write table td input[type=text]{width: 100%;}
#config_recharge_price_write table td .still{display:none;}
#config_recharge_price_write table td .calc_text{padding-top:10px;}
#config_recharge_price_write table td input.readonly { width: 100px; text-align: center; }
#config_recharge_price_write table td input.text_rt_130 { width: 130px; text-align: right}
#config_recharge_price_write table td input.partner{width:40%;}
#config_recharge_price_write table td select.partner{width:50%;}
#config_recharge_price_write table td div label{margin-right:10px;}
#config_recharge_price_write table td div.input_btn{display: inline-block;}
#config_recharge_price_write table td div.input_btn label{ display: inline-block; font-family: Nanum Gothic,dotum; font-weight: bold; background: #58b7fb; padding: 3px 6px; color: #fff; border-radius: 50px;}
#config_recharge_price_write table td div.input_btn label:hover{color: #f6fe0e}
#config_recharge_price_write table td div.input_btn label.still{display:none;}
#config_recharge_price_write table td div.margin_top10{margin-top:10px;}
#config_recharge_price_write table td div.er_holiday_view{display:none;}
#config_recharge_price_write table td div.er_holiweek_view{display:none;}
#config_recharge_price_write table td div label.giho{margin-left:15px;}
#config_recharge_price_write table td .data_readonly{background-color: #f3f3ee; }
#config_recharge_price_write table td div.payway_limit label{margin-top:5px;}
#config_recharge_price_write table td div.payway_limit input[type=checkbox]{margin-top:5px;}

#config_recharge_price_write table td ul.event_list{position:relative; border-top:1px solid #eee;}
#config_recharge_price_write table td ul.event_list li{border:1px solid #eee; border-top:0px solid;}
#config_recharge_price_write table td ul.event_list li.hide{display:none;}
#config_recharge_price_write table td ul.event_list li.show{display:block;}
#config_recharge_price_write table td ul.event_list li.on{background: #cc95f5; color:#fff;}
#config_recharge_price_write table td ul.event_list li:hover{background: #95cdf5;}

#config_recharge_price_write table td div.depths{position:relative; zoom:1px;}
#config_recharge_price_write table td div.depths:after {display:block;visibility:hidden;clear:both;content:""}
#config_recharge_price_write table td div.depths > div{float:left;}
#config_recharge_price_write table td div.depths label{ display: inline-block; font-family: Nanum Gothic,dotum; font-weight: bold; background: #58b7fb; padding: 3px 6px; color: #fff; border-radius: 50px; word-break: break-all;}
#config_recharge_price_write table td div.depths label:hover{color: #f6fe0e}

#config_recharge_price_write table td div.depths > .depths1_head{width:120px; padding-bottom:5px;  text-align:center; font-size: 16px;}
#config_recharge_price_write table td div.depths > .depths2_head{width:530px; padding-bottom:5px; font-size: 16px; padding-left:10px;}
#config_recharge_price_write table td div.depths > .depth1{width:120px; padding: 10px 0; border:1px solid #fff; border-top-color:#eee;}
#config_recharge_price_write table td div.depths > .depth1 > label{width:80px; text-align:center;}
#config_recharge_price_write table td div.depths > .depth2{width:530px; padding: 10px 0; border:1px solid #fff; border-top-color:#eee;}
#config_recharge_price_write table td div.depths > .depth2 label.depth2_null{visibility: hidden;}
#config_recharge_price_write table td div.depths > .depth2 div{display: inline-block;}
#config_recharge_price_write table td div.depths > .depth2 .depth3_list{width:550px; margin-bottom:5px;}
#config_recharge_price_write table td div.depths > .depth2 .depth3_head{width:60px; padding:6px 0;}
#config_recharge_price_write table td div.depths > .depth2 .depth3{width:450px; padding:6px 0;}

#config_recharge_price_write table td.submit_btn{text-align:center;}
#config_recharge_price_write table td.submit_btn input{padding: 4px 10px; font-family: Nanum Gothic,dotum; font-weight: bold; color:#fff;}
#config_recharge_price_write table td.submit_btn input[type=submit]{background: #fb58b2;}
#config_recharge_price_write table td.submit_btn input[type=reset]{background: #5d5a6f;}
#config_recharge_price_write table td.submit_btn input:first-child{margin-right:10px;}



/* ////////////////////////////////////// 전체구매시 추가지급 /////////////////////////////////////////////// */
#config_sin_allpay_write {position:relative; margin-top:10px;}
#config_sin_allpay_write table {border-top:2px solid #eee; border-bottom:3px solid #eee;}
#config_sin_allpay_write table th{width:130px; min-width:130px; padding:10px 20px; background: #293254; border-top:1px solid #eee; font-size:13px; color: #fff; border-radius: 3px;}
#config_sin_allpay_write table td{min-width:640px; padding:10px 20px; border-top:1px solid #eee; font-size:13px;}
#config_sin_allpay_write table td input[type=text]{width: 100%;}
#config_sin_allpay_write table td .still{display:none;}
#config_sin_allpay_write table td .calc_text{padding-top:10px;}
#config_sin_allpay_write table td input.readonly { width: 100px; text-align: center; }
#config_sin_allpay_write table td input.text_rt_130 { width: 130px; text-align: right}
#config_sin_allpay_write table td input.partner{width:40%;}
#config_sin_allpay_write table td select.partner{width:50%;}
#config_sin_allpay_write table td div label{margin-right:10px;}
#config_sin_allpay_write table td div.input_btn{display: inline-block;}
#config_sin_allpay_write table td div.input_btn label{ display: inline-block; font-family: Nanum Gothic,dotum; font-weight: bold; background: #58b7fb; padding: 3px 6px; color: #fff; border-radius: 50px;}
#config_sin_allpay_write table td div.input_btn label:hover{color: #f6fe0e}
#config_sin_allpay_write table td div.input_btn label.still{display:none;}
#config_sin_allpay_write table td div.margin_top10{margin-top:10px;}
#config_sin_allpay_write table td div.er_holiday_view{display:none;}
#config_sin_allpay_write table td div.er_holiweek_view{display:none;}
#config_sin_allpay_write table td div label.giho{margin-left:15px;}
#config_sin_allpay_write table td .data_readonly{background-color: #f3f3ee; }

#config_sin_allpay_write table td ul.event_list{position:relative; border-top:1px solid #eee;}
#config_sin_allpay_write table td ul.event_list li{border:1px solid #eee; border-top:0px solid;}
#config_sin_allpay_write table td ul.event_list li.hide{display:none;}
#config_sin_allpay_write table td ul.event_list li.show{display:block;}
#config_sin_allpay_write table td ul.event_list li.on{background: #cc95f5; color:#fff;}
#config_sin_allpay_write table td ul.event_list li:hover{background: #95cdf5;}

#config_sin_allpay_write table td div.depths{position:relative; zoom:1px;}
#config_sin_allpay_write table td div.depths:after {display:block;visibility:hidden;clear:both;content:""}
#config_sin_allpay_write table td div.depths > div{float:left;}
#config_sin_allpay_write table td div.depths label{ display: inline-block; font-family: Nanum Gothic,dotum; font-weight: bold; background: #58b7fb; padding: 3px 6px; color: #fff; border-radius: 50px; word-break: break-all;}
#config_sin_allpay_write table td div.depths label:hover{color: #f6fe0e}

#config_sin_allpay_write table td div.depths > .depths1_head{width:120px; padding-bottom:5px;  text-align:center; font-size: 16px;}
#config_sin_allpay_write table td div.depths > .depths2_head{width:530px; padding-bottom:5px; font-size: 16px; padding-left:10px;}
#config_sin_allpay_write table td div.depths > .depth1{width:120px; padding: 10px 0; border:1px solid #fff; border-top-color:#eee;}
#config_sin_allpay_write table td div.depths > .depth1 > label{width:80px; text-align:center;}
#config_sin_allpay_write table td div.depths > .depth2{width:530px; padding: 10px 0; border:1px solid #fff; border-top-color:#eee;}
#config_sin_allpay_write table td div.depths > .depth2 label.depth2_null{visibility: hidden;}
#config_sin_allpay_write table td div.depths > .depth2 div{display: inline-block;}
#config_sin_allpay_write table td div.depths > .depth2 .depth3_list{width:550px; margin-bottom:5px;}
#config_sin_allpay_write table td div.depths > .depth2 .depth3_head{width:60px; padding:6px 0;}
#config_sin_allpay_write table td div.depths > .depth2 .depth3{width:450px; padding:6px 0;}

#config_sin_allpay_write table td.submit_btn{text-align:center;}
#config_sin_allpay_write table td.submit_btn input{padding: 4px 10px; font-family: Nanum Gothic,dotum; font-weight: bold; color:#fff;}
#config_sin_allpay_write table td.submit_btn input[type=submit]{background: #fb58b2;}
#config_sin_allpay_write table td.submit_btn input[type=reset]{background: #5d5a6f;}
#config_sin_allpay_write table td.submit_btn input:first-child{margin-right:10px;}

/* ////////////////////////////////// 티켓 소켓 /////////////////////////////////// */
#tksk_result {position:relative; margin-top:10px;}
#tksk_result table {border-top:2px solid #eee; border-bottom:3px solid #eee;}
#tksk_result table th{width:130px; min-width:130px; padding:10px 20px; background: #293254; border-top:1px solid #eee; font-size:13px; color: #fff; border-radius: 3px;}
#tksk_result table td{min-width:340px; padding:10px 20px; border-top:1px solid #eee; font-size:13px;}
#tksk_result table td input[type=text] {width:97%;}

#tksk_result table td.submit_btn{text-align:center;}
#tksk_result table td.submit_btn input{padding: 4px 10px; font-family: Nanum Gothic,dotum; font-weight: bold; color:#fff;}
#tksk_result table td.submit_btn input[type=submit]{background: #fb58b2;}
#tksk_result table td.submit_btn input[type=reset]{background: #5d5a6f;}
#tksk_result table td.submit_btn input:first-child{margin-right:10px;}
#tksk_result table td input.readonly {
    width: 100px;
    text-align: center;
}
#tksk_result table td .still { display: none; }

/* ////////////////////////////////// 풀 페이지 프로모션 /////////////////////////////////// */
#emf_write {position:relative; margin-top:10px;}
#emf_write table {border-top:2px solid #eee; border-bottom:3px solid #eee; width: 100%;}
#emf_write table th{width:130px; min-width:130px; padding:10px 20px; background: #293254; border-top:1px solid #eee; font-size:13px; color: #fff; border-radius: 3px;}
#emf_write table td{min-width:340px; padding:10px 20px; border-top:1px solid #eee; font-size:13px;}
#emf_write table td input[type=text] {width:97%;}

#emf_write table td.submit_btn{text-align:center;}
#emf_write table td.submit_btn input{padding: 4px 10px; font-family: Nanum Gothic,dotum; font-weight: bold; color:#fff;}
#emf_write table td.submit_btn input[type=submit]{background: #fb58b2;}
#emf_write table td.submit_btn input[type=reset]{background: #5d5a6f;}
#emf_write table td.submit_btn input:first-child{margin-right:10px;}
#emf_write table td input.readonly {
    width: 100px;
    text-align: center;
}
#emf_write table td div.emf_date_type_view { margin-top: 5px; }