/* ////////////////////////////////////// 보기 공통 ////////////////////////////////////// */
#board_view {position:relative; margin-top:10px;}
#board_view table {border-top:2px solid #eee; border-bottom:3px solid #eee;}
#board_view table th{width:130px; min-width:130px; padding:10px 20px; background: #293254; border-top:1px solid #eee; font-size:13px; color: #fff; border-radius: 3px;}
#board_view table td{min-width:640px; padding:10px 20px; border-top:1px solid #eee; font-size:13px;}
#board_view table td input[type=text] {width:97%;}
#board_view table td textarea {width:97%; height:600px;}

#board_view table td.submit_btn{text-align:center;}
#board_view table td.submit_btn input{padding: 4px 10px; font-family: Nanum Gothic,dotum; font-weight: bold; color:#fff;}
#board_view table td.submit_btn input[type=submit]{background: #fb58b2;}
#board_view table td.submit_btn input[type=reset]{background: #5d5a6f;}
#board_view table td.submit_btn input:first-child{margin-right:10px;}

#board_view table td p.explan{margin-top:10px;}

/* ////////////////////////////////////// 등록 공통 ////////////////////////////////////// */
#board_write {position:relative; margin-top:10px;}
#board_write table {border-top:2px solid #eee; border-bottom:3px solid #eee;}
#board_write table th{width:130px; min-width:130px; padding:10px 20px; background: #293254; border-top:1px solid #eee; font-size:13px; color: #fff; border-radius: 3px;}
#board_write table td{min-width:640px; padding:10px 20px; border-top:1px solid #eee; font-size:13px;}
#board_write table td input[type=text] {width:97%;}
#board_write table td textarea {width:97%; height:600px;}
#board_write table td textarea.normale {width:97%; height:250px;}

#board_write table td.submit_btn{text-align:center;}
#board_write table td.submit_btn input{padding: 4px 10px; font-family: Nanum Gothic,dotum; font-weight: bold; color:#fff;}
#board_write table td.submit_btn input[type=submit]{background: #fb58b2;}
#board_write table td.submit_btn input[type=reset]{background: #5d5a6f;}
#board_write table td.submit_btn input:first-child{margin-right:10px;}

#board_write table td p.explan{margin-top:10px;}

/* ////////////////////////////////////// 문의/제안 보기 ////////////////////////////////////// */
#board_view table td #ba_request {width:97%; height:300px;}
#board_view table td #ba_admin_answer {width:97%; height:300px;}

/* ////////////////////////////////////// 문의/제안 - 답변/수정/삭제 ////////////////////////////////////// */
#board_write table td #ba_request {width:97%; height:300px;}
#board_write table td #ba_admin_answer {width:97%; height:300px;}
#board_write table td.submit_btn #ans {background: #f36d6d;}
#board_write table th.not {visibility: hidden;}