/* ////////////////////////////////////// 보기 공통 ////////////////////////////////////// */
#sales_view {position:relative; margin-top:10px;}
#sales_view table {border-top:2px solid #eee; border-bottom:3px solid #eee;}
#sales_view table th{width:130px; min-width:130px; padding:10px 20px; background: #293254; border-top:1px solid #eee; font-size:13px; color: #fff; border-radius: 3px;}
#sales_view table td{min-width:640px; padding:10px 20px; border-top:1px solid #eee; font-size:13px;}
#sales_view table td input[type=text] {width:97%;}
#sales_view table td textarea {width:97%; height:600px;}

#sales_view table td.submit_btn{text-align:center;}
#sales_view table td.submit_btn input{padding: 4px 10px; font-family: Nanum Gothic,dotum; font-weight: bold; color:#fff;}
#sales_view table td.submit_btn input[type=submit]{background: #fb58b2;}
#sales_view table td.submit_btn input[type=reset]{background: #5d5a6f;}
#sales_view table td.submit_btn input:first-child{margin-right:10px;}

#sales_view table td p.explan{margin-top:10px;}

/* ////////////////////////////////////// 등록 공통 ////////////////////////////////////// */
#sales_write {position:relative; margin-top:10px;}
#sales_write table {border-top:2px solid #eee; border-bottom:3px solid #eee;}
#sales_write table th{width:130px; min-width:130px; padding:10px 20px; background: #293254; border-top:1px solid #eee; font-size:13px; color: #fff; border-radius: 3px;}
#sales_write table td{min-width:640px; padding:10px 20px; border-top:1px solid #eee; font-size:13px;}
#sales_write table td input[type=text] {width:97%;}
#sales_write table td textarea {width:97%; height:600px;}
#sales_write table td textarea.normale {width:97%; height:250px;}

#sales_write table td.submit_btn{text-align:center;}
#sales_write table td.submit_btn input{padding: 4px 10px; font-family: Nanum Gothic,dotum; font-weight: bold; color:#fff;}
#sales_write table td.submit_btn input[type=submit]{background: #fb58b2;}
#sales_write table td.submit_btn input[type=reset]{background: #5d5a6f;}
#sales_write table td.submit_btn input:first-child{margin-right:10px;}

#sales_write table td p.explan{margin-top:10px;}

#sales_write .red{ color:red; }
#sales_write .blue{ color:blue; }

#sales_write .mpee_episode_list ul li{display: inline-block; margin:4px 8px;}

/* ////////////////////////////////////// RS ////////////////////////////////////// */

#sales_write #ccp_class_per { width:300px; }
#sales_write #ccp_class_sub_per { width:300px; }

/* 무료&코인할인 등록 */
#sales_write #comics_search { width:300px; }
#sales_write .comics_search_btn { padding: 4px 10px; background: #7765d2; font-family: Nanum Gothic,dotum; font-weight: bold; color: #fff; border: 1px solid #e9e9e9; border-radius: 5px; }

/* 컨텐츠 검색 */
#comics_search_result{margin-top:5px;}
#comics_search_result ul li{padding-top:5px;}
#comics_search_result ul li a{display: inline-block; padding: 3px 6px; background: #58b7fb;  color: #fff; border-radius: 50px;}
#comics_search_result ul li a:hover{color: #f6fe0e}

/* 이벤트 컨텐츠 리스트 */
#sales_write table td#comics_list ul li{padding:5px 0px; border-bottom:1px solid #e9e9e9;cursor: pointer;}
#sales_write table td#comics_list ul li p{padding-bottom:2px;}
#sales_write table td#comics_list ul li p a img{vertical-align: top; padding-top: 1px;}
#sales_write table td#comics_list input[type=text].comics_list_add_input{width:50px;text-align:right; border:1px solid #58b7fb;}
#sales_write table td input[type=radio] {margin-left: 10px;}
