/* ////////////////////////////////////// 보기 공통 ////////////////////////////////////// */
#marketer_write {position:relative; margin-top:10px;}
#marketer_write table {border-top:2px solid #eee; border-bottom:3px solid #eee;}
#marketer_write table th{width:130px; min-width:130px; padding:10px 20px; background: #293254; border-top:1px solid #eee; font-size:13px; color: #fff; border-radius: 3px;}
#marketer_write table td{min-width:640px; padding:10px 20px; border-top:1px solid #eee; font-size:13px;}
#marketer_write table td input[type=text] {width:97%;}
#marketer_write table td textarea {width:97%; height:600px;}

#marketer_write table td.submit_btn{text-align:center;}
#marketer_write table td.submit_btn input{padding: 4px 10px; font-family: Nanum Gothic,dotum; font-weight: bold; color:#fff;}
#marketer_write table td.submit_btn input[type=submit]{background: #fb58b2;}
#marketer_write table td.submit_btn input[type=reset]{background: #5d5a6f;}
#marketer_write table td.submit_btn input:first-child{margin-right:10px;}

#marketer_write table td p.explan{margin-top:10px;}

/* ////////////////////////////////////// 등록 공통 ////////////////////////////////////// */
#marketerlink_write {position:relative; margin-top:10px;}
#marketerlink_write table {border-top:2px solid #eee; border-bottom:3px solid #eee;}
#marketerlink_write table th{width:130px; min-width:130px; padding:10px 20px; background: #293254; border-top:1px solid #eee; font-size:13px; color: #fff; border-radius: 3px;}
#marketerlink_write table td{min-width:640px; padding:10px 20px; border-top:1px solid #eee; font-size:13px;}
#marketerlink_write table td input[type=text] {width:97%;}
#marketerlink_write table td textarea {width:97%; height:600px;}
#marketerlink_write table td textarea.normale {width:97%; height:250px;}

#marketerlink_write table td.submit_btn{text-align:center;}
#marketerlink_write table td.submit_btn input{padding: 4px 10px; font-family: Nanum Gothic,dotum; font-weight: bold; color:#fff;}
#marketerlink_write table td.submit_btn input[type=submit]{background: #fb58b2;}
#marketerlink_write table td.submit_btn input[type=reset]{background: #5d5a6f;}
#marketerlink_write table td.submit_btn input:first-child{margin-right:10px;}

#marketerlink_write table td p.explan{margin-top:10px;}