@charset "UTF-8";

/* 초기화 */
* {padding:0;margin:0;border:0;list-style:none;}
html {}
body {margin:0;padding:0;font-size:12px;font-family:Nanum Gothic,dotum; -webkit-text-size-adjust: none; -webkit-user-select: none;}
html, h1, h2, h3, h4, h5, h6, form, fieldset, img {margin:0;padding:0;border:0}
h1, h2, h3, h4, h5, h6, strong, th {font-family:Nanum Gothic,dotum;}
ul, ol, dl, li { list-style:none; }
ul{
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block;}
img, input{border: 0}
legend {position:absolute;margin:0;padding:0;font-size:0;line-height:0;text-indent:-9999em;overflow:hidden;}
label, input, button, select, img {vertical-align:middle;}
input, button {margin:0;padding:0;font-family:Nanum Gothic,dotum;}
button {cursor:pointer;}
textarea, select {font-family:Nanum Gothic,dotum;}
select {margin:0}
p {margin:0;padding:0;}
hr {display:none}
pre {overflow-x:scroll;}
a, a:link, a:visited, a:hover, a:focus, a:active {text-decoration:none;}

table{
	white-space: normal;
    line-height: normal;
    font-weight: normal;
    font-size: medium;
    font-variant: normal;
    font-style: normal;
    text-align: start;
    border-spacing: 0;
    border-collapse: separate;
	/* border-collapse: collapse; */
}
/* 공통 */
.hidden {z-index:100000;position:absolute;top:0;left:0;width:1px;height:1px;font-size:0;line-height:0;overflow:hidden;}
.display_none {display:none;}
.bold {font-family:Nanum Gothic,dotum; font-weight:bold;}
.bold a{font-family:Nanum Gothic,dotum; font-weight:bold;}
.clear{clear:both;}
.clear:after {display:block;visibility:hidden;clear:both;content:""}

.msg_sound_only, .sound_only {display:inline-block !important;position:absolute;top:0;left:0;margin:0 !important;padding:0 !important;font-size:0;line-height:0;border:0 !important;overflow:hidden !important}
/* wrapper */
#wrapper {}

/* header */
#header {
	position: relative;
	width:100%;
	*zoom:1;
}
#header:after {
	display:block; visibility:hidden; clear:both; content:"";
}
/* #container */
#container {
	position: relative;
	width:100%;
	*zoom:1;
}
#container:after {
	display:block; visibility:hidden; clear:both; content:"";
}

/* #footer */
#footer {
	position: relative;
	width:100%;
	*zoom:1;
}
#footer:after {
	display:block; visibility:hidden; clear:both; content:"";
}