/* css */
@charset "UTF-8";

@import url(https://fonts.googleapis.com/earlyaccess/nanumgothic.css);
/*
// 나눔고딕-폰트로드
@font-face{font-family:Nanum Gothic; font-style: normal; font-weight: 400;
src:url(./font/NanumGothic-Regular.eot);src:local(※),url(./font/NanumGothic-Regular.woff) format('woff')
}
@font-face{font-family:Nanum Gothic; font-style: normal; font-weight: 700;
src:url(./font/NanumGothic-Bold.eot);src:local(※),url(./font/NanumGothic-Bold.woff) format('woff')
}
@font-face{font-family:Nanum Gothic; font-style: normal; font-weight: 800;
src:url(./font/NanumGothic-ExtraBold.eot);src:local(※),url(./font/NanumGothic-ExtraBold.woff) format('woff')
}

// 나눔명조-폰트로드
@font-face{font-family:Nanum Myeongjo; font-style: normal; font-weight: 400;
src:url(./font/NanumMyeongjo-Regular.eot);src:local(※),url(./font/NanumMyeongjo-Regular.woff) format('woff')
}
@font-face{font-family:Nanum Myeongjo; font-style: normal; font-weight: 700;
src:url(./font/NanumMyeongjo-Bold.eot);src:local(※),url(./font/NanumMyeongjo-Bold.woff) format('woff')
}
@font-face{font-family:Nanum Myeongjo; font-style: normal; font-weight: 800;
src:url(./font/NanumMyeongjo-ExtraBold.eot);src:local(※),url(./font/NanumMyeongjo-ExtraBold.woff) format('woff')
}
*/