body{background-color: #fff;}
#wrapper{min-width: 320px;}
.receipt { width: 90%; position: relative; margin: 0 auto; padding: 30px 0; }
h2 { font-size: 18px; font-weight: bold; color: #00BCD4; text-align:center; background-color: #E0F7FA; padding: 20px; border-radius: 3px; }
h3 { margin-top: 20px; text-align: center; font-size: 16px; }

.receipt table { width: 100%; border:1px solid #80DEEA; border-bottom: none; margin-top: 10px; border-radius: 3px; box-shadow: 1px 1px 1px 1px #eee; }
.receipt table th { border-bottom: 1px solid #80DEEA; border-right: 1px solid #80DEEA; background-color: #B2EBF2; font-size: 13px; padding: 10px; }
.receipt table td { border-bottom: 1px solid #80DEEA; font-size: 13px; padding: 10px; }

.receipt ul { margin-top: 10px; width: 100%; font-size: 0; border-top: 2px solid #00BCD4; border-bottom: 2px solid #00BCD4; background-color: #f5f5f5; }
.receipt ul li { width: 50%; display: inline-block; border-right: 1px solid #e0e0e0; padding: 20px 10px; }
.receipt ul li:last-child { border:none; }
.receipt ul li dl {}
.receipt ul li dl dt { font-size: 16px; text-align: center; font-weight: bold; }
.receipt ul li dl dd { font-size: 30px; color: #00BCD4; font-weight: bold; letter-spacing: -2px; width: 100%; text-align: center; margin-top: 10px; }
.receipt ul li dl dd img { width: 20px; }

.receipt button { width: 100%; border:none; background-color: #00BCD4; color: #fff; font-size: 15px; font-weight: bold; padding: 10px; border-radius: 3px; margin-top: 10px; }

.receipt_footer { width: 90%; position: relative; margin: 0 auto; font-size: 12px; text-align: center; }
.receipt_footer a { font-weight: bold; color: #00BCD4; text-decoration: underline; }

.receipt .receipt_tksk { position: relative; width: 100%; margin-top: 10px; }
.receipt .receipt_tksk img { width: 100%; }
.receipt .receipt_tksk .tksk_valign { display: block; display: table; border-collapse: separate; }
.receipt .receipt_tksk .tksk_valign>input[type="text"] { display: table-cell; position: relative; height: 41px; padding: 10px 16px; font-size: 15px; line-height: 1.33; z-index: 2; float: left; width: 100%; margin-bottom: 0; border:1px solid #00bcd4; }
.receipt .receipt_tksk .group_btn { position: relative; font-size: 0; white-space: nowrap; width: 1%; vertical-align: middle; display: table-cell }
.receipt .receipt_tksk .tksk_valign .group_btn>button { color:#fff; background-color: #00bcd4; border-color: #00bcd4; line-height: 1.44; z-index: 2; margin-left: -1px; padding: 10px 16px; font-size: 15px; border-radius: 0; height: 41px; margin-top:0; }
