﻿@charset "utf-8";
/* @import url(//fonts.googleapis.com/earlyaccess/notosanskr.css); */
@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);

/* ------------------------------------------------------------ */
/* reset styles */
/* ------------------------------------------------------------ */

html,body,h1,h2,h3,h4,h5,h6,p,ul,ol,li,dl,dt,dd,img,object,table,caption,tbody,tfoot,thead,tr,th,td,address,iframe,code,pre,strong,em,small,fieldset,form,legend,label,article,aside,audio,canvas,details,div,figcaption,figure,footer,header,hgroup,mark,menu,meter,nav,output,progress,section,summary,time,video{margin:0;padding:0;border:0;background:none;outline:0;font-size:100%;font-weight:normal;font-style:normal;-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
article,aside,figcaption,figure,footer,header,hgroup,nav,section{display:block;}
body{line-height:1;}
ul,ol{list-style:none;}
img{vertical-align:bottom;}
a,object{outline:0;}
table{border-collapse:collapse;border-spacing:0;}
input,select,button{vertical-align:middle;}
input,select,optgroup,option,textarea,button{margin:0;padding:0;background:none;border:none;outline:none;}
textarea{resize:vertical;}
th,td{text-align:left;}

/* ------------------------------------------------------------ */
/* sub reset styles */
/* ------------------------------------------------------------ */

html{overflow-y:scroll; overflow-x:hidden; -webkit-text-size-adjust:100%;}
body,th,td,input,textarea,select,option,button{color:#222222;font-family: 'Noto Sans KR', "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;}
a{transition:color 0.2s linear,box-shadow 0.2s linear;-webkit-tap-highlight-color:transparent;text-decoration: none;}
a:hover{color:#0099ff;}
li,dt,dd,h1,h2,h3,h4,h5,h6,p{line-break:strict;}
header,footer,aside,section,article,nav,div,dl,ul,ol,form{position:relative;zoom:1;}
header:after,footer:after,aside:after,section:after,article:after,nav:after,div:after,dl:after,ul:after,ol:after,form:after{height:0;display:block;clear:both;content:"";}
::-moz-selection{background:rgba(255,255,255,0.1);}
::selection{background:rgba(255,255,255,0.1);}
*{-webkit-appearance:none;}

/* ------------------------------------------------------------ */
/* layout styles - ver.peanutoon mobile */
/* ------------------------------------------------------------ */

body{
	font-size: 16px;
	margin: 0 auto;
	letter-spacing: -1px;
}
header {
	position: relative;
	width: 100%;
}
header ul {
	font-size: 0;
}
header ul li {
	display: inline-block;
	vertical-align: middle;
	width: 50%;
	padding-right: 0.875rem;
}
header ul li h1 {
	width: 10%;
	height: 10%;
	min-width: 40px;
	margin: 0.5rem 0.875rem;
}
header ul li h1 img {
	width: 100%;
	height: auto;
}
header ul li h2, section[class^="area-"] h2 {
	position: relative;
	display: block;
	text-align: right;
}
header ul li h2 span, section[class^="area-"] h2 span {
	position: relative;
	font-weight: 500;
	color: #fa4b4c;
	font-size: 1.5rem;
}
header ul li h2 span:before, section[class^="area-"] h2 span:before {
	content: '';
	display: block;
	position: absolute;
	width: 1px;
	top:7px;
	left: -20px;
	bottom: 7px;
	background-color: #fa4b4c;
}
header h3 {
	display: block;
	width: 100%;
}
header h3 img {
	width: 100%;
	height: auto;
}
section {
	position: relative;
	width: 100%;
	border-bottom: 1rem solid #fa4b4c;
}
section[class^="area-"] h2 {
	margin: 0.875rem 0.875rem 0 0.875rem;
}
section[class^="area-"] h3 {
	font-size: 1.3rem;
	padding: 0 0.875rem;
	margin-bottom: 0.5rem;
}
.comicsimg {
	margin: 0.875rem;
}
.comicsimg img {
	width:100%;
	height: auto;
}
.genretag {
	display: block;
	margin: 0 0.875rem;
	padding-bottom: 1rem;
}
.comicsexp {
	margin: 0 0.875rem;
	padding: 1.125rem;
	background-color: #fee4e4;
	border: 1px solid #fa4b4c;
	line-height: 1.5;
	letter-spacing: 0;
}
ul.btnset {
	margin: 1rem;
	font-size: 0;
}
ul.btnset li {
	display: inline-block;
	width: 100%;
	text-align: center;
}
ul.btnset li a {
	display: block;
}
ul.btnset li img {
	width: 100%;
	height: auto;
}
ul.btnset li:last-child a {
	margin-right: 0;
}
.area-list ul li, .area-list ul li a {
	display: block;
}
.area-list ul li a { padding: 1rem 0; }
.area-list ul li:nth-child(even)>a{ background-color: #fee4e4; }
.area-list ul li figure {
	display: inline-block;
	width: 40%;
	padding: 0 0.875rem;
}
.area-list ul li figure img {
	width: 100%;
	height: auto;
}
.area-list dl {
	display: inline-block;
	width: calc(60% - 5px);
	vertical-align: top;
}
.area-list dl dt {
	font-size: 1.2rem;
	color: #000;
	font-weight: 500;
	padding-right:0.875rem;
}
.area-list dl dd {
	display: -webkit-box;
	margin-top: 0.5rem;
	padding-right:0.875rem;
	color: rgba(0,0,0,.6);
	line-height:1.5;
	font-size: 0.9rem;
	text-overflow:ellipsis;
	overflow: hidden;
	-webkit-line-clamp: 3;
  	-webkit-box-orient: vertical;
}
.area-genre ul {
	font-size: 0;
	margin: 0.5rem 0.875rem;
}
.area-genre ul li {
	display: inline-block;
	width: 50%;
	padding: 8px 8px 8px 0;
}
.area-genre ul li:nth-of-type(even) {
	padding-right: 0;
	padding-left: 8px;
}
.area-genre ul li img {
	width:100%;
	height: auto;
}
span.genre {
	font-size: 0.8rem;
	padding: 0 0.3rem;
}
.romance {
	background-color: #ff8b8b;
	color: #fff;
}
.adult {
	background-color: #ef5350;
	color: #fff;
}

footer {
	position: relative;
	width: 100%;
	background-color: #fa4b4c;
	color: rgba(255,255,255,.6);
	font-size: 0.8rem;
	text-align: center;
	padding: 1rem 0 2rem 0;
}