/* 하단 요일리스트 */



#cmweek_new {width:100%; overflow:hidden; position: relative; display: block;}
#cmweek_new:after { content:""; clear: both; display: block; }

#cmweek_new .cmweek_new_head_bg{    
	width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #ebebeb;
}
#cmweek_new .cmweek_new_head_bg h2{margin: 0 auto; width: 1200px; padding: 12px 0; }

/* list */
#cmweek_new .sub_list_bg{position: relative; width:100%; padding:0px; overflow:hidden; background-color: #fafafa; border-top: 1px solid #ebebeb; }
#cmweek_new .sub_list {position: relative; width: 1200px; padding: 30px 0; display: block; margin: 0 auto; font-size: 0;}
#cmweek_new .sub_list:after { content:""; clear: both; display: block; }

#cmweek_new .sub_list > a { display: inline-block; margin: 15px 0 0 16px; position: relative; }
#cmweek_new .sub_list > a:nth-child(1) { margin-left: 0; }
#cmweek_new .sub_list > a:nth-child(-n+8) { margin-top: 0; }
#cmweek_new .sub_list > a:nth-child(9n) { margin-left: 0; }

/* list-small */
#cmweek_new .sub_list .sub_list_thumb_small { position: relative; width: 136px; display: block; padding-bottom: 10px; }
#cmweek_new .sub_list .sub_list_thumb_small dl { position: relative; }
#cmweek_new .sub_list .sub_list_thumb_small dl dt { width: 100%; font-size:16px; color: #444; font-weight: bold; text-overflow: ellipsis; white-space: nowrap; overflow:hidden; }
#cmweek_new .sub_list .sub_list_thumb_small dl dt img { width: 100%; border-radius: 3px; border:1px solid #dfdfdf; transition: border .3s; }
#cmweek_new .sub_list .sub_list_thumb_small dl dt:nth-of-type(2) { padding: 10px 0 5px 0; }
#cmweek_new .sub_list .sub_list_thumb_small:hover > dl dt:nth-of-type(1) img { border:1px solid #00BCD4; }
#cmweek_new .sub_list .sub_list_thumb_small:hover > dl dt:nth-of-type(2) {text-decoration: underline;}
#cmweek_new .sub_list .sub_list_thumb_small dl dd { font-size: 12px; line-height: 16px; color: #aaa; }
#cmweek_new .sub_list .sub_list_thumb_small dl dd span{ display: inline-block; color: #FF9800; }
#cmweek_new .sub_list .sub_list_thumb_small dl dd span.cm_small{ margin-right:5px; }
#cmweek_new .sub_list .sub_list_thumb_small dl dd span.cm_end{ color: #E65100; }
/*
#cmweek_new .sub_list .sub_list_thumb_small dl dd.small{display:none;}
*/
/* list-small icon */
#cmweek_new .sub_list .sub_list_thumb_small .icon_cm_type {position:absolute; bottom:77px; right:1px; z-index:2;}
#cmweek_new .sub_list .sub_list_thumb_small .icon_event {display:none;}
#cmweek_new .sub_list .sub_list_thumb_small .icon_date {position:absolute; top:5px; left:5px; text-align:right; z-index: 1;}
#cmweek_new .sub_list .sub_list_thumb_small .icon_adult {position: absolute; bottom: 77px; right: 1px; z-index: 2;}

