#comics .episode_recommend { width: 340px; margin-left:20px; padding:15px 15px 0 15px; background-color:#fafafa; border-radius:3px; border:1px solid #ddd;}
#comics .episode_recommend h3 { color: #444; font-size: 17px; font-weight: bold; }
#comics .episode_recommend h3 span{ color: #00bcd4; }
#comics .episode_recommend hr {margin-top:15px; border:none; border-top:1px solid #eee;}

#comics .episode_recommend ul{}
#comics .episode_recommend ul li{overflow:hidden; padding: 15px 0; border-bottom:1px solid #eee; font-size:13px;}
#comics .episode_recommend ul li:last-child {border-bottom: none;}
#comics .episode_recommend ul li a { position:relative; display: block; color: #888;}
#comics .episode_recommend ul li a:after { content:""; clear: both; display: block; }

#comics .episode_recommend ul li img {width:102px; float: left; border:1px solid #fafafa; transition:border .3s;}
#comics .episode_recommend ul li dl {position:relative; float: right;  margin-left:15px; width: 191px; overflow:hidden;}
#comics .episode_recommend ul li dl dt {line-height: 23px; width: 176px;}
#comics .episode_recommend ul li dl dt:nth-child(1) { font-size:14px; font-weight: bold; color:#444; }

#comics .episode_recommend ul li dl dt span {}
#comics .episode_recommend ul li dl dd { width: 176px; height: 46px; margin-top:8px; overflow: hidden;}


#comics .episode_recommend ul li:hover dl dt, .episode_recommend ul li:hover dl dd {text-decoration: underline;}
#comics .episode_recommend ul li:hover img  {border:1px solid #00bcd4;}
