.peanutoon_tkskics { position: relative; }
.peanutoon_tkskics .evtcontainer { background-color: #cfd2e5; width: 100%; position: relative; outline: none; }
.peanutoon_tkskics .evt_header { position: relative; width: 100%; text-align: center; padding-top: 41px; }
.peanutoon_tkskics .evt_header img { margin-left: -49px; }
.peanutoon_tkskics .evt_con01 { position: relative; width: 1200px; margin: 0 auto; text-align: center; padding-top: 39px; }
.peanutoon_tkskics .evt_facebook {text-align: center; padding-top: 93px; }
.peanutoon_tkskics .evt_facebook_formgroup { position: relative; width: 900px; margin: 0 auto; text-align: center; vertical-align: top; }
.peanutoon_tkskics .evt_facebook_form form { margin-top:44px; text-align: left; }
.peanutoon_tkskics .evt_facebook_form input[type=text] { margin-top: 16px; font-size: 25px; font-weight: bold; padding: 10px 20px; width: 613px; height: 73px; display: inline-block; border:5px solid #555fb9; float: left; box-shadow: 10px 10px 0 #b1b8f5;}
.peanutoon_tkskics .evt_facebook_form a.btn { display: inline-block; margin-left: 23px; box-shadow: 10px 10px 0 #b1b8f5; margin-top: 16px; }
.peanutoon_tkskics .evt_con03 { position: relative; width: 100%; text-align: center; padding-top: 150px; }
.peanutoon_tkskics .evt_con03 .evt_con03_tit { display: block; width: 100%; text-align: center; padding-bottom: 45px; }
.peanutoon_tkskics .evt_con03 a { box-shadow: 10px 10px 0 #b1b8f5; display: inline-block; }
.peanutoon_tkskics .evt_con03 .warn { position: relative; width: 426px; margin: 0 auto; margin-top: 27px; }
.peanutoon_tkskics .evt_con04 { position: relative; width: 100%; text-align: center; padding-top:150px; }
.peanutoon_tkskics .evt_con04_link { position: relative; width:900px; margin: 0 auto; margin-top: 20px; padding-bottom:150px; }
.peanutoon_tkskics .evt_con04_link a { display: inline-block; margin-top: 30px; }