@charset "UTF-8";

#cmweek_new .moscroll_list{position: relative; background-color: #fff; overflow-y: hidden;}
#cmweek_new .moscroll_list h2 {padding: 15px 10px; font-size:18px; }
#cmweek_new .moscroll_list .sub_list_thumb {width: 33.3%; border-right:1px solid #eee; border-bottom:1px solid #eee; float: left; position: relative;}
#cmweek_new .moscroll_list .sub_list_thumb img {width: 100%;}
#cmweek_new .moscroll_list .sub_list_thumb dl { padding:0 7px; }
#cmweek_new .moscroll_list .sub_list_thumb dl dt { display:block; width:100%; position:relative; padding-top:7px;}
#cmweek_new .moscroll_list .sub_list_thumb dl dt span.title { font-weight: 100; line-height:1.5em; font-size: 1.1em; color: #000; }
#cmweek_new .moscroll_list .sub_list_thumb dl dd {font-size: 12px; color: #666; }
#cmweek_new .moscroll_list .sub_list_thumb dl dd span { font-size: 10px; font-weight:bold; color: #26c6da; border:1px solid #26c6da; padding: 1px 5px; display: inline-block; border-radius: 1em; margin-top:2px; letter-spacing:-1px; line-height:1em;}
#cmweek_new .moscroll_list .sub_list_thumb dl dd span.cm_small{ margin-right:3px; }
#cmweek_new .moscroll_list .sub_list_thumb dl dd span.cm_end{color: #bdbdbd; border:1px solid #bdbdbd;}
/*
#cmweek_new .moscroll_list .sub_list_thumb dl dd:nth-of-type(1) { font-size: 12px; color: #FF9800; border:1px solid #FF9800; padding: 0 7px; display: inline-block; border-radius: 3px; margin-top:2px;}
*/
#cmweek_new .moscroll_list .sub_list_thumb dl dd:nth-of-type(2) { color: #9e9e9e; margin:3px 0 10px 0;}
/*
#cmweek_new .moscroll_list .sub_list_thumb dl dd span {color: #00BCD4;}
*/
#cmweek_new .moscroll_list .sub_list_thumb img.iscroll_img {width: 100%; border:1px solid #4DD0E1; }


#cmweek_new .moscroll_bg .sub_list_thumb .icon_view{ position: absolute; top: 1px; left: 1px; height:40px; width:100%; z-index:1; padding: 5px; font-size:0; }

#cmweek_new .moscroll_bg .sub_list_thumb img.icon_up_img { width:38px; height:auto; }
#cmweek_new .moscroll_bg .sub_list_thumb img.icon_new_img { width:38px; height:auto; }
#cmweek_new .moscroll_bg .sub_list_thumb mark{ display: inline-block; }

#cmweek_new .moscroll_bg .sub_list_thumb .icon_view mark { display:inline-block; padding: 1px 7px 2px 7px; color: #FFF; font-size:0.3em; border-radius:1em; letter-spacing:-1px; }
#cmweek_new .moscroll_bg .sub_list_thumb .icon_view .mark_free { font-size: 11px; z-index:20; background-color: #00bcd4; }
#cmweek_new .moscroll_bg .sub_list_thumb .icon_view .mark_sale { font-size: 11px; z-index:20; background-color: #4dd0e1; margin-left:3px; }
	
#cmweek_new .moscroll_bg .sub_list_thumb .img_view{ position: relative; }
#cmweek_new .moscroll_bg .sub_list_thumb .img_view .icon_view_bottom{ position: absolute; bottom: 1px; left: 1px; width:100%; z-index:1; padding: 5px; text-align:right; font-size:0; }
#cmweek_new .moscroll_bg .sub_list_thumb .img_view .icon_view_bottom mark { position:absolute; left:5px; bottom:5px; background-color:#fff; font-weight:800; font-size:8px; }
#cmweek_new .moscroll_bg .sub_list_thumb .img_view .icon_view_bottom mark.mark_adult { padding:2px; line-height:1; z-index:20; border:2px solid #e53935; color: #E53935; text-align:center; border-radius: 50%; letter-spacing:-1px; vertical-align:middle; }
