#mo_slide_event .mo_slide_bg{
    z-index: 6;
    position: relative;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    box-shadow: 0px 1px 1px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 1px 1px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 1px 1px 0 rgba(0, 0, 0, 0.2);
}
#mo_slide_event .mo_slide_bg section div{ display: none;}
#mo_slide_event .mo_slide_bg section div:nth-child(1){ display: block;}

/* Arrows */
#mo_slide_event .mo_slide_bg .slick-prev,
#mo_slide_event .mo_slide_bg .slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
#mo_slide_event .mo_slide_bg .slick-prev:hover,
#mo_slide_event .mo_slide_bg .slick-prev:focus,
#mo_slide_event .mo_slide_bg .slick-next:hover,
#mo_slide_event .mo_slide_bg .slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
#mo_slide_event .mo_slide_bg .slick-prev:hover:before,
#mo_slide_event .mo_slide_bg .slick-prev:focus:before,
#mo_slide_event .mo_slide_bg .slick-next:hover:before,
#mo_slide_event .mo_slide_bg .slick-next:focus:before
{
    opacity: 1;
}
#mo_slide_event .mo_slide_bg .slick-prev .slick-disabled:before,
#mo_slide_event .mo_slide_bg .slick-next .slick-disabled:before
{
    opacity: .25;
}

#mo_slide_event .mo_slide_bg .slick-prev:before,
#mo_slide_event .mo_slide_bg .slick-next:before
{

    /* font-family: 'slick'; */
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#mo_slide_event .mo_slide_bg .slick-prev
{
    left: -25px;
}
#mo_slide_event .mo_slide_bg [dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
#mo_slide_event .mo_slide_bg .slick-prev:before
{
    content: '←';
}
#mo_slide_event .mo_slide_bg [dir='rtl'] .slick-prev:before
{
    content: '→';
}

#mo_slide_event .mo_slide_bg .slick-next
{
    right: -25px;
}
#mo_slide_event .mo_slide_bg [dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
#mo_slide_event .mo_slide_bg .slick-next:before
{
    content: '→';
}
#mo_slide_event .mo_slide_bg [dir='rtl'] .slick-next:before
{
    content: '←';
}

/* Dots */
#mo_slide_event .mo_slide_bg .slick-dotted.slick-slider
{
    /* margin-bottom: 30px; */
}

#mo_slide_event .mo_slide_bg .slick-dots
{
    position: absolute;
    bottom: 10px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
#mo_slide_event .mo_slide_bg .slick-dots li
{
    position: relative;

    display: inline-block;

	/*
    width: 20px;
    height: 20px;
	*/
    width: 10px;
    height: 10px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
#mo_slide_event .mo_slide_bg .slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
#mo_slide_event .mo_slide_bg .slick-dots li button:hover,
#mo_slide_event .mo_slide_bg .slick-dots li button:focus
{
    outline: none;
}
#mo_slide_event .mo_slide_bg .slick-dots li button:hover:before,
#mo_slide_event .mo_slide_bg .slick-dots li button:focus:before
{
    opacity: 1;
}
#mo_slide_event .mo_slide_bg .slick-dots li button:before
{
    /* font-family: 'slick'; */
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    /*
    width: 20px;
    height: 20px;

    content: '•';
	*/
    width: 10px;
    height: 10px;
	content: ' ';
    text-align: center;

    opacity: .25;
    color: black;

	background:#fff;
    border:2px solid #80deea;
    border-radius: 50%;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
#mo_slide_event .mo_slide_bg .slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}


/* Slider */
#mo_slide_event .mo_slide_bg .slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

#mo_slide_event .mo_slide_bg .slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
#mo_slide_event .mo_slide_bg .slick-list:focus
{
    outline: none;
}
#mo_slide_event .mo_slide_bg .slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

#mo_slide_event .mo_slide_bg .slick-slider .slick-track,
#mo_slide_event .mo_slide_bg .slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

#mo_slide_event .mo_slide_bg .slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
#mo_slide_event .mo_slide_bg .slick-track:before,
#mo_slide_event .mo_slide_bg .slick-track:after
{
    display: table;

    content: '';
}
#mo_slide_event .mo_slide_bg .slick-track:after
{
    clear: both;
}
#mo_slide_event .mo_slide_bg .slick-loading .slick-track
{
    visibility: hidden;
}

#mo_slide_event .mo_slide_bg .slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
#mo_slide_event .mo_slide_bg [dir='rtl'] .slick-slide
{
    float: right;
}
#mo_slide_event .mo_slide_bg .slick-slide img
{
    display: block;
}
#mo_slide_event .mo_slide_bg .slick-slide.slick-loading img
{
    display: none;
}
#mo_slide_event .mo_slide_bg .slick-slide.dragging img
{
    pointer-events: none;
}
#mo_slide_event .mo_slide_bg .slick-initialized .slick-slide
{
    display: block;
}
#mo_slide_event .mo_slide_bg .slick-loading .slick-slide
{
    visibility: hidden;
}
#mo_slide_event .mo_slide_bg .slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 0px solid transparent;
}
#mo_slide_event .mo_slide_bg .slick-arrow.slick-hidden {
    display: none;
}


#mo_slide_event .mo_slide_bg .slider {
	width: 100%;
	margin: 0 auto;
}

#mo_slide_event .mo_slide_bg .slick-slide {
  /* margin: 0px 20px; */
}

#mo_slide_event .mo_slide_bg .slick-slide img {
  width: 100%;
}

#mo_slide_event .mo_slide_bg .slick-prev:before,
#mo_slide_event .mo_slide_bg .slick-next:before {
	color: black;
}