@charset "UTF-8";

#moscroll_recom .moscroll_list{ position: relative; padding: 15px 0 0px 10px; background-color: #fff; overflow: hidden; border-top:1px solid #eee; }
#moscroll_recom .moscroll_list h2 { float:left; color: #444; font-size: 17px; font-weight: bold; }
#moscroll_recom .moscroll_list p { float:right; margin-right:10px; font-size: 11px; }

#moscroll_recom .moscroll_bg {position:relative; padding-bottom:5px; background:#fff;}
#moscroll_recom .moscroll_bg ul {white-space: nowrap; overflow-x: auto; overflow-y: hidden;}
#moscroll_recom .moscroll_bg ul li {display: inline-block; width: 30%; margin-right: 5px; padding-bottom:10px;}

#moscroll_recom .moscroll_bg ul li > div {width: 100%;}
#moscroll_recom .moscroll_bg ul li > div dl {margin-top:15px; width:calc(30%-5px);}
#moscroll_recom .moscroll_bg ul li > div dl dt { font-size: 14px; font-weight: bold; color: #000; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; line-height: 21px;}
#moscroll_recom .moscroll_bg ul li > div dl dt img{ width: 100%; }
#moscroll_recom .moscroll_bg ul li > div dl dd {font-size: 13px; font-weight: normal; color: #00bcd4;}

#moscroll_recom .moscroll_bg ul li > div dl .series{ margin-top: 10px; font-size: 14px; font-weight: bold; color: #000; line-height: 21px; }
#moscroll_recom .moscroll_bg ul li > div dl .professional{ font-size: 12px; font-weight: normal; color: #00bcd4; }
#moscroll_recom .moscroll_bg ul li > div dl .ellipsis{ overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }