#share_sns { position:relative; background-color:#f5f5f5; padding:10px 0 0 0; margin-bottom:1px; border-top:1px solid #eee; box-shadow:0 1px 1px 0 rgba(0,0,0,.2); }
#share_sns .share_sns_list { position:relative; padding:10px; background-color:#fff;}
#share_sns .share_sns_bg { text-align:center; }
#share_sns .share_sns_bg button { display:inline-block; width:10vw; max-width:50px; margin-right:2vw; }