.peanutoon_tkskics { position: relative; }
.peanutoon_tkskics .evtcontainer { background-color: #f7eccf; width: 100%; position: relative; outline: none; }
.peanutoon_tkskics .evt_header { position: relative; width: 100%; text-align: center; }
.peanutoon_tkskics .evt_facebook {text-align: center; }
.peanutoon_tkskics .evt_facebook_formgroup { position: relative; width: 1200px; margin: 0 auto; text-align: center; vertical-align: top; padding-top:1px; padding-bottom: 118px; }
.peanutoon_tkskics .evt_facebook_form form { margin: 85px 0 0 394px; text-align: left; }
.peanutoon_tkskics .evt_facebook_form input[type=text] { margin-top: 17px; font-size: 20px; font-weight: bold; padding: 10px 20px; width: 405px; height: 54px; display: inline-block; border:none; float: left;}
.peanutoon_tkskics .evt_facebook_form a.btn { display: inline-block; margin-left: 71px; }
.peanutoon_tkskics .evt_con01 { position: relative; width: 100%; text-align: center; padding: 325px 0 101px 0; }
.peanutoon_tkskics .evt_con01 a {}
.peanutoon_tkskics .evt_con02 { position: relative; width: 100%; text-align: center; }
.peanutoon_tkskics .evt_con03 { position: relative; width: 100%; text-align: center; }
.peanutoon_tkskics .evt_con04 { position: relative; width: 100%; text-align: center; padding:25px 0 240px 0; }

.peanutoon_tkskics { position: relative; }
.peanutoon_tkskics .evtcontainer { background-color: #f7eccf; width: 100%; position: relative; outline: none; }
.peanutoon_tkskics .evt_header { position: relative; width: 100%; text-align: center; }
.peanutoon_tkskics .evt_facebook {text-align: center; }
.peanutoon_tkskics .evt_facebook_formgroup { position: relative; width: 1200px; margin: 0 auto; text-align: center; vertical-align: top; padding-bottom: 118px; }
.peanutoon_tkskics .evt_facebook_form form { margin: 17px 0 0 407px; text-align: left; }
.peanutoon_tkskics .evt_facebook_form input[type=text] { margin-top: 16px; font-size: 20px; font-weight: bold; padding: 10px 20px; width: 382px; height: 51px; display: inline-block; border:none; float: left;}
.peanutoon_tkskics .evt_facebook_form a.btn { display: inline-block; margin-left: 68px; }
.peanutoon_tkskics .evt_con03 { position: relative; width: 100%; text-align: center; padding: 72px 0 146px 0; }
.peanutoon_tkskics .evt_con03 .evt_con03_tit { display: block; width: 100%; text-align: center; padding-bottom: 67px; }
.peanutoon_tkskics .evt_con04 { position: relative; width: 100%; text-align: center; padding:25px 0 240px 0; }
.peanutoon_tkskics .evt_con04_link { position: relative; width: 806px; margin: 0 auto; }
.peanutoon_tkskics .evt_con04_link a { display: inline-block; margin-top: 50px; }
.peanutoon_tkskics .evt_con04_link a:nth-of-type(1) { margin-top: 0; }