@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);

.year2017 { width: 100%; position: relative; }
.year2017 .evtcontainer { width: 100%; position: relative; outline: none; font-family: 'Jeju Gothic', serif; }
.year2017 .evt_header { position: relative; width: 100%; text-align: center;  background-color: #fff; }
.year2017 .evt_header img { width: 100%; height: auto; }

.year2017 .evt_con01::before { display: inline-block; content: ''; position: absolute; width: 29px; height: 30.5px; top: -15.25px; left: 50%; margin-left: -14.5px; z-index: 2; }
.year2017 .evt_con01 { position: relative; width: 100%; text-align: center; background-color: #f04f5f; padding: 5vh 0; }
.year2017 .evt_con01 img { width: 95%; height: auto; }

.year2017 .evt_con02::before { display: inline-block; content: ''; position: absolute; width: 29px; height: 30.5px; top: -15.25px; left: 50%; margin-left: -14.5px; z-index: 2; }
.year2017 .evt_con02 { position: relative; width: 100%; margin: 0 auto; text-align: center; background-color: #439e9c; padding: 5vh 0; }
.year2017 .evt_con02 img { width: 95%; height: auto; }

.year2017 .evt_con03_tabs{ position: absolute; top:-90px; }

.year2017 .evt_con03::before { display: inline-block; content: ''; position: absolute; width: 29px; height: 30.5px; top: -15.25px; left: 50%; margin-left: -14.5px; z-index: 2; }
.year2017 .evt_con03 { position: relative; width: 100%; text-align: center; background-color: #fff; padding: 5vh 0; }
.year2017 .evt_con03 ul { position: relative; width: 95%; margin: 0 auto; font-size: 0; }
.year2017 .evt_con03 ul li { display: inline-block; width: calc(25% - 1px); margin-left: 1px; }
.year2017 .evt_con03 ul li:first-child { margin: 0; }
.year2017 .evt_con03 ul li a { display: block; width: 100%; }
.year2017 .evt_con03 ul li a.tab01 { }
.year2017 .evt_con03 ul li a.tab02 { }
.year2017 .evt_con03 ul li a.tab03 { }
.year2017 .evt_con03 ul li a.tab04 { }
.year2017 .evt_con03 ul li a.active { }
.year2017 .evt_con03 ul li a img { width: calc(100% - 1px); visibility: hidden; }
.year2017 .evt_con03 .tab_contents { position: relative; width: 95%; margin: 0 auto; border:5px solid #0f3542; padding: 10px; margin-top: 5px; }
.year2017 .tab_figure { position: relative; display: table; width: 100%; font-size: 0; vertical-align: middle; margin-top: 1vh; }
.year2017 .tab_figure:nth-of-type(1) { margin-top: 0; }
.year2017 .tab_figure .tab_img { display: table-cell; width: 50%; text-align: right; vertical-align: middle; min-height: 346px; padding-right: 5px; }
.year2017 .tab_figure .tab_exp { display: table-cell; width: 50%; text-align: center; font-size: 12px; vertical-align: middle; padding-left: 5px; }
.year2017 .tab_figure span.title { display: inline-block; font-size: 1.7em; color: #243150; font-weight: bold; background-color: #ffe064; margin-top: 10px; letter-spacing: -0.1em; }
.year2017 .tab_figure span.author { display: block; font-size: 1.2em; color:#757575; margin-top: 5px; }
.year2017 .vote_btn { font-size: 0; }
.year2017 .tab_figure a { display: inline-block; width: calc(50% - 1vw); margin-top: 10px; }
.year2017 .tab_figure a img { width: 100%; }
.year2017 .tab_figure a.tab_see { text-align: right; margin-right: 1vw; }
.year2017 .tab_figure a.tab_vote { text-align: left; margin-left: 1vw; }

.year2017 .evt_con04::before { display: inline-block; content: ''; position: absolute; width: 29px; height: 30.5px; top: -15.25px; left: 50%; margin-left: -14.5px; z-index: 2; }
.year2017 .evt_con04 { position: relative; width: 100%; margin: 0 auto; text-align: center; background-color: #ffdd54; padding: 5vh 0; }
.year2017 .evt_con04_tit { position: relative; width: 50%; margin: 0 auto; margin-bottom: 3vh; }
.year2017 .evt_con04_tit img { width: 100%; }
.year2017 .evt_con04 a { display: block; width: 100%; margin: 0 auto; margin-top: 2vh; }
.year2017 .evt_con04 a img { width: 95%; }

.year2017 .evt_con05::before { display: inline-block; content: ''; position: absolute; width: 29px; height: 30.5px; top: -15.25px; left: 50%; margin-left: -14.5px; z-index: 2;}
.year2017 .evt_con05 { position: relative; width: 100%; margin: 0 auto; text-align: center; background-color: #243150; padding: 5vh 0; }
.year2017 .evt_con05 img { width: 90%; }