.peanutoon_tkskics { position: relative; }
.peanutoon_tkskics .evtcontainer { background-color: #f7eccf; width: 100%; position: relative; outline: none; }
.peanutoon_tkskics .evt_header { position: relative; width: 100%; text-align: center; }
.peanutoon_tkskics .evt_facebook {text-align: center; }
.peanutoon_tkskics .evt_facebook_formgroup { position: relative; width: 1200px; margin: 0 auto; padding: 174px 0 113px 394px; text-align: left; vertical-align: top; }
.peanutoon_tkskics .evt_facebook_form input[type=text] { margin-top: 17px; font-size: 20px; font-weight: bold; padding: 10px 20px; width: 405px; height: 54px; display: inline-block; border:none; float: left;}
.peanutoon_tkskics .evt_facebook_form a.btn { display: inline-block; margin-left: 72px; }
.peanutoon_tkskics .evt_con01 { position: relative; width: 100%; text-align: center; padding: 325px 0 101px 0; }
.peanutoon_tkskics .evt_con01 a { display: block;}
.peanutoon_tkskics .evt_con02 { position: relative; width: 100%; text-align: center; }
.peanutoon_tkskics .evt_con03 { position: relative; width: 100%; text-align: center; }
.peanutoon_tkskics .evt_con04 { position: relative; width: 100%; text-align: center; padding:25px 0 240px 0; }