@charset "UTF-8";

#appdown.main_banner {
	position: relative; 
	background-color: #fff; 
	box-shadow: 0px 1px 1px 0 rgba(0, 0, 0, 0.2); 
	-webkit-box-shadow: 0px 1px 1px 0 rgba(0, 0, 0, 0.2); 
	-moz-box-shadow: 0px 1px 1px 0 rgba(0, 0, 0, 0.2);
	margin-top: 10px; 
	border-top: 1px solid #eee; }
#appdown.main_banner img {width: 100%;}