@charset "UTF-8";

#banner_scroll .banner_scroll_list{ position: relative; padding: 15px 0 0px 10px; background-color: #fff; }
#banner_scroll .banner_scroll_list h2 { float:left; color: #444; font-size: 17px; font-weight: bold; }
#banner_scroll .banner_scroll_list p { float:right; margin-right:10px; font-size: 11px; }

#banner_scroll .banner_scroll_bg {position:relative; padding-bottom:5px; background:#fff;}
#banner_scroll .banner_scroll_bg ul {white-space: nowrap; overflow-x: auto; overflow-y: hidden;}
#banner_scroll .banner_scroll_bg ul li {display: inline-block; width: 80%; margin-right: 5px; padding-bottom:10px;}

#banner_scroll .banner_scroll_bg ul li > div {width: 100%;}
#banner_scroll .banner_scroll_bg ul li > div img { width: 100%; height: auto; }
#banner_scroll .banner_scroll_bg ul li > div dl {margin-top:15px; width:calc(30%-5px);}
#banner_scroll .banner_scroll_bg ul li > div dl dt { font-size: 14px; font-weight: bold; color: #000; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; line-height: 21px;}
#banner_scroll .banner_scroll_bg ul li > div dl dt img{ width: 100%; }
#banner_scroll .banner_scroll_bg ul li > div dl dd {font-size: 13px; font-weight: normal; color: #26c6da;}

#banner_scroll .banner_scroll_bg ul li > div dl .series{ margin-top: 10px; font-size: 14px; font-weight: bold; color: #000; line-height: 21px; }
#banner_scroll .banner_scroll_bg ul li > div dl .professional{ font-size: 13px; font-weight: normal; color: #26c6da; }
#banner_scroll .banner_scroll_bg ul li > div dl .ellipsis{ overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }