@charset "UTF-8";

#banner .banner_bg{ position: relative; width: 100%; }
#banner .banner_bg img{
	border: 0 none;
    vertical-align: middle;
    max-width: 100%;
    width: 100%;
    height: auto;
}