@charset "UTF-8";

#mo_moscroll .moscroll_list{ position: relative; padding: 15px 0 0px 10px; background-color: #fff; overflow: hidden; border-top:1px solid #eee; }
#mo_moscroll .moscroll_list h2 { float:left; color: #000; font-size: 18px; font-weight: bold; }
#mo_moscroll .moscroll_list p { float:right; margin-right:10px; font-size: 0.75em; }

#mo_moscroll .moscroll_bg {position:relative; padding-bottom:5px; background:#fff;}
#mo_moscroll .moscroll_bg ul {white-space: nowrap; overflow-x: auto; overflow-y: hidden;}
#mo_moscroll .moscroll_bg ul li {display: inline-block; width: 30%; margin-right: 5px; padding-bottom:10px;}

#mo_moscroll .moscroll_bg ul li > div {width: 100%;}
#mo_moscroll .moscroll_bg ul li > div dl {margin-top:15px; width:calc(30%-5px);}
#mo_moscroll .moscroll_bg ul li > div dl dt { position: relative; font-size: 14px; color: #000; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
#mo_moscroll .moscroll_bg ul li > div dl dt img{ width: 100%; }
#mo_moscroll .moscroll_bg ul li > div dl dd {font-size: 13px; font-weight: normal; color: #9e9e9e;}

#mo_moscroll .moscroll_bg ul li > div dl .series{ display:block; width:100%; position:relative; padding-top:7px; }
#mo_moscroll .moscroll_bg ul li > div dl dd span { font-size: 10px; font-weight:bold; color: #26c6da; border:1px solid #26c6da; padding: 1px 5px; display: inline-block; border-radius: 1em; margin-top:2px; letter-spacing:-1px; line-height:1em;}
#mo_moscroll .moscroll_bg ul li > div dl dd span.cm_small{ margin-right:3px; }
#mo_moscroll .moscroll_bg ul li > div dl .professional{ color: #757575; margin-top:3px; font-size:12px; }
#mo_moscroll .moscroll_bg ul li > div dl .ellipsis{ overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }


#mo_moscroll .moscroll_bg ul li > div dl dt .icon_view{ position: absolute; top: 1px; left: 1px; height:40px; width:100%; z-index:1; padding: 3px; font-size:0; }
#mo_moscroll .moscroll_bg ul li > div dl dt img.icon_up_img { width:38px; height:auto; }
#mo_moscroll .moscroll_bg ul li > div dl dt img.icon_new_img { width:38px; height:auto; }
#mo_moscroll .moscroll_bg ul li > div dl dt mark{ display: inline-block; }

#mo_moscroll .moscroll_bg ul li > div dl dt .icon_view mark { display:inline-block; padding: 2px 7px; color: #FFF; font-size:0.3em; border-radius:1em; letter-spacing:-1px; }
#mo_moscroll .moscroll_bg ul li > div dl dt .icon_view .mark_free { font-size: 10px; z-index:20; background-color: #00bcd4; }
#mo_moscroll .moscroll_bg ul li > div dl dt .icon_view .mark_sale { font-size: 10px; z-index:20; background-color: #4dd0e1; margin-left:2px; }
	
#mo_moscroll .moscroll_bg ul li > div dl dt .img_view{ position: relative; }
#mo_moscroll .moscroll_bg ul li > div dl dt .img_view .icon_view_bottom{ position: absolute; bottom: 1px; left: 1px; width:100%; z-index:1; padding: 3px; text-align:right; font-size:0; }
#mo_moscroll .moscroll_bg ul li > div dl dt .icon_view_bottom mark { position:absolute; left:3px; bottom:3px; background-color:#fff; font-weight:800; font-size:8px; }
#mo_moscroll .moscroll_bg ul li > div dl dt .icon_view_bottom mark.mark_adult { padding:2px; line-height:1; z-index:20; border:2px solid #e53935; color: #E53935; text-align:center; border-radius: 50%; letter-spacing:-1px; vertical-align:middle; }



/* 기존 UP class */
/*
#mo_moscroll .moscroll_bg ul li > div dl dt .iscroll_img { border:1px solid #757575; }
#mo_moscroll .moscroll_bg ul li > div dl dt .icon_up_img { position: absolute; top: 1px; left: 1px; width:20px; height:19px; }
*/