@charset "UTF-8";

#moscroll_big_tl .moscroll_bic_list{ position: relative; padding: 15px 0 0px 10px; background-color: #fff; overflow:hidden; border-top:1px solid #eee; }
#moscroll_big_tl .moscroll_bic_list h2 { float:left; color: #444; font-size: 17px; font-weight: bold; }
#moscroll_big_tl .moscroll_bic_list p { float:right; margin-right:10px; font-size: 11px; }

#moscroll_big_tl .moscroll_bic_bg {position:relative; padding-bottom:5px; background:#fff;}
#moscroll_big_tl .moscroll_bic_bg ul {margin-top: 15px; white-space: nowrap; overflow-x: auto; overflow-y: hidden;}
#moscroll_big_tl .moscroll_bic_bg ul li {display: inline-block; width: 70%; min-width:200px; margin-right: 5px; padding-bottom:10px; vertical-align: top; }

#moscroll_big_tl .moscroll_bic_bg ul li > div {width: 100%;}
#moscroll_big_tl .moscroll_bic_bg ul li > div dl {margin-top:10px; width:calc(30%-5px);}
#moscroll_big_tl .moscroll_bic_bg ul li > div dl dt { font-size: 14px; font-weight: bold; color: #000; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; line-height: 21px; margin-top: 10px;}
#moscroll_big_tl .moscroll_bic_bg ul li > div dl dt img{ width: 100%; }
#moscroll_big_tl .moscroll_bic_bg ul li > div dl dd {margin-top: 5px; font-size: 12px; font-weight: normal; color: #8BC34A; word-break:keep-all; white-space: nowrap; text-overflow: ellipsis; overflow:hidden; border:1px solid #8BC34A; padding: 3px 10px; display: inline-block; border-radius: 10px;}
#moscroll_big_tl .moscroll_bic_bg ul li > div dl dd.somaery { color: #444; border:none; display: block; font-size: 13px; padding-left: 0; }

#moscroll_big_tl .moscroll_bic_bg ul li > div dl .ellipsis{	overflow: hidden; white-space: nowrap;  text-overflow: ellipsis; }