@charset "UTF-8";

#moscroll_bic .moscroll_bic_list{ position: relative; padding: 15px 0 0px 10px; background-color: #fff; overflow:hidden; border-top:1px solid #eee; }
#moscroll_bic .moscroll_bic_list h2 { float:left; color: #000; font-size: 18px; font-weight: bold; }
#moscroll_bic .moscroll_bic_list p { float:right; margin-right:10px; font-size: 0.75em; }

#moscroll_bic .moscroll_bic_bg {position:relative; padding-bottom:5px; background:#fff;}
#moscroll_bic .moscroll_bic_bg ul {white-space: nowrap; overflow-x: auto; overflow-y: hidden;}
#moscroll_bic .moscroll_bic_bg ul li {display: inline-block; width: 70%; min-width:200px; margin-right: 5px; padding-bottom:10px; vertical-align: top; }

#moscroll_bic .moscroll_bic_bg ul li > div {width: 100%;}
#moscroll_bic .moscroll_bic_bg ul li > div dl { position:relative; margin-top:7px; width:calc(30%-5px);}
#moscroll_bic .moscroll_bic_bg ul li > div dl dt { font-size:14px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;  margin-top: 10px; color: #000;}
#moscroll_bic .moscroll_bic_bg ul li > div dl dt img{ width: 100%; }
#moscroll_bic .moscroll_bic_bg ul li > div dl dd {font-weight: normal; color: #ff9800; word-break:keep-all; white-space: nowrap; text-overflow: ellipsis; overflow:hidden; border:1px solid #ff9800; padding: 3px 10px; display: inline-block; border-radius: 10px;}
#moscroll_bic .moscroll_bic_bg ul li > div dl dd.somaery { color: #757575; border:none; display: block; font-size: 13px; padding-left: 0; }
#moscroll_bic .moscroll_bic_bg ul li > div dl dd.somaery span { font-size: 10px; font-weight:bold; color: #26c6da; border:1px solid #26c6da; padding: 1px 5px; display: inline-block; border-radius: 1em; margin-top:2px; letter-spacing:-1px; line-height:1em; margin-right:4px;}
#moscroll_big .moscroll_bic_bg ul li > div dl dd.somaery span.cm_end { color: #bdbdbd; border:1px solid #bdbdbd; }

#moscroll_bic .moscroll_bic_bg ul li > div dl .ellipsis{	overflow: hidden; white-space: nowrap;  text-overflow: ellipsis; }

#moscroll_bic .moscroll_bic_bg ul li > div dl dt .icon_view{ position: absolute; top: 1px; left: 1px; height:40px; width:100%; z-index:1; padding: 5px; font-size:0; }
#moscroll_bic .moscroll_bic_bg ul li > div dl dt img.icon_up_img { width:38px; height:auto; }
#moscroll_bic .moscroll_bic_bg ul li > div dl dt img.icon_new_img { width:38px; height:auto; }
#moscroll_bic .moscroll_bic_bg ul li > div dl dt mark{ display: inline-block; }

#moscroll_bic .moscroll_bic_bg ul li > div dl dt .icon_view mark { display:inline-block; padding: 1px 7px 2px 7px; color: #FFF; font-size:0.3em; border-radius:1em; letter-spacing:-1px; }
#moscroll_bic .moscroll_bic_bg ul li > div dl dt .icon_view .mark_free { font-size: 11px; z-index:20; background-color: #00bcd4; }
#moscroll_bic .moscroll_bic_bg ul li > div dl dt .icon_view .mark_sale { font-size: 11px; z-index:20; background-color: #4dd0e1; margin-left:3px; }
	
#moscroll_bic .moscroll_bic_bg ul li > div dl dt .img_view{ position: relative; }
#moscroll_bic .moscroll_bic_bg ul li > div dl dt .img_view .icon_view_bottom{ position: absolute; bottom: 1px; left: 1px; width:100%; z-index:1; padding: 5px; text-align:right; font-size:0; }
#moscroll_bic .moscroll_bic_bg ul li > div dl dt .icon_view_bottom mark { position:absolute; left:5px; bottom:5px; background-color:#fff; font-weight:800; font-size:8px; }
#moscroll_bic .moscroll_bic_bg ul li > div dl dt .icon_view_bottom mark.mark_adult { padding:2px; line-height:1; z-index:20; border:2px solid #e53935; color: #E53935; text-align:center; border-radius: 50%; letter-spacing:-1px; vertical-align:middle; }

