#site { background-color: #fff; padding: 15px 10px; text-align: left; color: #666; line-height: 21px; border-top: 1px solid #eee; }
#site:after { display:block; visibility:hidden; clear:both; content:""; }
#site ul {margin: 0 auto; margin-bottom: 10px; text-align: center;}
#site ul li { display: inline-block; font-size: 1em; border-right: 1px solid #9E9E9E; padding:0 10px; }
#site ul li:first-child { padding-left: 0; }
#site ul li:nth-child(2) a { font-weight: bold; color: #00838F; }
#site ul li:last-child { border-right: none; }

#site .copyright { position: relative; float: left; }
#site .copyright i { color: #4DD0E1; }
#site .copyright span { font-size: 11px; color: #999; }
#site .okmark { position:absolute; margin-top: 5px; right: 20px; width: 100px; padding: 10px; background-color: #f5f5f5; border:1px solid #eee; }
#site .okmark img { width: 100%; }