@charset "UTF-8";

#mo_ranking_class_list .mo_ranking_list_bg{
    z-index: 6;
    position: relative;
	padding: 15px 0 15px 10px;
	background-color: #fff;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    box-shadow: 0px 1px 1px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 1px 1px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 1px 1px 0 rgba(0, 0, 0, 0.2);
    border-top:1px solid #eee;
}
#mo_ranking_class_list .mo_ranking_list_bg section div{ display: none;}
#mo_ranking_class_list .mo_ranking_list_bg section div:nth-child(1){ display: block;}

#mo_ranking_class_list .mo_ranking_list_bg h2 { margin-bottom: 15px; color: #444; font-size: 17px; font-weight: bold; }

#mo_ranking_class_list .mo_ranking_list_bg .mo_ranking_list h3 {
    border-bottom: 3px solid #00BCD4;
    padding: 0 10px;
    margin-top: 5px;
    display: table-cell;

	color: #8c8c8c;
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
}
#mo_ranking_class_list .mo_ranking_list_bg .mo_ranking_list ol {border:1px solid #eee; margin-right: 10px;}
#mo_ranking_class_list .mo_ranking_list_bg .mo_ranking_list ol > li {position:relative; display: block; width: 100%;}
#mo_ranking_class_list .mo_ranking_list_bg .mo_ranking_list .main_famous_list_first {position:relative; width:100%; height: 120px; z-index: 1;}
#mo_ranking_class_list .mo_ranking_list_bg .mo_ranking_list .main_famous_list_first_gradient {position:absolute; background:linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.4)); width: 100%; height: 120px; z-index: 2;}

#mo_ranking_class_list .mo_ranking_list_bg .mo_ranking_list .main_famous_list_first p.list_title {position:absolute; font-size: 23px; font-weight: 800; text-shadow: 1px 1px rgba(0,0,0,.7); color:#fff; bottom:5px; left: 5px; z-index: 3; white-space: nowrap; text-overflow: ellipsis; overflow:hidden; width: calc(100% - 10px);}
#mo_ranking_class_list .mo_ranking_list_bg .mo_ranking_list .main_famous_list_first p.list_author {position: absolute; font-size: 13px; font-weight: bold; color: #fff; bottom: 33px; right: 5px; z-index: 3; width: 100%; white-space: nowrap; text-overflow: ellipsis; overflow:hidden; width: calc(100% - 10px); }

#mo_ranking_class_list .mo_ranking_list_bg .mo_ranking_list ul.famous_num {margin: 0; padding: 0; width: 100%; zoom:1;}
#mo_ranking_class_list .mo_ranking_list_bg .mo_ranking_list ul.famous_num li {float:left; padding: 10px; vertical-align: middle;}
#mo_ranking_class_list .mo_ranking_list_bg .mo_ranking_list ul.famous_num li.famous_txt {float:none; padding-top:30px;}
#mo_ranking_class_list .mo_ranking_list_bg .mo_ranking_list ul.famous_num img {width: 75px;}
#mo_ranking_class_list .mo_ranking_list_bg .mo_ranking_list p.famous_number {font-size:40px; font-weight: 800; color: #bdbdbd;  line-height: 75px; text-align: center;}
#mo_ranking_class_list .mo_ranking_list_bg .mo_ranking_list span.famous_title {color:#444; font-size: 16px; font-weight: bold; }
#mo_ranking_class_list .mo_ranking_list_bg .mo_ranking_list span.famous_author {color: #00BCD4; font-size: 12px;}

























/* Arrows */
#mo_ranking_class_list .mo_ranking_list_bg .slick-prev,
#mo_ranking_class_list .mo_ranking_list_bg .slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
#mo_ranking_class_list .mo_ranking_list_bg .slick-prev:hover,
#mo_ranking_class_list .mo_ranking_list_bg .slick-prev:focus,
#mo_ranking_class_list .mo_ranking_list_bg .slick-next:hover,
#mo_ranking_class_list .mo_ranking_list_bg .slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
#mo_ranking_class_list .mo_ranking_list_bg .slick-prev:hover:before,
#mo_ranking_class_list .mo_ranking_list_bg .slick-prev:focus:before,
#mo_ranking_class_list .mo_ranking_list_bg .slick-next:hover:before,
#mo_ranking_class_list .mo_ranking_list_bg .slick-next:focus:before
{
    opacity: 1;
}
#mo_ranking_class_list .mo_ranking_list_bg .slick-prev .slick-disabled:before,
#mo_ranking_class_list .mo_ranking_list_bg .slick-next .slick-disabled:before
{
    opacity: .25;
}

#mo_ranking_class_list .mo_ranking_list_bg .slick-prev:before,
#mo_ranking_class_list .mo_ranking_list_bg .slick-next:before
{

    /* font-family: 'slick'; */
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#mo_ranking_class_list .mo_ranking_list_bg .slick-prev
{
    left: -25px;
}
#mo_ranking_class_list .mo_ranking_list_bg [dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
#mo_ranking_class_list .mo_ranking_list_bg .slick-prev:before
{
    content: '←';
}
#mo_ranking_class_list .mo_ranking_list_bg [dir='rtl'] .slick-prev:before
{
    content: '→';
}

#mo_ranking_class_list .mo_ranking_list_bg .slick-next
{
    right: -25px;
}
#mo_ranking_class_list .mo_ranking_list_bg [dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
#mo_ranking_class_list .mo_ranking_list_bg .slick-next:before
{
    content: '→';
}
#mo_ranking_class_list .mo_ranking_list_bg [dir='rtl'] .slick-next:before
{
    content: '←';
}

/* Dots */
#mo_ranking_class_list .mo_ranking_list_bg .slick-dotted.slick-slider
{
    /* margin-bottom: 30px; */
}

#mo_ranking_class_list .mo_ranking_list_bg .slick-dots
{
    position: absolute;
	top: -30px;
    /* bottom: 0px; */

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    /* text-align: center; */
	text-align: right;
}
#mo_ranking_class_list .mo_ranking_list_bg .slick-dots li
{
    position: relative;

    display: inline-block;

	/*
    width: 20px;
    height: 20px;
	*/
    width: 10px;
    height: 10px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
#mo_ranking_class_list .mo_ranking_list_bg .slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
#mo_ranking_class_list .mo_ranking_list_bg .slick-dots li button:hover,
#mo_ranking_class_list .mo_ranking_list_bg .slick-dots li button:focus
{
    outline: none;
}
#mo_ranking_class_list .mo_ranking_list_bg .slick-dots li button:hover:before,
#mo_ranking_class_list .mo_ranking_list_bg .slick-dots li button:focus:before
{
    opacity: 1;
}
#mo_ranking_class_list .mo_ranking_list_bg .slick-dots li button:before
{
    /* font-family: 'slick'; */
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    right: 5px;

    /*
    width: 20px;
    height: 20px;

    content: '•';
	*/
    width: 10px;
    height: 10px;
	content: ' ';
    text-align: center;

    opacity: .25;
    color: black;

	background:#666;
	border-radius: 50%;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
#mo_ranking_class_list .mo_ranking_list_bg .slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}


/* Slider */
#mo_ranking_class_list .mo_ranking_list_bg .slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

#mo_ranking_class_list .mo_ranking_list_bg .slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
#mo_ranking_class_list .mo_ranking_list_bg .slick-list:focus
{
    outline: none;
}
#mo_ranking_class_list .mo_ranking_list_bg .slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

#mo_ranking_class_list .mo_ranking_list_bg .slick-slider .slick-track,
#mo_ranking_class_list .mo_ranking_list_bg .slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

#mo_ranking_class_list .mo_ranking_list_bg .slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
#mo_ranking_class_list .mo_ranking_list_bg .slick-track:before,
#mo_ranking_class_list .mo_ranking_list_bg .slick-track:after
{
    display: table;

    content: '';
}
#mo_ranking_class_list .mo_ranking_list_bg .slick-track:after
{
    clear: both;
}
#mo_ranking_class_list .mo_ranking_list_bg .slick-loading .slick-track
{
    visibility: hidden;
}

#mo_ranking_class_list .mo_ranking_list_bg .slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
#mo_ranking_class_list .mo_ranking_list_bg [dir='rtl'] .slick-slide
{
    float: right;
}
#mo_ranking_class_list .mo_ranking_list_bg .slick-slide img
{
    display: block;
}
#mo_ranking_class_list .mo_ranking_list_bg .slick-slide.slick-loading img
{
    display: none;
}
#mo_ranking_class_list .mo_ranking_list_bg .slick-slide.dragging img
{
    pointer-events: none;
}
#mo_ranking_class_list .mo_ranking_list_bg .slick-initialized .slick-slide
{
    display: block;
}
#mo_ranking_class_list .mo_ranking_list_bg .slick-loading .slick-slide
{
    visibility: hidden;
}
#mo_ranking_class_list .mo_ranking_list_bg .slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 0px solid transparent;
}
#mo_ranking_class_list .mo_ranking_list_bg .slick-arrow.slick-hidden {
    display: none;
}


#mo_ranking_class_list .mo_ranking_list_bg .slider {
	width: 100%;
	margin: 0 auto;
}

#mo_ranking_class_list .mo_ranking_list_bg .slick-slide {
  /* margin: 0px 20px; */
}

#mo_ranking_class_list .mo_ranking_list_bg .slick-slide img {
  /* width: 100%; */
}

#mo_ranking_class_list .mo_ranking_list_bg .slick-prev:before,
#mo_ranking_class_list .mo_ranking_list_bg .slick-next:before {
	color: black;
}