.peanutoon_tkskics { position: relative; }
.peanutoon_tkskics .evtcontainer { background-color: #f7eccf; width: 100%; position: relative; outline: none; }
.peanutoon_tkskics .evt_header { position: relative; width: 100%; text-align: center; }
.peanutoon_tkskics .evt_facebook {text-align: center; }
.peanutoon_tkskics .evt_facebook_formgroup { position: relative; width: 1200px; margin: 0 auto; text-align: center; vertical-align: top; padding-bottom: 118px; }
.peanutoon_tkskics .evt_facebook_form form { margin: 86px 0 0 394px; text-align: left; }
.peanutoon_tkskics .evt_facebook_form input[type=text] { margin-top: 17px; font-size: 20px; font-weight: bold; padding: 10px 20px; width: 405px; height: 54px; display: inline-block; border:none; float: left;}
.peanutoon_tkskics .evt_facebook_form a.btn { display: inline-block; margin-left: 72px; }
.peanutoon_tkskics .evt_con01 { position: relative; width: 100%; text-align: center; }
.peanutoon_tkskics .evt_con01 a {}
.peanutoon_tkskics .evt_con02 { position: relative; width: 1200px; height: 391px; margin: 0 auto; text-align: center; }
.peanutoon_tkskics .evt_con02 form { padding-top: 23px; width: 629px; margin: 0 auto; }
.peanutoon_tkskics .evt_con02 form .formgroup { display: block; margin-top: 12px; }
.peanutoon_tkskics .evt_con02 form .formgroup label, .evt_con02 form .formgroup input { display: inline-block; vertical-align: middle; font-size: 0; }
.peanutoon_tkskics .evt_con02 form .formgroup label { width: 188px; line-height: 54px; text-align: right; }
.peanutoon_tkskics .evt_con02 .formgroup label img { vertical-align: middle; }
.peanutoon_tkskics .evt_con02 form input[type=text] { width: 405px; height: 53px; padding: 10px 20px; font-size: 20px; margin-left: 31px; border:none; background-color: #ffffa0; }
.peanutoon_tkskics .evt_con02 .form_agree { position: relative; display: block; margin-top: 33px; }
.peanutoon_tkskics .evt_con02 .form_agree input[type="checkbox"] { z-index:100000; position:absolute; top:0; left:0; width:1px; height:1px; font-size:0; line-height:0; visibility:hidden; overflow:hidden; }
.peanutoon_tkskics .evt_con02 .form_agree input[type="checkbox"] + label { color: #f2f2f2; }
.peanutoon_tkskics .evt_con02 .form_agree input[type="checkbox"] + label span { display: inline-block; width: 40px; height: 40px; vertical-align: middle; cursor: pointer; margin-right: 14px; }
.peanutoon_tkskics .evt_con02 .form_ok { margin-top: 45px; }
.peanutoon_tkskics .evt_con03 { position: relative; width: 100%; text-align: center; }
.peanutoon_tkskics .evt_con04 { position: relative; width: 100%; text-align: center; }
.peanutoon_tkskics .evt_con05 { position: relative; width: 100%; text-align: center; padding-top: 63px; }
.peanutoon_tkskics .evt_con05 a { margin: 0 auto; }
.peanutoon_tkskics .evt_con06 { position: relative; width: 100%; text-align: center; padding-top:25px; padding-bottom: 100px; }
.peanutoon_tkskics .evt_con06 a { margin: 0 auto; }