.evtcontainer { position:relative; width: 100%; background-color: #cfe4d4; }
.evt_header { position: relative; width: 100%; text-align: center; }
.evt_header img { width: 100%; height: auto; }
.evt_con01 { position: relative; width: 100%; text-align: center; }
.evt_con01 img { width: 100%; height: auto; }
.evt_con02 { width: 100%; margin-top: 10vh; background-color: #b4d2bb; }
.evt_con02_tit { position: relative; width: 173px; margin: 0 auto; top: -17.5px;}
.evt_con02_tit img { width: 100%; height: auto; }
.evt_con02_form { position:relative; width: calc(90% + 5px) ; margin: 0 auto; }
.evt_con02_form input[type="text"] { width: calc(100% - 5px); border:3px solid #6c4e3c; box-shadow: 3px 3px 0px #6c4e3c; font-size: 1.5em; padding: 10px; font-weight: bold; color: #666; }
.evt_con02_form ul { font-size: 0; margin-top: 2vh; width: 100%; }
.evt_con02_form ul li { display: inline-block; margin-left: 10px; margin-bottom: 5px; border:3px solid #6c4e3c; box-shadow: 3px 3px 0px #6c4e3c; }
.evt_con02_form ul li:first-child { margin-left: 0; }
.evt_con02_form ul li:last-child { margin-right:4px; }
.evt_con02_form ul li img { width: 100%; }

.evt_con02_score { position: relative; width: 90%; margin: 0 auto; text-align: right; margin-top: 3vh; padding-bottom: 3vh; }
.evt_con02_score ol li { height: 24.5px; margin-top: 2.1vh; }
.evt_con02_score ol li img { width: auto; height: 100%; vertical-align: middle; display: inline-block; }
span.score { border-radius: 15px; background-color: #7ea086; font-size: 1.7em; font-weight: bold; color: #fff; padding: 5px 20px; vertical-align: middle; margin: 0 10px; }

.evt_con03 { position: relative; background-color: #cfe4d4; width: 100%; padding-bottom: 4vh; }
.evt_con03 img { width: 100%; }