.peanutoon_tkskics { position: relative; }
.peanutoon_tkskics .evtcontainer { position:relative; width: 100%; background-color: #e3dfe6; }
.peanutoon_tkskics .evt_header { position: relative; width: 100%; }
.peanutoon_tkskics .evt_header img { width: 100%; }
.peanutoon_tkskics .evt_facebook { background-color: #0c82c8; text-align: center; }
.peanutoon_tkskics .evt_facebook img { width: 100%; max-width: 1200px; }
.peanutoon_tkskics .evt_facebook_formgroup { position: relative; width:100%; max-width: 1200px; margin: 0 auto; padding: 13% 5%; text-align: left; vertical-align: middle; text-align: center; }
.peanutoon_tkskics .evt_facebook_form { display: table; width: 100%; border-collapse: separate; }
.peanutoon_tkskics .evt_facebook_formlabel { width: 76px; display: table-cell; }
.peanutoon_tkskics .evt_facebook_formlabel img { width: 100%; }
.peanutoon_tkskics .evt_facebook_form input[type=text] { margin-left: 3%; font-size: 1.5em; font-weight: bold; padding: 10px 20px; border:none; display: table-cell; box-shadow:3px 3px #00598e; width: calc(100% - 6%); }
.peanutoon_tkskics .evtform_va { display: table-cell; vertical-align: middle; margin-right: 0; width: 96px; }
.peanutoon_tkskics .evt_facebook_form a.btn { position: relative; display: inline-block; width: 96px; box-shadow:3px 3px #00598e; }
.peanutoon_tkskics .evt_facebook_form a.btn img { width: 100%; }

.peanutoon_tkskics .evt_complete { position: relative; width: 100%; background-color: #0c82c8; text-align: center; }
.peanutoon_tkskics .evt_caution { position: relative; width: 100%; background-color: #0c82c8; text-align: center; padding: 50px 0; }

.peanutoon_tkskics .evt_con01 { position: relative; width: 100%; text-align: center; padding-top: 50px; }
.peanutoon_tkskics .evt_con02 { position: relative; width: 100%; text-align: center; padding: 50px 0; }
.peanutoon_tkskics .evt_con03 { position: relative; width: 100%; text-align: center; background-color: #f3eef5; padding: 50px 0; }
.peanutoon_tkskics .evt_con04 { position: relative; width: 100%; text-align: center; padding: 50px 0; }
.peanutoon_tkskics .evt_con05 { position: relative; width: 100%; text-align: center; background-color: #f3eef5; padding: 50px 0; }
.peanutoon_tkskics .evt_con06 { position: relative; width: 100%; text-align: center; padding: 50px 0; }
.peanutoon_tkskics .evt_con07 { position: relative; width: 100%; text-align: center; background-color: #f3eef5; padding: 50px 0; }
.peanutoon_tkskics .evt_con08 { position: relative; width: 100%; text-align: center;  padding: 50px 0; }
.peanutoon_tkskics .evt_con09 { position: relative; width: 100%; text-align: center; background-color: #f3eef5; padding: 50px 0; }