.evt-container {
    position: relative;
    width: 100%;
    background: #495740;
    overflow:hidden;
}
.evt-maincopy {
    width: 100%;
    padding-top: 80px;
    text-align: center;
    display: block;
}
.evt-insp {
    width: 100%;
    padding: 10px 0 157px 0;
    text-align: center;
    display: block;
}
.evt-exp {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 95px;
    display: block;
}
.evt-content {
    width:100%;
    text-align: center;
    padding-bottom: 100px;
}
.evt-content .evt-link {
    width: 1250px;
    margin: 0 auto;
    padding-right: 5px;
}

.evt-warn {
    width: 100%;
    padding: 130px 0;
    text-align: center;
    background-color: #e3e3d8;
}