#event_bl_yesorno { position: relative; width: 100%; min-height: 100%; height: auto !important; z-index: 1; letter-spacing: -1px;}
#event_bl_yesorno .evtcontainer { position: relative; width: 100%; outline: none; background-color:#b1e6df;}
#event_bl_yesorno .evt_contentswrap { position: relative; width: 100%; }
#event_bl_yesorno .evt_contents { position: relative; width: 1200px; margin: 0 auto; display: block; text-align: center; }
#event_bl_yesorno .evt_contents_btn { position: relative;}

#event_bl_yesorno .evt_svg { position: absolute; z-index: 1;left: 0; right: 0; bottom: 0; top: 0; }
#event_bl_yesorno .evt_svg polygon { opacity: 0; cursor: pointer; }
#event_bl_yesorno .evt_svg circle { opacity: 0; cursor: pointer; }
#event_bl_yesorno .evt_svg rect { opacity: 0; cursor: pointer; }