#wrapper{min-width: 360px !important;}

* { margin: 0; padding: 0; outline: none; box-sizing: border-box; letter-spacing: -1px; }

.evt-container {
	position: relative;
	width: 100%;
	background-color: #fff;
	color: #242424;
	font-size: 16px;
	padding-bottom:20px;
}
/* 당첨자 정보 입력 페이지 */
.present {
	position: relative;
	min-height: 100vh;
	font-size: 16px;
}
.present-header {
	position: relative;
	width: 100%;
	text-align: center;
}
.present-header h3 {
	font-size: 1.3em;
	color: #000;
	text-align: center;
	font-weight: bold;
	margin-top: 20px;
}
@media (max-width: 767px) {
	.present-header img {
		width: 100%;
	}
}
.present-header h3 span {
	color: #355742;
}

.prizeinfo {
	position: relative;
	width: 100%;
	padding: 1em;
}
.prizeinfo .prize_name>label, .prizeinfo .prize_phone>label, .prizeinfo .prize_address>label, .prizeinfo .prize_zipcode>label {
	display: inline-block;
	width: 25%;
}
.prizeinfo input[type="text"] {
	display: inline-block;
	padding: 10px;
	font-size: 1em;
	border:3px solid #bd2323;
	width: calc(75% - 20px);
}
.prizeinfo input[type="text"]:focus {
	border: 3px solid #490606;
}
.prizeinfo input[type="checkbox"] {
	height: 0;
	width: 0;
	display: none;
}
.prizeinfo input[type="checkbox"] + label {
	position: relative;
	display: flex;
	margin: .6em 0;
	align-items: center;
	color: #490606;
	transition: color 250ms cubic-bezier(.4,.0,.23,1);
}
.prizeinfo input[type="checkbox"] + label > span {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 0.5em;
	width: 1em;
	height: 1em;
	background: transparent;
	border: 2px solid #bd2323;
	border-radius: 2px;
	cursor: pointer;
	transition: all 250ms cubic-bezier(.4,.0,.23,1);
}
.prizeinfo input[type='checkbox'] + label:hover, .prizeinfo input[type='checkbox']:focus + label{
 	color: #000;
}
.prizeinfo input[type='checkbox'] + label:hover > span, .prizeinfo input[type='checkbox']:focus + label > span{
	background: rgba(255,255,255,.1);
}
.prizeinfo input[type='checkbox']:checked + label > span{
	border: .5em solid #bd2323;
	animation: shrink-bounce 200ms cubic-bezier(.4,.0,.23,1);
}
.prizeinfo input[type='checkbox']:checked + label > span:before{
	content: "";
	position: absolute;
	top: .6em;
	left: .2em;
	border-right: 3px solid transparent;
	border-bottom: 3px solid transparent;
	transform: rotate(45deg);
	transform-origin: 0% 100%;
	animation: checkbox-check 125ms 250ms cubic-bezier(.4,.0,.23,1) forwards;
}
@keyframes shrink-bounce{
  0%{
    transform: scale(1);
  }
  33%{
    transform: scale(.85);
  }
  100%{
    transform: scale(1);
  }
}
@keyframes checkbox-check{
  0%{
	width: 0;
    height: 0;
    border-color: #fff;
    transform: translate3d(0,0,0) rotate(45deg);
  }
  33%{
    width: .2em;
    height: 0;
    transform: translate3d(0,0,0) rotate(45deg);
  }
  100%{
    width: .2em;
    height: .5em;
    border-color: #fff;
    transform: translate3d(0,-.5em,0) rotate(45deg);
  }
}
.prizeinfo .prize_name, .prizeinfo .prize_address, .prizeinfo .prize_zipcode {
	position: relative;
	width: 100%;
}
.prizeinfo .prize_phone, .prizeinfo .prize_address, .prizeinfo .prize_zipcode {
	position: relative;
	width: 100%;
	margin-top: 10px;
}

.prizeinfo .prize_check {
	position: relative;
	width: 100%;
	margin-top: 15px;
}
.prizeinfo .prize_check h4 {
	font-weight: 800;
}
.prizeinfo .prize_check .prize_term {
	position: relative;
	width: 100%;
	font-size: 0.8em;
	line-height: 1.5;
	white-space: pre-wrap;
	padding: 10px;
	margin: 10px 20px 0 0 ;
	border: 1px solid #bd2323;
}

.pre-check {
	position: relative;
	width: 100%;
	margin-top: 30px;
}
.pre-check p.pre-delivery {
	text-align: center;
	color: #355742;
}
.pre-check ul {
	border: 1px solid #bd2323;
	margin-top: 15px;
}
.pre-check ul li {
	display: block;
	list-style: none;
	padding: 0 10px;
}
.pre-check ul li .pre-img, .pre-check ul li .pre-text {
	display: inline-block;
	vertical-align: middle;
}
.pre-check ul li .pre-text {
	width: calc(100% - 110px);
	padding-left: 10px;
}
.pre-text p {
	font-weight: bold;
}
.pre-text span {
	font-size: 0.9rem;
	color: rgba(0,0,0,.3);
}

.present-footer {
	position: relative;
	width: 100%;
	text-align: center;
}
.present-footer ul li {
	display: inline-block;
	padding: 10px 0;
}
.present-footer ul li span {
	border: 1px solid #000;
	border-radius: 10px;
	padding: 0 10px;
}
.present-footer ul li span i {
	margin-top: -4px;
	font-size: 1.4em;
}
.present-footer input[type='submit'] {
	border: 0;
	font-size: 1.2em;
	width: 35vw;
	padding: 5px 0;
	background-color: #bd2323;
	color: #fff;
	font-weight: 600;

}
