.evt-container {
	position: relative;
	width: 100%;
	background: #355742;
	overflow:hidden;
}

.evt-header {
	position: relative;
	width: 100%;
	text-align: center;
	padding-top: 370px;
}
.evt-contents {
	position: relative;
	width: 100%;
	padding-bottom: 200px;
}
.evt-tablist {
	position: relative;
	width: 1200px;
	margin: 0 auto;
	padding-top: 50px;
}
.evt-tablist ul {
	font-size: 0;
}
.evt-tablist ul li{
	display: inline-block;
	width: calc(33.3% - 1px);
	height: 100px;
	cursor: pointer;
	background-repeat: no-repeat;
	margin-right: 1px;
}
/* 탭 링크 범위 추가 */
.evt-tablist ul li a{
	display: inline-block;
	width: 100%;
	height: 100%;
}

.evt-tabcontent {
	position: relative;
	width: 1200px;
	margin: 0 auto;
	padding:90px 55px;
	text-align: center;
	border-right: 2px solid #355742;
}
.evt-gauge {
	position: relative;
	width: 100%;
	margin-top: 80px;
	text-align: center;
}
.c100 {
	box-shadow: none;
	border: 10px solid #bd2323;
	width: calc(1em + 20px);
	height: calc(1em + 20px);
}
.christmas {
	cursor: pointer;
}
.christmas.c100 {
	font-size: 400px;
}
.c100 >.gauge_logout {
  position: absolute;
  width: 100%;
  z-index: 1;
  left: 0;
  top: -40px;
  font-size: 0.12em;
  color: #fff;
  display: block;
  text-align: center;
  white-space: nowrap;
  font-weight: bold;
}
.c100 >.gauge_login, .c100 >.gauge_open {
  position: absolute;
  width: 100%;
  z-index: 1;
  left: 36px;
  top: -40px;
  width: 328px;
  height: 406px;
  color: #fff;
  display: block;
  text-align: center;
  white-space: nowrap;
  font-weight: bold;
  font-size: 75px;
  padding-top: 180px;
  box-sizing: border-box;
}
.c100 >.gauge_login p.peanut, .c100 >.gauge_open p.peanut {
	font-size: 40px;
}
.gauge_open a { color: #fff; }
.c100 .bar {
	border: 0.12em solid #ffc539;
	width: 0.76em;
	height: 0.76em;

}
.evt-present:before {
	position: absolute;
	content: '';
	top: -70px;
	right: -50px;
	width: 143px;
	height: 142px;
}
.evt-present {
	position: relative;
	width: 100%;
	margin-top: 40px;
	background-color: #bd2323;
	color: #fff;
	padding: 40px 0;
}
.evt-warn {
	position: relative;
	width: 100%;
	margin-top: 50px;
	text-align: center;
}

.Modalalert { overflow:hidden;}
.ModalBackground {
	position: absolute;
	width: 100%;
	height: 100vh;
	background-color: rgba(0,0,0,.8);
	z-index: 100;
	display: none;
}
.ModalPopup {
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -340px;
	width: 680px;
	z-index: 101;
	border-radius: 20px;
	font-size: 16px;
	display: none;
	border:1px solid rgba(255,255,255,.3);
}
.ModalPopup .p_content01 {
	padding: 45px 0;
	text-align: center;
}
.ModalPopup .p_content01 .p_coupon {
	position: relative;
	width: 100%;
	text-align: center;
	padding-top: 125px;
}
.ModalPopup .p_content01 ul.p_choice {
	font-size: 0;
	width: 93%;
	margin: 45px auto;
}
.ModalPopup .p_content01 ul.p_choice li {
	display: inline-block;
	width: 33.3%;
	text-align: center;
}
.ModalPopup .p_content01 ul.p_choice li input[type='radio'] { display: none; }
.ModalPopup .p_content01 ul.p_choice li input[type='radio']#pocket1 + label::before {
	content: '';
	display: inline-block;
	width: 198px;
	height: 197px;
	cursor: pointer;
}
.ModalPopup .p_content01 ul.p_choice li input[type='radio']#pocket2 + label::before {
	content: '';
	display: inline-block;
	width: 198px;
	height: 197px;
	cursor: pointer;
}
.ModalPopup .p_content01 ul.p_choice li input[type='radio']#pocket3 + label::before {
	content: '';
	display: inline-block;
	width: 198px;
	height: 197px;
	cursor: pointer;
}

.ModalPopup .p_content02 {
	padding: 45px 0;
	text-align: center;
}
.ModalPopup .p_content02 p {
	font-size: 25px;
	margin-top: 20px;
	font-weight: bold;
}
.ModalPopup .p_content02 p span {
	color: #c93333;
}
.ModalPopup .p_content02 button {
	font-size: 20px;
	color: #fff;
	background-color:#c93333;
	margin-top: 45px;
	width: 130px;
	height: 40px;
}

.ModalPopup button {
	height: 52px;
	border:none;
	background-color:#c93333;
	font-size: 35px;
	font-weight: bold;
	width: 260px;
	color: #fff;
}
.ModalPopup button:hover {
	background-color:#f72f2f;
}
.ModalPopup button.nochk {
	background-color: #9E9E9E;
}
.ModalPopup button.p_buy, .ModalPopup button.p_couponpage { width: 95%; }
.ModalClose {
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	color: #272727;
	position: absolute;
	top: 15px;
	right: 15px;
	cursor: pointer;
}
.ModalClose i { font-size: 3em; }


/* 2번탭 */
.tab02>.evt-tabcontent {
	position: relative;
	width: 1200px;
	margin: 0 auto;
	text-align: center;
	border-right: 2px solid #355742;
	background: none;
	padding: 0;
	background-color: #c93333;
}
.tab02 .evt-warn {
	margin-top: 90px;
	padding-bottom: 90px;
}

.evt-delivery {
	position: relative;
	width: 100%;
	text-align: center;
	margin: 80px 0;
}