.evt-container {
	position: relative;
	width: 100%;
	background: #363640;
	overflow:hidden;
}
.evt-title {
	position: relative;
	width: 100%;
	padding: 140px 0 40px 0;
}
.evt-maincopy {
	width: 100%;
	text-align: center;
	display: block;
}
.evt-content {
	position: relative;
	width: 100%;
	padding-bottom: 200px;
}



.evt-content .evt-frame {
	position: relative;
	width: 1200px;
	margin: 0 auto;
}

.evt-content .evt-frame ul.evt-tab {
	font-size: 0;
	border-left: 1px solid #363640;
}
.evt-content .evt-frame ul.evt-tab li {
	display: inline-block;
	border-right: 1px solid #363640;
	border-bottom: 1px solid #363640;
}
/*
.evt-content .evt-frame ul.evt-tab li a:link {
	display: block;
	width: 299px;
	height: 100px;
	background-position: bottom center;
}
*/
.evt-content .evt-frame ul.evt-tab li a {
	display: block;
	width: 299px;
	height: 100px;
}
.evt-content .evt-frame ul.evt-tab li a:hover, .evt-content .evt-frame ul.evt-tab li.on > a {
	background-position: top center !important;
}
.evt-content .evt-frame ul.evt-tab li.on {
	border-bottom: 1px solid #f2c45c;
}
.evt-content .evt-frame ul.evt-tab li.last {
	border-right: 0px solid #363640;
}

.evt-content .evt-frame .evt-tabcontents {
	position: relative;
	width: 100%;
	text-align: center;
	padding: 100px 0;
}

.evt-content .evt-frame .evt-tabcontents .tabcontents01 {
	text-align: center;
}
img.tab01_dduk {
	display: block;
	margin: 0 auto;
	margin-top: 60px;
	cursor: pointer;
}
.evt-warn {
	width: 100%;
	text-align: center;
	margin-top: 60px;
}


.Modalalert { overflow:hidden;}
.ModalBackground {
	position: absolute;
	width: 100%;
	height: 100vh;
	background-color: rgba(0,0,0,.8);
	z-index: 100;
	display: none;
}
.ModalPopup {
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -250px;
	width: 500px;
	background-color: #3a3a4d;
	z-index: 101;
	border-radius: 3px;
	font-size: 16px;
	display: none;
	border:1px solid rgba(255,255,255,.3);
}
.ModalPopup .p_content {
	padding: 20px;
}
.ModalPopup .p_content .p_coupon {
	position: relative;
	width: 100%;
	text-align: center;
	padding-top: 125px;
}

.ModalPopup .p_content .p_coupon p {
	color: #eb4f75;
	font-size: 3em;
	font-weight: bold;
	letter-spacing: -0.1em;
}

.ModalPopup .p_content .p_get {
	position: relative;
	display: block;
	margin-top: 13px;
	text-align: center;
}

.ModalPopup .p_content .p_get span {
	color: #654fbd;
	font-size: 1.5em;
	letter-spacing: -0.1em;
}

.ModalPopup .p_content ul {
	position: relative;
	width: 100%;
	font-size: 0;
	margin-top: 10px;
	padding: 0 40px;
}

.ModalPopup .p_content ul li {
	display: inline-block;
	width: 50%;
	font-size: 16px;
}

.ModalPopup .p_content ul li:last-child { text-align: right; }


.ModalPopup button {
	margin-top: 20px;
	height: 52px;
	border:none;
	background-color:#3a3b4d;
	font-size: 21px;
	font-weight: bold;
	width: 80%;
	color: #fff;
	box-shadow: 3px 3px 0 rgba(237,135,34,1);
}
.ModalPopup button:hover {
	background-color:#4a4c75;
}
.ModalPopup button.p_buy, .ModalPopup button.p_couponpage { width: 95%; }
.ModalClose {
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	color: #f1bd51;
	position: absolute;
	top: -50px;
	right: 0px;
	cursor: pointer;
}
.ModalClose i { font-size: 3em; }

/* tab02 time */
.evt-content .evt-frame .tabcontents02 {
	position: relative;
	padding: 100px 30px;
}
.tab02_btn {
	margin-top: 60px;
	display: inline-block;
	margin-bottom: 60px;
}

.evt-content .evt-frame .evt-tabcontents .tab02_slide {
	position: relative;
	width: 100%;
	background-color: #ffda85;
}
.slide_title {
	position: relative;
	width: 100%;
	background-color: #363640;
	padding: 15px 0;
}
.slide_title > label{
	display: block;
	position: absolute;
	top: 10px;
	left: 10px;
	color:white;
	font-size:15px;
	z-index:10px;
}

.slide_wrap {
	position: relative;
}
.slide_wrap .slide_angle {
	position: absolute;
	top: 50%;
	margin-top: -37px;
	z-index: 10;
}
.tabcontents02 .left {
	left: -78px;
}
.tabcontents02 .right {
	right: -78px;
}
.slide_wrap .slide_contents {
	position: relative;
	width: 975px;
	margin: 0 auto;
}
/*
.slide_wrap .slide_contents .day_link_bg {
	background: #ffda85; // Old browsers 
	background: linear-gradient(to right, #ffda85 1%,#363640 100%);
	
	font-size: 0;
	white-space:nowrap;
	
	// overflow-x: hidden;
	// overflow-y: hidden;
}
*/
.slide_wrap .slide_contents .slider {
	display: inline-block;
	/* width: 34%; */
	vertical-align: top;
}
.slide_wrap .slide_contents .slider .day {
	display: inline-block;
	padding-top: 10px;
	height: 56px;
	vertical-align: middle;
	text-align: center;
}

.slide_wrap .slide_contents .slider .daytime{
	width:100%;
	background-color:#efbb46;
}

.slide_wrap .slide_contents .slider .nighttime{
	width:100%;
	background-color:#535a6f;
}

.slide_wrap .slide_contents .slider .link {
	background-color: #ffda85;
	padding: 25px;
	height: 397px;
}

/* tab03 sale */

.evt-content .evt-frame .tabcontents03 {
	padding: 100px 30px;
}

/* tab04 reply */

.evt-content .evt-frame .tabcontents04 {
	padding: 100px 30px;
}
.tab04_slide {
	position: relative;
	margin-top: 50px;
	padding-bottom: 30px;
}
.tab04_slide .slide02-title {
	width: 100%;
}
.tab04_slide .slide_wrap {
	position: relative;
	margin-top: 20px;
}
.tab04_slide .slide_wrap .slide_angle {
	margin-top: -54px;
}
.tab04_slide .slide_wrap .slide_angle .left, .tab04_slide .slide_wrap .slide_angle .right {
	left: 0px;
	right: 0px;
}
/*
.tab04_slide .slide_wrap .slide_contents {
	width: 839px;
	white-space:nowrap;
	overflow-x: auto;
	overflow-y: hidden;
}
*/
.slide_image {
	display: inline-block;
}
.tabcontents04 .left {
	left: -146px;
}
.tabcontents04 .right {
	right: -146px;
}


.evt-reply {
	position: relative;
	width: 100%;
	padding: 0 0 70px 0;
	margin-top: 60px;
	font-size: 0;
}
.evt-reply .reply_byte {
	position: absolute;
	top: -20px;
	font-size: 14px;
	color: #b28a8a;
}
.evt-reply .reply_byte span {
	color: #661616;
}
.evt-reply .reply_input {
	position: relative;
	margin: 0 auto;
	display: table;
	padding-bottom: 25px; /* 추가 */
}
.evt-reply .reply_input form {
	display: table-cell;
	vertical-align: bottom;
}
.evt-reply .reply_input textarea {
	width: 997px;
	border: 0;
	padding: 20px 25px;
	font-size: 22px;
	resize: none;
	height: 122px;
	color:#333;
}
.evt-reply .reply_input input[type="image"] {
	vertical-align: initial;
}
.evt-reply .reply_input textarea::-ms-input-placeholder { color: #adadb0; }
.evt-reply .reply_input textarea::-webkit-input-placeholder { color: #adadb0; }
.evt-reply .reply_input textarea:-moz-placeholder { color: #adadb0; }
.evt-reply .reply_input textarea::-moz-placeholder { color: #adadb0; }


.evt-reply .reply_list {
	position: relative;
	margin: 0 auto;
	background-color: #ffd77b;
	padding: 30px;
	/* margin-top : 25px; <- 삭제해주세요 */
}

.evt-reply .reply_list ol>li {
	display: block;
	width: 100%;
	margin-bottom:10px;
}
.evt-reply .reply_list ol li ul:after {
	content: "";
	display: block;
	clear: both;
}
.evt-reply .reply_list ol li ul>li {
	position: relative;
	display: inline-block;
	float: left;
	color: #363640;
	font-size: 18px;
	padding: 20px 0;
	text-align: left;
}

.evt-reply .reply_list ol li ul>li:nth-child(1) {
	display: inline-block;
	width: 230px;
	font-weight: bold;
	overflow: hidden;
	word-break: break-all;
	padding-right:20px;
}
.evt-reply .reply_list ol li ul>li:nth-child(1) span {
	vertical-align: middle;
}
.evt-reply .reply_list ol li ul>li:nth-child(2):before {
	content: "";
	position: absolute;
	left: -18px;
	bottom:0;
	width: 18px;
	height: 18px;
	/* background-image: url(../images/evt_thanksgiving/tab04_reply_deco01.png); */
	z-index: 2;
}
.evt-reply .reply_list ol li ul>li:nth-child(2) {
	position: relative;
	width: calc(100% - 330px);
	background-color: #ffffff;
	padding: 20px;
	word-break:break-all;
}
.evt-reply .reply_list ol li ul>li:nth-child(3) {
	text-align: right;
	width: 100px;
	font-size: 16px;
	line-height: 41px;
	color: #ad9460;
}

/* Paging */
.evt-reply .reply_paging {
	text-align: center;
	margin-top: 30px;
}
.evt-reply .reply_paging ul {
	display: table;
	margin: 0 auto;
}
.evt-reply .reply_paging ul li {
	display: table-cell;
	font-size: 20px;
	vertical-align: middle;
	padding: 0 15px;
	cursor: pointer;

}
.evt-reply .reply_paging ul li a {
	color: #363640;
}
.evt-reply .reply_paging ul li a:hover, .evt-reply .reply_paging ul li a:focus {
	font-weight: bold;
}
.evt-reply .reply_paging ul li i {
	font-size: 25px;
}
.evt-reply .reply_paging ul li.end i {
	color: rgba(54,54,64,.3);
}
