.evt-container {
	position: relative;
	width: 100%;
	background: #0f2c5b;
	background-size: cover;
	background-repeat: no-repeat;
	overflow:hidden;
}

.evt-title {
	position: relative;
	width: 1282px;
	margin: 0 auto;
	padding-top: 110px;
	text-align: center;
}
.evt-subtitle {
	position: relative;
	width: 100%;
}
.evt-subtitle ul {
	width: 1282px;
	margin: 0 auto;
	font-size: 0;
}
.evt-subtitle ul li {
	display: inline-block;
}
.evt-link {
	position: relative;
	width: 1199px;
	margin: 0 auto;
	font-size: 0;
}
.evt-link div[class^="con"] {
	display: inline-block;
	width: 50%;
	font-size: 16px;
}
.evt-link .con-right { text-align: right; }

.evt-warn {
	position: relative;
	width: 100%;
	text-align: center;
	background-color: #0f2c5b;
	padding: 110px 0;
}