.evtcontainer { width: 100%; position: relative; outline: none;}
.evt_header { position: relative; width: 100%; background-color:#48e6ec; text-align: center; }
.evt_con01 { position:relative; width: 100%; background:url(http://qi01-ie5524.ktics.co.kr/_pc/eventful/3/contents01_bg.png) repeat; text-align: center; }
.evt_con02 { position: relative; width: 100%; background-color: #48e6ec; }
.evt_con02_tit { position: relative; width: 100%; text-align: center; }
.evt_con02_link { position: relative; width: 1200px; margin: 0 auto; background:url(http://qi01-ie5524.ktics.co.kr/_pc/eventful/3/contents02_bg.png) no-repeat left top; padding-left: 86px; padding-bottom: 100px; }
.evt_con02_link a { display: inline-block; }