.evt-container {
    position: relative;
    width: 100%;
    background: #ebefe8;
    overflow:hidden;
}
.evt-maincopy {
    width: 100%;
    text-align: center;
    display: block;
}
.evt-content {
    width:100%;
    text-align: center;
    padding-bottom: 100px;
}
.evt-content .evt-link {
    width: 1250px;
    margin: 0 auto;
    padding-right: 5px;
}

