.evtcontainer { width: 100%; position: relative; outline: none; background-color: #42444a;}
.evt_header, .evt_footer { position: relative; width: 1200px; margin: 0 auto; }
.blink { position: absolute; top: 189px; right: 389px; -webkit-animation-fill-mode: both; animation-fill-mode: both; -webkit-animation-iteration-count: infinite; animation-interation-count: infinite; -webkit-animation-name: flash-1; animation-name: flash-1; -webkit-animation-duration: 2s; animation-duration: 1s; }
@-webkit-keyframes flash-1{
	0%, 100%{
		opacity: 0;
	}
	50%{
		opacity: 1;
	}
}
@keyframes flash-1{
	0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
.evt_con01, .evt_con02, .evt_con03, .evt_con04, .evt_con05, .evt_con06, .evt_con07, .evt_con08, .evt_con09, .evt_con10 { position: relative; width: 1042px; margin: 0 auto; }