.evt-container {
    position: relative;
    width: 100%;
    background: linear-gradient(to bottom, #295c7e 0%,#0d182c 100%);
    overflow:hidden;
}
.evt-maincopy {
    width: 100%;
    text-align: center;
    display: block;
}
.evt-content .evt-titlelink {
    padding-bottom:250px;
}
.evt-content .evt-link {
    width: 1250px;
    margin: 0 auto;
    padding-top: 150px;
}
.evt-content .evt-link .link02 {
    margin-top: 120px;
}
.evt-content .evt-link .link03 {
    margin-top: 100px;
}
.evt-content .evt-warn {
    width: 100%;
    padding: 230px 0;
    text-align: center;

}