.evt-maincopy {
	width: 100%;
	text-align: center;
	display: block;
}
.evt-content .evt-link {
	width: 1250px;
	margin: 0 auto;
	padding-right: 5px;
}

.evt-content .evt-warn {
	width: 100%;
	padding: 130px 0;
	text-align: center;

}