.evt-container {
	position: relative;
	width: 100%;
	background: linear-gradient(to bottom, #b1ddec 0%,#6ed1f3 100%);
	overflow:hidden;
}
.evt-maincopy {
	width: 100%;
	text-align: center;
	display: block;
}
.evt-content {
	width:100%;
	text-align: center;
	padding-bottom: 100px;
}
.evt-content .evt-titlelink {
	padding-bottom:120px;
}
.evt-content .evt-link {
	width: 1220px;
	margin: 0 auto;
}
.evt-content .evt-warn {
	width: 100%;
	padding: 230px 0;
	text-align: center;

}