.evt-container {
	position: relative;
	width: 100%;
	background: #fcffdd;
	background-size: cover;
	background-repeat: no-repeat;
	overflow:hidden;
}

.evt-title {
	position: relative;
	width: 100%;
	text-align: center;
}

.evt-link {
	position: relative;
	width: 100%;
	text-align: center;
}
.evt-link div[class^="con"] {
	width: 1304px;
	margin: 0 auto;
}

.evt-warn {
	position: relative;
	width: 100%;
	text-align: center;
	background-color: #faf6b9;
	margin-top: 100px;
	padding: 100px 0;
}