.peanutoon_tkskics { position: relative; }
.peanutoon_tkskics .evtcontainer { position:relative; width: 100%; background-color: #f7eccf; }
.peanutoon_tkskics .evt_header { position: relative; width: 100%; }
.peanutoon_tkskics .evt_header img { width: 100%; }
.peanutoon_tkskics .evt_facebook { background-color: #f7eccf; text-align: center; }
.peanutoon_tkskics .evt_facebook img { width: 100%; }
.peanutoon_tkskics .evt_facebook_formgroup { position: relative; width:100%; margin: 0 auto;  text-align: left; vertical-align: middle; text-align: center; padding-bottom: 8vw; }
.peanutoon_tkskics .evt_facebook_form { display: table; width: 100%; border-collapse: separate; margin-top: 10%; padding: 0 5%; }
.peanutoon_tkskics .evt_facebook_formlabel { width: 76px; display: table-cell; }
.peanutoon_tkskics .evt_facebook_formlabel img { width: 100%; }
.peanutoon_tkskics .evt_facebook_form input[type=text] { margin-left: 3%; font-size: 1.5em; font-weight: bold; padding: 10px 20px; border:none; display: table-cell; box-shadow:3px 3px #fc395c; width: calc(100% - 6%); }
.peanutoon_tkskics .evtform_va { display: table-cell; vertical-align: middle; margin-right: 0; width: 96px; }
.peanutoon_tkskics .evt_facebook_form a.btn { position: relative; display: inline-block; width: 96px; box-shadow:3px 3px #fc395c; }
.peanutoon_tkskics .evt_facebook_form a.btn img { width: 100%; }

.peanutoon_tkskics .evt_con01 { position: relative; width: 100%; text-align: center; padding: 25% 0 4.6vw 0; }
.peanutoon_tkskics .evt_con01 { position: relative; width: 100%; text-align: center; padding: 25% 0 10% 0; }
.peanutoon_tkskics .evt_con01 a { margin: 0 auto; width: 60%; }
.peanutoon_tkskics .evt_con02 { position: relative; width: 100%; text-align: center; }
.peanutoon_tkskics .evt_con02 img { width: 100%; }
.peanutoon_tkskics .evt_con03 { position: relative; width: 100%; text-align: center; }
.peanutoon_tkskics .evt_con04 { position: relative; width: 100%; text-align: center; padding: 5% 0 20% 0; }
.peanutoon_tkskics .evt_con03 img, .evt_con04 img { width: 85%; }
.peanutoon_tkskics .evt_con05 { position: relative; width: 100%; text-align: center; background-color: #f3eef5; padding: 50px 0; }
.peanutoon_tkskics .evt_con06 { position: relative; width: 100%; text-align: center; padding: 50px 0; }
.peanutoon_tkskics .evt_con07 { position: relative; width: 100%; text-align: center; background-color: #f3eef5; padding: 50px 0; }
.peanutoon_tkskics .evt_con08 { position: relative; width: 100%; text-align: center;  padding: 50px 0; }
.peanutoon_tkskics .evt_con09 { position: relative; width: 100%; text-align: center; background-color: #f3eef5; padding: 50px 0; }