.evtcontainer { background-color: #cfe4d4; width: 100%; position: relative; outline: none; }
.evt_header { position: relative; width: 100%; text-align: center; }
.evt_con01 { position: relative; width: 100%; text-align: center; }
.evt_con02_tit { position: relative; width:100%; text-align: center; }
.evt_con02_form { position: relative; width: 755px; margin: 0 auto; text-align: left; padding-top: 53px; }
.evt_con02_form input[type="text"] { width: 750px; border:3px solid #6c4e3c; box-shadow: 5px 5px 0px #6c4e3c; height: 64px; font-size: 2.3em; padding: 0 20px; font-weight: bold; color: #666; }
.evt_con02_form ul { font-size: 0; margin-top: 18px; width: 100%; }
.evt_con02_form ul li { display: inline-block; width: calc(50% - 9px); margin-left: 18px; }
.evt_con02_form ul li:first-child { margin-left: 0; }'
.evt_con02_form ul li:last-child { text-align: right; }
.evt_con02_score { margin: 0 auto; margin-top: 41px; width: 750px; }
.evt_con02_score ol { width: 100%; font-size: 0; }
.evt_con02_score ol li { text-align: right; vertical-align: middle; margin-top: 17px; }
.evt_con02_score ol li img { display: inline-block; }
span.score { border-radius: 20px; background-color: #7ea086; font-size: 29px; font-weight: bold; color: #fff; padding: 10px 20px; vertical-align: middle; margin: 0 20px; }
.evt_con03 { position: relative; margin-top: 150px; padding-bottom: 150px; }