.peanutoon_tkskics  { position: relative; }
.peanutoon_tkskics  .ics1_bg { background-color: #e3dfe6; width: 100%; position: relative; outline: none; }
.peanutoon_tkskics  .evt_header { position: relative; width: 100%; text-align: center; background-color: #fff07f; }
.peanutoon_tkskics  .evt_facebook { background-color: #0c82c8; text-align: center; }
.peanutoon_tkskics  .evt_facebook_formgroup { position: relative; width: 1200px; margin: 0 auto; background:url(../images/evt_form_bg.png) no-repeat center top; padding: 173px 0 113px 394px; text-align: left; vertical-align: top; }
.peanutoon_tkskics  .evt_facebook_form input[type=text] { margin-top: 17px; font-size: 20px; font-weight: bold; padding: 10px 20px; width: 405px; height: 54px; display: inline-block; border:none; float: left;}
.peanutoon_tkskics  .evt_facebook_form a.btn { display: inline-block; margin-left: 72px; }


.peanutoon_tkskics  .evt_complete { position: relative; width: 100%; background-color: #0c82c8; text-align: center; }
.peanutoon_tkskics  .evt_caution { position: relative; width: 100%; background-color: #0c82c8; text-align: center; padding: 130px 0; }

.peanutoon_tkskics  .evt_con01 { position: relative; width: 100%; text-align: center; padding-top: 100px; }
.peanutoon_tkskics  .evt_con02 { position: relative; width: 100%; text-align: center; padding:130px 0; }
.peanutoon_tkskics  .evt_con03 { position: relative; width: 100%; text-align: center; background-color: #f3eef5; padding: 130px 0; }
.peanutoon_tkskics  .evt_con04 { position: relative; width: 100%; text-align: center; padding: 130px 0; }
.peanutoon_tkskics  .evt_con05 { position: relative; width: 100%; text-align: center; background-color: #f3eef5; padding: 130px 0; }
.peanutoon_tkskics  .evt_con06 { position: relative; width: 100%; text-align: center; padding: 130px 0; }
.peanutoon_tkskics  .evt_con07 { position: relative; width: 100%; text-align: center; background-color: #f3eef5; padding: 130px 0; }
.peanutoon_tkskics  .evt_con08 { position: relative; width: 100%; text-align: center; padding: 130px 0; }
.peanutoon_tkskics  .evt_con09 { position: relative; width: 100%; text-align: center; background-color: #f3eef5; padding: 30px 0 130px 0; }