.evt-container {
	position: relative;
	width: 100%;
	background: #363640;
	overflow:hidden;
}
.evt-title {
	position: relative;
	width: 100%;
}
.evt-title img {
	width:100%;
	height:auto;
}
.evt-maincopy {
	width: 100%;
	text-align: center;
	display: block;
}
.evt-content {
	position: relative;
	width: 100%;
}



.evt-content .evt-frame {
	position: relative;
	width: 100%;
}

.evt-content .evt-frame ul.evt-tab {
	font-size: 0;
}
.evt-content .evt-frame ul.evt-tab li {
	display: inline-block;
	border-right: 1px solid #363640;
	border-bottom: 1px solid #363640;
	width:25%;
	background-color:#fff;
}
.evt-content .evt-frame ul.evt-tab li img {
	width:100%;
	height:auto;
}
/*
.evt-content .evt-frame ul.evt-tab li a:link {
	display: block;
	width: 299px;
	height: 100px;
	background-position: bottom center;
}
*/
.evt-content .evt-frame ul.evt-tab li a {
	display: block;
	width: 100%;
}
.evt-content .evt-frame ul.evt-tab li.on > a {
	background-position: top center !important;
}
.evt-content .evt-frame ul.evt-tab li.on {
	background-color:#f2c45c;
	border-bottom: 1px solid #f2c45c;
}
.evt-content .evt-frame ul.evt-tab li.last {
	border-right: 1px solid transparent;
}

.evt-content .evt-frame .evt-tabcontents {
	position: relative;
	width: 100%;
	text-align: center;
	background-color: #f2c45c;
}
.evt-content .evt-frame .evt-tabcontents .tabcontents01 {
	text-align: center;
}
.tabcontents01 img {
	width:100%;
	height:auto;
}
img.exp {
	width:100%;
	height:auto;
}

img.tab01_dduk {
	cursor: pointer;
}
.evt-warn {
	width: 100%;
	text-align: center;
}
.evt-warn img {
	width:100%;
	height:auto;
}


.Modalalert { overflow:hidden;}
.ModalBackground {
	position: absolute;
	width: 100%;
	height: 100vh;
	background-color: rgba(0,0,0,.8);
	z-index: 100;
	display: none;
}
.ModalPopup {
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -43%;
	width: 86%;
	background-color: #3a3a4d;
	z-index: 101;
	border-radius: 3px;
	font-size: 16px;
	display: none;
	border:1px solid rgba(255,255,255,.3);
}
.ModalPopup .p_content {
	width: 100%;
	padding: 20px;
}
.ModalPopup .p_content .p_coupon {
	position: relative;
	width: 100%;
	text-align: center;
	padding:22% 5% 0 5%;
}

.ModalPopup .p_content .p_coupon p {
	color: #eb4f75;
	font-size: 3em;
	font-weight: bold;
	letter-spacing: -0.1em;
}

.ModalPopup .p_content .p_get {
	position: relative;
	display: block;
	margin-top: 13px;
	text-align: center;
}

.ModalPopup .p_content .p_get span {
	color: #654fbd;
	font-size: 1.5em;
	letter-spacing: -0.1em;
}

.ModalPopup .p_content ul {
	position: relative;
	width: 100%;
	font-size: 0;
	margin-top: 10px;
	padding: 0 5%;
}

.ModalPopup .p_content ul li {
	display: inline-block;
	width: 50%;
	font-size: 16px;
}

.ModalPopup .p_content ul li:last-child { text-align: right; }


.ModalPopup button {
	margin: 5% 0;
	border:none;
	background-color:#3a3b4d;
	font-size: 1.3rem;
	padding: 0.5rem 0;
	font-weight: bold;
	width: 100%;
	color: #fff;
	box-shadow: 3px 3px 0 rgba(237,135,34,1);
}
.ModalPopup button:hover {
	background-color:#4a4c75;
}
.ModalPopup button.p_buy, .ModalPopup button.p_couponpage { width: 95%; }
.ModalClose {
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	color: #f1bd51;
	position: absolute;
	top: -50px;
	right: 0px;
	cursor: pointer;
}
.ModalClose i { font-size: 3em; }

/* tab02 time */
.evt-content .evt-frame .tabcontents02 {
	position: relative;
}
.tab02_btn {
	width:60%;
	display: inline-block;
	margin-bottom: 6vw;
}

.evt-content .evt-frame .evt-tabcontents .tab02_slide {
	position: relative;
	width: 100%;
	background-color: #ffda85;
}
.slide_title {
	position: relative;
	width: 100%;
	background-color: #363640;
	padding: 15px 0;
}
.slide_title img {
	width:63px;
	height:auto;
}
.slide_title > label{
	display: block;
	position: absolute;
	top: 10px;
	left: 10px;
	color:white;
	font-size:15px;
	z-index:10px;
}

.slide_wrap {
	position: relative;
}
.slide_wrap .slide_angle {
	position: absolute;
	top: 50%;
	margin-top: -18px;
	z-index: 10;
	width:37px;
	height:37px;
}
.tabcontents02 .left {
	left: -40px;
}
.tabcontents02 .right {
	right: -40px;
}
.slide_wrap .slide_contents {
	position: relative;
	width: 100%;
	margin: 0 auto;
}
/*
.slide_wrap .slide_contents .day_link_bg {
	font-size: 0;
	white-space:nowrap;
	// overflow-x: hidden;
	// overflow-y: hidden;
}
*/
.slide_wrap .slide_contents .slider {
	display: inline-block;
	vertical-align: top;
}
.slide_wrap .slide_contents .slider .day {
	display: inline-block;
	padding: 10px 0;
	vertical-align: middle;
	text-align: center;
}

.slide_wrap .slide_contents .slider .daytime{
	width:100%;
	background-color:#efbb46;
}

.slide_wrap .slide_contents .slider .nighttime{
	width:100%;
	background-color:#535a6f;
}

.slide_wrap .slide_contents .slider .day img {
	height:21px;
}
.slide_wrap .slide_contents .slider .link {
	background-color: #ffda85;
	padding: 3vw;
	height:55vw;
}

/* tab03 sale */

.evt-content .evt-frame .tabcontents03 img {
	width:100%;
	height:auto;
}

/* tab04 reply */

.evt-content .evt-frame .tabcontents04 {
}
.tab04_slide {
	position: relative;
	padding-bottom: 30px;
}
.tab04_slide .slide_wrap {
	position: relative;
}
.tab04_slide .slide_wrap .slide_angle {
	margin-top:-5vw;
	width:10vw;
	height:10vw;
	z-index:11;
	opacity:.6;
}
.tab04_slide .slide_wrap .slide_angle .left, .tab04_slide .slide_wrap .slide_angle .right {
	left: 0px;
	right: 0px;
}
/*
.tab04_slide .slide_wrap .slide_contents {
	width: 839px;
	white-space:nowrap;
	overflow-x: auto;
	overflow-y: hidden;
}
*/
.slide_image {
	display: inline-block;
}
.tabcontents04 .left {
	left: 1vw;
}
.tabcontents04 .right {
	right: 1vw;
}


.evt-reply {
    position: relative;
    width: 100%;
    font-size:0;
}
/* 추가 */
.evt-reply .reply_text {
    padding-bottom: 10px;
}
.evt-reply .reply_byte {
    position: relative;
    width: 100%;
    font-size: 16px;
    color: rgba(0,0,0,.3);
    padding: 10px 15px;
    text-align:left;
}
.evt-reply .reply_byte span {
    color: #333;
}
.evt-reply .reply_input {
    margin-top: 10px;
    width:100%;
}
.evt-reply form {
	width:100%;
}
.evt-reply .reply_input textarea {
    border: 0;
    resize: none;
    width: 85%;
    height: 16vw;
    font-size: 16px;
    color: #333;
    padding: 10px;
}
.evt-reply .reply_input textarea::-webkit-input-placeholder {
    color: #adadb0;
    font-size:0.9em;
}
.evt-reply .reply_input textarea:-moz-placeholder { /* Firefox 18- */
    color: #adadb0;
    font-size:0.9em;
}
.evt-reply .reply_input textarea::-moz-placeholder {  /* Firefox 19+ */
    color: #adadb0;
    font-size:0.9em;
}
.evt-reply .reply_input textarea:-ms-input-placeholder {
    color: #adadb0;
    font-size:0.9em;
}
.evt-reply .reply_input input[type="image"] {
    border:0;
}
.evt-reply .reply_img {
    position: relative;
    width: 100%;
}
.evt-reply .reply_list {
    background-color: #ffd77b;
    color: #363640;
    font-size:16px;
    padding: 1em;
    margin-bottom: 20px;
}
.evt-reply .reply_list ol {
    position: relative;
}
.evt-reply .reply_list ol>li {
    padding-bottom: 1.2em;
}
.evt-reply .reply_list ol>li:last-child { padding-bottom: 0; }
.evt-reply .reply_list ol li ul>li {}
.evt-reply .reply_list ol li ul>li:first-child:after {
    content: '';
    display: block;
    clear: both;
}
.evt-reply .reply_list ol li ul>li .reply_name {
    font-size: 0.9em;
    vertical-align: middle;
    font-weight: bold;
    width: 70%;
    float: left;
		text-align: left;
}
.evt-reply .reply_list ol li ul>li .reply_name img {
    width: 26px;
}
.evt-reply .reply_list ol li ul>li .reply_date {
    float: right;
    font-size: 0.8em;
    line-height: 26px;
    color: #ad9460;
    width: 30%;
    text-align: right;
}
.evt-reply .reply_list ol li ul>li:last-child:before {
    content: "";
		position: absolute;
		top: -10px;
		left:30px;
		width: 10px;
		height: 10px;
		z-index: 2;
		transform:rotate(90deg);
}
.evt-reply .reply_list ol li ul>li:last-child {
    position: relative;
    margin-top: 10px;
    background-color: #fff;
    padding: 0.8em;
    text-align:left;
}

/* Paging */
.evt-reply .reply_paging {
	text-align: center;
	margin-top: 30px;
}
.evt-reply .reply_paging ul {
	display: table;
	margin: 0 auto;
}
.evt-reply .reply_paging ul li {
	display: table-cell;
	font-size: 1em;
	vertical-align: middle;
	padding: 0 15px;
	cursor: pointer;

}
.evt-reply .reply_paging ul li a {
	color: #363640;
}
.evt-reply .reply_paging ul li a:hover, .evt-reply .reply_paging ul li a:focus {
	font-weight: bold;
}
.evt-reply .reply_paging ul li i {
	font-size: 25px;
}
.evt-reply .reply_paging ul li.end i {
	color: rgba(54,54,64,.3);
}
