.evt-container {
	position: relative;
	width: 100%;
	background-color: #355742;
	font-size: 0;
}

/* div[class^="con"] {
	display: inline-block;
	width: 50%;
	font-size: 16px;
} */

.evt-header {
	position: relative;
	width: 100%;
}
.evt-header img {
	width: 100%;
	height: auto;
}

.evt-contents {
	position: relative;
	width: 100%;
}
.evt-tablist ul {
	position: relative;
	width: 100%;
	font-size: 0;
}
.evt-tablist ul li {
	display: inline-block;
	width: 33.3%;
	padding-right: 1px;
}
.evt-tablist ul li:last-child {
	padding-right: 0;
}
.evt-tablist ul li img {
	width: 100%;
	height: auto;
}
/* 탭 링크 범위 추가 */
.evt-tablist ul li a{
	display: inline-block;
	width: 100%;
	height: 100%;
}

.evt-tabcontent {
	position: relative;
	width: 100%;
	background-color: #c93333;
}
.evt-gauge {
	position: relative;
	width: 100%;
	font-size: 16px;
}
.evt-gauge .gauge_logout, .evt-gauge .gauge_login, .evt-gauge .gauge_open {
	position: relative;
	width: 35%;
	margin: 0 auto;
	text-align: center;
}
.evt-gauge .gauge_logout img, .evt-gauge .gauge_login img, .evt-gauge .gauge_open img {
	width: 100%;
}
.gauge_count {
	position: absolute;
	color: #fff;
	top: calc(50% - 0.5rem);
	left: calc(50% - 3rem);
	width: 6rem;
	font-size: 1.8rem;
	font-weight: bold;
}
.gauge_count_open {
	position: absolute;
	color: #fff;
	top: 50%;
	left: calc(50% - 4rem)
}
.gauge_count p.peanut {
	font-size: 1rem;
	font-weight: normal;
}
.gauge_bar {
	position: relative;
	width: 90%;
	margin: 0 auto;
	padding-top: 5%;
}
.gauge_bar .pre_box {
	position: absolute;
	right: -0.4rem;
	bottom: 0;
	width: 52px;
}
.gauge_bar .pre_box img {
	width: 100%;
	height:auto;
}
.gauge_bar .bar {
	position: absolute;
	width: 0%;
	height: 1.5rem;
	background-color: #ffc539;
	border-radius: 1rem;
	border: 0.3rem solid #fff;
}
.gauge_bar .fill {
	width: 100%;
	height: 1.5rem;
	background-color: #fff;
	border-radius: 1rem;
}

.evt-delivery {
	width: 40vw;
	margin: 8vw auto;
}
.evt-link a img, .w-100 {
	width: 100%;
}
/* 링크 범위 추가 */
.evt-link a img a{
	display: inline-block;
	width: 100%;
	height: 100%;
}


.Modalalert { overflow:hidden;}
.ModalBackground {
	position: absolute;
	width: 100%;
	height: 100vh;
	background-color: rgba(0,0,0,.8);
	z-index: 100;
	display: none;
}
.ModalPopup {
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -43%;
	width: 86%;
	background-color: #5ecbff;
	z-index: 101;
	border-radius: 3px;
	font-size: 16px;
	display: none;
	background-color: #fff;
}
.ModalPopup .p_content01 { padding: 20px; text-align: center; overflow: auto; }
.ModalPopup .p_content01 .p_title {
	position: relative;
	width: 100%;
	text-align: center;
}
.ModalPopup .p_content01 .p_exp {
	position: relative;
	width: 100%;
	text-align: center;
	margin-top: 10px;
}
.ModalPopup .p_content01 ul.p_choice {
	font-size: 0;
	width: 100%;
	margin-top: 20px;
}
.ModalPopup .p_content01 ul.p_choice li {
	display: inline-block;
	width: 33.3%;
	text-align: center;
}
/*

.ModalPopup .p_content01 ul.p_choice li input[type='radio'] { display: none; }
.ModalPopup .p_content01 ul.p_choice li input[type='radio'] + label::before {
	content: '';
	display: inline-block;
	width: 95%;
	padding-top: 105%;
	background-position: left top;
	cursor: pointer;
}
.ModalPopup .p_content01 ul.p_choice li input[type='radio']#pocket1 + label::before {
	background: url(../images/evt_christmas/tab01_popup_box01.png);
	background-repeat: no-repeat;
	background-size: 200%;
}
.ModalPopup .p_content01 ul.p_choice li input[type='radio']#pocket1:checked +label::before {
	background-position: right top;
}
.ModalPopup .p_content01 ul.p_choice li input[type='radio']#pocket2 + label::before {
	background: url(../images/evt_christmas/tab01_popup_box02.png);
	background-repeat: no-repeat;
	background-size: 200%;
}
.ModalPopup .p_content01 ul.p_choice li input[type='radio']#pocket2:checked +label::before {
	background-position: right top;
}
.ModalPopup .p_content01 ul.p_choice li input[type='radio']#pocket3 + label::before {
	background: url(../images/evt_christmas/tab01_popup_box03.png);
	background-repeat: no-repeat;
	background-size: 200%;
}
.ModalPopup .p_content01 ul.p_choice li input[type='radio']#pocket3:checked +label::before {
	background-position: right top;
}


.ModalPopup .p_content02 { padding: 20px; max-width: 500px; margin: 0 auto; }
.ModalPopup .p_content02 .p_coupon {
	position: relative;
	max-width: 320px;
	height: 148px;
	background: url(../images/evt_bukuro/p_coupon.png) no-repeat center top;
	margin: 0 auto;
	padding:45px 0 0 85px;
	background-size: 100%;
}
*/

.ModalPopup .p_content02 .p_coupon p {
	color: #ff6872;
	font-size: 2.8em;
	font-weight: bold;
	letter-spacing: -0.1em;
	display: block;
	line-height: 100%;
}

.ModalPopup .p_content02 .p_coupon span.coupon_value { font-size: 1.5em; }

.ModalPopup .p_content02 .p_coupon span.coupon_time {
	display: inline-block;
	font-size: 0.7em;
	background-color: #ff6872;
	color: #fff;
	text-align: left;
	padding: 2px 10px;
	border-radius: 1em;
	margin-top: 1vh;
}

.ModalPopup .p_content02 .p_coupon span.coupon_time strong { color: #ffec49; }

.ModalPopup .p_content02 .p_get {
	position: relative;
	display: block;
	margin-top: 3.5vh;
	font-size: 1.5em;
	text-align: center;
	font-weight: bold;
}

.ModalPopup .p_content02 .p_get span { color: #ff6872; font-size: 1.5em; letter-spacing: -0.1em; }

.ModalPopup .p_content02 .p_exp {
	position: relative;
	display: block;
	margin-top: 3.5vh;
}

.ModalPopup .p_content02 ul {
	position: relative;
	width: 100%;
	font-size: 0;
	margin-top: 8vh;
}
.ModalPopup .p_content02 ul li {
	display: inline-block;
	width: 50%;
	font-size: 16px;
}
.ModalPopup .p_content02 ul li:last-child { text-align: right; }




.ModalPopup .p_content02 {
	padding: 45px 0;
	text-align: center;
}
.ModalPopup .p_content02 p {
	font-size: 1rem;
	margin-top: 20px;
	font-weight: bold;
}
.ModalPopup .p_content02 p span {
	color: #c93333;
}
.ModalPopup .p_content02 button {
	font-size: 1rem;
	color: #fff;
	background-color:#c93333;
	margin-top: 45px;
	width: 80%;
	height: 40px;
}


.ModalPopup button {
	margin-top: 10px;
	height: 45px;
	border:none;
	background-color:#c93333;
	font-size: 1rem;
	font-weight: bold;
	width: 80%;
	color: #fff;
}
.ModalPopup button.nochk {
	background-color: #9E9E9E;
}
.ModalPopup button.p_buy, .ModalPopup button.p_couponpage { width: 95%; }
.ModalClose {
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	color: #000;
	position: absolute;
	top: 0.5rem;
	right: 0.5rem;
	cursor: pointer;
	z-index:10;
}
.ModalClose i { font-size: 2em; }