#event_bl_yesorno { position: relative; width: 100%; background-color: #b1e6df; text-align: center; outline: none; }
#event_bl_yesorno .evt_wrapper { position: relative; width: 100%; background-color: #b1e6df; text-align: center; outline: none; }
#event_bl_yesorno .evt_header { position: relative; width: 100%; }
#event_bl_yesorno .evt_con { position: relative; width: 100%; text-align: center; }
#event_bl_yesorno .evt_con .evt_con02, .evt_con .evt_con03 { padding-bottom: 100px; }