.evtcontainer { position:relative; width: 100%; background-color: #ffe554; }
.evtcontainer img { width: 100%; }
.evt_con01_btn { position: relative; width: 100%; height: 10.083%; background: url(http://qi01-ie5524.ktics.co.kr/_mobile/eventful/3/contents01_bg.png) no-repeat; background-size: cover; text-align: center;}
.evt_con01_btn a { position: relative; width: 56.33%; display: inline-block; }
.evt_con01_btn a img { width: 100%; }
.evt_con03 { background-color: #48e6ec; padding-bottom: 5%; }