.evt-container {
	position: relative;
	width: 100%;
	background-color: #6ed1f3;
}
.evt-container img {
	width: 100%;
	height: auto;
}
.evt-header {
	position: relative;
	width: 100%;
}
.evt-insp {
	position: relative;
	width: 100%;
}
.evt-content {
	position: relative;
	width: 100%;
}
.evt-warn {
	position: relative;
	width: 100%;
}