.evt-container {
    position: relative;
    width: 100%;
    background-color: #295c7e;
}
.evt-container img {
    width: 100%;
    height: auto;
}
.evt-header {
    position: relative;
    width: 100%;
}
.evt-insp {
    position: relative;
    width: 100%;
}
.evt-content {
    position: relative;
    width: 100%;
}
.evt-warn {
    position: relative;
    width: 100%;
}