.evt-container {
	position: relative;
	width: 100%;
	background-color: #0f2c5b;
	font-size: 0;
}
.evt-container img {
	width: 100%;
	height: auto;
}

div[class^="con"] {
	display: inline-block;
	width: 50%;
	font-size: 16px;
}