.peanutoon_tkskics { position: relative; }
.peanutoon_tkskics .evtcontainer { position:relative; width: 100%; background-color: #f7eccf; }
.peanutoon_tkskics .evt_header { position: relative; width: 100%; }
.peanutoon_tkskics .evt_header img { width: 100%; }
.peanutoon_tkskics .evt_con01 { position: relative; width: 100%; text-align: center;  background-size: 100%; }
.peanutoon_tkskics .evt_con01 img { width: 100%; }
.peanutoon_tkskics .evt_con01 a { display: block; margin: 0 auto; width: 60%; }
.peanutoon_tkskics .evt_con02 { position: relative; width: 100%; text-align: center; }
.peanutoon_tkskics .evt_con02 .evt_con02_tit img { width: 80%; }
.peanutoon_tkskics .evt_con02 form { width: 85%; margin: 0 auto; padding-top: 3vw; }
.peanutoon_tkskics .evt_con02 form .formgroup { display: block; width: 100%; display: block; margin-top: 1vw; }
.peanutoon_tkskics .evt_con02 form .formgroup label, .evt_con02 form .formgroup input { display: inline-block; vertical-align: middle; font-size: 0; }
.peanutoon_tkskics .evt_con02 form .formgroup label { width: 30%; min-width: 94px; text-align: right; }
.peanutoon_tkskics .evt_con02 .formgroup label img { vertical-align: middle; }
.peanutoon_tkskics .evt_con02 form .formgroup:nth-of-type(1) label img { width: 50px; }
.peanutoon_tkskics .evt_con02 form .formgroup:nth-of-type(2) label img { width: 75px; }
.peanutoon_tkskics .evt_con02 form .formgroup:nth-of-type(3) label img { width: 94px; }
.peanutoon_tkskics .evt_con02 form input[type=text] { width: 60%; padding: 2.5vw 4vw; font-size: 1.6em; margin-left: 2vw; border:none; background-color: #ffffa0; box-shadow: 5px 5px 0 #fc395c; }
.peanutoon_tkskics .evt_con02 .form_agree { display: block; margin: 0 auto; margin-top: 3vw; width: 70%; }
.peanutoon_tkskics .evt_con02 .form_agree input[type="checkbox"] { display: none; }
.peanutoon_tkskics .evt_con02 .form_agree input[type="checkbox"] + label img { color: #f2f2f2; width: 136px; }
.peanutoon_tkskics .evt_con02 .form_agree input[type="checkbox"] + label span { display: inline-block; width: 20px; height: 20px; vertical-align: middle;  cursor: pointer; margin-right: 1vw; }
.peanutoon_tkskics .evt_con02 .form_ok { width: 80%; margin: 0 auto; margin-top: 4vw; padding-bottom: 5vw; }
.peanutoon_tkskics .evt_con03 { position: relative; width: 100%; text-align: center; }
.peanutoon_tkskics .evt_con04 { position: relative; width: 100%; text-align: center;}
.peanutoon_tkskics .evt_con03 img, .evt_con04 img { width: 100%; }
.peanutoon_tkskics .evt_con05 { position: relative; width: 100%; text-align: center; padding: 30px 0; }
.peanutoon_tkskics .evt_con06 { position: relative; width: 100%; text-align: center; padding: 30px 0; }
.peanutoon_tkskics .evt_con05 img, .evt_con06 img { width: 80%; }