#container {
	font-size: 16px;
}
header, section[class^="area-"] {
	position: relative;
	width: 100%;
}
header img, section[class^="area-"] img {
	width: 100%;
	height: auto;
}
section {
	position: relative;
	width: 100%;
	border-bottom: 1rem solid #007dc6;
}
.adultcheck {
	border-bottom: 1rem solid #fa4b4c;
}
section[class^="area-"] h2 {
	font-size: 1.3rem;
	margin-top: 0.875rem;
}

section[class^="area-"] {
	padding: 0.875rem;
	margin-top:1rem;
}
.genretag {
	display: block;
	padding-bottom: 1rem;
}
span.genre {
	font-size: 0.8rem;
	padding: 0 0.3rem;
}
.romance {
	background-color: #ff8b8b;
	color: #fff;
}
.adult {
	background-color:#ef5350;
	color:#fff;
}
.comicsexp {
	padding: 1.125rem;
	background-color: #dff3ff;
	border: 1px solid #8abbf2;
	line-height: 1.5;
}
.adultcheck>.comicsexp {
	background-color:#fee4e4;
	border:1px solid #fa4b4c;
}
ul.btnset {
	margin: 1rem 0;
	font-size: 0;
}
ul.btnset li {
	display: inline-block;
	width: 50%;
	text-align: center;
}
.adultcheck>ul.btnset>li {
	width:100%;
	text-align:center;
}
ul.btnset li a {
	display: block;
	margin-right: 10px;
}
ul.btnset li img {
	width: 100%;
	height: auto;
}
ul.btnset li:last-child a {
	margin-right: 0;
	margin-left: 10px;
}

footer {
	position: relative;
	width: 100%;
	background-color: #007dc6;
	color: rgba(255,255,255,.6);
	font-size: 0.8rem;
	text-align: center;
	padding: 1rem 0 2rem 0;
}
