/* 하단 장르리스트 */
.comics_content_list {width:100%; position: relative; display: block;}
.comics_content_list:after { content:""; clear: both; display: block; }

/* tabs */

.comics_content_list .lnb_sub_bg {position: relative; width:100%; background-color: #fff; border-bottom: 1px solid #ebebeb;}
.comics_content_list .lnb_sub {position: relative; width:100%; background-color: #fff;}
.comics_content_list .lnb_sub:after { content:""; clear: both; display: block; }
.comics_content_list .lnb_sub_bg .lnb_sub {margin:0 auto; width: 1200px;}
.comics_content_list .lnb_sub_bg .lnb_sub ul {position: relative; width: 1200px; margin: 0 auto; font-size: 0; text-align: center;}
.comics_content_list .lnb_sub_bg .lnb_sub ul li {display: inline-block; text-align: center; font-size:15px;}
.comics_content_list .lnb_sub_bg .lnb_sub ul li a {display: inline-block; text-align: center; font-size:15px; padding:12px 0; width: 150px;}
.comics_content_list .lnb_sub_bg .lnb_sub ul li a:hover {font-weight: bold; border-bottom: 3px solid #4dd0e1; padding-bottom:10px;}
.comics_content_list .lnb_sub_bg .lnb_sub ul li.on a {font-weight: bold; border-bottom: 3px solid #00BCD4; padding-bottom:10px;}

.comics_content_list .lnb_sub_bg .nav-placeholder { width:100%; height: 41px; }
.comics_content_list .lnb_sub_bg .fixed { position: fixed; width: 100%; top: 123px; left: 0; z-index: 4; -webkit-box-shadow: 0px 1px 1px 0 rgba(0, 0, 0, 0.2); -moz-box-shadow: 0px 1px 1px 0 rgba(0, 0, 0, 0.2); box-shadow:0px 1px 1px 0px rgba(0,0,0,0.2); }

/* list */
.comics_content_list .sub_list_bg{position: relative; width:100%; padding:30px 0; overflow:hidden; background-color: #fafafa; border-top: 1px solid #ebebeb; }
.comics_content_list .sub_list {position: relative; width: 1200px; display: block; margin: 0 auto; font-size: 0;}
.comics_content_list .sub_list:after { content:""; clear: both; display: block; }

.comics_content_list .sub_list > a { display: inline-block; margin: 15px 0 0 16px; position: relative; }
.comics_content_list .sub_list > a:nth-child(1) { margin-left: 0; }
.comics_content_list .sub_list > a:nth-child(-n+4) { margin-top: 0; }
.comics_content_list .sub_list > a:nth-child(n+4):nth-child(4n+5):nth-child(-n+12) { margin-left: 0; }
.comics_content_list .sub_list > a:nth-child(13) { margin-left: 0; }
.comics_content_list .sub_list > a:nth-child(n+13):nth-child(8n+5) { margin-left: 0; }

/* list-big */
.comics_content_list .sub_list .sub_list_thumb_big { position: relative; width: 288px; padding-bottom: 15px; border-radius: 3px; transition: border .3s; background-color: #fff; display: inline-block; border:1px solid #dfdfdf;}
.comics_content_list .sub_list .sub_list_thumb_big:hover { border:1px solid #00BCD4; }
.comics_content_list .sub_list .sub_list_thumb_big dl { position: relative; }
.comics_content_list .sub_list .sub_list_thumb_big dl dt { width: 100%; font-size: 16px; color: #444; font-weight: bold; text-overflow: ellipsis; white-space: nowrap; overflow:hidden; }
.comics_content_list .sub_list .sub_list_thumb_big dl dt img { width: 100%; height: 147px; border-radius: 3px 3px 0 0; }
.comics_content_list .sub_list .sub_list_thumb_big dl dt:nth-of-type(2) { padding: 9px 15px 0 15px; }
.comics_content_list .sub_list .sub_list_thumb_big dl dd { padding:5px 15px 0 15px; text-overflow: ellipsis; white-space: nowrap; overflow:hidden; }
.comics_content_list .sub_list .sub_list_thumb_big dl dd:nth-of-type(1) { font-size: 14px; color: #ff9800; }
.comics_content_list .sub_list .sub_list_thumb_big dl dd:nth-of-type(2) { font-size: 12px; color: #aaa; }
/* list-big icon */
.comics_content_list .sub_list .sub_list_thumb_big .icon_cm_type {position:absolute; bottom:83px; right:0px; z-index:2;}
.comics_content_list .sub_list .sub_list_thumb_big .icon_event {position:absolute; top:5px; right:5px; z-index: 2;}
.comics_content_list .sub_list .sub_list_thumb_big .icon_event .icon_sale_img{margin-left:5px;}
.comics_content_list .sub_list .sub_list_thumb_big .icon_date {position:absolute; bottom:15px; right:15px; text-align:right;}
.comics_content_list .sub_list .sub_list_thumb_big .icon_date .icon_new_img{margin-left:5px;}
.comics_content_list .sub_list .sub_list_thumb_big .icon_adult {position: absolute; bottom: 83px; right: 0px; z-index: 2;}

/* list-small */
.comics_content_list .sub_list .sub_list_thumb_small { position: relative; width: 136px; display: block; padding-bottom: 10px; }
.comics_content_list .sub_list .sub_list_thumb_small dl { position: relative; }
.comics_content_list .sub_list .sub_list_thumb_small dl dt { width: 100%; font-size:16px; color: #444; font-weight: bold; text-overflow: ellipsis; white-space: nowrap; overflow:hidden; }
.comics_content_list .sub_list .sub_list_thumb_small dl dt img { width: 100%; border-radius: 3px; border:1px solid #dfdfdf; transition: border .3s; }
.comics_content_list .sub_list .sub_list_thumb_small dl dt:nth-of-type(2) { padding: 10px 0 5px 0; }
.comics_content_list .sub_list .sub_list_thumb_small:hover > dl dt:nth-of-type(1) img { border:1px solid #00BCD4; }
.comics_content_list .sub_list .sub_list_thumb_small:hover > dl dt:nth-of-type(2) {text-decoration: underline;}
.comics_content_list .sub_list .sub_list_thumb_small dl dd { font-size: 12px; line-height: 16px; color: #aaa; }
.comics_content_list .sub_list .sub_list_thumb_small dl dd.small{display:none;}
/* list-small icon */
.comics_content_list .sub_list .sub_list_thumb_small .icon_cm_type {position:absolute; bottom:61px; right:1px; z-index:2;}
.comics_content_list .sub_list .sub_list_thumb_small .icon_event {display:none;}
.comics_content_list .sub_list .sub_list_thumb_small .icon_date {position:absolute; top:5px; left:5px; text-align:right; z-index: 1;}
.comics_content_list .sub_list .sub_list_thumb_small .icon_adult {position: absolute; bottom: 61px; right: 1px; z-index: 2;}
