@charset "UTF-8";

/* 초기화 */
* { margin:0; padding:0; border:0; list-style:none; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; outline:none; }
body { margin:0; padding:0; background-color:#f5f5f5; font-style:normal; font-size:12px; font-family:'Nanum Gothic', dotum, sans-serif; color:#ddd; }
div, ul, ol, li, dl, dt, dd, form, fieldset, input,textarea, select, button, p, h1, h2, h3, h4, h5, h6, blockquote, iframe, th, td, samp, em, code, var, strong{ margin:0; padding:0; text-size-adjust:none; font-family: inherit; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; }
input, img{border: 0 none; }
label, input, button, select, img { vertical-align:middle; }
img { max-width:100%; height:auto; }
legend { position:absolute; margin:0; padding:0; line-height:0; font-size:0; text-indent:-9999em; overflow:hidden; }
ul { -webkit-margin-before: 0em; -webkit-margin-after: 0em; -webkit-margin-start: 0px; -webkit-margin-end: 0px; -webkit-padding-start: 0px; }
li { list-style:none; }
button{ margin:0; background:transparent; border:none; vertical-align:middle; cursor:pointer; }

h1, h2, h3, h4, h5, h6{font-size:100%;}
h2 {color:#444; font-size:17px; font-weight: bold;}
h2 span {color:#00BCD4;}
h3 {color:#8c8c8c; font-weight:bold; font-size:16px; line-height: 26px;}
h4 {font-size: 30px; color: #444; font-weight: 800;}
h4 span {color:#00BCD4;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block;}

hr {display:none}
pre {overflow-x:scroll;}

a, a:link, a:visited, a:hover, a:focus, a:active {text-decoration:none;}
a {color:#444; cursor:pointer;}

table{
	white-space: normal;
    line-height: normal;
    font-weight: normal;
    font-size: medium;
    font-variant: normal;
    font-style: normal;
    text-align: start;
    border-spacing: 0;
    border-collapse: separate;
	/* border-collapse: collapse; */
}

/* 공통 */
.hidden {z-index:100000; position:absolute; top:0; left:0; width:1px; height:1px; font-size:0; line-height:0; visibility:hidden; overflow:hidden;}
.hide {display: none;}
.msg_sound_only, .sound_only {display:inline-block !important; margin:0 !important; padding:0 !important; position:absolute; top:0; left:0; font-size:0; line-height:0; border:0 !important;  visibility:hidden !important; overflow:hidden !important; }

.ft_r {float:right;}
.clear{ clear:both; }
.clear:after { display:block; visibility:hidden; clear:both; content:""; }

.mgt0{margin-top:0px !important; }
.mgt15 {margin-top:15px;}
.mgt50{margin-top:50px;}
.mgt60{margin-top:60px;}
.mgl0 {margin-left: 0px;}
.mgb100{margin-bottom:100px;}
.mgb0 {margin-bottom:0px;}

.pdt0{padding-top:0px !important; }

.bold { font-weight:600; }
.bold a{ font-weight:600; }

.txt_r{text-align:right; }
.txt_l{text-align:left; }
.txt_c{text-align:center; }

.bluepoint {color:#09599c; font-weight:bold;}
.red {color:#c90101;}

.underline {text-decoration:underline;}
.ellipsis { overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.visibility{ visibility:hidden; }

span.moreread { border-radius: 3px; color: #00BCD4; text-align: right; font-size: 12px; vertical-align: middle; display:table-cell; margin-right: 10px; float: right; }
span.moreread a { color: #00BCD4; }
span.moreread:before { content:"\f067"; font-family: FontAwesome; margin-right: 5px; }
span.moreread:after { clear: both; }
/* wrapper */
#wrapper {max-width:100%; min-width:1200px; margin:0 auto; background-color: #fff; color: #444;}

/* popup */
.alert_win_bg{position:fixed; background:#aaa repeat; opacity: 0.7; width:100%; height:100%; z-index:50; display: none;}

/* header */
#header {position: fixed; width: 100%; background-color: #fff; z-index:10; min-width:1200px; }
#header:after {	display:block; visibility:hidden; clear:both; content:""; }


/* GNB */
#header #gnb {position:relative; width:100%; background-color:#F5F5F5; color:#9e9e9e; padding:5px 0; height:35px;}
#header .gnbwrap {position: relative; max-width:1200px; margin:0 auto;}

#header .adult_tab {width:100%; text-align:center;}
#header .adult_tab button {
	color:#FFAB91;
	font-size:14px;
	font-weight:bold;
	text-align:center;
	border:1px solid #FFAB91;
	border-radius:20px;
	width:60px;
	padding:2px 5px 5px 5px;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}
#header .adult_tab button:hover {background-color:#00BCD4; color:#fff; border:1px solid #00BCD4;}
#header .adult_tab button.on {background-color:#00BCD4; color:#fff; border:1px solid #00BCD4;}


#header .adult_tab a {
	display:inline-block;
	color:#4DD0E1;
	font-size:14px;
	font-weight:bold;
	text-align:center;
	border:1px solid #4DD0E1;
	border-radius:20px;
	width:60px;
	padding:2px 5px 5px 5px;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}
#header .adult_tab a:hover {background-color:#00BCD4; color:#fff; border:1px solid #00BCD4;}
#header .adult_tab a.on {background-color:#00BCD4; color:#fff; border:1px solid #00BCD4;}


#header .myinfo {position:absolute; left: 0px; top: 0px; text-align: left;}
#header .myinfo ul li{display:inline-block; margin:5px 0px; padding:0 10px; border-right:1px solid #9e9e9e;}
#header .myinfo ul li:last-child {border:none;}
#header .myinfo ul li a {font-size:12px; vertical-align: top; color:#444;}
#header .myinfo ul li button{font-size:12px; vertical-align: top; color:#444;}
#header .myinfo ul li a:hover, .mymenu ul li a:active {text-decoration:underline;}
#header .myinfo ul li button:hover, .mymenu ul li button:active {text-decoration:underline;}
#header .myinfo ul li.ct_login a {color:#9e9e9e;}
#header .myinfo span{font-weight:bold; color:#00ACC1;}

#header .mymenu {position:absolute; right: 0px; top: 0px; text-align: right;}
#header .mymenu ul li{display:inline-block; margin:5px 0px; padding:0 10px; border-right:1px solid #9e9e9e;}
#header .mymenu ul li:last-child {border:none;}
#header .mymenu ul li a {font-size:12px; vertical-align: top; color:#444;}
#header .mymenu ul li button{font-size:12px; vertical-align: top; color:#444;}
#header .mymenu ul li a:hover, .mymenu ul li a:active {text-decoration:underline;}
#header .mymenu ul li button:hover, .mymenu ul li button:active {text-decoration:underline;}
#header .mymenu span{font-weight:bold; color:#00ACC1;}


/* LNB */
#header #lnb {
	position:relative;
	width:100%;
	height:88px;
	background-color:#fff;
	border-bottom:5px solid #00BCD4;
	-webkit-box-shadow: 0px 2px 3px 0 rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 2px 3px 0 rgba(0, 0, 0, 0.3);
	box-shadow:0px 2px 3px 0px rgba(0,0,0,0.3);
	z-index:5;
}
#header .lnbwrap {position:relative; max-width:1200px; margin:0 auto; z-index:5; zoom}
#header .lnbwrap:after {display:block; visibility:hidden; clear:both; content:""; }
#header .logo {position:relative; padding:15px 0px; float:left; width: 216px;}

#header nav {position:relative; float:left; margin-left:32px;}
#header nav ul {font-weight:bold; font-size:0; float:left; margin-left:0px;}
#header nav ul li {display:inline-block; font-size: 20px;}
/*
#header nav ul li a {display:block; padding:30px; color:#00BCD4;}
*/
#header nav ul li a {display:block; padding:30px 16px; color:#00BCD4;}
/*
#header nav ul li a:hover, nav ul li a:active {display:block; padding:30px; color:#fff; background-color:#4DD0E1;}
*/
#header nav ul li a:hover, nav ul li a:active {display:block; color:#fff; background-color:#4DD0E1;}
#header nav ul li.on {color:#fff; background-color:#4DD0E1;}
#header nav ul li.on a {color:#fff; }

#header .user{position:relative; float:right;}

/* Search Form */
#header .user #search_list {position:relative; display:inline-block; width:315px; height:38px; border:3px solid #E0E0E0; border-radius:20px; margin-top:22px;}
#header .user #search_result #search_txt{margin:8px 20px; font-size:13px; border:none; width:220px; }
#header .user .searchBtn {font-size:22px; color:#00BCD4; border:none; border-left:1px solid #4DD0E1; padding:0px 10px 3px 10px; float:right; height:26px; margin:3px;}

/* Log-in icon */
#header .user .members {position:relative; display:inline-block; margin:22px 30px 0 10px; float: right;}
#header .user .members a {display:inline-block;}


/* 로그인, 회원가입 Form */
#header .usermenu {position: absolute; border:3px solid #00BCD4; box-shadow: 5px 5px 5px rgba(0,0,0,0.3); top:85px; right:0px; display:none;}

#header .usermenu .usermenu_tabs{ position: relative; }
#header .usermenu .usermenu_tabs:after {display:block; visibility:hidden; clear:both; content:""; }
#header .usermenu label.tab-label-1,
#header .usermenu label.tab-label-2 {
	position:relative;
	display: block;
	float: left;
	padding:0 20px;
	width: 180px;
	height: 40px;
	line-height:40px;
	background:#00BCD4;
	font-size:18px;
	color:#fff;
	font-weight: bold;
	text-align: center;
	z-index: 3;
	cursor: pointer;
}
#header .usermenu input[type=radio]:hover + label {background:#00BCD4; color:#fff;}
#header .usermenu label:first-of-type {z-index:4;}

#header .usermenu input[type=radio]:checked + label {background: #fff; color: #00BCD4; z-index: 6;}

#header .usermenu_contents {
	background: #fff;
	position: relative;
	width: 360px;
	height: 465px;
	z-index: 5;
}
#header .usermenu_contents div.tabcontents {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	opacity: 0;
	padding: 10px;
	overflow: hidden;
	transition:all linear 0.1s;
}

/* #header .login, .registration {position: relative; width:100%; display: block; height: 100%;} */
#header .usermenu_contents .login_sns, #header .usermenu_contents .login_help {opacity: 1;}
#header .usermenu_contents fieldset {border: none; width: 100%; padding: 0 15px 10px 0; position: relative;}
#header .usermenu_contents fieldset:after {display:block; visibility:hidden; clear:both; content:""; }

#header .usermenu .usermenu_contents .on {
	z-index: 98;
	opacity: 1;
	transition:all ease-out 0.2s 0.1s;
}
#header .usermenu_contents input[type=text], #header .usermenu_contents input[type=password] {
	border: none;
	border-bottom: 2px solid #ddd;
	width: 320px;
	padding: 10px;
	margin: 8px 8px 0 8px;
	box-sizing: border-box;
	color: #ababab;
	font-size: 15px;
	transition: 0.3s;
}
#header .usermenu_contents input[type=text]:focus, #header .usermenu_contents input[type=password]:focus {border-bottom:2px solid #00BCD4;}
#header .usermenu_contents input[type=text].regi_warn, #header .usermenu_contents input[type=password].regi_warns  {border-bottom:2px solid #ff5a59;}

#header .usermenu_contents input[type=text]::-webkit-input-placeholder, #header .usermenu_contents input[type=password]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ababab;
}
#header .usermenu_contents input[type=text]::-moz-placeholder, #header .usermenu_contents input[type=password]::-moz-placeholder { /* Firefox 19+ */
  color: #ababab;
}
#header .usermenu_contents input[type=text]::-ms-input-placeholder, #header .usermenu_contents input[type=password]::-ms-input-placeholder { /* IE 10+ */
  color: #ababab;
}
#header .usermenu_contents input[type=text]::-moz-placeholder, #header .usermenu_contents input[type=password]::-moz-placeholder{ /* Firefox 18- */
  color: #ababab;
}


#header .login_rememberme {margin-left: 10px; padding-bottom:5px; font-size: 14px; font-weight: bold; color:#666;}
#header .login_rememberme span {line-height: 25px;}
#header .login_rememberme input[type="checkbox"] {display: none;}
#header .login_rememberme span:before {font-family: "FontAwesome"; font-style: normal; width: 1em; height: 1em; content:'\f1db'; margin-right: .3em; font-size: 18px; line-height: 35px;}
#header .login_rememberme .checked {display: none;}
#header .login_rememberme input[type="checkbox"]:checked ~ span:before {content: '\f058'; color: #00BCD4; font-weight: bold; text-shadow:1px 1px #eee;}

#header .usermenu_contents div span.findidpw {float: right; margin-top: 12px;}
#header .usermenu_contents div span.findidpw a {color: #666; text-decoration: none;}
#header .usermenu_contents div span.findidpw a:hover {color: #ff9800; text-decoration: underline;}

#header .usermenu_contents input[type=submit] {width: 320px; background-color: #00BCD4; color: #fff; font-weight: bold; text-align: center; line-height: 35px; margin:5px 8px 10px 8px; position: relative; border: none; font-size: 15px; cursor: pointer; border-radius: 3px; }
#header .usermenu_contents input[type=submit]:hover {background-color:#0097A7;}

#header .usermenu_contents hr{display:block; border:none; border-top:1px solid #ddd;}

#header .usermenu_contents .login_or{
position: relative;  margin: 20px 10px 0 8px; width: 320px;}
#header .usermenu_contents .login_or li{ margin-top:10px;  line-height: 40px;font-weight: bold; text-align: center; border:none; color: #fff; font-size: 15px;}
#header .usermenu_contents .login_or li a{color: #fff;}
#header .usermenu_contents .login_or li.facebook {background-color: #48649f;}
#header .usermenu_contents .login_or li.facebook:hover {background-color: #3a5180;}
#header .usermenu_contents .login_or li.twitter {background-color: #1da1f2;}
#header .usermenu_contents .login_or li.twitter:hover {background-color: #188acf;}
#header .usermenu_contents .login_or li.kakao {background-color: #ffeb00; color: #3c1e1e;}
#header .usermenu_contents .login_or li.kakao a {color: #3c1e1e;}
#header .usermenu_contents .login_or li.kakao:hover {background-color: #ffde00;}
#header .usermenu_contents .login_or li.naver {background-color: #2db400;}
#header .usermenu_contents .login_or li.naver:hover {background-color: #269600;}

#header .usermenu_contents .login_help {width:100%; text-align: center; margin-top: 10px; display: block; color:#666;}
#header .usermenu_contents .login_help a {color:#666; text-decoration: none;}
#header .usermenu_contents .login_help a:hover {color: #ff9800; text-decoration:underline;}

#header .usermenu_contents div span.regi_warnning {font-size: 12px; color:#ff5a59; font-weight: bold; display: block;}
#header .usermenu_contents div span.regi_notice {font-size: 13px; color: #333; width: 100%; text-align:center; display: block; margin-bottom: 10px;}
#header .usermenu_contents div span.terms {font-size: 15px; font-weight: bold; line-height: 40px; display: block;}
#header .usermenu_conetnes ol{}
#header .usermenu_contents ol li {display: block; width: 100%; padding: 5px 8px 0px 8px; overflow: hidden;}
#header .usermenu_contents ol li:first-child {margin-top:10px;}



#header .regi_agree, .regi_terms, .regi_pinfo {padding-bottom:5px; font-size: 14px; color:#666;}
#header .regi_agree span, .regi_terms span, .regi_pinfo span {line-height: 23px;}
#header .regi_agree input[type="checkbox"], .regi_terms input[type="checkbox"], .regi_pinfo input[type="checkbox"] {display: none;}
#header .regi_agree span:before, .regi_terms span:before, .regi_pinfo span:before {font-family: "FontAwesome"; font-style: normal; width: 1em; height: 1em; content:'\f1db'; margin-right: .3em; font-size: 15px;}
#header .regi_agree .checked, .regi_terms .checked, .regi_pinfo .checked {display: none;}
#header .regi_agree input[type="checkbox"]:checked ~ span:before {content: '\f058'; color: #00BCD4; font-weight: bold; text-shadow:1px 1px #eee;}
#header .regi_terms input[type="checkbox"]:checked ~ span:before {content: '\f058'; color: #00BCD4; font-weight: bold; text-shadow:1px 1px #eee;}
#header .regi_pinfo input[type="checkbox"]:checked ~ span:before {content: '\f058'; color: #00BCD4; font-weight: bold; text-shadow:1px 1px #eee;}
#header a.terms {position: relative; display: inline-block; float: right; width: 80px; padding: 5px; background-color: #fff; border:1px solid #00BCD4; font-size: 12px;  color:#00BCD4; margin-right: 0px; font-weight: bold; text-align:center;}
#header a.terms:hover {background-color:#00BCD4; color: #fff;}


/* Logmenu - 로그인시 */

#header .usermenu_lists {
	background: #fff;
	position: relative;
	height: 560px;
	z-index: 5;
}
#header .usermenu_lists .logmenu{position: relative;}
#header .usermenu_lists ul.logmenu li{padding: 12px; font-size: 15px; border-bottom: 1px solid #F5F5F5; font-weight: bold;}
#header .usermenu_lists ul.logmenu li:last-child {border-bottom: none;}
#header .usermenu_lists ul.logmenu li a { display: block; }
#header .usermenu_lists ul.logmenu li:hover {background-color: #FAFAFA;}
#header .usermenu_lists ul.logmenu li:hover a {text-decoration: underline;}
#header .usermenu_lists ul.logmenu li span{padding-right: 10px;}

#header .usermenu_lists div.comics_recent{ position: relative; padding: 12px; font-size: 15px; border-top: 1px solid #F5F5F5;}
#header .usermenu_lists div.comics_recent span.recent{ display: block; font-weight: bold; color: #00BCD4;}
#header .usermenu_lists div.comics_recent ul{font-size:0;}
#header .usermenu_lists div.comics_recent ul li{
	position: relative;
    display: inline-block;
    margin-right: 9px;
    margin-top: 10px;
    padding: 0;
}
#header .usermenu_lists div.comics_recent ul li:last-child{ margin-right: 0px; }

#header .tooltiptext {visibility: hidden; width: 100px; background-color: #555; color: #fff; text-align: center; font-weight:normal; font-size:12px; padding: 5px; border-radius: 6px; position: absolute; z-index: 1; top: -10%; left: 50%; margin-left: -50px; opacity: 0; transition: opacity .3s;}
#header .tooltiptext::after {content:""; position: absolute; top: 100%; left: 50%; margin-left: -5px; border-width: 5px; border-style: solid; border-color: #555 transparent transparent transparent;}

#header .comics_recent ul > li img {border: 1px solid rgba(0,0,0,0)}
#header .comics_recent ul > li:hover img {border:1px solid #00BCD4;}
#header .comics_recent ul > li:hover .tooltiptext {visibility: visible; opacity:1;}

#header .comics_recent p.recent {position: relative; font-weight: bold; color: #00BCD4;}
#header .comics_recent p.recent:after {display:block; visibility:hidden; clear:both; content:""; }
#header .comics_recent p.recent span{display:block; float:left;}
#header .comics_recent p.recent span strong{color:#444;}
#header .comics_recent p.recent a.more{display:block; padding-top: 2px; float:right; color: #444; font-weight:normal; font-size:12px;}
#header .comics_recent p.recent a.more i{color: #00BCD4;}
#header .comics_recent p.recent a.more label{}

#header .comics_recent p.recent_zero{ text-align: center; line-height: 100px;}
#header .comics_recent p.buyown_zero{ text-align: center; line-height: 125px;}

/*
#header .comics_recent p.more {padding:10px 0px 0 0;  text-align:right; font-weight:400; font-size:12px;  color: #ddd;}
#header .comics_recent p.more i{color: #26c6da;}
#header .comics_recent p.more a{color: #444;}
*/

/* Modal Popup (Alart) */


/* Container - 공통 */
#container {position:relative; width:100%; min-height:500px; /* min-height:100%;  min-height:795px; */ height:auto !important; z-index:1; letter-spacing:-1px; padding-top: 123px;}

/* Footer */
#footer {position:relative; width:100%; background-color:#f5f5f5; margin-bottom:0px; color:#9e9e9e; font-size:12px; z-index: 2; border-top: 1px solid #eee; overflow:hidden;}

.footer_wrap {max-width:1200px; margin:0 auto; padding:30px 0px;}
.footer_logo {border:1px solid #7a7a7a; padding:35px 32px; width:200px; background-color:#444; float:left; display:block;}
.footer_logo img {vertical-align:middle;}
.service {position:relative; font-size:14px; display:block;}
.service li { display: inline-block; padding-right: 22px; text-align: center; }
.service a {color:#757575;}
.service a:hover {text-decoration:underline;}
.service li:nth-child(2) a {color:#0097A7; font-weight:bold;}
.service li:after { padding-left: 22px; content:"ㅣ"; }
.service li:last-child:after { content: ""; }
.service span {color:#0097A7; font-weight:bold;}
.company {display:block; line-height:21px; margin: 15px 0; float: left;}
.company i{color:#0097A7;}
.company span {font-size:12px; color:#777;}
.okmark { float: right; background-color: #eee; border:1px solid #e0e0e0; width: 100px; padding: 10px; /* margin-top: 2.5px; */ }


.pop_toast {
	display: block;
	opacity: 0.8;
	position: fixed;
	padding: 7px 14px;
	background-color: #000;
	color: #fff;
	text-align: center;
	border-radius: 50em;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	z-index: 300;
}
