/****************************** 쿠폰함 ******************************/

#container {background-color: #fafafa;}
.container_wrap {
	position:relative;
	background-color: #fff;
	width: 1200px;
	margin: 0 auto;
	border-left:1px solid #eee;
	border-right:1px solid #eee;
	z-index: 1;
	padding: 30px 0px;
	overflow: hidden;
	min-height: 692px;
	font-size: 16px;
}
h3 {
	text-align: center;
	font-size: 1.6em;
	border-bottom: 1px solid #eee;
	padding-bottom: 10px;
	margin: 0 20px;
	color: #333;
}
:focus { outline:none; }

/* 쿠폰 */
.couponwrap {
	display:block;
	width: 100%;
	padding: 20px;
	position: relative;
}
.couponinput {
	position: relative;
	width: 605px;
	height: 205px;
	margin: 0 auto;
	background: url(http://qi01-ie5524.ktics.co.kr/_pc/coupon/coupon.png) no-repeat left top;
	padding: 23px 0 0 100px;
	text-align: center;
}
.couponwrap .couponinput span.couponinput_title {
	font-size: 1.4em;
	font-weight: bold;
	line-height: 1.5em;
	color: #757575;
}
.couponwrap .couponinput span.couponinput_exp {
	display: block;
	font-size: 0.8em;
	color: #66bb6a;
}
.couponwrap .couponinput .coupon_text {
	position: relative;
	margin: 0 auto;
	margin-top: 10px;
	width: 65%;
}
.couponwrap .couponinput .coupon_text input[type="text"].coupontext {
	color: #333;
	width: 100%;
	letter-spacing: -1px;
	border:0;
	padding: 7px 0;
	border-bottom: 1px solid #bdbdbd;
	z-index: 1;
	font-size: 1.8em;
	font-weight: bold;
	background-color: transparent;
	text-align: center;
}
.couponwrap .couponinput .coupon_text input[type="text"]::placeholder {
	color: #bdbdbd;
}
.coupon_text ~ .focus-border {
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 2px;
	background-color: #ec407a;
	transition: 0.3s;
}

.coupontext:focus ~ .focus-border{
	width: 100%;
	transition: 0.3s;
	left: 0;
}
.couponwrap .couponinput button {
	background-color: #26c6da;
	color: #fff;
	border:none;
	margin-top: 15px;
	font-size: 1.1em;
	font-weight: bold;
	padding: 5px 15px;
	border-radius: 3px;
}

.couponwrap .couponinput input[type=submit] {
	background-color: #26c6da;
	color: #fff;
	border:none;
	margin-top: 15px;
	font-size: 1.1em;
	font-weight: bold;
	padding: 5px 15px;
	border-radius: 3px;
}

.list_area {
	position: relative;
	display: block;
	width: 100%;
	padding: 0 20px 20px 20px;
 }
span.list_title {
	font-size: 1.25em;
	font-weight: 800;
}

.list_area table {
	width: 100%;
	margin-top: 10px;
	border-top: 2px solid #b2ebf2;
	border-bottom: 2px solid #b2ebf2;
	font-size: 1em;
}
.list_area table th {
	background-color: #f5f5f5;
	padding: 10px;
	border-bottom: 2px solid #e0e0e0;
}
.list_area table td {
	padding: 10px 5px;
	border-bottom: 1px solid #e0e0e0;
	text-align: center;
}
.list_area table button.active {
	background-color: #26c6da;
	color: #fff;
	border:none;
	font-size: 0.9em;
	font-weight: bold;
	padding: 5px 15px;
	border-radius: 3px;
}
.list_area table button.non_active {
	background-color: #9e9e9e;
	color: #fff;
	border:none;
	font-size: 0.9em;
	font-weight: bold;
	padding: 5px 15px;
	border-radius: 3px;
	cursor: default;
}
.list_area table tbody tr:last-child td { border-bottom: 0; }
.list_area table tbody tr.rate td {
	text-decoration: line-through;
	color: #9e9e9e;
}

.used table td { color: #9e9e9e; }

.list_paging {
	margin: 0 auto;
	margin-top: 10px;
	width: 70px;
}
.list_paging ul { display: block; }
.list_paging ul li {
	display: inline-block;
	font-size: 20px;
	border:3px solid #e0e0e0;
	color: #9e9e9e;
	padding: 2px 10px;
}

.choice_wrap { width:100%; max-width: 600px; margin: 0 auto; padding : 20px; font-size: 16px; text-align: center; }
.choice_wrap h3 { border-bottom: 0; }
.choice_wrap table {
	width: 100%;
}

.choice_wrap table {
	width: 100%;
	margin-top: 10px;
	border-top: 2px solid #b2ebf2;
	border-bottom: 2px solid #b2ebf2;
	font-size: 1em;
}
.choice_wrap table th {
	background-color: #f5f5f5;
	padding: 10px;
	border-bottom: 2px solid #e0e0e0;
}
.choice_wrap table td {
	padding: 10px 5px;
	border-bottom: 1px solid #e0e0e0;
	text-align: center;
}
.choice_wrap table tbody tr:last-child td { border-bottom: 0; }
.choice_wrap table tbody tr:hover td { background-color: #FFEBEE; }
.choice_wrap table tbody tr.choiced td { background-color: #EF9A9A; }
.choice_wrap button { border:none; background-color: #26c6da; padding: 10px 20px; font-size: 1.3em; color: #fff; border-radius: 3px; }