/****************************** 고객센터 ******************************/
#container { background-color:#fafafa; }
.container_wrap {background-color: #fff; width: 1200px; margin: 0 auto; border-left:1px solid #eee; border-right:1px solid #eee; z-index: 1; position: relative; padding: 30px 0px; overflow: hidden; }
h4 {margin-left: 20px;}
.cs_left {position:relative; width: 15%; float: left; margin-top: 20px; padding:0 20px;}
.cs_contents {position: relative; width: 85%; float: left; padding: 20px 20px 0 10px; display: block;}


/* CS_Left menu */
ul.tabs {margin: 0 auto; padding: 0; width: 100%;}
ul.tabs li {float: left; text-align:center; font-size:15px; font-weight: bold; overflow: hidden; position: relative;  width: 100%; margin-top:10px;}
ul.tabs li:first-child {margin-top:0;}
ul.tabs li span {font-size:30px; line-height: 40px;}
ul.tabs li a {width: 100%; color:#BDBDBD; display: block; border:1px solid #BDBDBD; transition:all .3s; padding: 15px 0; border-radius: 5px;}
ul.tabs li a:hover {width: 100%; border:1px solid #00BCD4; color: #00BCD4;}
ul.tabs li.active a {border:1px solid #00BCD4; color: #00BCD4;}
.tab_container {clear: both; float: left; width: 100%; background: #FFFFFF;}
.tab_content {overflow: hidden; width: 100%;}


/* CS_Notice */
table.cs_notice {width: 100%; color: #444; border-top:2px solid #444;}
table.cs_notice tr:hover {background-color:#fafafa;}
table.cs_notice tr:first-child:hover {background-color: #fff;}
table.cs_notice th {padding: 10px; font-size: 14px; font-weight: bold; border:1px solid #ddd; border-left: none; border-right: none;}

table.cs_notice td {border-bottom: 1px solid #eee; text-align: center; padding: 10px 0; font-size: 13px;}
table.cs_notice td.b_num {width: 80px;}
table.cs_notice td.b_title {text-align: left; padding-left: 20px; vertical-align: middle;}
table.cs_notice td.b_title span {color: #00BCD4; padding-right: 10px;}
table.cs_notice td.b_title a {text-decoration: none;}
table.cs_notice td.b_title a:hover {text-decoration: underline;}
table.cs_notice td.b_date {width: 120px;}


/* 공지사항 페이징 처리 */
.list_paging{width:100%; margin-top: 20px;}
.list_paging ul{font-size: 0px; width: 225px; margin:0 auto; height: 30px;}
.list_paging ul li{font-size:12px; font-weight: bold; text-align:center;  margin-left:10px; display: inline-block;}
.list_paging ul li:nth-child(3) {margin-left:5px;}
.list_paging ul li:nth-child(7) {margin-right:5px;}
.list_paging ul li a {padding:4px 8px; font-weight: bold; color:#444; border:1px solid #ebebeb;}
.list_paging ul li a:hover {border:1px solid #00BCD4; background-color:#00BCD4; color: #fff; padding:4px 8px;}
.list_paging ul li.on a { font-size:12px; border:1px solid #00BCD4; background-color:#00BCD4; color: #fff;}
.list_paging ul li.angle {font-size:14px; margin:0;}
.list_paging ul li.angle a {color:#00BCD4; width: 22px; background-color: #fff; padding:2px 3px; border:none;}
.list_paging div.list_paging_align { text-align: center; }


/* CS_NOTICE_VIEW */
table.cs_view {width: 100%; color: #444; border-top:2px solid #444;}
table.cs_view th {padding: 10px; font-size: 14px; font-weight: bold; border:1px solid #ddd; border-left: none;  background-color: #fafafa; width: 30px;}
table.cs_view td {}
table.cs_view td.v_num {width: 30px; border:1px solid #ddd; border-top: none; border-left: none; padding-left: 10px;}
table.cs_view td.v_title {font-weight: bold; font-size: 14px; border: 1px solid #ddd; border-top: none; border-left: none; text-align:center;}
table.cs_view td.v_title span {color: #00BCD4; padding-right: 10px;}
table.cs_view td.v_date {width: 50px; text-align: center; border-bottom: 1px solid #ddd;}
table.cs_view td.v_content {padding: 20px; border-bottom: 2px solid #444; font-size: 13px; line-height: 21px; width: 100%; text-align: center;}
table.cs_view td.v_content img {width: 80%; margin-bottom: 10px;}
button.cs_notice_list {margin-top:15px; float: right; background-color: #00BCD4; border-radius: 3px; padding: 10px 30px; font-size:15px; color: #fff; font-weight: bold; border:none;}
button.cs_notice_list:hover {background-color: #0097A7;}


/* CS_HELP */
/* FAQ Category */
.cs_faq_tab {position: relative; margin-bottom: 20px; width: 100%;}
.cs_faq_tab ul {overflow: hidden; margin: 0; padding: 0; height: 36px;}
.cs_faq_tab ul li {float: left;}
.cs_faq_tab ul li:last-child {border-right: 1px solid #ddd;}
.cs_faq_tab a {
	position: relative;
	font-size: 15px;
	font-weight: bold;
	float: left;
	text-decoration: none;
	color: #444;
	border-top:1px solid #ddd;
	border-left:1px solid #ddd;
	border-bottom:1px solid #00BCD4;
	width: 246px;
	padding: 10px 0;
	text-align: center;
	background-color:#fafafa;
	height: 36px;
}
.cs_faq_tab ul li.active a {position:relative; border:1px solid #00BCD4; border-bottom: 1px solid #fff; color: #00BCD4; background-color: #fff; height: 36px; width: 249px; float: left;}

/* FAQ (Accordion) */
dl.cs_faq {border-top:1px solid #ddd; border-bottom:2px solid #444;}
dl.cs_faq dt {font-size: 15px; border-bottom: 1px solid #ddd; font-weight: bold; padding: 20px; overflow: hidden; width: 100%; vertical-align: middle;}
dl.cs_faq dt ul li {display: inline-block;}
dl.cs_faq dt ul li:nth-child(1) {width: 80px; font-size:14px; text-align: center;}
dl.cs_faq dt ul li i {font-size:30px; color:#00BCD4; padding-right:10px; line-height: 30px;  vertical-align: middle;}
dl.cs_faq dt a:link {padding: 20px 0; line-height: 10px;}
dl.cs_faq dt.current {background-color:#E0F7FA; cursor:default; }
dl.cs_faq dt:hover {background-color:#eee; cursor:pointer;}
dl.cs_faq dt.current:hover {background-color:#E0F7FA; cursor:default; }

dl.cs_faq dd {border-bottom:1px solid #ddd; padding:20px 30px 20px 138px; overflow: hidden; font-size: 14px; line-height: 26px; background-color: #fafafa; display: none;}
span.cs_faq_re {font-size:30px; color:#ddd; display: block; height: 100%;}

/* CS_ASK (Accordion) */
dl.cs_ask { }
dl.cs_ask dt {font-size: 15px; border-bottom: 1px solid #ddd; font-weight: bold; padding: 20px; overflow: hidden; width: 100%; vertical-align: middle;}

dl.cs_ask dt ul li {display: inline-block;}
dl.cs_ask dt ul li:nth-child(1) {width: 80px; font-size:13px; text-align: center;}
dl.cs_ask dt ul li:nth-child(2) {width: 738px; padding-left: 10px;}
dl.cs_ask dt ul li:nth-child(3) {width: 90px; font-size: 14px; color:#E53935; text-align: center;}
dl.cs_ask dt ul li:nth-child(3).waiting {color: #aaa;}
dl.cs_ask dt ul li:nth-child(4) {width: 30px; font-size: 14px; color: #666; text-align: center;}
dl.cs_ask dt ul li i {font-size:30px; color:#00BCD4; padding-right:10px; line-height: 30px;  vertical-align: middle;}
dl.cs_ask dt a:link {padding: 20px 0; line-height: 10px;}
dl.cs_ask dt.currunt {background-color:#FBE9E7; cursor:default; }
dl.cs_ask dt:hover {background-color:#eee; cursor:pointer;}
dl.cs_ask dt.currunt:hover {background-color:#FBE9E7; cursor:pointer; }

dl.cs_ask dd {border-bottom:1px solid #ddd; overflow: hidden; font-size: 14px; line-height: 26px; display: none;}
dl.cs_ask dd ol li {padding:20px;}
dl.cs_ask dd ol li:last-child {padding-top:15px; background-color:#fafafa;}
dl.cs_ask dd ol li span {font-weight: bold; font-size: 16px; display: block; color: #00BCD4;}
dl.cs_ask dd ol li p {margin-left: 10px;}

span.cs_ask_re {font-size:30px; color:#ddd; display: block; height: 100%;}

button.cs_write {margin-top:15px; float: right; background-color: #00BCD4; border-radius: 3px; padding: 10px 30px; font-size:15px; color: #fff; font-weight: bold; border:none;}
button.cs_write:hover {background-color: #24b5c7;}

.cs_none {margin: 50px auto; width: 370px;}
.cs_none ul li {display: block; text-align: center; font-size: 14px;}
.cs_none ul li:first-child {border: 3px solid #00BCD4; height: 20px; border-bottom: none;}
.cs_none ul li:nth-child(2){padding:20px;}
.cs_none ul li:last-child {border: 3px solid #00BCD4; height: 20px; border-top: none;}
.cs_none ul li span.exclamation {font-size: 50px; color:#00BCD4;}
.cs_none ul li span { font-weight: bold; font-size: 20px; line-height:40px;}
.cs_none button {margin-top:15px; float: right; background-color: #00BCD4; border-radius:3px; width: 370px; padding:10px 20px; font-size: 15px; color: #fff; font-weight: bold; border:none;}
.cs_none button:hover, .cs_none button:active {background-color:#0097a7;}

/* CS_ASK WRITE */
.tab_content fieldset {position: relative; border: none; width: 100%; padding:0px;}
.tab_content select {font-family: inherit; width: 15%; padding: 10px; border: none; border-radius: 3px; border:1px solid #e0e0e0; line-height: 30px; float: left; transition:border .2s;}

.tab_content input[type=text] {width: calc(100% - 159px); float: left; padding: 11px; border: none; border-radius: 3px; border:1px solid #e0e0e0; transition:border .2s; float: left; margin-left: 10px;}
.tab_content textarea {position:relative; width: 100%; margin:10px 0;height: 300px; float: left; border: none; border-radius: 3px; border:1px solid #e0e0e0; padding: 10px; resize: none; transition:border .2s;}
.tab_content input[type=submit] {position:relative; margin-top:5px; float: right; background-color: #00BCD4; border-radius: 3px; padding: 10px 30px; font-size:15px; color: #fff; font-weight: bold; border:none; cursor: pointer;}
.tab_content select:focus, .tab_content input[type=text]:focus, .tab_content textarea:focus {border:1px solid #00BCD4;}
.tab_content input[type=submit]:hover {background-color: #24b5c7;}

/* 연재 문의 */
.cs_publish fieldset {position: relative; border: none; width: 100%; padding:0px;}

.cs_publish input[type=text] {width:100%; float: left; margin-top:10px; margin-bottom: 10px; padding: 11px; border: none; border-radius: 3px; border:1px solid #e0e0e0; transition:border .2s; float: left;}
.cs_publish textarea {position:relative; width: 100%; height: 300px; float: left; border: none; border-radius: 3px; border:1px solid #e0e0e0; padding: 10px; resize: none; transition:border .2s;}
.cs_publish input[type=submit] {position:relative; margin-top:5px; float: right; background-color: #00BCD4; border-radius: 3px; padding: 10px 30px; font-size:15px; color: #fff; font-weight: bold; border:none; cursor: pointer;}
.cs_publish input[type=text]:focus, .cs_publish textarea:focus {border:1px solid #00BCD4;}
.cs_publish input[type=submit]:hover {background-color: #0097A7;}
.cs_publish span.zip { margin-top: 5px; display: inline-block; }

.cs_p_notice {position: relative; background-color: #FFF3E0; border:1px solid #ffb740; color: #444; font-size: 14px; padding: 15px; text-align: center;}
.cs_p_notice span {font-size: 18px; font-weight: bold; line-height: 30px; color: #EF6C00;}

.terms_bg { background-color: #fafafa; position: relative; width: 100%; padding: 20px; }
.terms_con { margin-top:20px; border:1px solid #eee; padding: 10px; color: #666; font-size: 13px; line-height: 18px; background-color: #fff; }
.terms_bg h3 { text-align: center; color: #00BCD4; font-size: 18px; font-weight: bold; }