/****************************** 로그인 ******************************/
#container { position:relative; background-color: #F5F5F5;}
.container_wrap {position:relative; background-color: #fff; width: 1200px; margin: 0 auto; border-left:1px solid #eee; border-right:1px solid #eee; z-index: 1; position: relative; padding: 30px 0px; overflow: hidden; min-height: 692px;}
h5 { padding-top: 30px; font-size: 18px; font-weight: bold; color: #00BCD4; text-align: center; }

.login_box {position:relative; margin: 0 auto; width: 680px; }
.login_box fieldset {border:none; margin-top: 50px;}
.login_box fieldset form { display: block; }

.form_field {margin-bottom: 50px; position: relative;}
.login_box .form_field_text { background:0 0; border:none; border-bottom: 1px solid #dbdbdb; width: 100%; padding: 10px; font-size: 14px; color: #9e9e9e;}
.login_box label {color: #444; font-size: 14px; font-weight: bold;}
.login_box .form_field_text + label {display: block; position: absolute; top: 0; left: 0; line-height: 37px; transition: .2s ease-out;}
.login_box .form_field_text:focus + label {transform:translateY(-90%);-webkit-transform:translateY(-90%); font-style:normal; font-weight:normal; font-size: 13px;}
.login_box .completed {transform:translateY(-90%);-webkit-transform:translateY(-90%); font-style:normal; font-weight:700; font-size: 13px;}
.login_box .form_field_text:focus {border-bottom: 2px solid #00BCD4; color: #444; padding-bottom: 9px;}
.login_box input[type=checkbox] {float: left;}
.login_box input[type=checkbox] + label {float: left; padding-left: 5px; font-size: 13px;}
.login_box input[type=checkbox] + label::after {clear: both;}
.login_box input[type=submit] {margin-top: 10px; width: 100%; border-radius: 3px; border:none; background-color: #00BCD4; color: #fff; font-weight: bold; font-size: 14px; padding: 10px;}
.login_box input[type=submit]:hover { background-color: #0097A7; }
.login_box span.error {font-size: 12px; color:#ff5a59; visibility: visible; position: absolute; top: 40px; left: 0;}

.saved_id_chk {padding-bottom:5px; font-size: 14px; font-weight: bold; color:#666;}
.saved_id_chk span {line-height: 25px;}
.saved_id_chk input[type="checkbox"] {display: none;}
.saved_id_chk span:before {font-family: "FontAwesome"; font-style: normal; width: 1em; height: 1em; content:'\f1db'; margin-right: .3em; font-size: 18px; line-height: 35px;}
.saved_id_chk .checked {display: none;}
.saved_id_chk input[type="checkbox"]:checked ~ span.saved_id:before {content: '\f058'; color: #00BCD4; font-weight: bold; text-shadow:1px 1px #eee;}

.keep_login_chk {padding-bottom:5px; font-size: 14px; font-weight: bold; color:#666; margin-left: 10px;}
.keep_login_chk span {line-height: 25px;}
.keep_login_chk input[type="checkbox"] {display: none;}
.keep_login_chk span:before {font-family: "FontAwesome"; font-style: normal; width: 1em; height: 1em; content:'\f1db'; margin-right: .3em; font-size: 18px; line-height: 35px;}
.keep_login_chk .checked {display: none;}
.keep_login_chk input[type="checkbox"]:checked ~ span.keep_login:before {content: '\f058'; color: #00BCD4; font-weight: bold; text-shadow:1px 1px #eee;}


.login_box span.findidpw {float: right; margin-top: 12px;}
.login_box span.findidpw a {color: #666; text-decoration: none;}
.login_box span.findidpw a:hover {color: #00BCD4; text-decoration: underline;}



.login_legi { margin-top: 20px; font-size: 14px; }
.login_legi span {color: #26c6da;}

.other_login {width:100%; display: inline-block; margin-top: 20px; width: 100%;}
.other_login ul {font-size:0; width: 100%;}
.other_login li {font-size: 13px; width:calc(25% - 4px); display: inline-block; border-radius: 2px; float: left; font-weight: bold; margin-top: 5px; line-height: 21px; vertical-align: middle; text-align: center; margin-right: 5px;}
.other_login li a {display:block; padding: 15px 0; color: #fff;}
.other_login li:nth-child(1) {background-color: #48649f;}
.other_login li:nth-child(1):hover {background-color: #3a5180;}
.other_login li:nth-child(2) {background-color: #1da1f2;}
.other_login li:nth-child(2):hover {background-color: #188acf;}
.other_login li:nth-child(3) {background-color: #ffeb00;}
.other_login li:nth-child(3) a {color: #3c1e1e;}
.other_login li:nth-child(3) {background-color: #ffde00;}
.other_login li:nth-child(4) {background-color: #2db400; margin-right: 0;}
.other_login li:nth-child(4):hover {background-color: #269600;}
.other_login li i { font-size: 17px; }

.login_help {margin-top: 30px; text-align: center;}
.login_help a {text-decoration: underline; color: #26c6da; font-weight: bold;}


/* joinup */
.joinup_box {position:relative; margin: 50px auto 0; width: 680px;}

.form_field {margin-bottom: 50px; position: relative;}
.joinup_box .form_field_text { background:0 0; border:none; border-bottom: 1px solid #dbdbdb; width: 100%; padding: 10px; font-size: 14px; color: #9e9e9e;}
.joinup_box label {color: #444; font-size: 14px; font-weight: bold;}
.joinup_box .form_field_text + label {display: block; position: absolute; top: 0; left: 0; line-height: 37px; transition: .2s ease-out;}
.joinup_box .form_field_text + label {transform:translateY(-90%);-webkit-transform:translateY(-90%); font-style:normal; font-weight:normal; font-size: 13px;}
.joinup_box .completed {transform:translateY(-90%);-webkit-transform:translateY(-90%); font-style:normal; font-weight:700; font-size: 13px;}
.joinup_box .form_field_text:focus {border-bottom: 2px solid #00BCD4; color: #444; padding-bottom: 9px;}
.joinup_box input[type=checkbox] {float: left;}
.joinup_box input[type=checkbox] + label {float: left; padding-left: 5px; font-size: 13px;}
.joinup_box input[type=checkbox] + label::after {clear: both;}
.joinup_box input[type=submit] {margin-top: 10px; width: 100%; border-radius: 3px; border:none; background-color: #00BCD4; color: #fff; font-weight: bold; font-size: 14px; padding: 10px;}
.joinup_box input[type=submit]:hover { background-color: #0097A7; }
.joinup_box span.error {font-size: 12px; color:#ff5a59; visibility: visible; position: absolute; top: 40px; left: 0;}

.joinup_link {width:100%; display: inline-block; margin-top: 20px; width: 100%;}
.joinup_link ul {font-size:0; width: 100%;}
.joinup_link li {font-size: 13px; width:calc(50% - 4px); display: inline-block; border-radius: 2px; float: left; font-weight: bold; margin-top: 5px; line-height: 21px; vertical-align: middle; text-align: center; margin-right: 5px;}
.joinup_link li a {display:block; padding: 15px 0; color: #fff;}
.joinup_link li:nth-child(1) {background-color: #007DC6;}
.joinup_link li:nth-child(1):hover {background-color: #02629a;}
.joinup_link li:nth-child(2) {background-color: #00BCD4; margin-right: 0;}
.joinup_link li:nth-child(2):hover {background-color: #01a2b7;}



/* certify */
.certify_box { position:relative; width: 100%; background-color: #F5F5F5;}
.certify_box .certify_box_bg {position:relative; background-color: #fff; width: 1200px; margin: 0 auto; border-left:1px solid #eee; border-right:1px solid #eee; z-index: 1; position: relative; padding: 30px 0px 60px 0; overflow: hidden; }
.certify_box h5 { padding-top: 30px; font-size: 18px; font-weight: bold; color: #00BCD4; text-align: center; }

.certify_box .adult_alart { position:relative; padding: 30px 20px; width: 80%; border-radius: 10px; margin: 0 auto; margin-top:20px; overflow:hidden; }
.certify_box .adult_mark { width: 100px; margin: 0 auto; position: relative; }
.certify_box .adult_mark img {width: 100%; height: auto;}
.certify_box .adult_warn { position:relative; margin-top: 10px; font-size: 14px; color: #444; line-height: 21px; }
.certify_box .adult_out { position:relative; margin: 10px 10px 0 0; width: calc(50% - 7px); text-align:center; display: inline-block; }
.certify_box .adult_out a { display: inline-block; padding: 10px 20px; width: 100%; color: #4DD0E1; font-weight: bold; font-size: 14px; border:1px solid #4DD0E1; border-radius: 3px; }
.certify_box .adult_confirm { position:relative; margin-top:10px; width: calc(50% - 7px); text-align:center; display: inline-block; }
.certify_box .adult_confirm a { display: inline-block; padding: 11px 20px; width:100%; color: #fff; font-weight: bold; font-size: 14px; background-color: #00BCD4; border:none; border-radius: 3px; }


/* findidpw certify  */
.certify_box .find_idpw h5 { padding-top: 30px; font-size: 18px; font-weight: bold; color: #00BCD4; text-align: center;}
.certify_box .find_idpw .idpw_btnwrap { width: 90%; position: relative; margin: 0 auto; }
.certify_box .find_idpw .idpw_head { margin-top: 20px; }
.certify_box .find_idpw .idpw_kcp { width: calc(50% - 5px); /* display: inline-block; */ display:none; border:1px solid #B2EBF2; /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f5f5f5+100 */ background: rgb(255,255,255); background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(245,245,245,1) 100%); background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(245,245,245,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5f5f5',GradientType=0 ); color: #666; box-shadow: inset 0 -1px 0 0 #d5d5d5; border-radius: 3px;}
.certify_box .find_idpw .idpw_kcp a { display: block; width: 100%; text-align: center; font-size: 15px; padding: 10px 0 15px 0; color: #616161; font-weight: bold; }
.certify_box .find_idpw .idpw_kcp a i { font-size: 4em; font-weight: 100;  }

.certify_box .find_idpw .idpw_email { /* width: calc(50% - 5px); */ width: 100%; display: inline-block; border:1px solid #B2EBF2; /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f5f5f5+100 */ background: rgb(255,255,255); background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(245,245,245,1) 100%); background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(245,245,245,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5f5f5',GradientType=0 ); color: #666; box-shadow: inset 0 -1px 0 0 #d5d5d5; border-radius: 3px; margin-left: 5px;}
.certify_box .find_idpw .idpw_email a { display: block; width: 100%; text-align: center; font-size: 15px; padding: 20px 0 15px 0; color: #616161; font-weight: bold; }
.certify_box .find_idpw .idpw_email a i { font-size: 2.7em; padding-bottom: 10px; font-weight: 100; }

.certify_box .find_idpw .idpw_emailtxt { width: 100%; position: relative; margin-top: 10px; display: none; }
.certify_box .find_idpw .idpw_emailtxt input[type=text] { width: calc(100% - 140px); border:2px solid #E0E0E0; color: #757575; padding: 10px 15px; border-radius: 3px; outline:none; }
.certify_box .find_idpw .idpw_emailtxt input[type=text]:focus { border:2px solid #00BCD4; }
.certify_box .find_idpw .idpw_emailtxt input[type=submit] { width: 130px; display: inline-block; color: #fff; border-radius: 3px; background-color: #00BCD4; font-weight: bold; padding: 12px 0; border:none }

.certify_box .find_idpw .idpw_exp { text-align:left; }
.certify_box .find_idpw .idpw_exp ol {margin-top: 10px; margin-left: 20px;}
.certify_box .find_idpw .idpw_exp ol li { list-style: disc; padding: 3px 0; font-size: 13px; color: #757575; }

.certify_box .result_idpw { width: 90%; margin: 10px auto; display:none; }
.certify_box .result_idpw h5 { color: #00BCD4;  font-size: 18px; padding:20px 0 0px 0; text-align: center; }
.certify_box .result_idpw table {margin-top: 20px; width: 100%; border:1px solid #FFAB91; border-bottom: none;  }
.certify_box .result_idpw table th { background-color: #FF7043; color: #fff; font-size: 15px; padding: 10px; width: 100px; border-bottom: 1px solid #FFAB91; }
.certify_box .result_idpw table td { border-bottom: 1px solid #FFAB91; font-size: 14px; padding: 10px 15px; }
.certify_box .result_idpw table td ul li label { font-weight: bold; }
.certify_box .result_idpw table td.pw_input label { display: block; font-size: 13px; }
.certify_box .result_idpw table td.pw_input input[type=password] { border:1px solid #00BCD4; padding: 5px 10px; border-radius: 3px; margin: 10px 0; width: 100%; outline: none; }
.certify_box .result_idpw table td.pw_input input[type=submit] { display: block; width: 100%; border-radius: 3px; background-color: #00BCD4; color: #fff; font-weight: bold; padding: 10px 0; border:none; }

/* E메일로 PW변경 */
.ctmyfindpw_direct { position:relative; width: 100%; background-color: #F5F5F5;}
.ctmyfindpw_direct .ctmyfindpw_direct_bg {position:relative; background-color: #fff; width: 1200px; margin: 0 auto; border-left:1px solid #eee; border-right:1px solid #eee; z-index: 1; position: relative; padding: 30px 0px 60px 0; overflow: hidden; }
.ctmyfindpw_direct h5 { padding-top: 30px; font-size: 18px; font-weight: bold; color: #00BCD4; text-align: center; }
.ctmyfindpw_direct .result_idpw { width: 90%; margin: 10px auto;}
.ctmyfindpw_direct .result_idpw h5 { color: #00BCD4;  font-size: 18px; padding:20px 0 0px 0; text-align: center; }
.ctmyfindpw_direct .result_idpw table {margin-top: 20px; width: 100%; border:1px solid #80DEEA; border-bottom: none;  }
.ctmyfindpw_direct .result_idpw table th { background-color: #26C6DA; color: #fff; font-size: 15px; padding: 10px; width: 100px; border-bottom: 1px solid #80DEEA; }
.ctmyfindpw_direct .result_idpw table td { border-bottom: 1px solid #80DEEA; font-size: 14px; padding: 10px 15px; }
.ctmyfindpw_direct .result_idpw table td ul li label { font-weight: bold; }
.ctmyfindpw_direct .result_idpw table td.pw_input label { display: block; font-size: 13px; }
.ctmyfindpw_direct .result_idpw table td.pw_input input[type=password] { border:1px solid #00BCD4; padding: 5px 10px; border-radius: 3px; margin: 10px 0; width: 100%; outline: none; }
.ctmyfindpw_direct .result_idpw table td.pw_input input[type=submit] { display: block; width: 100%; border-radius: 3px; background-color: #00BCD4; color: #fff; font-weight: bold; padding: 10px 0; border:none; }

/* 회원 가입 */
.sign_ck {position:relative; text-align: left; display: block;}

.sign_agree, .sign_terms, .sign_pinfo {padding-bottom:5px; font-size: 16px; color:#666; position: relative;}

.sign_agree span, .sign_terms span, .sign_pinfo span, .sign_event span {line-height: 18px; display: inline-block;}

.sign_agree span {font-weight: bold;}

.sign_terms span, .sign_pinfo span, .sign_event span {font-weight: 100;}

.sign_agree input[type="checkbox"], .sign_terms input[type="checkbox"], .sign_pinfo input[type="checkbox"], .sign_event input[type="checkbox"] {display: none;}

.sign_agree span:before, .sign_terms span:before, .sign_pinfo span:before, .sign_event span:before {font-family: "FontAwesome"; font-style: normal; width: 1em; height: 1em; content:'\f1db'; line-height:30px; margin-right: .3em; font-size: 18px;}

.sign_agree .checked, .sign_terms .checked, .sign_pinfo .checked, .sign_event .checked {display: none;}

.sign_agree input[type="checkbox"]:checked ~ span:before {content: '\f058'; color: #00BCD4; font-weight: bold; text-shadow:1px 1px #eee;}
.sign_terms input[type="checkbox"]:checked ~ span:before {content: '\f058'; color: #00BCD4; font-weight: bold; text-shadow:1px 1px #eee;}
.sign_pinfo input[type="checkbox"]:checked ~ span:before {content: '\f058'; color: #00BCD4; font-weight: bold; text-shadow:1px 1px #eee;}
.sign_event input[type="checkbox"]:checked ~ span:before {content: '\f058'; color: #00BCD4; font-weight: bold; text-shadow:1px 1px #eee;}

.sign_detail {display: inline-block; position: absolute; right: 0; top: 7px; text-decoration: underline; color: #00838F;}



/* 회원가입 SNS */
.login_box button {margin-top: 10px; width: 100%; border-radius: 3px; border:none; background-color: #00BCD4; color: #fff; font-weight: bold; font-size: 14px; padding: 10px;}
.login_box button.login_no{background-color: #fff; border: 1px solid #00BCD4; color: #00BCD4;}