.evt-container {
	position: relative;
	width: 100%;
	background-color: #fff9e8;
	overflow:hidden;
}
.evt-title {
	position: relative;
	width: 100%;
	padding-bottom: 60px;
}
.evt-maincopy {
	width: 100%;
	margin-top: 80px;
	text-align: center;
	display: block;
}
.evt-exp {
	display: block;
	width: 100%;
	text-align: center;
	margin-top: 75px;
	display: block;
}
.evt-content {
	width:100%;
	background-color:#f14a5e;
	padding: 70px 0;
	text-align: center;
}
.evt-content .evt-link {
	width: 1200px;
	margin: 0 auto;
}
.evt-content .evt-warn { margin-top: 70px; }