@import url(https://cdn.rawgit.com/kattergil/NotoSerifKR-Web/76eb9ebf/stylesheet/NotoSerif-Web.css);

.evt-container {
	position: relative;
	width: 100%;
	font-family: 'Noto Serif KR';
	color: #000;
	font-size: 16px;
}
.evt-header {
	position: relative;
	width: 100%;
	padding: 80px 0 70px 0;
	text-align: center;
}
.evt-test {
	position: relative;
	width: 100%;
}
.evt-test:before {
	position: relative;
	content: '';
	display: block;
	width: 100%;
	height: 2px;
}
.evt-test .test_tab {
	position: relative;
	width: 1200px;
	margin: 0 auto;
	padding: 40px 0;
	border-bottom: 1px solid #000;
}
.evt-test .test_tab ul {
	font-size: 0;
}
.evt-test .test_tab ul li {
	display: inline-block;
	width: 33.3%;
	font-size: 16px;
	text-align: center;
}
.evt-test .test_tab ul li span {
	font-size: 1.8em;
	border: 1px solid #000;
	border-radius: 1em;
	padding: 0 1.1em;
	font-weight: bold;
	background-color: rgba(0,0,0,.3);
	opacity: 0.5;
}

.evt-test .test_tab ul li.test_on span {
	background: none;
	opacity: 1;
}
.evt-test .test_con {
	position: relative;
	width: 1200px;
	margin: 0 auto;
}
.evt-test .test_con h3 {
	font-size: 2.5em;
	color: #000;
	text-align: center;
	padding: 1em 0;
}
.evt-test .test_con .test_insp {
	border: 1px solid #000;
	padding: 0.5em;
	font-size: 1.1em;
}
.evt-test .test_con .test_insp p {
	text-decoration: underline;
	line-height: 2;
}
.evt-test .test_con .test_insp ul li {
	list-style: decimal;
	margin-left: 20px;
	line-height:1.5;
}
.evt-test .test_con .test_insp ul li span {
	display: block;
	font-size: 0.8em;
}
.evt-test .test_con .test_score {
	width: 100%;
	text-align: center;
	font-size:1.8em;
	margin-top: 0.5em;
}
.evt-test .test_con .test_score span {
	display: inline-block;
	width: 80px;
	border: 1px solid #000;
	text-align: right;
	font-weight: bold;
	font-style: 2em;
}
.evt-test .test_con .test_go {
	width: 100%;
	text-align: center;
	margin-top: 1em;
	font-size: 0.9em;
	padding-bottom: 50px;
}
.evt-test .test_con .test_go button {
	display: block;
	margin: 0 auto;
	border: none;
	border-radius: 2em;
	background-color: #000;
	color: #fff;
	padding: 15px 2em;
	font-size: 1.8em;
}

.evt-present {
	position: relative;
	width: 100%;
	text-align: center;
}
.evt-present img {
	margin: 50px 0;
}
.evt-present:before {
	position: relative;
	content: '';
	display: block;
	width: 100%;
	height: 2px;
}

.evt-warn {
	position: relative;
	width: 100%;
	background-color: #454540;
	text-align: center;
	padding: 50px 0;
}



/* 문제 페이지 */
.question {
	position: relative;
	min-height: 100vh;
}
.question-header {
	position: relative;
	width: 100%;
	border-bottom: 1px solid #000;
	padding: 1em;
}
.question-header:after {
	content: '';
	display: block;
	clear: both;
}
.question-header .q_part {
	display: inline-block;
	float: left;
	padding-top: 2px;
}
.question-header .q_part span {
	border: 1px solid #000;
	font-size: 1em;
	border-radius: 1em;
	font-weight: bold;
	padding: 0 0.5em;
}
.question-header .q_section {
	display: inline-block;
	float: left;
	width: calc(100% - 120px);
	padding: 0 10px;
}
.question-header .q_section h3 {
	font-size: 1.8em;
	color: #000;
	text-align: center;
	letter-spacing: -1px;
}
.question-header .q_time {
	display: inline-block;
	float: right;
	padding-top: 2px;
}
.question-header .q_time span {
	border: 1px solid #000;
	font-size: 1em;
	border-radius: 1em;
	font-weight: bold;
	padding: 0 0.5em;
}

.question-contents {
	position: relative;
	width: 100%;
	padding: 1em;
}
.question-contents .q_title {
	line-height: 2;
	padding-bottom: 0.3em;
	font-size: 1.3em;
}
/* 문제 이미지(보기) */
.question-contents .q_title_img {
	width: 100%;
	text-align: center;
	margin-top: 10px;
}
.question-contents .q_title_img img {
	width: 100%;
	max-width: 750px;
	height: auto;
}

/* 텍스트지문01 */
.question-contents ul.q_text01 {
	margin-top: 20px;
}
.question-contents ul.q_text01 li {
	display: block;
	font-size: 16px;
	margin-bottom: 10px;
}
.question-contents ul.q_text01 li a {
	display: block;
	font-size: 1.2em;
	line-height: 1.5;
	padding: 10px;
	background-color: rgba(255,255,255,.3);
	border-radius: 10px;
}

/* 텍스트지문 02 */
.question-contents ul.q_text02 {
	width: 100%;
	margin-top: 20px;
	font-size: 0;
}
.question-contents ul.q_text02 li {
	display: inline-block;
	font-size: 16px;
	width: calc(33.3% - 7px);
	margin-left: 10px;
}
.question-contents ul.q_text02 li:first-child, .question-contents ul.q_text02 li:nth-child(4n) {
	margin-left: 0;
}
.question-contents ul.q_text02 li:nth-child(n+4) {
	margin-top: 10px;
}
.question-contents ul.q_text02 li a {
	display: block;
	font-size: 1.2em;
	padding: 10px;
	background-color: rgba(255,255,255,.3);
	border-radius: 10px;
}
/* 이미지 지문 */
.question-contents ul.q_img {
	width: 100%;
	font-size: 0;
	margin-top: 20px;
}
.question-contents ul.q_img li {
	display: inline-block;
	font-size: 16px;
	width: calc(50% - 10px);
}
.question-contents ul.q_img li:nth-child(even) {
	margin-left: 20px;
}
.question-contents ul.q_img li:nth-child(n+3) {
	margin-top: 10px;
}
.question-contents ul.q_img li a {
	display: table;
	line-height: 1.5;
	font-size: 1.2em;
	vertical-align: top;
	background-color: rgba(255,255,255,.3);
	border-radius: 10px;
	padding: 10px;
}
.question-contents ul.q_img li a span {
	display: table-cell;
	vertical-align: top;
}
.question-contents ul.q_img li a img {
	width: calc(100% - 5px);
	margin-left: 5px;
}

/* 시험결과창 */
.question-result {
	position: relative;
	width: 100%;
	padding: 2.5em 1em;
	text-align: center;
}
.question-result p {
	font-size: 1.5em;
}
.question-result .q_score {
	position: relative;
	width: 100%;
	font-size: 3em;
	font-weight: bold;
}
.question-result .q_score span {
	position: relative;
	font-size:3.5em;
	font-weight: bold;
	color: #f44336;
}
.question-result .q_score span:after {
	content: '';
	position: absolute;
	display: block;
	left: 0;
	bottom: 0px;
	width: 200px;
	height: 40px;
}
.question-result .q_sns {
	margin-top: 2em;
	padding: 1em;
	border: 1px solid #000;
	border-radius: 10px;
}
.question-result .q_sns ul {
	margin-top: 10px;
}
.question-result .q_sns ul li {
	display: inline-block;
}
.question-result .q_sns ul li img {
	width: 60px;
}
.question-footer {
	position: relative;
	width: 100%;
	text-align: center;
}
.question-footer ul li {
	display: inline-block;
	padding: 10px 0;
}
.question-footer ul li span {
	border: 1px solid #000;
	border-radius: 10px;
	padding: 0 10px;
}
.question-footer ul li span i {
	margin-top: -4px;
	font-size: 1.4em;
}
.question-footer button {
	border: 1px solid #000;
	border-radius: 1em;
	font-size: 1.2em;
	width: 35vw;
	padding: 5px 0;
	background-color: #fff;
}