/****************************** 이벤트 리스트 ******************************/
.event_list_wrap {width: 1200px; margin: 0 auto; padding: 20px; background: #fff; border-left:1px solid #eee; border-right:1px solid #eee; z-index: 1; position: relative; min-height: 691px;}
.event_list {position: relative; overflow: hidden; margin-top: 30px;}
.event_list ol {width: 100%; border-top: 2px solid #b2ebf2; border-bottom: 2px solid #b2ebf2; }
.event_list ol li {padding: 10px 15px; display: block; border-bottom: 1px solid #e0e0e0; overflow: hidden;width: 100%;}
.event_list ol li a { display: block; }
.event_list ol li:hover {background-color: #fafafa;}
.event_list ol li:last-child { border: none; }

.event_thumbnail{
	position:relative;
	display: inline-block;
	width:250px;
	display: inline-block;
	background-color:#000;
	background-size:cover;
	float:left;
}

.text{position:absolute; top:50%; left: 50%; transform:translate(-50%, -50%); font-size:15px; font-weight: bold; color:#fff; text-shadow:1px 1px #333; text-align:center; width:100%;}

.list_contents {display: inline-block; color: #757575; font-size: 14px; margin-left: 20px; line-height: 23px; margin: auto 20px; max-width: 646px;}
span.event_title {font-size:20px; color:#444; line-height: 23px; font-weight: bold; display: block; padding-bottom: 10px;}
span.event_date {font-size: 14px; font-weight: bold; color: #9E9E9E; display: block; padding-top: 5px;}
span.event_date strong {background-color: #0097a7; color: #fff; font-weight: bold; padding: 3px 10px; border-radius: 3px; font-size: 13px; margin-right: 10px;}

button.event_detail{float:right; display:inline-block; font-weight: bold; color: #00BCD4; width: 150px; text-align: center; padding: 10px 0; border-radius: 3px; margin-top: 34px; font-size: 15px; border:1px solid #00BCD4;}
.event_list ol li:hover button.event_detail {background-color:#00BCD4; color: #fff;}
button.event_detail_off {float:right; display:inline-block; background-color:#BDBDBD; font-weight: bold; color: #fff; width: 150px; text-align: center; padding: 10px 0; border-radius: 3px; margin-top: 34px; font-size: 15px; border:none;}


/****************************** 이벤트 상세 리스트 ******************************/
#container { background-color:#f5f5f5; }
.event_list_bg {width: 100%; height: 450px; position: absolute; top: 123px; z-index: -1;}
.event_list_con {width: 1200px; margin: 0 auto; z-index: 999;overflow: hidden;z-index: 2;}
.event_list_title {width: 1000px; margin: 0 auto;z-index: 2;}
.event_list_title img {z-index: 2;}

.event_detail_list { width: 1200px; background-color: #fff; border-radius: 10px 10px 0 0; padding: 20px; }
.event_detail_list div.only_adult { width:80%; margin:0 auto; margin-top: 100px; margin-bottom: 100px; padding: 30px; text-align: center; font-size: 14px; font-weight: bold; background-color: #f5f5f5; border-radius: 10px; }
.event_detail_list dl { width: calc(50% - 7px); display: inline-block; border:1px solid #eee; border-radius: 3px; padding: 10px; overflow: hidden; margin-left: 10px; }
.event_detail_list dl:nth-of-type(odd) { margin-left: 0; }
.event_detail_list dl:after { display:block; visibility:hidden; clear:both; content:""; }
.event_detail_list dl dt { display: inline-block; }
.event_detail_list dl dt img{ width:551px; height:282px; }
.event_detail_list dl dt.event_detail_series { border-left: 5px solid #341a49; }
.event_detail_list dl dt:nth-of-type(2) { float: left; font-size:25px; color: #444; font-weight: 800; margin-top: 15px; padding-left: 15px; width: calc(100% - 110px); overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.event_detail_list dl dt:nth-of-type(3) { float:right; margin-top: 15px; }
.event_detail_list dl dt:nth-of-type(3) button { width: 100px; text-align: center; border:1px solid #9E9E9E; color: #9E9E9E; border-radius: 3px; padding: 15px 0; font-weight: bold; font-size: 15px; transition: all .3s; }
.event_detail_list dl dt:nth-of-type(3) button:hover { border-color: #00BCD4; color: #00BCD4 }
.event_detail_list dl dt:nth-of-type(4) { width: calc(100% - 110px); font-size: 15px; padding-left: 20px; float: left; margin-top: 5px; line-height: 23px; }
.event_detail_list dl dt:nth-of-type(4) span.genre { font-size: 13px; color: #8ec34a; word-break: keep-all; border:1px solid #8bc34a; padding: 3px 10px; border-radius: 10px; margin-left: 10px; }
.event_detail_list dl dd { width: 100%; background-color: #f5f5f5; display: block; width: 100%; background-color: #f5f5f5; font-size: 14px; padding: 20px; line-height: 21px; margin-top: 10px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; float: left; }

/****************************** 이벤트 뷰어 ******************************/

.event_contents { width: 1200px; background-color: #fff; margin: 0 auto; background-color: #fff; padding-bottom: 20px; }
.event_contents:after { display:block; visibility:hidden; clear:both; content:""; }
.event_contents table.event_view {width: 100%; /* color: #444; border-top:2px solid #444; */ }
.event_contents table.event_view th {padding: 10px; font-size: 14px; font-weight: bold; border:1px solid #ddd; border-left: none;  background-color: #fafafa; width: 30px;}
.event_contents table.event_view td {}
.event_contents table.event_view td.eme_num {width: 30px; border:1px solid #ddd; border-top: none; border-left: none; padding-left: 10px;}
.event_contents table.event_view td.eme_title {font-weight: bold; font-size: 14px; border: 1px solid #ddd; border-top: none; border-left: none; text-align:center;}
.event_contents table.event_view td.eme_title span {color: #00BCD4; padding-right: 10px;}
.event_contents table.event_view td.eme_date {width: 50px; text-align: center; border-bottom: 1px solid #ddd;}
.event_contents table.event_view td.editor {padding: 20px; /* border-bottom: 2px solid #444; */ font-size: 13px; line-height: 21px; width: 100%; text-align: center; overflow: hidden}
.event_contents table.event_view td.editor img {width: 80%; margin-bottom: 10px;}
.event_contents button.go_event_list {position:relative; margin:0 auto; background-color: #00BCD4; border-radius: 3px; padding: 10px 30px; font-size:15px; color: #fff; font-weight: bold; border:none; text-align: center; display: block;}
.event_contents button.go_event_list:hover {background-color: #24b5c7;}

/***************************** 이름짓기 이벤트 2017-07-17 ******************************/
#evtcontainer .evtcontents { width: 1200px; margin: 0 auto; position: relative; }
#evtcontainer .evt_title { width: 100%; text-align: center; }
#evtcontainer .evt_con02 {position: relative; margin-top: 50px; }
#evtcontainer .evt_con02 ul { font-size: 0; }
#evtcontainer .evt_con02 ul li { display: inline-block; margin-left: 41px; }
#evtcontainer .evt_con02 ul li:first-child { margin-left: 20px; }

#evtcontainer .evt_con03 ul { font-size: 0; margin-left: 7px; }
#evtcontainer .evt_con03 ul li { display: inline-block; width: 395px; }
#evtcontainer .evt_con03 ul li .crt_img { padding: 104px 0 0 84px; }
#evtcontainer .evt_con03 ul li .crt_name { width: 100%; padding-top: 23px; text-align: center; }
#evtcontainer .evt_con03 ul li .crt_exp { padding:30px 0 0 50px; font-size: 24px; }
#evtcontainer .evt_con03 ul li .crt_text { text-align: center; margin-top: 24px; }
#evtcontainer .evt_con03 ul li .crt_text input[type=text] { width: 340px; font-size: 23px; font-weight: bold; border:none; border:3px solid #BDBDBD; color: #b08a61; padding: 20px 0; border-radius: 25px; text-align: center; }
#evtcontainer .evt_con03 ul li .crt_text input[type=text]:focus { border:3px solid #b08a61; color: #b08a61 }

#evtcontainer .evt_con04 { position: relative; width: 100%; text-align: center; margin-top: 50px; }
#evtcontainer .evt_con04 button { font-size: 30px; font-weight: bold; color: #fff; padding: 20px; text-align: center; width: 500px; border:none; background-color: #89629d; border-radius: 30px; }
#evtcontainer .evt_con04 button:hover { background-color: #593b68; }

#evtcontainer .evt_con05 { position: relative; width: 100%; text-align: center; margin-top: 100px; }
#evtcontainer .crt_guide ol { width:400px; margin: 0 auto; padding-top: 20px; }
#evtcontainer .crt_guide ol li { list-style: decimal inside none; font-size: 20px; padding-bottom: 15px; line-height: 30px; }
#evtcontainer .crt_guide ol li span { padding-left: 90px; }

/***************************** 랜덤박스 이벤트 2017-08-11 ******************************/
#evtrancontainer .evt_title { width: 100%; max-width: 1200px; padding: 50px 0 100px 0; position: relative; margin: 0 auto; text-align: center; max-height: 911px; }

#evtrancontainer .evt_contentswrap { position: relative; z-index:1; overflow: hidden; }
#evtrancontainer .evt_contentswrap:before { content:''; position: absolute; background:linear-gradient(to bottom, rgba(255,255,255,.6), #b1edf3); transform:skewY(10deg); top: 200px; width: 100%; height: 100%; }
#evtrancontainer .evt_pre { position:relative; width: 1200px; margin: 0 auto; }
#evtrancontainer .evt_pre ul { font-size: 0; }
#evtrancontainer .evt_pre ul li { display: inline-block; margin-left: 28.75px; }
#evtrancontainer .evt_pre ul li:first-child { margin-left: 0; }

#evtrancontainer .evt_exp { position: relative; border-radius: 20px; background-color: #f1f7ff; text-align: center; width: 800px; margin: 0 auto; padding: 30px 80px; margin-top: 50px; border:5px solid #6599dd; }
#evtrancontainer .evt_exp span { display: inline-block; padding: 5px 14px; border-radius: 50%; background-color: #ff8a2b; font-size: 28px; font-weight: 800; vertical-align: middle; color: #fff; margin-right: 10px; }
#evtrancontainer .evt_exp p { margin: 10px 0; display: block; text-align: left; font-size: 18px; font-weight: bold; }
#evtrancontainer .evt_box { width: 800px; margin: 0 auto; border-radius: 20px;  padding: 30px 0; position: relative; text-align: center;  overflow:hidden; }
#evtrancontainer .evt_box ul { font-size: 0; position: relative; padding: 15px 0; }
#evtrancontainer .evt_box ul li { display: inline-block; position: relative; text-align: center; padding-top: 30px; width: 33.3%; }
#evtrancontainer .evt_box ul li img { width: 200px; }
#evtrancontainer .evt_box ul li label { position: relative; }
#evtrancontainer .evt_box ul li label > input { visibility: hidden; position: absolute; }
#evtrancontainer .evt_box ul li label > input + img { cursor: pointer; opacity: .6;}
#evtrancontainer .evt_box ul li label > i { display: block; vertical-align: middle; width: 20px; height: 20px; border-radius: 50%; transition: .2s; box-shadow: inset 0 0 0 10px #fff; border:1px solid gray; background:gray; margin: 10px auto;}
#evtrancontainer .evt_box ul li label:hover i { box-shadow: inset 0 0 0 3px #fff; background:grey; }
#evtrancontainer .evt_box ul li label > input[type=radio]:checked ~ i { box-shadow: inset 0 0 0 3px #fff; background:orange; }
#evtrancontainer .evt_box ul li label > input[type=radio]:checked + img { opacity: 1; }

/* Rectangle Out */
#evtrancontainer .evt_box button {
	position: relative;
	font-size: 25px;
	font-weight: bold;
	border:none;
	width: 300px;
	padding: 15px;
	text-align: center;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px transparent;
	position: relative;
	background: #1a76ff;
	color: #fff;
	border-radius: 10px;
	margin-top: 30px;
	-webkit-transition-property: color;
	transition-property: color;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
}
#evtrancontainer .evt_box button:before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #0c4190;
	border-radius: 10px;
	-webkit-transform: scale(0);
	transform: scale(0);
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
#evtrancontainer .evt_box button:hover:before, .evt_box button:focus:before, .evt_box button:active:before {
  -webkit-transform: scale(1);
  transform: scale(1);
}

#evtrancontainer .evt_box p { font-size: 15px; padding-top: 10px; }
#evtrancontainer .evt_warning { position:relative; width: 800px; margin: 0 auto; padding: 50px 0; text-align: center; }
#evtrancontainer .evt_warning p { display: block; padding: 15px 0 0 0; font-size: 15px; }

#dialog { display: none; }

/***************************** 출석 이벤트 2017-09-22 ******************************/
#evtattcontainer .evt_wrapper { width: 100%; position: relative; }
#evtattcontainer .evt_header { width: 100%; text-align: center; }
#evtattcontainer .evt_con { position: relative; margin: 0 auto; width: 1200px;}

/* Calender */
#evtattcontainer .evt_cal_wrap { position:relative; width:100%; padding: 20px; }
#evtattcontainer .evt_cal_header { width: 100%; border-bottom: #eee; overflow: hidden; padding:15px 10px; vertical-align: middle; position: relative; }
#evtattcontainer .evt_cal_header div { display: table; }
#evtattcontainer .evt_cal_month { font-size: 15px; text-align: center; margin: 0 auto; padding: 0 10px 10px 10px; border-bottom: 5px solid #f06292; }
#evtattcontainer .evt_cal_month span { display: block; font-weight: 800; font-size: 50px; }
#evtattcontainer .evt_cal_myreward {  float: right; font-size: 15px; text-align: right; line-height: 26px; padding: 0 20px; }
#evtattcontainer .evt_cal_myreward span { display: block; font-weight: bold; font-size: 20px; }
#evtattcontainer .evt_cal_myreward span strong { background-color: #f06292; border-radius: 15px; padding: 3px 20px; font-weight: 800; color: #fff; margin-right: 10px; }
#evtattcontainer .evt_cal_chkbtn { float: right;  }
#evtattcontainer .evt_cal_chkbtn button { background-color: #e91e63; border:none; box-shadow: 3px 3px 0 rgba(0,0,0,.3); font-weight: bold; font-size: 25px; padding: 15px 50px; color: #fff; border-radius: 30px; }
#evtattcontainer .evt_cal_header:after { content: ''; display: block; clear: both; }

#evtattcontainer .evt_cal { width: 100%; padding: 10px; }
#evtattcontainer .evt_cal > ul { display: table; width: 100%; font-size: 0; margin-bottom: 15px; }
#evtattcontainer .evt_cal > ul > li { display: table-row; width: 100%; }
#evtattcontainer .evt_cal > ul > li > div { display: table-cell; width: 14%; min-height: 80px; height: 141px; border-right: 1px solid #eee; border-bottom: 1px solid #eee; border-left: 0; font-size: 13px; text-align: center; }
#evtattcontainer .evt_cal > ul > li > div:first-child { border:none; border-right: 1px solid #eee; border-bottom: 1px solid #eee; }
#evtattcontainer .evt_cal > ul > li > div:last-child { border-right: 0px; }
#evtattcontainer .evt_cal > ul > li.cal_day > div { height:30px; line-height: 30px; min-height: 0px; border-top: 1px solid #eee; border-right: 1px solid #eee; border-bottom:1px solid #eee; background-color: #f5f5f5; color: #777; font-weight: bold; text-align: center; }
#evtattcontainer .evt_cal > ul > li.cal_day > div:last-child { border-right: 0px; }
#evtattcontainer .evt_cal > ul > li.cal_day > div.sun { color: #cc2220; }
#evtattcontainer .evt_cal > ul > li.cal_day > div.sat { color: #2453a5; }
#evtattcontainer .evt_cal > ul > li > div.empty { background-color: #f5f5f5; }
#evtattcontainer .evt_cal > ul > li > div > time { display: block; padding: 3px 0 3px 3px; font-weight: bold; min-height: 15px; text-align: left; }
#evtattcontainer .evt_cal > ul > li > div > time span { display: none; }
#evtattcontainer .evt_cal > ul > li > div > img { display: block; margin: 0 auto; margin-top: 10px; }
#evtattcontainer .evt_cal > ul > li > div ul { width: 100%; font-size: 0px; text-align: right;padding: 0 3px; min-height: 60px; }
#evtattcontainer .evt_cal > ul > li > div ul li { margin: 0px 3px 3px 0px; padding: 3px; }
#evtattcontainer .evt_cal > ul > li > div.today { background-color: #fff8cf !important; }
#evtattcontainer .evt_cal > ul > li > div.sun > time, .evt_cal > ul > li > div.sun > time span { color: #cc2220; }
#evtattcontainer .evt_cal > ul > li > div.sat > time, .calender > ul > li > div.sat > time span { color: #2453a5; }

#evtattcontainer .evt_warn { position: relative; width: 100%; margin-top: 30px; }