.evt-container {
    position: relative;
    width: 100%;
    overflow:hidden;
}

.evt-header .evt-title {
    position: relative;
    width: 100%;
    text-align: center;
    padding: 80px 0 0 0;
}
.evt-header .evt-intro {
    position: relative;
    width: 100%;
    text-align: center;
    padding-top: 25px;
}

.evt-insp .foot_kong {
    position: absolute;
    bottom: -50px;
    left: 120px;
    z-index: 2;
}
.evt-insp .foot_rami {
    position: absolute;
    bottom: -20px;
    right: 30px;
    z-index: 2;
}

.evt-reply {
    position: relative;
    width: 100%;
    background-color: #dfc38c;
    padding: 20px 0 70px 0;
}
.evt-reply .reply_byte {
    position: absolute;
    top: 55px;
    left: 20px;
    font-size: 14px;
    color: #b28a8a;
}
.evt-reply .reply_byte span {
    color: #661616;
}
.evt-reply .reply_input {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    padding-bottom: 25px; /* 추가 */
    display: table;
}
/* 댓글쓰고나서 이미지 출력(추가) */
.evt-reply .reply_img {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    height: 175px;
    padding-top: 8px;
}
.evt-reply .reply_input form {
    display: table-cell;
    vertical-align: bottom;
}
.evt-reply .reply_input textarea {
    width: 974px;
    border: 0;
    border-radius: 10px;
    padding: 20px 25px;
    font-size: 22px;
    resize: none;
    height: 65px;
    color:#661616;
    vertical-align: bottom;
}
.evt-reply .reply_input input[type="image"] {
    margin-left: 15px;
}
.evt-reply .reply_input textarea::-ms-input-placeholder { color: #b28a8a; }
.evt-reply .reply_input textarea::-webkit-input-placeholder { color: #b28a8a; }
.evt-reply .reply_input textarea:-moz-placeholder { color: #b28a8a; }
.evt-reply .reply_input textarea::-moz-placeholder { color: #b28a8a; }


.evt-reply .reply_list {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    border-radius: 10px;
    background-color: #f5eddd;
    padding: 30px;
}

.evt-reply .reply_list ol>li {
    display: block;
    width: 100%;
    margin-bottom:10px;
}
.evt-reply .reply_list ol li ul:after {
    content: "";
    display: block;
    clear: both;
}
.evt-reply .reply_list ol li ul>li {
    position: relative;
    display: inline-block;
    float: left;
    color: #661616;
    font-size: 18px;
    padding: 20px 0;
}

.evt-reply .reply_list ol li ul>li:nth-child(1) {
    display: inline-block;
    width: 200px;
    font-weight: bold;
    overflow: hidden;
    word-break: break-all;
    padding-right:20px;
    line-height: 41px;
    vertical-align: middle;
}
.evt-reply .reply_list ol li ul>li:nth-child(1) span {
    vertical-align: middle;
}
.evt-reply .reply_list ol li ul>li:nth-child(2):before {
    content: "";
    position: absolute;
    left: -8px;
    top: 32px;
    width: 15px;
    height: 15px;
    background-color: #fff;
    transform: rotate(45deg);
    z-index: 2;
}
.evt-reply .reply_list ol li ul>li:nth-child(2) {
    position: relative;
    width: calc(100% - 300px);
    background-color: #ffffff;
    border-radius: 10px;
    height: 83px;
    padding: 20px;
}
.evt-reply .reply_list ol li ul>li:nth-child(3) {
    text-align: right;
    width: 100px;
    font-size: 16px;
    line-height: 41px;
    color: #b28a8a;
}

/* Paging */
.evt-reply .reply_paging {
    text-align: center;
    margin-top: 30px;
}
.evt-reply .reply_paging ul {
    display: table;
    margin: 0 auto;
}
.evt-reply .reply_paging ul li {
    color: #661616;
    cursor: pointer;
    display: table-cell;
    font-size: 20px;
    vertical-align: middle;
    padding: 0 15px;
}
.evt-reply .reply_paging ul li:hover, li:focus {
    font-weight: bold;
}
.evt-reply .reply_paging ul li a:hover, .evt-reply .reply_paging ul li a:focus {
    font-weight: bold;
}
.evt-reply .reply_paging ul li i {
    font-size: 25px;
}
.evt-reply .reply_paging ul li.end i {
    color: #bdbdbd;
}

.evt-warn {
    position: relative;
    width: 100%;
    background-color: #d3b272;
    text-align: center;
    padding: 65px 0;
}