.evt-container {
	position: relative;
	width: 100%;
	background-color: #fff;
	overflow:hidden;
}
.evt-maincopy {
	width: 100%;
	padding-top: 80px;
	text-align: center;
	display: block;
}
.evt-exp {
	display: block;
	width: 100%;
	text-align: center;
	margin-top: 95px;
	display: block;
}
.evt-content {
	width:100%;
	background-color:#ea284d;
	text-align: center;
	padding-bottom: 100px;
}
.evt-content .evt-link {
	width: 1200px;
	margin: 0 auto;
}
.evt-bottom {
	width: 100%;
	background-color: #b4203d;
}
.evt-bottom .evt-warn {
	width: 1200px;
	margin: 0 auto;
	padding: 70px 0;
}