.evt-container {
	position: relative;
	width: 100%;
	
}
.evt-header-bg {
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -502px;
	animation-name: moonlight;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	z-index: 0;
}
@-webkit-keyframes moonlight{
	0%, 100%{
		opacity: 0.7;
	}
	50%{
		opacity: 1;
	}
}
@keyframes moonlight{
	0%,
  100% {
    opacity: 0.8;
  }
  50% {
    opacity: 1;
  }
}

.evt-title {
	position: relative;
	width: 100%;
	text-align: center;
	padding-top: 190px;
}
.evt-term {
	position: relative;
	width: 100%;
	text-align: center;
	margin-top: 200px;
}

.evt-content-wrap {
	position: relative;
	width: 100%;
	margin-top: 30px;
	padding-bottom: 200px;
	font-size: 16px;
}
.evt-content {
	width: 1200px;
	margin: 0 auto;
	background-color: rgba(0,0,0,.5);
	padding: 70px 0;
	text-align: center;
}
.evt-content .coupon {
	position: relative;
	width: 550px;
	height: 251px;
	margin: 85px auto 0 auto;
	padding: 50px 20px 0 110px;
}
.evt-content .coupon p {
	font-size: 25px;
}
.evt-content .coupon span {
	display: inline-block;
	font-weight: 700;
	color: #ff7300;
}
.evt-content .coupon .coupon-badge {
	position: absolute;
	top: -60px;
	right: -63px;
}
.evt-content button {
	background-color: #1fadc1;
	font-size: 30px;
	padding: 10px 0;
	width: 550px;
	color: #fff;
	border:0;
	border-radius: 3px;
	font-weight: 800;
	margin-top: 20px;
}
.evt-content button:hover {
	background-color:#2d93a1;
}
.evt-content button.nochk {
	background-color: #9E9E9E;
}
.evt-content span {
	display: block;
	margin-top: 15px;
}
.evt-content .warn {
	margin-top: 70px;
	padding-top: 60px;
}


.Modalalert { overflow:hidden;}
.ModalBackground {
	position: absolute;
	width: 100%;
	height: 100vh;
	background-color: rgba(0,0,0,.8);
	z-index: 100;
	display: none;
}
.ModalPopup {
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -250px;
	width: 500px;
	background-color: #fff;
	z-index: 101;
	border-radius: 3px;
	font-size: 16px;
	display: none;
	border:1px solid rgba(255,255,255,.3);
}
.ModalPopup .p_content { padding: 20px; }
.ModalPopup .p_content .p_coupon {
	position: relative;
	width: 461px;
	height: 213px;
	margin: 0 auto;
	padding:50px 0 0 125px;
	color: #eee;
}

.ModalPopup .p_content .p_coupon p {
	color: #ff7300;
	font-size: 3em;
	font-weight: bold;
	letter-spacing: -0.1em;
}

.ModalPopup .p_content .p_coupon span.coupon_value {
	color: #ff7300;
	font-size: 2em;
	font-weight: bold;
	letter-spacing: -0.1em;
}

.ModalPopup .p_content .p_coupon span.coupon_time {
	display: inline-block;
	font-size: 0.8em;
	background-color: #ff7300;
	color: #fff;
	text-align: left;
	padding: 3px 10px;
	border-radius: 1em;
}

.ModalPopup .p_content .p_coupon span.coupon_time span.coupon_value02 { font-weight: bold; color: #adf5ff; }

.ModalPopup .p_content .p_get {
	position: relative;
	display: block;
	margin-top: 10px;
	font-size: 1.8em;
	text-align: center;
	font-weight: bold;
	color: #fff;
}

.ModalPopup .p_content .p_get span { color: #fee065; font-size: 1.5em; letter-spacing: -0.1em; }

.ModalPopup .p_content .p_exp {
	position: relative;
	display: block;
	margin-top: 10px;
}
.ModalPopup .p_content .p_exp ol {
	position: relative;
	width: 100%;
	margin-left: 20px;
	margin-bottom:10px;
}
.ModalPopup .p_content .p_exp ol li {
	width: 100%;
	list-style: disc;
	padding-bottom: 10px;
	color: #f5f5f5;
}

.ModalPopup .p_content ul {
	position: relative;
	width: 100%;
	font-size: 0;
	margin-top: 10px;
}

.ModalPopup .p_content ul li {
	display: inline-block;
	width: 50%;
	font-size: 16px;
}

.ModalPopup .p_content ul li:last-child { text-align: right; }


.ModalPopup button {
	margin-top: 20px;
	height: 45px;
	border:none;
	border-radius: 3px;
	background-color:#1fadc1;
	font-size: 1.5em;
	font-weight: bold;
	width: 80%;
	color: #fff;
}
.ModalPopup button:hover {
	background-color:#2d93a1;
}
.ModalPopup button.p_buy, .ModalPopup button.p_couponpage { width: 95%; }
.ModalClose {
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	color: #26c6da;
	position: absolute;
	top: -50px;
	right: 0px;
	cursor: pointer;
}
.ModalClose i { font-size: 3em; }