#eventhanamembers { position: relative; width: 100%; min-height: 100%; height: auto !important; z-index: 1; letter-spacing: -1px;}
#eventhanamembers .evtcontainer { width: 100%; position: relative; outline: none;}
#eventhanamembers .evt_title { width: 100%; max-width: 1200px; max-height: 578px; position: relative; margin: 0 auto; }
#eventhanamembers .evt_contentswrap { width: 100%; padding: 55px 0 100px 0; }
#eventhanamembers .evt_dn_btn { position: relative; width: 1200px; margin: 0 auto; display: block; text-align: center; }
#eventhanamembers .evt_con { position: relative; width: 1200px; margin: 0 auto; display: block; text-align: center; }
#eventhanamembers .evt_footer01 { position: relative; width: 100%; background-color: #444; text-align: center; padding: 30px 0; }
#eventhanamembers .evt_footer02 { position: relative; width: 100%; background-color: #333; text-align: center; padding: 20px 0; }