
@keyframes swing {
  0% { transform: rotate(20deg); }
  50% { transform: rotate(-20deg); }
  100% { transform: rotate(20deg); }
}
@keyframes fadeInUp {
  from { opacity: 0; transform: translate3d(0, 10%, 0); }
  to { opacity: 1; transform: translate3d(0, 0, 0); }
}


.evtcontainer {
	width: 100%;
	position: relative;
	outline: none;
}
.goToTop {
	position: fixed;
	right: 10px;
	bottom: 10px;
	z-index: 99;
	display: none;
	cursor: pointer;
}
.con01 {
	position: relative;
	width: 100%; 
	text-align: center; padding: 135px 0 35px 0;
}
.con01 .title { margin: 0 auto; }

.con01 .pocket {
	position:relative;
	width: 800px;
	height: 687px;
	margin: -10px auto 0 auto;
	padding-top: 435px;
}
.con01 .pocket .p_count {
	position:absolute;
	top:340px;
	left:50%;
	margin-left:-71px;
	font-size:16px;
	letter-spacing:-0.1em;
	color:#fff;
	font-weight:bold;
	text-align:center;
	text-shadow:2px 2px rgba(0,0,0,.3);
}
.con01 .pocket .p_count p {
	font-size:1.8em;
}
.con01 .pocket .p_count span {
	font-size:2.9em;
	font-weight:800;
}
.con01 .pocket .p_count span.count_col { color: #02cdab; }
.con01 .pocket .p_gauge { cursor: pointer; }

.con01 .pocket .gauge_blank {
	position:relative;
	width: 800px;
	height:6em;
	background-color: #f6f1eb;
	border-radius: 0 3em 3em 0;
	border:10px solid #fff;
	box-shadow: 3px 3px 8px rgba(0,0,0,0.3);
	border-radius: 3em;
}
.con01 .pocket .gauge_blank::after {
	content: "";
	display: inline-block;
	position: absolute;
	width: 8em; height: 8em;
	right: -3.9em;
	top: -2.8em;
	border-radius: 50%;
	border:10px solid #fff;
	box-shadow: 3px 3px 8px rgba(0,0,0,0.3);
}
.con01 .pocket .gauge_blank .gauge::before {
	content: "";
	display: inline-block;
	position: absolute;
	z-index:10;
	top: -5px;
	right: -21px;
	width: 42px;
	height: 60px;
	animation-name: swing;
	animation-duration: 1s;
	animation-fill-mode: both;
	animation-iteration-count:infinite;
}
.con01 .pocket .gauge_blank .gauge {
	position: absolute;
	height: calc(6em - 20px);
	background-color: #f6f1eb;
	background: linear-gradient(to right, #00cdac 0%,#fff846 100%);
	border-radius: 3em; left: 0;
}
.con01 .pocket .pocket_day { position: relative; margin-top: 10px; }
.con01 .pocket_stat {
	width: 650px;
	height: 94px;
	display: inline-block;
	margin: 0 auto;
	margin-top: 20px;
	color: #fff;
	text-align: center;
	vertical-align: middle;
	font-size: 3.5em;
	font-weight: bold;
	line-height: 94px;
}
.con01 .pocket_stat strong { color: #02cdab; }

.con01 .next { margin-top: 50px; text-align: center; }

.con02 {
	position: relative;
	width: 100%;
	background-color: #ffc372;
	padding: 50px 0 100px 0;
	text-align: center;
}

.con02 ul {
	position: relative;
	font-size: 0;
	width: 1022px;
	margin: 0 auto;
}
.con02 ul li {
	display: inline-block;
	width: 50%;
	margin-top: 70px;
	vertical-align: top;
	opacity: 0;
}

.fadeInUp {
	animation-name: fadeInUp;
	animation-duration: 1s;
	animation-fill-mode: both;
}
.fadeInUp:nth-of-type(2) { animation-delay: 0.6s; }
.fadeInUp:nth-of-type(4) { animation-delay: 0.6s; }

.con02 .con02_warn { margin-top: 70px; }
.con02 .con02_warn .gotocoupon {
	position:relative;
	width:100%;
	display:block;
	margin-top:20px;
}
.con02 .con02_warn .gotocoupon button {
	padding:10px 0;
	width:450px;
	font-size:2em;
	background-color:#7c5e41;
	color:#fff;
}


.con03 {
	position: relative;
	width: 100%;
	background-color: #7c5e41;
	padding: 50px 0;
}
.con03_warn { width: 1200px; margin: 0 auto; padding: 0 20px; }


.Modalalert { overflow:hidden;}
.ModalBackground {
	position: absolute;
	width: 100%;
	height: 100vh;
	background-color: rgba(0,0,0,.8);
	z-index: 100;
	display: none;
}
.ModalPopup {
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -250px;
	width: 500px;
	height: 500px;
	background-color: #fff;
	z-index: 101;
	border-radius: 3px;
	font-size: 16px;
	display: none;
	background-size: auto;
}
.ModalPopup .p_content01 { padding: 20px; text-align: center; }
.ModalPopup .p_content01 .p_title {
	position: relative;
	width: 100%;
	text-align: center;
}
.ModalPopup .p_content01 .p_exp {
	position: relative;
	width: 100%;
	text-align: center;
	margin-top: 10px;
}
.ModalPopup .p_content01 ul.p_choice {
	font-size: 0;
	width: 100%;
	margin-top: 10px;
}
.ModalPopup .p_content01 ul.p_choice li {
	display: inline-block;
	width: 33.3%;
	text-align: center;
}
.ModalPopup .p_content01 ul.p_choice li input[type='radio'] { display: none; }
.ModalPopup .p_content01 ul.p_choice li input[type='radio'] + label::before {
	content: '';
	display: inline-block;
	width: 141px;
	height: 154px;
	cursor: pointer;
}

.ModalPopup .p_content02 { padding: 20px; }
.ModalPopup .p_content02 .p_coupon {
	position: relative;
	width: 461px;
	height: 213px;
	margin: 0 auto;
	padding:50px 0 0 125px;
}

.ModalPopup .p_content02 .p_coupon p {
	color: #ff6872;
	font-size: 3em;
	font-weight: bold;
	letter-spacing: -0.1em;
}

.ModalPopup .p_content02 .p_coupon span.coupon_value {
	color: #ff6872;
	font-size: 2em;
	font-weight: bold;
	letter-spacing: -0.1em;
}

.ModalPopup .p_content02 .p_coupon span.coupon_time {
	display: inline-block;
	font-size: 0.8em;
	background-color: #ff6872;
	color: #fff;
	text-align: left;
	padding: 3px 10px;
	border-radius: 1em;
}

.ModalPopup .p_content02 .p_coupon span.coupon_time span.coupon_value02 { font-weight: bold; color: #ffec49; }

.ModalPopup .p_content02 .p_get {
	position: relative;
	display: block;
	margin-top: 30px;
	font-size: 2em;
	text-align: center;
	font-weight: bold;
}

.ModalPopup .p_content02 .p_get span { color: #ff6872; font-size: 1.5em; letter-spacing: -0.1em; }

.ModalPopup .p_content02 .p_exp {
	position: relative;
	display: block;
	margin-top: 30px;
}

.ModalPopup .p_content02 ul {
	position: relative;
	width: 100%;
	font-size: 0;
	margin-top: 43px;
}

.ModalPopup .p_content02 ul li {
	display: inline-block;
	width: 50%;
	font-size: 16px;
}

.ModalPopup .p_content02 ul li:last-child { text-align: right; }


.ModalPopup button {
	margin-top: 20px;
	height: 45px;
	border:none;
	border-radius: 2em;
	background-color:#03ceab;
	font-size: 1.5em;
	font-weight: bold;
	width: 80%;
	color: #fff;
}
.ModalPopup button:hover {
	background-color:#0f7f6c;
}
.ModalPopup button.nochk {
	background-color: #9E9E9E;
}
.ModalPopup button.p_buy, .ModalPopup button.p_couponpage { width: 95%; }
.ModalClose {
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	color: #26c6da;
	position: absolute;
	top: -50px;
	right: 0px;
	cursor: pointer;
}
.ModalClose i { font-size: 3em; }