.evt-container {
	position: relative;
	width: 100%;
	overflow:hidden;
}
.evt-title {
	position: relative;
	width: 100%;
	text-align: center;
}
.evt-title img {
	margin-left:-20px;
}

.evt-content-wrap {
	position: relative;
	width: 100%;
	margin-top: 80px;
	padding-bottom: 200px;
	font-size: 16px;
}
.evt-content {
	width: 1200px;
	margin: 0 auto;
	background-color: rgba(255,255,255,.5);
	padding: 70px 0;
	text-align: center;
}
.evt-content .coupon {
	position: relative;
	width: 550px;
	height: 251px;
	margin: 85px auto 0 auto;
	padding: 50px 20px 0 110px;
}
.evt-content .coupon p {
	font-size: 25px;
}
.evt-content .coupon span {
	display: inline-block;
	font-weight: 700;
	color: #654fbd;
}
.evt-content .coupon .coupon-badge {
	position: absolute;
	top: -60px;
	right: -63px;
}
.evt-content button {
	background-color: #eb4f75;
	font-size: 30px;
	padding: 10px 0;
	width: 550px;
	color: #fff;
	border:0;
	border-radius: 3px;
	font-weight: 800;
	margin-top: 20px;
}
.evt-content button:hover {
	background-color:#ab3653;
}
.evt-content button.nochk {
	background-color: #9E9E9E;
}
.evt-content span {
	display: block;
	margin-top: 15px;
}
.evt-content .warn {
	margin-top: 70px;
	padding-top: 60px;
}


.Modalalert { overflow:hidden;}
.ModalBackground {
	position: absolute;
	width: 100%;
	height: 100vh;
	background-color: rgba(0,0,0,.8);
	z-index: 100;
	display: none;
}
.ModalPopup {
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -250px;
	width: 500px;
	z-index: 101;
	border-radius: 3px;
	font-size: 16px;
	display: none;
	border:1px solid rgba(255,255,255,.3);
}
.ModalPopup .p_content { padding: 20px; }
.ModalPopup .p_content .p_coupon {
	position: relative;
	width: 461px;
	height: 213px;
	margin: 0 auto;
	padding:50px 0 0 125px;
	color: #eee;
}

.ModalPopup .p_content .p_coupon p {
	color: #eb4f75;
	font-size: 3em;
	font-weight: bold;
	letter-spacing: -0.1em;
}

.ModalPopup .p_content .p_coupon span.coupon_value {
	color: #eb4f75;
	font-size: 2em;
	font-weight: bold;
	letter-spacing: -0.1em;
}

.ModalPopup .p_content .p_coupon span.coupon_time {
	display: inline-block;
	font-size: 0.8em;
	background-color: #eb4f75;
	color: #fff;
	text-align: left;
	padding: 3px 10px;
	border-radius: 1em;
}

.ModalPopup .p_content .p_coupon span.coupon_time span.coupon_value02 { font-weight: bold; color: #adf5ff; }

.ModalPopup .p_content .p_get {
	position: relative;
	display: block;
	margin-top: 10px;
	font-size: 1.8em;
	text-align: center;
	font-weight: bold;
	color: #333;
}

.ModalPopup .p_content .p_get span {
	color: #654fbd;
	font-size: 1.5em;
	letter-spacing: -0.1em;
}

.ModalPopup .p_content .p_exp {
	position: relative;
	display: block;
	margin-top: 10px;
}
.ModalPopup .p_content .p_exp ol {
	position: relative;
	width: 100%;
	margin-left: 20px;
	margin-bottom:10px;
}
.ModalPopup .p_content .p_exp ol li {
	width: 100%;
	list-style: disc;
	padding-bottom: 10px;
	color: #666;
}

.ModalPopup .p_content ul {
	position: relative;
	width: 100%;
	font-size: 0;
	margin-top: 10px;
}

.ModalPopup .p_content ul li {
	display: inline-block;
	width: 50%;
	font-size: 16px;
}

.ModalPopup .p_content ul li:last-child { text-align: right; }


.ModalPopup button {
	margin-top: 20px;
	height: 45px;
	border:none;
	border-radius: 3px;
	background-color:#eb4f75;
	font-size: 1.5em;
	font-weight: bold;
	width: 80%;
	color: #fff;
}
.ModalPopup button:hover {
	background-color:#ab3653;
}
.ModalPopup button.p_buy, .ModalPopup button.p_couponpage { width: 95%; }
.ModalClose {
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	color: #eb4f75;
	position: absolute;
	top: -50px;
	right: 0px;
	cursor: pointer;
}
.ModalClose i { font-size: 3em; }




@-webkit-keyframes fall{0%{opacity:.9;top:0}100%{opacity:.2;top:100%}}@keyframes fall{0%{opacity:.9;top:0}100%{opacity:.2;top:100%}}@-webkit-keyframes blow-soft-left{0%{margin-left:0}100%{margin-left:-50%}}@keyframes blow-soft-left{0%{margin-left:0}100%{margin-left:-50%}}@-webkit-keyframes blow-medium-left{0%{margin-left:0}100%{margin-left:-100%}}@keyframes blow-medium-left{0%{margin-left:0}100%{margin-left:-100%}}@-webkit-keyframes blow-soft-right{0%{margin-left:0}100%{margin-left:50%}}@keyframes blow-soft-right{0%{margin-left:0}100%{margin-left:50%}}@-webkit-keyframes blow-medium-right{0%{margin-left:0}100%{margin-left:100%}}@keyframes blow-medium-right{0%{margin-left:0}100%{margin-left:100%}}@-webkit-keyframes sway-0{0%{-webkit-transform:rotate(-5deg)}40%{-webkit-transform:rotate(28deg)}100%{-webkit-transform:rotate(3deg)}}@keyframes sway-0{0%{-ms-transform:rotate(-5deg);transform:rotate(-5deg)}40%{-ms-transform:rotate(28deg);transform:rotate(28deg)}100%{-ms-transform:rotate(3deg);transform:rotate(3deg)}}@-webkit-keyframes sway-1{0%{-webkit-transform:rotate(10deg)}40%{-webkit-transform:rotate(43deg)}100%{-webkit-transform:rotate(15deg)}}@keyframes sway-1{0%{-ms-transform:rotate(10deg);transform:rotate(10deg)}40%{-ms-transform:rotate(43deg);transform:rotate(43deg)}100%{-ms-transform:rotate(15deg);transform:rotate(15deg)}}@-webkit-keyframes sway-2{0%{-webkit-transform:rotate(15deg)}40%{-webkit-transform:rotate(56deg)}100%{-webkit-transform:rotate(22deg)}}@keyframes sway-2{0%{-ms-transform:rotate(15deg);transform:rotate(15deg)}40%{-ms-transform:rotate(56deg);transform:rotate(56deg)}100%{-ms-transform:rotate(22deg);transform:rotate(22deg)}}@-webkit-keyframes sway-3{0%{-webkit-transform:rotate(25deg)}40%{-webkit-transform:rotate(74deg)}100%{-webkit-transform:rotate(37deg)}}@keyframes sway-3{0%{-ms-transform:rotate(25deg);transform:rotate(25deg)}40%{-ms-transform:rotate(74deg);transform:rotate(74deg)}100%{-ms-transform:rotate(37deg);transform:rotate(37deg)}}@-webkit-keyframes sway-4{0%{-webkit-transform:rotate(40deg)}40%{-webkit-transform:rotate(68deg)}100%{-webkit-transform:rotate(25deg)}}@keyframes sway-4{0%{-ms-transform:rotate(40deg);transform:rotate(40deg)}40%{-ms-transform:rotate(68deg);transform:rotate(68deg)}100%{-ms-transform:rotate(25deg);transform:rotate(25deg)}}@-webkit-keyframes sway-5{0%{-webkit-transform:rotate(50deg)}40%{-webkit-transform:rotate(78deg)}100%{-webkit-transform:rotate(40deg)}}@keyframes sway-5{0%{-ms-transform:rotate(50deg);transform:rotate(50deg)}40%{-ms-transform:rotate(78deg);transform:rotate(78deg)}100%{-ms-transform:rotate(40deg);transform:rotate(40deg)}}@-webkit-keyframes sway-6{0%{-webkit-transform:rotate(65deg)}40%{-webkit-transform:rotate(92deg)}100%{-webkit-transform:rotate(58deg)}}@keyframes sway-6{0%{-ms-transform:rotate(65deg);transform:rotate(65deg)}40%{-ms-transform:rotate(92deg);transform:rotate(92deg)}100%{-ms-transform:rotate(58deg);transform:rotate(58deg)}}@-webkit-keyframes sway-7{0%{-webkit-transform:rotate(72deg)}40%{-webkit-transform:rotate(118deg)}100%{-webkit-transform:rotate(68deg)}}@keyframes sway-7{0%{-ms-transform:rotate(72deg);transform:rotate(72deg)}40%{-ms-transform:rotate(118deg);transform:rotate(118deg)}100%{-ms-transform:rotate(68deg);transform:rotate(68deg)}}@-webkit-keyframes sway-8{0%{-webkit-transform:rotate(94deg)}40%{-webkit-transform:rotate(136deg)}100%{-webkit-transform:rotate(82deg)}}@keyframes sway-8{0%{-ms-transform:rotate(94deg);transform:rotate(94deg)}40%{-ms-transform:rotate(136deg);transform:rotate(136deg)}100%{-ms-transform:rotate(82deg);transform:rotate(82deg)}}