.evt-container {
	position: relative;
	width: 100%;
	overflow:hidden;
}
.evt-title {
	position: relative;
	width: 100%;
	text-align: center;
	padding-top: 80px;
}

.evt-content {
	padding-top: 64px;
}
.evt-content .c02 {
	width: 1200px;
	margin: 0 auto;
	text-align: center;
}
.evt-content .c03 {
	position: relative;
	width: 1200px;
	height: 640px;
	margin: 50px auto 0 auto;
	padding-top: 85px;
	text-align: center;
}
.evt-content .evt-coupon {
	width: 100%;
	padding-bottom: 250px;
}
.evt-content .coupon {
	position: relative;
	width: 620px;
	height: 303px;
	margin: 0 auto;
	text-align: center top;
	padding-top: 50px;
}
.evt-content .coupon p {
	padding-top: 25px;
	font-size: 32px;
	color: #fff;
}
.evt-content .coupon span {
	display: inline-block;
	font-weight: 700;
	color: #fff;
}
.evt-content .coupon .coupon-badge {
	position: absolute;
	top: -85px;
	right: -30px;
}
.evt-content .c03 button {
	background-color: #ff8ade;
	font-size: 35px;
	padding: 15px 0;
	width: 620px;
	color: #fff;
	border:0;
	border-radius: 45px;
	font-weight: bold;
	margin-top: 35px;
}
.evt-content .c03 button:hover {
	background-color:#ce507a;
}
.evt-content .c03 button.nochk {
	background-color: #9E9E9E;
}
.evt-content .c03 span.couponwarn {
	display: block;
	margin-top: 45px;
}

.evt-content .c04 {
	position: relative;
	width: 100%;
	background-color: #fff4df;
	padding: 135px 0 250px 0;
	text-align: center;
}
.evt-content .c04:before {
	content: '';
	display: block;
	position: absolute;
	width: 100%;
	height: 19px;
	top:-19px;
}
.evt-content .c04 span.c04_info {
	margin-top: 95px;
}
.evt-content .c04 .c04_link {
	width: 1231px;
	margin: 0 auto;
	padding-top: 40px;
}
.evt-content .c05 {
	position: relative;
	width: 100%;
	background-color: #fff9ec;
	text-align: center;
	padding: 115px 0;
}

.Modalalert { overflow:hidden;}
.ModalBackground {
	position: absolute;
	width: 100%;
	height: 100vh;
	background-color: rgba(0,0,0,.8);
	z-index: 100;
	display: none;
}
.ModalPopup {
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -250px;
	width: 500px;
	z-index: 101;
	border-radius: 3px;
	font-size: 16px;
	display: none;
	border:1px solid rgba(255,255,255,.3);
}
.ModalPopup .p_content {
	padding: 20px;
}
.ModalPopup .p_content .p_coupon {
	position: relative;
	width: 100%;
	text-align: center;
	padding-top: 125px;
}

.ModalPopup .p_content .p_coupon p {
	color: #eb4f75;
	font-size: 3em;
	font-weight: bold;
	letter-spacing: -0.1em;
}

.ModalPopup .p_content .p_get {
	position: relative;
	display: block;
	margin-top: 13px;
	text-align: center;
}

.ModalPopup .p_content .p_get span {
	color: #654fbd;
	font-size: 1.5em;
	letter-spacing: -0.1em;
}

.ModalPopup .p_content ul {
	position: relative;
	width: 100%;
	font-size: 0;
	margin-top: 10px;
	padding: 0 40px;
}

.ModalPopup .p_content ul li {
	display: inline-block;
	width: 50%;
	font-size: 16px;
}

.ModalPopup .p_content ul li:last-child { text-align: right; }


.ModalPopup button {
	margin-top: 20px;
	height: 52px;
	border:none;
	border-radius: 26px;
	background-color:#fff;
	font-size: 26px;
	font-weight: bold;
	width: 80%;
	color: #0b99dd;
	box-shadow: 3px 3px 0 rgba(132,45,45,.6);
}
.ModalPopup button:hover {
	background-color:#ffd1f2;
}
.ModalPopup button.p_buy, .ModalPopup button.p_couponpage { width: 95%; }
.ModalClose {
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	color: #0072ff;
	position: absolute;
	top: -50px;
	right: 0px;
	cursor: pointer;
}
.ModalClose i { font-size: 3em; }