/****************************** 마이페이지 ******************************/
#container {background-color: #fafafa;}
.container_wrap {position:relative; background-color: #fff; width: 1200px; margin: 0 auto; border-left:1px solid #eee; border-right:1px solid #eee; z-index: 1; position: relative; overflow: hidden; min-height: 692px; padding-bottom: 30px;}

.my_reward { margin-top: 10px; } 
.mypage_left { position: relative; width: 400px; margin-top: 20px; margin-left: 20px; float: left; padding: 20px; display: inline-block; border:1px solid #aaa; }
.myinfo_top { width: 100%; text-align: center; }
.myinfo_top span.welcome { font-size: 18px; }
.myinfo_top span.welcome strong { color: #00BCD4; font-weight: bold; }

.mycoin { width: 100%; margin-top: 20px; position: relative; }
.mycoin ul { font-size: 0; background-color: #E0F7FA; border-radius: 3px; }
.mycoin ul li { display: inline-block; width: 50%; font-size: 13px; border-right: 1px solid #fff; padding: 20px; }
.mycoin ul li .mycoin_con { font-size: 18px; color: #424242; line-height: 26px; }
.mycoin ul li .mycoin_con span.mctitle01 { font-size: 18px; font-weight: bold; color: #757575; display: block; }
.mycoin ul li .mycoin_con span.mctitle { font-size: 14px; color: #757575; display: block; }
.mycoin ul li .mycoin_con span.mcnum { font-weight: 800; color: #444; font-size: 23px; }
.mycoin ul li:last-child { border-right: none; }
.mycoin_con img { width: 20px; }

.myinfo_con { margin-top: 10px; position: relative; }
.myinfo_con table { width: 100%; border-top: 2px solid #B2EBF2; border-bottom: 2px solid #B2EBF2; font-size: 14px; }
.myinfo_con table th { padding: 10px; border-bottom: 1px solid #eee; background-color: #f5f5f5; width: 40%; }
.myinfo_con table td { padding: 10px; border-bottom: 1px solid #eee; }
.myinfo_con table td span.mem_adult_ok { color: #E53935; font-size: 13px; font-weight: bold; }
.myinfo_con table td button { padding: 3px 10px; border-radius: 3px; font-size: 12px; font-weight: bold; border:1px solid #00BCD4; color: #00BCD4; margin-left: 5px;}
.myinfo_con table td button.on { background-color: #00BCD4; color: #fff; box-shadow: inset 1px 1px 1px 0px rgba(0,0,0,.5); }

.myp_radio { font-size: 13px; color:#666; position: relative; display: inline-block; overflow:hidden; margin-right: 10px; }
.myinfo_chk {display: table-cell; }

.myinfo_chk input[type="radio"] {display: none;}
.myinfo_chk span { display:inline-block; font-size: 13px;}
.myinfo_chk span:before {font-family: "FontAwesome"; font-style: normal;content:'\f05d';margin-right: 5px; font-size: 20px; color: #E0E0E0; vertical-align: middle; }
.myinfo_chk .checked {display: none;}
.myinfo_chk input[type="radio"]:checked ~ span:before {content: '\f05d'; color: #00ACC1;}

.mypage_right { width: 740px; float: left; position: relative; margin-top: 20px; display: inline-block; margin-left: 20px; }
.mypage_right span.myp_rtitle { display: block; font-size: 20px; font-weight: 800; }

.myp_charge {position: relative;}
.myp_charge table { width: 100%; margin-top: 10px; border-top: 2px solid #B2EBF2; border-bottom: 2px solid #B2EBF2; font-size: 13px; }
.myp_charge table th { background-color: #f5f5f5; padding: 10px; border-bottom: 1px solid #eee; }
.myp_charge table td { padding: 10px; border-bottom: 1px solid #eee; text-align: center; }

.myp_use { position: relative; margin-top: 20px; }
.myp_use table { width: 100%; margin-top: 10px; border-top: 2px solid #B2EBF2; border-bottom: 2px solid #B2EBF2; font-size: 13px; }
.myp_use table th { background-color: #f5f5f5; padding:10px; border-bottom: 1px solid #eee; }
.myp_use table td { padding: 10px; border-bottom: 1px solid #eee; text-align: center; }

.myp_qna { position: relative; margin-top: 20px; }
.myp_qna table { width: 100%; margin-top: 10px; border-top: 2px solid #B2EBF2; border-bottom: 2px solid #B2EBF2; font-size: 13px; }
.myp_qna table th { background-color: #f5f5f5; padding: 10px; border-bottom: 1px solid #eee; }
.myp_qna table td { padding: 10px; border-bottom: 1px solid #eee; text-align: center; }
.myp_qna table td span.ans_wait { color: #EF5350; }
.myp_qna table td span.ans_ok { color: #aaa; }

.myp_paging { margin: 0 auto; margin-top: 10px; width: 70px; }
.myp_paging ul { display: block; }
.myp_paging ul li { display: inline-block; font-size: 20px; border:3px solid #e0e0e0; color: #9e9e9e; padding: 2px 10px; }

th.date { width: 100px; }
tr.t-last th, tr.t-last td { border:none; }

.re_pw {display: block; margin-top:10px; padding: 0  10px 10px 10px; background-color: #fafafa; border:1px solid #f5f5f5; display: none;}
.re_pw label { font-size: 14px; display: block; margin-top: 10px;}
.re_pw input[type="password"] {border:1px solid #00BCD4; padding: 5px 10px; margin-top: 5px; width: 100%; display: block;}
.re_email input[type="text"] {border:1px solid #00BCD4; padding: 5px 10px; width: 60%; display: none;}
.re_nick input[type="text"] {border:1px solid #00BCD4; padding: 5px 10px; width: 60%; display: none;}

.myp_admin_ok { width: 100%; margin-top: 10px; display: block;}
.myp_admin_ok input[type="submit"] {width: 100%; border-radius: 3px; border:none; background-color: #00BCD4; font-size: 15px; font-weight: bold; color: #fff; padding: 10px; cursor: pointer;}
.myp_drop { margin-top: 10px; }
.myp_drop button { width: 100%; border-radius: 3px; border:none; background-color: #bdbdbd; font-size: 14px; color: #fff; padding: 10px; }

/* 내 서재 */
#snb { position:relative; width:100%; background-color: #fff; z-index: 4; -webkit-box-shadow: 0px 1px 1px 0 rgba(0, 0, 0, 0.2); -moz-box-shadow: 0px 1px 1px 0 rgba(0, 0, 0, 0.2); box-shadow:0px 1px 1px 0px rgba(0,0,0,0.2); }

/* delete_checkbox */
.lib_chk {position: absolute; top: 5px; left: 5px; width:20px; z-index:2;}
.lib_chk input[type="checkbox"] {visibility: hidden;}
.lib_chk label {width: 20px; height: 20px; cursor: pointer;position: absolute; top: 0; left: 0; background:#fcfff4; background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%); border-radius: 4px; box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);}
.lib_chk label:after {
	content: '';
    width: 9px;
    height: 5px;
    position: absolute;
    top: 4px;
    left: 4px;
    border: 3px solid #00BCD4;
    border-top: none;
    border-right: none;
    background: transparent;
    opacity: 0;
    transform: rotate(-45deg);
    transition: opacity .2s;
}
.lib_chk { display: none; } /* display */
.lib_chk label span { display: inline-block; margin:2px 20px 0 25px; font-size: 14px; vertical-align: middle; width: 50px; }
.lib_chk input[type="checkbox"]:checked + label:after {opacity: 1;}


/* sticky nav */
.fixed_snb_wrap { position: fixed; top: 123px; left: 0; width: 100%; z-index: 5; height: 50px; background-color: #fff; -webkit-box-shadow: 0px 1px 1px 0 rgba(0, 0, 0, 0.2); -moz-box-shadow: 0px 1px 1px 0 rgba(0, 0, 0, 0.2); box-shadow:0px 1px 1px 0px rgba(0,0,0,0.2); transition: all .3s; }
.fixed_snb { width: 1200px; margin: 0 auto; position: relative; overflow: hidden; }
.fixed_snb ul { position:relative; display: inline-block; float: left; font-size: 0; padding-top: 16px; height: 50px; }
.fixed_snb ul li { display: inline-block; margin-right: 5px; }
.fixed_snb ul li a { padding: 10px 20px; border-radius: 3px; border:1px solid #bdbdbd; color: #bdbdbd; font-size: 15px; font-weight: bold; }
.fixed_snb ul li a:hover, .fixed_snb ul li a.cnt { border:1px solid #00BCD4; background-color: #00BCD4; color: #fff; }
.fixed_snb ul:after { clear: both; }

#fixed_del { display: inline-block; float: right; position: relative; overflow:hidden; width: 250px; text-align: right; }
#fixed_del button#fixed_cancle_btn { display: inline-block; padding: 10px 20px; margin-top: 5px; border:none; background-color: #9e9e9e; color: #fff; border-radius: 3px; font-size: 14px; font-weight: bold; margin-top: 7px;  margin-right: 5px; display: none; } /* display */
#fixed_del button#fixed_delete_btn { display: inline-block; padding: 10px 20px; margin-top: 7px; border:none; font-size: 14px; font-weight: bold; color: #fff; background-color: #00ACC1; border-radius: 3px; }
.lib_chk.mt15 { top: 15px; }

.lib_con { position: relative; width: 1200px; margin: 0 auto; background-color: #fff; border-left:1px solid #eee; border-right: 1px solid #eee; min-height: 690px;}
.lib_header { width: 100%; position: relative; overflow:hidden; padding: 30px 20px 10px 20px; border-bottom: 1px solid #eee; transition: all .3s; }

h4 { font-size: 23px; font-weight: bold; color: #666; display:block; text-align: center; }
h4 span { color: #00BCD4; }
h4 a { background-color: #80deea; color: #fff; font-weight: bold; font-size: 12px; display: inline-block; padding: 5px 10px; border-radius: 10px; vertical-align: middle; margin-left: 10px; transition: all .3s;}
h4 a:hover { background-color: #00BCD4; }

.lib_header ul{ font-size: 0; margin-top: 20px; display: inline-block; float: left; }
.lib_header ul li { display: inline-block; margin-right: 10px; }
.lib_header ul li a { display: block; color: #bdbdbd; border: 1px solid #bdbdbd; transition: all .3s; border-radius: 3px; }
.lib_header ul li a:hover, .lib_header ul li a.currunt { color: #00BCD4; border:1px solid #00BCD4; -webkit-box-shadow: 2px 2px 0px 0px rgba(0,188,212,1); -moz-box-shadow: 2px 2px 0px 0px rgba(0,188,212,1); box-shadow: 2px 2px 0px 0px rgba(0,188,212,1); }

.lib_h_btn { width:150px; display: block;  padding: 15px;  font-size: 16px; font-weight: bold; text-align: center; }

#lib_h_del { float: right; display: inline-block; position: relative; margin-top: 27px; overflow:hidden; text-align: right; width: 250px; }
#lib_h_del button#lib_delete_btn { padding: 10px 20px; border:1px solid #bdbdbd; font-size: 14px; font-weight: bold; color: #bdbdbd; border-radius: 3px; transition: all .3s; }
#lib_h_del button#lib_delete_btn:hover { background-color:#00ACC1; color: #fff; border:1px solid #00ACC1; }
#lib_h_del button#lib_cancle_btn { padding: 10px 20px; border:1px solid #EF5350; font-size: 14px; font-weight: bold; color: #EF5350; border-radius: 3px; transition: all .3s; display: none; } /* display */
.lib_chk.mt10 { top: 10px; }

.lib_list { position: relative; width: 100%; padding: 20px; overflow:hidden; }
.lib_list a { display: inline-block; float: left; width: 180px; border-radius: 3px; margin-right: 15px; margin-bottom: 15px; }
.lib_list a:nth-child(6n+0) { margin-right: 0; }

.lib_no_data { width:80%; margin:0 auto; margin-top: 100px; padding: 30px; text-align: center; font-size: 14px; font-weight: bold; background-color: #f5f5f5; border-radius: 10px; }
.lib_thumb.up { border:1px solid #00BCD4;}
.lib_thumb { border:1px solid #dfdfdf; border-radius:3px; transition: border .3s; position: relative; display: block;  font-size:14px; }
.lib_thumb:hover { border:1px solid #00BCD4; }
.lib_thumb dl dt { color: #444; font-weight: bold; text-overflow: ellipsis; white-space: nowrap; overflow:hidden; }
.lib_thumb dl dt img { border-radius: 3px 3px 0 0; }
.lib_thumb dl dt:nth-child(2) { padding: 10px 10px 5px 10px; }
.lib_thumb dl dd { font-size: 13px; line-height: 16px; text-overflow: ellipsis; white-space: nowrap; overflow:hidden; padding: 0 10px 10px 10px; color: #bbb; }

.lib_cancle_btn {} /* display */

/* 내 서재 화 리스트 */
.library_listtop_wrap { background-color: #fafafa; overflow:hidden; border-bottom: 1px solid #eee; }
.library_listtop_img { display: inline-block; width: 838px; float: left; }

.library_listtop_con { display: inline-block; float: right; width: 360px; padding: 20px; height: 431px; }
.library_listtop_title { border-top: 2px solid #444; border-bottom: 2px solid #444; padding: 20px 0; }
.library_listtop_title h3 { color: #444; padding-bottom: 45px; }
.library_listtop_title span { font-size: 15px; font-weight: bold; text-align: right; display: block; }
.library_listtop_title span.library_listtop_genre { color: #ff9800; }

span.library_listtop_ptext { display:block; font-weight: bold; color: #444; font-size: 16px; margin-top: 169px; }
span.library_listtop_ptext strong { color: #00BCD4; }

.library_listtop_percentbar { display:inline-block; position:relative; width: 100%; height: 30px; background-color: #E0E0E0; float: right; margin-top:10px; border-radius: 6px; border-width: 1px; border-style: solid; border-color: #ccc #ddd #fff #ddd; box-shadow: inset 0px 2px 3px #bbb;}

.library_listtop_percentbar, .library_listtop_percentbar_inner { border-radius: 6px; -moz-border-radius:6px; -webkit-border-radius:6px; }
.library_listtop_percentbar_inner {
	width:10%; /* Change to actual percentage */
    height:100%;
    background:#999;

    background-size:18px 18px;
    background-color: #26c6da;
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);

    box-shadow:inset 0px 2px 8px rgba(255, 255, 255, .5), inset -1px -1px 0px rgba(0, 0, 0, .2);
}


.library_listcon { position: relative; padding: 20px; }

.library_listcon a { margin:15px 0 0 15px; display: inline-block; position: relative; width: calc(25% - 14px); }
.library_listcon a:nth-of-type(1) { margin-left: 0; }
.library_listcon a:nth-child(-n+4) { margin-top: 0; }
.library_listcon a:nth-child(4n+5) { margin-left: 0; }

.library_listcon_thumb { border:1px solid #dfdfdf; border-radius: 3px; font-size: 14px; transition: border .3s; display: inline-block; padding-top: 10px; width: 100%; height: 182px; }
.library_listcon_thumb img { margin-top: 10px; border-radius: 0 0 3px 3px; }

.library_listcon_thumb span.library_listcon_thumb_title { font-weight: bold; font-size: 16px; float: left; margin-left: 10px; width: 170px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }
.library_listcon_thumb span.library_listcon_thumb_have { color: #ff9800; font-size: 13px; margin-right: 10px; padding: 3px 10px; border:1px solid #ff9800; border-radius: 10px; float: right; }
.library_listcon_thumb:hover { border:1px solid #00BCD4; }
.library_listcon_thumb:hover span.library_listcon_thumb_have { background-color: #ff9800; color: #fff; }

.nothave { background-color: #EEEEEE; }
.nothave img { opacity: .3; }
.nothave span.library_listcon_thumb_buy { color: #9E9E9E; font-size: 13px; margin-right: 10px; padding: 3px 10px; border:1px solid #9E9E9E; border-radius: 10px; float: right; }
.nothave:hover { border:1px solid #9E9E9E; }
.nothave:hover span.library_listcon_thumb_buy { background-color: #757575; color: #fff; }

/* MyLeave */
.con{width:1200px; margin:20px auto 0; }
.con .myp_dropout_warn { width: 100%; margin-top: 20px; border:2px solid #00BCD4; padding: 10px; text-align: center; font-size: 14px; background-color: #F5F5F5; border-radius: 3px; }
.con h3 { text-align:center; }

.con .myp_dropout_pw {margin-top:40px; margin-bottom: 40px; position: relative; text-align: center;}
.con .myp_dropout_pw form { display: block; }
.con .myp_dropout_pw .form_field_text { background:0 0; border:none; border-bottom: 1px solid #dbdbdb; width: 100%; padding: 10px; font-size: 14px; color: #9e9e9e;}
.con .myp_dropout_pw label {color: #444; font-size: 14px; font-weight: bold;}
.con .myp_dropout_pw .form_field_text + label {display: block; position: absolute; top: 0; left: 0; line-height: 37px; transition: .2s ease-out;}
.con .myp_dropout_pw .form_field_text:focus + label {transform:translateY(-90%);-webkit-transform:translateY(-90%); font-style:normal; font-weight:normal; font-size: 13px;}
.con .myp_dropout_pw .completed {transform:translateY(-90%);-webkit-transform:translateY(-90%); font-style:normal; font-weight:700; font-size: 13px;}
.con .myp_dropout_pw .form_field_text:focus {border-bottom: 2px solid #00BCD4; color: #444; padding-bottom: 9px;}
.con .myp_dropout_pw input[type=checkbox] {float: left;}
.con .myp_dropout_pw input[type=checkbox] + label {float: left; padding-left: 5px; font-size: 13px;}
.con .myp_dropout_pw input[type=checkbox] + label::after {clear: both;}
.con .myp_dropout_pw input[type=button] { width: calc(50% - 5px); border-radius: 3px; border:none; background-color: #9E9E9E; color: #fff; font-weight: bold; font-size: 14px; padding: 10px; display: inline-block;}
.con .myp_dropout_pw input[type=button].myp_dropout_no { background-color: #00BCD4; }
.con .myp_dropout_pw span.error {font-size: 12px; color:#ff5a59; visibility: visible; position: absolute; top: 40px; left: 0;}