.blackpopup {
    position: relative;
    width: 100%;
    height: 100%;
}

.blackpopup_bg {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.4);
    z-index: 1000;
}

.blackpopup_view {
    position: fixed;
    background-color: #fff;
	margin:0 auto;
    top: 123px;
    left: 50%;
    z-index: 2000;
}
/*
.blackpopup_view {
	margin:0 auto;
    width: 50%;
    height: 100%;
    z-index: 2000;
}

.blackpopup_view {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #fff;
    z-index: 2000;
}
*/