.popup_layer {position:absolute; z-index:2; margin-top: 123px; font-size:0;}
.popup_layer .popup_content img{ 100%; }
.popup_layer .popup_layer_footer {
    padding: 10px 10px 10px 0;
    background: rgba(68,68,68,.85);
    color: #fff;
    text-align: right;
}
.popup_layer .popup_layer_footer button {
    margin-right: 5px;
    padding: 5px 10px;
    border: 0;
    background: #393939;
    color: #fff;
}

.popup_layer .popup_layer_footer button.popup_layer_reject  { margin-right:10px;}

.popup_layer_fold {position:absolute; top:0px; right:0px; border:0px solid #e9e9e9; z-index:2; margin-top: 528px;}


.popup_layer .popup_layer_footer button {
	margin-right: 0px;
	padding: 5px 10px;
	border: 1px solid #777;
	background: none;
	color: none;
}	