/****************************** 땅콩충전소 ******************************/

#recharge {position:relative; background-color: #fff; width: 1200px; margin: 0 auto; border-left:1px solid #eee; border-right:1px solid #eee; z-index: 1; position: relative; padding: 30px 0px; overflow: hidden; min-height: 692px;}
#recharge h4 {text-align: center; font-size: 25px; border-bottom: 1px solid #eee; padding-bottom: 10px; margin: 0 20px;}


#recharge .mycoin { width: 100%; margin-top: 10px; padding: 0 20px; position: relative; }
#recharge .mycoin span.mybasket { display:block; font-size: 18px; margin-top: 20px; color: #9E9E9E; }
#recharge .mycoin span.mybasket strong { color: #00BCD4; font-weight: 800; }

#recharge .mycoin ul { font-size: 0; border:2px solid #B2EBF2; border-radius: 3px; margin-top: 10px; }
#recharge .mycoin ul li { width: 50%; font-size: 13px; display: inline-block; border-right: 2px solid #B2EBF2; padding: 20px; }
#recharge .mycoin ul li .mycoin_con { font-size: 18px; color: #424242; line-height: 26px; }
#recharge .mycoin ul li .mycoin_con span.mctitle01 { font-size: 18px; font-weight: bold; color: #757575; display: block; }
#recharge .mycoin ul li .mycoin_con span.mctitle { font-size: 14px; color: #757575; display: block; }
#recharge .mycoin ul li .mycoin_con span.mcnum { font-weight: 800; color: #444; font-size: 23px; vertical-align: middle; }
#recharge .mycoin ul li .mycoin_con img{ width:20px; }
#recharge .mycoin ul li:last-child { border-right: none; }

#recharge .coin_event { position: relative; margin-top: 20px; }

#recharge .pointpoak_event { position: relative; margin-top: 20px; }

#recharge .recharge_info{position: relative;}
#recharge .recharge_info:after { content:""; clear: both; display: block; }

#recharge .recharge_left {display:block; float:left; width: 840px;}

#recharge .first_charge { display:inline-block; width: 840px; margin:20px 0px 0 20px; background-color:#E0F7FA; border-radius: 10px; padding: 20px; position: relative; }
#recharge .first_charge span.fc_title { font-size: 18px; font-weight: bold; color: #00BCD4; }
#recharge .first_charge ol { margin-top: 10px; border-top: 1px solid #80DEEA; border-bottom: 1px solid #80DEEA; }
#recharge .first_charge ol li { padding: 0 30px; border-bottom: 1px solid #80DEEA; }
#recharge .first_charge ol li:after { content:""; clear: both; display: block; }
#recharge .first_charge ol li .pay_check span:before { color: #BDBDBD; }
#recharge .first_charge ol li:hover { background-color:#B2EBF2; }
#recharge .first_charge ol li:last-child { border:none; }

#recharge .mar_radio { font-size: 13px; color:#666; position: relative; display: table; overflow:hidden; width: 100%; padding: 15px 0; }
#recharge .pay_check {display: table-cell; width: 21px; text-align: center; vertical-align: middle;}

#recharge .pay_check input[type="radio"] {display: none;}
#recharge .pay_check span { font-size: 15px; }
#recharge .pay_check span:before {font-family: "FontAwesome"; font-style: normal;content:'\f05d';margin-right: 5px; font-size: 21px; color: #E0E0E0; }
#recharge .pay_check .checked {display: none;}
#recharge .pay_check input[type="radio"]:checked ~ span:before {content: '\f05d'; color: #00ACC1;}

#recharge .mar_pay_con { display: inline-block; float: left; width: 100%; margin-left: 10px; }
#recharge .mar_pay_con_app_sale { margin-top: 8px; }
#recharge .mar_pay_con 
#recharge .mar_pay_con span { font-size: 15px;}
#recharge .mar_pay_con span.minibonus { color: #7CB342; }

#recharge .mar_pay_price { display: table-cell; font-size: 14px; width: 80px; text-align: right; vertical-align: middle; }
#recharge .mar_pay_price strong{color:#EF5350;}


#recharge .charge { position: relative; display:inline-block; width: 840px; margin:20px 0px 0 20px; }
#recharge .charge span.charge_title { font-size:20px; font-weight: 800; color: #00BCD4; }
#recharge .charge ol { border-top:2px solid #B2EBF2; border-bottom: 2px solid #B2EBF2; margin-top: 10px; }
#recharge .charge ol li { padding: 0 30px; border-bottom: 1px solid #eee;}
#recharge .charge ol li:hover { background-color: #f5f5f5; }
#recharge .charge ol li:last-child { border:none; }


#recharge .payment { position: relative; display: inline-block; width: 840px; margin: 20px 0px 0 20px; }
#recharge .payment h3 { font-size: 20px; font-weight: 800; color: #00BCD4; }
#recharge .payment .fleft { float: left; }
#recharge .payment .fright { float: right; }
#recharge .payment .coupondc_btn {
    position: relative;
    border: none;
    background-color: #26c6da;
    padding: 5px 20px;
    border-radius: 3px;
    color: #fff;
    font-size: 1.2em;
	margin-left:5px;
}

#recharge .payment ol { position: relative; width: 100%; border-top:2px solid #B2EBF2; border-bottom: 2px solid #B2EBF2; margin-top: 10px;}
#recharge .payment ol li { display: inline-block; padding: 10px 4px; width: calc(25% - 2px); overflow: hidden; }
#recharge .payment ol li input[type="radio"] {display: none;}

#recharge .payment ol li img{ /* width: 100px; */ width: 53px; }
#recharge .payment ol li strong{ vertical-align: middle; margin-left:5px;}
#recharge .payment ol li:hover { background-color: #f5f5f5; }
#recharge .payment ol li label.mar_pay_radio{ position: relative; display: inline-block;; width: 100%; overflow: hidden; font-size: 13px; color: #666;}
#recharge .payment ol li label.mar_pay_radio span:before {font-family: "FontAwesome"; font-style: normal;content:'\f05d';margin-right: 10px; font-size: 20px; color: #E0E0E0; vertical-align: middle; font-weight: 100; }
#recharge .payment ol li label.mar_pay_radio input[type="radio"]:checked ~ span:before {content: '\f05d'; color: #00ACC1;}

#recharge .mar_guide { display: block; position: relative; width:100%; margin: 10px 0 0 20px; padding: 20px; background-color: #FAFAFA; border-radius: 3px; line-height: 21px; font-size: 13px; display: none; }
#recharge .mar_guide span { display: block; padding-bottom: 10px; color: #F44336; font-weight: bold; font-size: 15px; }

/* 쿠폰 */

#recharge .coupon { display:inline-block; width: 840px; margin:30px 0px 0 20px; background-color:#EEEEEE; border-radius: 10px; padding: 20px; position: relative; text-align: center; }
#recharge .coupon span.coupon_title { font-size: 13px; color: #757575; display: block;  text-align: left;}
#recharge .coupon span.coupon_title strong { font-size: 20px; font-weight: 800; color: #000; margin-right: 10px; }
#recharge .coupon span a { cursor: default; }

#recharge .coupon input[type=text] { width: 20.5%; text-align: center; margin-top: 10px; padding: 10px; font-size: 15px; font-weight: bold; border:1px solid #E0E0E0; border-radius: 3px; transition:all .3s; box-sizing: border-box; display: inline-block; }
#recharge .coupon input[type=text]:focus { background-color: #fff; border:1px solid #00BCD4; }
#recharge .coupon input[type=submit] { width: 100px; margin-top: 10px; margin-left: 10px; font-size: 15px; height:39px; font-weight: bold; border:none; background-color: #00BCD4; display: inline-block; color: #fff; border-radius:3px; cursor: pointer; }
#recharge .coupon input[type=submit]:hover { background-color: #0097A7; }

#recharge .recharge_right { position: relative; float: right; margin: 20px 20px 20px 0; width: 300px; overflow:hidden; border:2px solid #616161; padding: 20px 10px 10px 10px; }
#recharge .recharge_right span.cl_title { font-weight: 800; font-size: 20px; display: block; text-align: center; }
#recharge .recharge_right ol { margin-top: 10px; }
#recharge .recharge_right ol li { font-size: 13px; padding: 3px 0; list-style: circle; margin-left: 20px; line-height: 18px; color: #666; }
#recharge .recharge_right hr { display:block; position:relative; border:none; border-top: thin dashed #BDBDBD; width: 95%; margin:20px auto;}
#recharge .recharge_right ul { margin:20px 10px 0 10px; }
#recharge .recharge_right ul li { padding: 10px 0; border-bottom: 1px solid #eee; }
/* #recharge .recharge_right ul li:nth-child(4) { border:none; } */ 
#recharge .recharge_right ul li:last-child { border:none; }
#recharge .recharge_right ul li div { text-align: center; vertical-align: center; font-size: 13px;}
#recharge .recharge_right ul li div a { text-decoration: #0c82c8 !important; color: #0c82c8; }
#recharge .recharge_right ul li button { display: block; width: 100%; border:none; border-radius: 3px; background-color: #00BCD4; color: #fff; text-align: center; font-size:16px; padding: 15px; font-weight: bold; }
#recharge .recharge_right span.cr_article { display: inline-block; width: 30%; font-weight: bold; font-size: 13px; }
#recharge .recharge_right span.cr_pay { display:inline-block; width: 70%; text-align: right; font-size: 13px; color: #757575; }
#recharge .recharge_right span.cr_pay strong { color:#000; font-weight: bold; font-size: 15px; }
#recharge .recharge_right span.cr_article02 { display: block; font-weight: bold; font-size: 14px; }
#recharge .recharge_right span.cr_pay02 { display:block; text-align:right; font-size: 20px; color:#ff9800; }
#recharge .recharge_right span.cr_pay02 strong { font-weight: 800; }

/* 할인권 쿠폰 */
#recharge .recharge_right li.cr_coupondc {color:#00BCD4;}
#recharge .recharge_right li.cr_coupondc span.cr_pay{color:#00BCD4;}
#recharge .recharge_right li.cr_coupondc span.cr_pay strong {color:#00BCD4;}


/* 할인권 쿠폰 */
#recharge .coupondc_bg { position: relative; display: block; float: left; width: 840px; margin:10px 0 0 20px; border:1px solid #F5F5F5; border-radius: 3px;  font-size: 16px; }
#recharge .coupondc_bg span.coupon_title { color:#000; font-weight: bold; font-size: 1.2em; display: block; }
#recharge .coupondc_bg ul { display: table-cell; width: 800px; background-color: #fff; margin-top: 10px; padding: 5px 0; }
#recharge .coupondc_bg ul li { width: 100%; padding: 3px 10px; font-size: 0.9em; color: #333; }
#recharge .coupondc_bg ul li:first-child { font-weight: bold; font-size: 1em; }
#recharge .coupondc_bg ul li:first-child span { color: #26c6da; }
#recharge .coupondc_bg ul li:last-child { color: #757575; }
#recharge .coupondc_bg strong{ color: #F44336; }
#recharge .coupondc_bg .coupon_cancel {
    width: 40px;
    text-align: right;
    vertical-align: middle;
    display: table-cell;
    padding: 0.3em 0.5em;
    font-size: 16px;
}
#recharge .coupondc_bg .coupon_cancel i{ color: #26c6da; font-size: 30px;}

.blackpopup_view .coupondc_list{
    position: relative;
	width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    font-size: 16px;
    text-align: center;
}
.blackpopup_view .coupondc_list h3 {
    text-align: center;
    font-size: 1.6em;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    color: #333;
    font-weight: 800;
}

.blackpopup_view .coupondc_list ol.coupon {
    border-top: 2px solid #B2EBF2;
    border-bottom: 2px solid #B2EBF2;
    margin-top: 10px;
}

.blackpopup_view .coupondc_list ol.coupon li {
    border-bottom: 1px solid #eee;
}
.blackpopup_view .coupondc_list ol.coupon li .coupon_radio {
    display: table;
    width: 100%;
    padding: 15px 10px;
}