.rest_warn { position:relative; width: 80%; margin: 0 auto; margin-top: 100px; font-size: 14px; color: #444; padding: 30px; text-align: center; font-weight: bold; background-color: #f5f5f5; border-radius: 10px; }
.btnwrap { position: relative; width: 80%; margin: 0 auto; margin-top: 20px; }
.rest_ok { position:relative; margin-right: 10px; width: calc(50% - 7px); text-align:center; display: inline-block; }
.rest_ok a { padding: 10px 20px; width: 100%; color: #fff; font-weight: bold; font-size: 14px; background-color: #00bcd4; border-radius: 3px; border:none; display: inline-block; }
.rest_no { position:relative; width: calc(50% - 7px); text-align:center; display: inline-block; }
.rest_no a { padding: 11px 20px; width:100%; color: #fff; font-weight: bold; font-size: 14px; background-color: #bdbdbd; border:none; border-radius: 3px; display: inline-block; }