#appdown.main_banner {position:relative; background-color:#f6f3ee; text-align: center; repeat-x; border-top: 1px solid #e6e3de; border-bottom: 1px solid #e6e3de;}
#appdown.main_banner:after { content:""; clear: both; display: block; }