
#main_banner {position:relative; padding:30px 0 30px 0; background-color:#fafafa; }
#main_banner .event_banner_wrap {text-align:center; font-size:0px;}
#main_banner .event_banner_wrap li {display:inline-block; margin-left:15px; border-radius: 3px; width: 390px;}
#main_banner .event_banner_wrap li:first-child {margin-left:0px;}
#main_banner .event_banner_wrap li img{width:100%;}