#main_ranking {position:relative; min-width:1200px; width:1200px; margin:0 auto; padding:30px 0; overflow: hidden;}
#main_ranking:after { content:""; clear: both; display: block; }

/* 인기 종합 순위 */
#main_ranking .famous {position:relative; width:345px; color:#444; float:left; font-size:14px;}
#main_ranking .famous h2 a:link {font-weight:400; font-size:12px; float:right; padding:7px 10px 0 0;}
#main_ranking .famous h2 a:hover, .famous h2 a:active {text-decoration: underline;}

/* 인기순위 Tab */
#main_ranking .famous_tab_wrap {margin-top:15px; }
#main_ranking .famous_tab_wrap ul {font-size:0px;}
#main_ranking .famous_tab_wrap ul li {display:inline-block;}
#main_ranking .famous_tab_wrap ul li:last-child {border-right:1px solid #dadada;}
#main_ranking .famous_tab {text-align:center; border-left:1px solid #dadada; border-bottom:1px solid #dadada;}
#main_ranking .famous_tab button {
	display:inline-block;
	border-top:1px solid #dadada;
	width:113px;
	font-size:14px;
	padding:10px 0;
}
#main_ranking .famous_tab button:hover, .famous_tab a:active {border-top:3px solid #00BCD4; color:#00BCD4; padding:8px 0 10px 0; font-weight:bold;}
#main_ranking .famous_tab.on button {border-top:3px solid #00BCD4; color:#00BCD4; padding:8px 0 10px 0; font-weight:bold; }


/* 인기순위 리스트 */
#main_ranking .famous_list {font-size:13px; margin-right:2px;}
#main_ranking .famous_list ol{display: none; font-size:0px;}
#main_ranking .famous_list ol.on{display: block;}
#main_ranking .famous_list ol li {display:inline-block; border-bottom:1px solid #eaeaea; width:100%; padding:10px 0; }
#main_ranking .famous_list ol li:hover {background-color:#f5f5f5;}
#main_ranking .famous_list ol li a { display: block; overflow:hidden; }
#main_ranking .famous01 {vertical-align:middle; float:left; padding:15px 0 5px 15px;}
#main_ranking span.no {font-style:italic; font-weight:bold; color:#00BCD4;}
#main_ranking span.no1 {font-size:30px; float:left; margin-top:49px;}
#main_ranking span.no2 {font-size:20px;}
#main_ranking span.no3 {font-weight:bold; font-size:14px; font-style:italic; color:#333; padding-right:12px}
#main_ranking .famous01 img {
	width:133px;
	height:133px;
	border-radius:50%;
	margin:0 12px;
	float:left;
	vertical-align:middle;
}

#main_ranking .famous01 dl{display:inline-block; width:140px; float:left;}
#main_ranking .famous01 dl dt {font-size:14px; font-weight:bold; color:#00BCD4; line-height:18px;}
#main_ranking .famous01 dl dt.famous_author {font-size:12px; color:#888; font-weight:100;}
#main_ranking .famous01 dl dd {margin-top:10px; font-size:13px; font-weight:bold; height:69px; }

#main_ranking .famous02 {vertical-align:middle; float:left; padding-left:15px; width:100%; font-size:13px; font-weight:bold;}
#main_ranking .famous02 img {width:50px; height:50px; border-radius:50%; margin-left:12px; margin-right:12px;}
#main_ranking .famous02 .series { display: inline-block; width: 220px; vertical-align: middle;}

#main_ranking .famous03 {width: 320px; padding-left:15px; color:#707070; font-size:13px; float:left;}

#main_ranking .lank {position:relative; display:block; width:40px; float:right; font-size:12px; color:#707070; vertical-align:middle;}
#main_ranking span.lankno {float:right; padding-top:4px;}
#main_ranking span.up {color:#ff5a59; font-size:1.6em; text-align:left;}
#main_ranking span.down {color:#5998ff; font-size:1.6em; text-align:left;}


/* 급상승 작품 */
#main_ranking .rise {position:relative; float:left; margin-left:26px; width:829px;}
#main_ranking .rise:after { content:""; clear: both; display: block; }
#main_ranking .rise_thumbnail_wrap{margin-top:15px; overflow:hidden;}
#main_ranking .rise_thumbnail_wrap a { margin: 0 0 15px 15px; display: inline-block; float: left; }
#main_ranking .rise_thumbnail_wrap a:nth-of-type(1) { margin: 0; }
#main_ranking .rise_thumbnail_wrap a:nth-of-type(n+4) { margin-bottom: 0; }
#main_ranking .rise_thumbnail {width:231px; height:206px; color:#BDBDBD; border-radius:3px; border:1px solid #dfdfdf; font-size:14px; transition:border .3s;}
#main_ranking .rise_thumbnail.big {width:337px; height:427px;}
#main_ranking .rise_thumbnail img {border-top-left-radius:2px; border-top-right-radius:2px;}
#main_ranking .rise_thumbnail dl{ width: 100%; }
#main_ranking .rise_thumbnail.big dl {}
#main_ranking .rise_thumbnail dl dt {font-size:16px; color:#444; font-weight: bold; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}
#main_ranking .rise_thumbnail dl dt:nth-of-type(2) { margin: 10px 15px 5px 15px; }
#main_ranking .rise_thumbnail dl dt img { width: 229px; height:117px; border-radius: 3px 3px 0 0; }
#main_ranking .rise_thumbnail.big dl dt img { width: 335px; height:335px; }
#main_ranking .rise_thumbnail dl dt:nth-of-type(2) { margin:14px 15px 5px 15px; }
#main_ranking .rise_thumbnail dl dd {line-height:21px; margin: 0 15px; font-size: 12px; }
#main_ranking .rise_thumbnail dl dd:nth-of-type(1) { font-size: 14px; color: #ff9800; }
#main_ranking .rise_thumbnail:hover {border:1px solid #00BCD4;}
