
#main_small {position:relative; padding:30px 0; width:1200px; margin:0 auto; background-color:#fff;}
#main_small:after { content:""; clear: both; display: block; }
#main_small .class_small_bg {display:relative;width:1200px; margin:0 auto;}
#main_small .class_small_bg:after { content:""; clear: both; display: block; }

#main_small h2{ color: #444; font-size: 20px; font-weight: 800;}
#main_small h2 span{color: #00BCD4;}

#main_small .crs_class_tap {position:relative; margin-top:20px;}
#main_small .crs_class_tap:after { content:""; clear: both; display: block; }
#main_small .crs_class_tap ul {position:relative; font-size:0px; border:1px solid #dadada;}
#main_small .crs_class_tap ul li {display:inline-block; text-align: center; border-right: 1px solid #e8e8e8; font-weight: bold; font-size: 14px; width: 150px;color: #444;}
#main_small .crs_class_tap ul li:last-child {border-right:none;}
#main_small .crs_class_tap ul li button { display: block; width:100%; overflow:hidden; padding: 10px 0; text-align:center;}
#main_small .crs_class_tap ul li button:hover { border-top:3px solid #00BCD4; color:#00BCD4; padding-top: 7px; }
#main_small .crs_class_tap ul li.currunt button { border-top:3px solid #00BCD4; color:#00BCD4; padding-top: 7px; }

#main_small .crs_class_content {position:relative; margin-top: 15px; font-size: 0;}
#main_small .crs_class_content:after { content:""; clear: both; display: block; }
#main_small .crs_class_content > a { margin: 15px 0 0 15px; display: inline-block; }
#main_small .crs_class_content > a:nth-child(1) { margin-left: 0; }
#main_small .crs_class_content > a:nth-child(-n+3) { margin-top: 0; }
#main_small .crs_class_content > a:nth-child(4) { margin-left: 0; }
#main_small .crs_class_content > a:nth-child(9) { margin-left: 0; }
#main_small .crs_class_content > a:nth-child(n+10) { margin-left: 17.14px; }

#main_small .crs_class_content .sub_list_thumb {position:relative; border-radius:3px; font-size:14px; transition:border .3s;display:inline-block; padding-bottom: 15px; }
#main_small .crs_class_content .sub_list_thumb dl {position:relative; display: block; font-size:0px; width: 100%;}
#main_small .crs_class_content .sub_list_thumb dl dt{font-size:16px; color:#444; font-weight:bold; text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
#main_small .crs_class_content .sub_list_thumb dl dt img { width: 100%; border-radius: 3px 3px 0 0; }

#main_small .crs_class_content .sub_list_thumb dl dd{font-size:13px; text-overflow:ellipsis; white-space:nowrap; overflow:hidden; color: #bbb;}

/* list-big */
#main_small .crs_class_content .sub_list_thumb_big {width:390px; border:1px solid #dfdfdf;}
#main_small .crs_class_content .sub_list_thumb_big:hover {border:1px solid #00BCD4;}
#main_small .crs_class_content .sub_list_thumb_big dl dd{margin: 0 15px;}
#main_small .crs_class_content .sub_list_thumb_big dl dd span { width:100%;}
#main_small .crs_class_content .sub_list_thumb_big dl dt:nth-of-type(2) { margin: 10px 15px 6px 15px; }
#main_small .crs_class_content .sub_list_thumb_big dl dd:nth-of-type(1) { color: #444; }
#main_small .crs_class_content .sub_list_thumb_big dl dd:nth-of-type(2) { margin-top: 4px; }
#main_small .crs_class_content .sub_list_thumb_big dl dt img{ width:388px; max-height: 198px;}
/* list-big icon */
#main_small .crs_class_content .sub_list_thumb_big .icon_lank {position:absolute; top:-5px; left:5px; z-index:2;}
#main_small .crs_class_content .sub_list_thumb_big .icon_cm_type {position:absolute; bottom:84px; right:0px; z-index:2;}
#main_small .crs_class_content .sub_list_thumb_big .icon_event {position:absolute; top:5px; right:5px; z-index: 2;}
#main_small .crs_class_content .sub_list_thumb_big .icon_event .icon_sale_img{margin-left:5px;}
#main_small .crs_class_content .sub_list_thumb_big .icon_date {position:absolute; bottom:15px; right:15px; text-align:right;}
#main_small .crs_class_content .sub_list_thumb_big .icon_date .icon_new_img{margin-left:5px;}
#main_small .crs_class_content .sub_list_thumb_big .icon_adult {position: absolute; bottom: 84px; right: 0px; z-index: 2;}

/* list-medium */
#main_small .crs_class_content .sub_list_thumb_medium {width:228px; border:1px solid #dfdfdf;}
#main_small .crs_class_content .sub_list_thumb_medium dl dd{margin: 0 15px;}
#main_small .crs_class_content .sub_list_thumb_medium dl dt:nth-of-type(2) { margin: 10px 15px 6px 15px; }
#main_small .crs_class_content .sub_list_thumb_medium:hover {border:1px solid #00BCD4;}
#main_small .crs_class_content .sub_list_thumb_medium dl dd.small{display:none;}
#main_small .crs_class_content .sub_list_thumb_medium dl dt img{ width:226px; max-height:115px;}
/* list-medium icon */
#main_small .crs_class_content .sub_list_thumb_medium .icon_lank {    position: absolute; top:0px; left:0px;
    background-color: rgba(0,0,0,0.7);
    width: 35px;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    border-top-left-radius: 2px;
    padding: 11px 0;
    z-index: 2;}
#main_small .crs_class_content .sub_list_thumb_medium .icon_cm_type {position:absolute; bottom:65px; right:0px; z-index:2;}
#main_small .crs_class_content .sub_list_thumb_medium .icon_event {position:absolute; top:5px; right:5px; z-index: 2;}
#main_small .crs_class_content .sub_list_thumb_medium .icon_event .icon_sale_img{margin-left:5px;}
#main_small .crs_class_content .sub_list_thumb_medium .icon_date {position:absolute; bottom:15px; right:15px; text-align:right;}
#main_small .crs_class_content .sub_list_thumb_medium .icon_date .icon_new_img{margin-left:5px;}
#main_small .crs_class_content .sub_list_thumb_medium .icon_adult {position: absolute; bottom: 65px; right: 0px; z-index: 2;}

/* list-small */
#main_small .crs_class_content .sub_list_thumb_small {width:135px;}
#main_small .crs_class_content .sub_list_thumb_small dl dt:nth-of-type(2) { padding: 10px 0 5px 0; }
#main_small .crs_class_content .sub_list_thumb_small dl dt img { border:1px solid #dfdfdf; transition: border .3s; }
#main_small .crs_class_content .sub_list_thumb_small:hover > dl dt:nth-of-type(1) img { border:1px solid #00BCD4; }
#main_small .crs_class_content .sub_list_thumb_small:hover > dl dt:nth-of-type(2) {text-decoration: underline;}
#main_small .crs_class_content .sub_list_thumb_small dl dd.small{display:none;}
#main_small .crs_class_content .sub_list_thumb_small dl dt img{ width:135px; max-height:135px;}
/* list-small icon */
#main_small .crs_class_content .sub_list_thumb_small .icon_lank {display:none;}
#main_small .crs_class_content .sub_list_thumb_small .icon_cm_type {position:absolute; bottom:65px; right:0px; z-index:2;}
#main_small .crs_class_content .sub_list_thumb_small .icon_event {display:none;}
#main_small .crs_class_content .sub_list_thumb_small .icon_event .icon_sale_img{margin-left:5px;}
#main_small .crs_class_content .sub_list_thumb_small .icon_date {display:none;}
#main_small .crs_class_content .sub_list_thumb_small .icon_date .icon_new_img{margin-left:5px;}
#main_small .crs_class_content .sub_list_thumb_small .icon_adult {position: absolute; bottom: 65px; right: 0px; z-index: 2;}
