.pc_slide_bgcolor{ position: relative; transition: all 500ms linear; }

.pc_slide_bg{
    z-index: 6;
    position: relative;
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
	/*
    box-shadow: 0px 1px 1px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 1px 1px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 1px 1px 0 rgba(0, 0, 0, 0.2);
	*/
}
.pc_slide_bg section div{ display: none;}
.pc_slide_bg section div:nth-child(1){ display: block;}

/* Arrows */
.pc_slide_bg .slick-prev,
.pc_slide_bg .slick-next
{
	/*
    font-size: 0;
    line-height: 0;
    width: 20px;
    height: 20px;
	*/

    position: absolute;
    top: 50%;

    display: block;

    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    /*
	color: transparent;
    background: #fff;

	*/
    border: none;
    outline: none;
    font-size: 50px;
	color:#444;
	z-index:20;
}
.pc_slide_bg .slick-prev:hover,
.pc_slide_bg .slick-prev:focus,
.pc_slide_bg .slick-next:hover,
.pc_slide_bg .slick-next:focus
{
	/*
    color: transparent;
    outline: none;
    background: transparent;
	*/
}
.pc_slide_bg .slick-prev:hover:before,
.pc_slide_bg .slick-prev:focus:before,
.pc_slide_bg .slick-next:hover:before,
.pc_slide_bg .slick-next:focus:before
{
    opacity: 1;
}
.pc_slide_bg .slick-prev .slick-disabled:before,
.pc_slide_bg .slick-next .slick-disabled:before
{
    opacity: .25;
}

.pc_slide_bg .slick-prev:before,
.pc_slide_bg .slick-next:before
{

    /* font-family: 'slick'; */
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.pc_slide_bg .slick-prev
{
    left: 20px;
}
.pc_slide_bg [dir='rtl'] .slick-prev
{
    left: 20px;
    left: auto;
}
/*
.pc_slide_bg .slick-prev:before
{
    content: '←';
}
.pc_slide_bg [dir='rtl'] .slick-prev:before
{
    content: '→';
}
*/

.pc_slide_bg .slick-next
{
    right: 20px;
}
.pc_slide_bg [dir='rtl'] .slick-next
{
    right: auto;
    left: 20px;
}
/*
.pc_slide_bg .slick-next:before
{
    content: '→';
}
.pc_slide_bg [dir='rtl'] .slick-next:before
{
    content: '←';
}
*/

/* Dots */
.pc_slide_bg .slick-dotted.slick-slider
{
    /* margin-bottom: 30px; */
	min-height: 470px;
}

.pc_slide_bg .slick-dots
{
    position: absolute;
    width: 100%;
    bottom: 30px;

    display: block;

    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.pc_slide_bg .slick-dots li
{
    position: relative;


	/*
    width: 20px;
    height: 20px;
    width: 10px;
    height: 10px;
	*/
    display: inline-block;
    width: 169px;
    height: 30px;
    padding: 7px 0;
    background-color: #fff;
    margin-left: 1px;

    font-size: 13px;
    font-weight: bold;
    color: #444;
	text-align:center;

    cursor: pointer;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.pc_slide_bg .slick-dots li button
{


    /*
    display: block;
	width: 20px;
    height: 20px;
    padding: 5px;
    font-size: 0;
    line-height: 0;
	*/
    width: 169px;
    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;

    font-size: 13px;
	text-align:center;
    font-weight: bold;
    color: #444;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.pc_slide_bg .slick-dots li button:hover,
.pc_slide_bg .slick-dots li button:focus
{
    outline: none;
}
.pc_slide_bg .slick-dots li button:hover:before,
.pc_slide_bg .slick-dots li button:focus:before
{
    opacity: 1;
}

/*
.pc_slide_bg .slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;


    width: 20px;
    height: 20px;

    content: '•';


    width: 10px;
    height: 10px;
	content: ' ';
    text-align: center;

    opacity: .25;
    color: black;

	background:#666;
	border-radius: 50%;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.pc_slide_bg .slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}
*/
.pc_slide_bg .slick-dots li.slick-active{
	background-color: #E0F7FA;
    color: #0097A7;
    border:1px solid #80DEEA;
}
.pc_slide_bg .slick-dots li.slick-active button{
	color: #0097A7;
}


/* Slider */
.pc_slide_bg .slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.pc_slide_bg .slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.pc_slide_bg .slick-list:focus
{
    outline: none;
}
.pc_slide_bg .slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.pc_slide_bg .slick-slider .slick-track,
.pc_slide_bg .slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.pc_slide_bg .slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.pc_slide_bg .slick-track:before,
.pc_slide_bg .slick-track:after
{
    display: table;

    content: '';
}
.pc_slide_bg .slick-track:after
{
    clear: both;
}
.pc_slide_bg .slick-loading .slick-track
{
    visibility: hidden;
}

.pc_slide_bg .slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
.pc_slide_bg [dir='rtl'] .slick-slide
{
    float: right;
}
.pc_slide_bg .slick-slide img
{
    display: block;
}
.pc_slide_bg .slick-slide.slick-loading img
{
    display: none;
}
.pc_slide_bg .slick-slide.dragging img
{
    pointer-events: none;
}
.pc_slide_bg .slick-initialized .slick-slide
{
    display: block;
}
.pc_slide_bg .slick-loading .slick-slide
{
    visibility: hidden;
}
.pc_slide_bg .slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 0px solid transparent;
}
.pc_slide_bg .slick-arrow.slick-hidden {
    display: none;
}


.pc_slide_bg .slider {
	width: 100%;
	margin: 0 auto;
}

.pc_slide_bg .slick-slide {
  /* margin: 0px 20px; */
}

.pc_slide_bg .slick-slide img {
  /* width: 100%; */
  margin: auto;
  max-height:470px;
}

.pc_slide_bg .slick-prev:before,
.pc_slide_bg .slick-next:before {
	color: black;
}