
#main_today {position:relative; padding:30px 0; width:1200px; margin:0 auto; background-color:#fff;}
#main_today:after { content:""; clear: both; display: block; }
#main_today .class_small_bg {display:relative;width:1200px; margin:0 auto;}
#main_today .class_small_bg:after { content:""; clear: both; display: block; }

#main_today h2{ color: #444; font-size: 20px; font-weight: 800;}
#main_today h2 span{color: #00BCD4;}

#main_today .crs_class_tap {position:relative; margin-top:20px;}
#main_today .crs_class_tap:after { content:""; clear: both; display: block; }
#main_today .crs_class_tap ul {position:relative; font-size:0px; border:1px solid #dadada;}
#main_today .crs_class_tap ul li {display:inline-block; text-align: center; border-right: 1px solid #e8e8e8; font-weight: bold; font-size: 14px; width: 150px;color: #444;}
#main_today .crs_class_tap ul li:last-child {border-right:none;}
#main_today .crs_class_tap ul li button { display: block; width:100%; overflow:hidden; padding: 10px 0; text-align:center;}
#main_today .crs_class_tap ul li button:hover { border-top:3px solid #00BCD4; color:#00BCD4; padding-top: 7px; }
#main_today .crs_class_tap ul li.currunt button { border-top:3px solid #00BCD4; color:#00BCD4; padding-top: 7px; }

#main_today .crs_class_content {position:relative; margin-top: 15px; font-size: 0;}
#main_today .crs_class_content:after { content:""; clear: both; display: block; }
#main_today .crs_class_content > a { margin: 15px 0 0 15px; display: inline-block; }
#main_today .crs_class_content > a:nth-child(1) { margin-left: 0; }
#main_today .crs_class_content > a:nth-child(-n+3) { margin-top: 0; }
#main_today .crs_class_content > a:nth-child(4) { margin-left: 0; }
#main_today .crs_class_content > a:nth-child(9) { margin-left: 0; }
#main_today .crs_class_content > a:nth-child(n+10) { margin-left: 17.14px; }
#main_today .crs_class_content > a:nth-child(8n+9) { margin-left: 0px; }

#main_today .crs_class_content .sub_list_thumb {position:relative; border-radius:3px; font-size:14px; transition:border .3s;display:inline-block; padding-bottom: 15px; }
#main_today .crs_class_content .sub_list_thumb dl {position:relative; display: block; font-size:0px; width: 100%;}
#main_today .crs_class_content .sub_list_thumb dl dt{font-size:16px; color:#444; font-weight:bold; text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
#main_today .crs_class_content .sub_list_thumb dl dt img { width: 100%; border-radius: 3px 3px 0 0; }

#main_today .crs_class_content .sub_list_thumb dl dd{font-size:13px; text-overflow:ellipsis; white-space:nowrap; overflow:hidden; color: #bbb;}

/* list-big */
#main_today .crs_class_content .sub_list_thumb_big {width:390px; border:1px solid #dfdfdf;}
#main_today .crs_class_content .sub_list_thumb_big:hover {border:1px solid #00BCD4;}
#main_today .crs_class_content .sub_list_thumb_big dl dd{margin: 0 15px;}
/* #main_today .crs_class_content .sub_list_thumb_big dl dd span { width:100%;} */
#main_today .crs_class_content .sub_list_thumb_big dl dt:nth-of-type(2) { margin: 10px 15px 6px 15px; }
#main_today .crs_class_content .sub_list_thumb_big dl dd:nth-of-type(1) { color: #444; }
#main_today .crs_class_content .sub_list_thumb_big dl dd:nth-of-type(2) { margin-top: 4px; }
#main_today .crs_class_content .sub_list_thumb_big dl dd { font-size: 12px; line-height: 16px; color: #aaa; }
#main_today .crs_class_content .sub_list_thumb_big dl dd span{ display: inline-block; color: #FF9800; }
#main_today .crs_class_content .sub_list_thumb_big dl dd span.cm_somaery{ color: #444; }
#main_today .crs_class_content .sub_list_thumb_big dl dd span.cm_small{ margin-right:5px; }
#main_today .crs_class_content .sub_list_thumb_big dl dd span.cm_end{ color: #E65100; }

#main_today .crs_class_content .sub_list_thumb_big dl dt img{ width:388px; max-height: 198px;}
/* list-big icon */
#main_today .crs_class_content .sub_list_thumb_big .icon_cm_type {position:absolute; bottom:102px; right:0px; z-index:2;}
#main_today .crs_class_content .sub_list_thumb_big .icon_event {position:absolute; top:5px; right:5px; z-index: 2;}
#main_today .crs_class_content .sub_list_thumb_big .icon_event .icon_sale_img{margin-left:5px;}
#main_today .crs_class_content .sub_list_thumb_big .icon_date {position:absolute; bottom:15px; right:15px; text-align:right;}
#main_today .crs_class_content .sub_list_thumb_big .icon_date .icon_new_img{margin-left:5px;}
#main_today .crs_class_content .sub_list_thumb_big .icon_adult {position: absolute; bottom: 102px; right: 0px; z-index: 2;}

/* list-medium */
#main_today .crs_class_content .sub_list_thumb_medium {width:228px; border:1px solid #dfdfdf;}
#main_today .crs_class_content .sub_list_thumb_medium dl dd{margin: 0 15px;}
#main_today .crs_class_content .sub_list_thumb_medium dl dt:nth-of-type(2) { margin: 10px 15px 6px 15px; }
#main_today .crs_class_content .sub_list_thumb_medium:hover {border:1px solid #00BCD4;}
/* #main_today .crs_class_content .sub_list_thumb_medium dl dd.small{display:none;} */
#main_today .crs_class_content .sub_list_thumb_medium dl dd { font-size: 12px; line-height: 16px; color: #aaa; }
#main_today .crs_class_content .sub_list_thumb_medium dl dd span{ display: inline-block; color: #FF9800; }
#main_today .crs_class_content .sub_list_thumb_medium dl dd span.cm_small{ margin-right:5px; }
#main_today .crs_class_content .sub_list_thumb_medium dl dd span.cm_end{ color: #E65100; }
#main_today .crs_class_content .sub_list_thumb_medium dl dt img{ width:226px; max-height:115px;}
/* list-medium icon */
#main_today .crs_class_content .sub_list_thumb_medium .icon_cm_type {position:absolute; bottom:82px; right:0px; z-index:2;}
#main_today .crs_class_content .sub_list_thumb_medium .icon_event {position:absolute; top:5px; right:5px; z-index: 2;}
#main_today .crs_class_content .sub_list_thumb_medium .icon_event .icon_sale_img{margin-left:5px;}
#main_today .crs_class_content .sub_list_thumb_medium .icon_date {position:absolute; bottom:15px; right:15px; text-align:right;}
#main_today .crs_class_content .sub_list_thumb_medium .icon_date .icon_new_img{margin-left:5px;}
#main_today .crs_class_content .sub_list_thumb_medium .icon_adult {position: absolute; bottom: 82px; right: 0px; z-index: 2;}

/* list-small */
#main_today .crs_class_content .sub_list_thumb_small {width:135px;}
#main_today .crs_class_content .sub_list_thumb_small dl dt:nth-of-type(2) { padding: 10px 0 5px 0; }
#main_today .crs_class_content .sub_list_thumb_small dl dt img { border:1px solid #dfdfdf; transition: border .3s; }
#main_today .crs_class_content .sub_list_thumb_small:hover > dl dt:nth-of-type(1) img { border:1px solid #00BCD4; }
#main_today .crs_class_content .sub_list_thumb_small:hover > dl dt:nth-of-type(2) {text-decoration: underline;}
/* #main_today .crs_class_content .sub_list_thumb_small dl dd.small{display:none;} */

#main_today .crs_class_content .sub_list_thumb_small dl dd { font-size: 12px; line-height: 16px; color: #aaa; }
#main_today .crs_class_content .sub_list_thumb_small dl dd span{ display: inline-block; color: #FF9800; }
#main_today .crs_class_content .sub_list_thumb_small dl dd span.cm_small{ margin-right:5px; }
#main_today .crs_class_content .sub_list_thumb_small dl dd span.cm_end{ color: #E65100; }
#main_today .crs_class_content .sub_list_thumb_small dl dt img{ width:135px; max-height:135px;}

/* list-small icon */
#main_today .crs_class_content .sub_list_thumb_small .icon_cm_type {position:absolute; bottom:82px; right:0px; z-index:2;}
#main_today .crs_class_content .sub_list_thumb_small .icon_event {display:none;}
#main_today .crs_class_content .sub_list_thumb_small .icon_event .icon_sale_img{margin-left:5px;}
#main_today .crs_class_content .sub_list_thumb_small .icon_date {display:none;}
#main_today .crs_class_content .sub_list_thumb_small .icon_date .icon_new_img{margin-left:5px;}
#main_today .crs_class_content .sub_list_thumb_small .icon_adult {position: absolute; bottom: 82px; right: 0px; z-index: 2;}
