.peanutoon_tkskics { position: relative; }
.peanutoon_tkskics .evtcontainer { position:relative; width: 100%; background-color: #cfd2e5; }
.peanutoon_tkskics .evt_header { position: relative; width: 100%; }
.peanutoon_tkskics .evt_header img { width: 100%; }
.peanutoon_tkskics .evt_con01 { position: relative; width: 100%; text-align: center; padding-top: 7%; }
.peanutoon_tkskics .evt_con01 img { width: 90%; }

.peanutoon_tkskics .evt_con_title { width: 51.6%; margin: 0 auto; }

.peanutoon_tkskics .evt_facebook { background-color: #cfd2e5; text-align: center; }
.peanutoon_tkskics .evt_facebook img { width: 100%; }
.peanutoon_tkskics .evt_facebook_formgroup { position: relative; width:100%; margin: 0 auto; padding-top:13%; background-size: 100%; text-align: left; vertical-align: middle; text-align: center; }
.peanutoon_tkskics .evt_facebook_form { display: table; width: 100%; border-collapse: separate; margin-top: 7%; padding: 0 5%; }
.peanutoon_tkskics .evt_facebook_form input[type=text] { margin-left: 3%; font-size: 1.5em; font-weight: bold; padding: 10px 20px; border:3px solid #555fb9; display: table-cell; box-shadow:5px 5px #b1b8f5; width: calc(100% - 6%); }
.peanutoon_tkskics .evtform_va { display: table-cell; vertical-align: middle; margin-right: 0; width: 126.5px; }
.peanutoon_tkskics .evt_facebook_form a.btn { position: relative; display: inline-block; width: 126.5px; box-shadow:5px 5px #b1b8f5; padding: 4.75px 0; height: 47px; background-color: #555fb9; }
.peanutoon_tkskics .evt_facebook_form a.btn img { width: 100%; }

.peanutoon_tkskics .evt_con03 { position: relative; width: 100%; text-align: center; margin-top: 15%; }
.peanutoon_tkskics .evt_con03 a { width: 70%; margin: 0 auto; display: inline-block; box-shadow:5px 5px #b1b8f5; margin-top: 7%; }
.peanutoon_tkskics .evt_con03 a img { width: 100%; }
.peanutoon_tkskics .evt_con03 .warn { width: 65%; margin: 0 auto; margin-top: 3vw; text-align: center; }
.peanutoon_tkskics .evt_con03 .warn img { width: 100%; }

.peanutoon_tkskics .evt_con04 { position: relative; width: 100%; text-align: center; margin-top: 15%; padding-bottom: 20%; }
.peanutoon_tkskics .evt_con04_link { position: relative; width: 90%; margin: 0 auto; margin-top: calc(7% - 30px); }
.peanutoon_tkskics .evt_con04_link img { width: 100%; }
.peanutoon_tkskics .evt_con04_link a { display: block; width: 100%; margin-top: 30px; }