@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);

.year2017 {position: relative; width: 100%; min-height: 100%; height: auto !important; z-index: 1; letter-spacing: -1px;}
.year2017 .evtcontainer { width: 100%; position: relative; outline: none; font-family: 'Jeju Gothic', serif; }
.year2017 .evt_header { position: relative; width: 100%; text-align: center; margin: 0 auto; }
canvas { display: block; position: absolute;}
.year2017 .evt_header_dummy { position: relative; visibility: hidden; z-index: -1; width: 100%; }
.year2017 .evt_header_dummy img { width: 100%; }
.year2017 .evt_header_tit { position: absolute; width: 100%; z-index: 1; top: 0; left: 0; text-align: center; }
.year2017 .evt_header_tit img { width: 29.1%; }
.year2017 .evt_con01 { position: relative; width: 100%; text-align: center; background-color: #fff; padding-bottom: 140px; }

.year2017 .evt_con02 { position: relative; width: 100%; margin: 0 auto; text-align: center; background-color: #f04f5f; padding-bottom: 140px; }

.year2017 .evt_con03 { position: relative; width: 100%; text-align: center; background-color: #439e9c; padding-bottom: 140px; }
.year2017 .evt_con03_img { max-width: 1267px; min-width: 1200px; margin: 0 auto; padding-right: 67px; }
.year2017 .evt_con03_img img { width: 100%; }

.year2017 .evt_con04_tabs{ position: absolute; top:-123px; }

.year2017 .evt_con04 { position: relative; width: 100%; padding: 80px 0; }
.year2017 .evt_con04 ul { width: 1200px; margin: 0 auto; font-size: 0; }
.year2017 .evt_con04 ul li { display: inline-block; margin-right: 1px; }
.year2017 .evt_con04 ul li:last-child { margin-right: 0; }

.year2017 .evt_con04 ul li a.tab01 { display: block; width: 299px; height: 100px;}
.year2017 .evt_con04 ul li a.tab01:hover { }
.year2017 .evt_con04 ul li a.tab02 { display: block; width: 299px; height: 100px; }
.year2017 .evt_con04 ul li a.tab02:hover { }
.year2017 .evt_con04 ul li a.tab03 { display: block; width: 299px; height: 100px; }
.year2017 .evt_con04 ul li a.tab03:hover { }
.year2017 .evt_con04 ul li a.tab04 { display: block; width: 299px; height: 100px; }
.year2017 .evt_con04 ul li a.tab04:hover { }

.year2017 .evt_con04 .tab_contents { position: relative; width: 1200px; margin: 0 auto; margin-top: 10px; border:5px solid #0f3542; padding: 35px; font-size: 0; }
.year2017 .tab_figure { position: relative; display: inline-block; text-align: center;  padding-bottom: 20px; max-width: 359px; }
.year2017 .tab_figure span.title { display: inline-block; font-size: 25px; color: #243150; font-weight: bold; background-color: #ffe064; margin-top: 10px; }
.year2017 .tab_figure span.author { display: block; font-size: 16px; color:#757575; margin-top: 5px; }
.year2017 .tab_figure a { display: inline-block; width: 147px; margin-top: 10px; }
.year2017 .tab_figure a.tab_see { text-align: right; margin-right: 5px; }
.year2017 .tab_figure a.tab_vote { text-align: left; margin-left: 5px; }

.year2017 .tab_q01, .tab_q02 { margin-right: 19px; }
.year2017 .tab_q04, .tab_q05 { margin-top: 35px; }
.year2017 .tab_q04 { margin-left: 189px; margin-right: 10px; }
.year2017 .tab_q05 { margin-right: 189px; margin-left: 10px; }


.year2017 .evt_con05 { position: relative; width: 100%; background-color: #ffdd54; text-align: center; padding-bottom: 60px; }
.year2017 .evt_con05 .link_wrap { display: block; width: 905px; margin: 0 auto; margin-top: 35px; }
.year2017 .evt_con05 .link_wrap a img { margin-bottom: 20px; }

.year2017 .evt_con06 { position: relative; width: 100%; background-color: #243150; padding-bottom: 150px; }
.year2017 .evt_con06_warn { width: 1200px; margin: 0 auto; padding-left: 30px; }