#wrapper { min-width: 320px; height: 100vh; background-color: #f5f5f5; }

#header { position: relative; background-color: #00BCD4; font-weight: bold; color: #fff; height: 50px; font-size: 2em; padding: 10px 20px; }
#header img { height: 30px; }
#header span { vertical-align: middle; }
#header a {color: #fff;}
#contents { padding: 20px; height: calc(100% - 50px); }
#contents h2 { position: relative; color: #757575; }
#contents .vernotice_con { background-color: #fff; padding: 20px; height: calc(100% - 100px); margin-top: 10px; overflow: auto; }
#contents .vernotice_con p { font-size: 1.3em; }
#contents .vernotice_con ol {}
#contents .vernotice_con ol li { padding-top: 10px; margin-left: 20px; display: list-item; list-style: circle; text-align: -webkit-match-parent; font-size: 1.1em; }
#contents .vernotice_con ol li strong{color:#EF5350;}

#contents .vernotice_con .vernotice_guide{ padding-top: 10px; line-height:1.5em;}


#contents .vernotice_footer { position: relative; width: 100%; height: 80px; font-size: 0; padding: 20px 0; }
#contents .vernotice_footer button { background-color: #00bcd4; border-radius: 3px; border:none; color: #fff; font-size: 18px; width: calc(50% - 5px); padding: 10px 0; }
#contents .vernotice_footer button:nth-of-type(2) { margin-left: 10px; }

#contents .vernotice_footer a { display: inline-block; text-align:center; background-color: #00bcd4; border-radius: 3px; border:none; color: #fff; font-size: 18px; width: 100%; padding: 10px 0; }