.sub_list {position: relative; padding: 0; background-color: #fff; box-shadow: 0px 1px 1px 0 rgba(0, 0, 0, 0.2); -webkit-box-shadow: 0px 1px 1px 0 rgba(0, 0, 0, 0.2); -moz-box-shadow: 0px 1px 1px 0 rgba(0, 0, 0, 0.2); border-top: 1px solid #eee; overflow-y: hidden;}
.sub_list .sub_list_thumb {width: 33.3%; border:1px solid #eee; border-top: none; border-left: none; float: left;}
.sub_list .sub_list_thumb img {width: 100%;}
.sub_list .sub_list_thumb dl {padding: 10px; height: 81px;}
.sub_list .sub_list_thumb dl dt {font-weight: bold; font-size: 14px; color: #444; display: block;}
.sub_list .sub_list_thumb dl dd {font-size: 12px; color: #666; }
.sub_list .sub_list_thumb dl dd:nth-of-type(1) { font-size: 12px; color: #FF9800; border:1px solid #FF9800; padding: 3px 5px; display: inline-block; border-radius: 10px; margin-top: 5px; }
.sub_list .sub_list_thumb dl dd:nth-of-type(2) {color: #00BCD4;font-weight: bold;}
.sub_list .sub_list_thumb dl dd span {color: #00BCD4;}
.sub_list .sub_list_thumb img {width: 100%;}
