#comics {position:relative; width: 100%; z-index: 1; display: block;}
#comics .d_h_top {position: fixed; width: 100%; height: auto; opacity: 1; z-index: -1;}
#comics .d_h_top_visibility {position: relative; width: 100%; height: auto;}
#comics .d_h_top img {width:100%; height: auto;}
#comics .d_h_top_visibility img {width:100%; height: auto;}

#comics .d_h_con {width:100%; position: relative; z-index:1; background-color: #fff; display: block; border-top: 1px solid #ddd; padding: 20px;}

#comics .d_h_title {border-left: 5px solid #00BCD4; padding-left: 10px; display: block; width: 100%; }
#comics .d_h_title h4 {margin-top: 7px; width: 100%; box-sizing: border-box;}
#comics .d_h_title p {line-height: 26px; font-size:16px; color: #00BCD4;}
#comics span.d_h_gen {color: #FFAB91; font-size: 12px; margin:10px 3px 0 0; padding: 3px 10px; display: inline-block; border:1px solid #FFAB91; border-radius: 10px;}
#comics span.d_h_gen a { color: #FFB74D; }
#comics .d_h_ex { display: block; background-color: #f5f5f5; border-radius: 3px;  margin-top: 10px; padding: 10px; font-size: 15px; line-height: 23px; color: #333;
}

#comics .d_h_buttonwrap {position:relative; width: 100%; margin-top: 20px;}
#comics .d_h_buttonwrap button.d_faborite {width: 49%; display: inline-block; border-radius: 3px; border:1px solid #00BCD4; padding: 10px; font-size:14px; font-weight:bold; color: #00BCD4; float: left;}
#comics .d_h_buttonwrap a.d_first {width: 49%; display: inline-block; border-radius: 3px; border:1px solid #00BCD4; padding: 10px; background-color: #00BCD4; font-size:14px; font-weight:bold; color: #fff; float: right; text-align: center;}
#comics .d_h_buttonwrap a.d_cont {width: 100%; display: block; border-radius: 3px; border:1px solid #00BCD4; padding: 10px; background-color: #fff; font-size:16px; font-weight:bold; color: #00BCD4; text-align: center; float: right; margin-top: 10px;}
#comics .d_h_buttonwrap a.d_cont span { display: block; font-weight:300; font-size:12px; margin-top:5px; }

/* 회차리스트 */
#comics .detail_list {position: relative; width: 100%; background-color: #fff; overflow:hidden;}
#comics .detail_list ul.d_l_sort {position:relative; border-top: 1px solid #eee; overflow: hidden;}
#comics .detail_list ul.d_l_sort li {padding: 20px 0px;}
#comics .detail_list ul.d_l_sort li:first-child {font-size: 16px; padding-left:10px; float: left;}
#comics .detail_list ul.d_l_sort li:nth-child(2) {padding-right:10px; font-size: 14px; line-height: 23px; vertical-align: middle; float: right;}
#comics .detail_list ul.d_l_sort li span.day { font-weight: bold; font-size: 15px; background-color: #00BCD4; border-radius: 50%; color: #fff; padding: 3px 5px;}
#comics .detail_list ul.d_l_sort li a {font-weight: bold;}
#comics .detail_list ul.d_l_sort li a.on {color: #00BCD4;}
#comics .detail_list span.d_l_list {color:#9E9E9E; font-size: 16px; line-height:18px; padding-right: 5px; vertical-align: middle;}
#comics .detail_list span.centerbar {width: 1px; border-left: 1px solid #E0E0E0; margin:0 10px 0 7px;}

#comics .all_buy{position:relative; display: block; width: 100%; text-align: center; background-color: #00BCD4; font-weight: bold; font-size: 15px; border:none;}
#comics .all_buy button{position:relative; display: block; width: 100%; padding: 15px; text-align: center; font-weight: bold; font-size: 15px; color: #fff;}

@media screen and (min-width: 641px) { /* 2개씩 */
	#comics .detail_list ol {position:relative; font-size: 0; padding-bottom: 10px;}
	#comics .detail_list ol li {display: inline-block; vertical-align: middle; width:50%; padding: 10px 10px 0 10px; float: left; overflow:hidden;}
	#comics .detail_list ol li > a {display: block; width: 100%;}

	#comics .detail_thumb {position:relative; width:100%; height:350px; display: block; border-radius: 5px; border:1px solid #BDBDBD; background-size: cover; background-position: center; background-repeat: no-repeat;}
	#comics .detail_thumb dl {position:relative; margin-top:275px; width: 100%; background-color: rgba(255,255,255,.9); padding: 15px; overflow:hidden; border-radius: 0 0 4px 4px; border-top: 1px solid #EEEEEE;}
	#comics .detail_thumb dl dt {font-size: 18px; font-weight: bold; color: #000; width: calc(100% - 100px); display: inline-block; float: left; overflow:hidden; text-overflow: ellipsis; white-space: nowrap;}
	#comics .detail_thumb dl dd {font-size: 13px; width: calc(100% - 100px); display: inline-block; float: left; line-height: 21px;}
	#comics .btn {position:absolute; display: inline-block; width: 100px; right: 15px; bottom: 15px; line-height: 42px; text-align: center; font-weight: bold; font-size: 16px;}
	#comics .btn button { font-size: 14px; font-weight: bold; color:#fff; background-color: #00BCD4; width: 100%; padding: 10px; border-radius:3px; border:none; line-height:normal}
	#comics .btn span.purchased i {color:#00BCD4; font-size: 20px;}
	#comics .btn > button.event{ background-color: #ef5350; } /* 181024 */
	#comics .btn > span.event { color: #ef5350; } /* 181024 */
	#comics .episode_list .up {border:1px solid #00BCD4; }
	#comics .episode_list .icon_up {display:none; position:absolute; top: 233px; right: 0; width: 43px;}
	#comics .episode_list .up > .icon_up{display:block;}
}

@media screen and (max-width: 640px) { /* 1개씩 */

	#comics .detail_list ol {position:relative; font-size: 0; padding-bottom: 10px;}
	#comics .detail_list ol li {display: inline-block; vertical-align: middle; width:100%; padding: 10px 10px 0 10px; float: left; overflow:hidden;}
	#comics .detail_list ol li > a {display: block; width: 100%;}

	#comics .detail_thumb {position:relative; width:100%; height: 220px; display: block; border-radius: 5px; border:1px solid #BDBDBD; background-size: cover; background-position: center; background-repeat: no-repeat;}
	#comics .detail_thumb dl {position: relative; margin-top: 149px; width: 100%; background-color: rgba(255,255,255,.9); padding: 15px; overflow:hidden; border-radius: 0 0 4px 4px; border-top: 1px solid #eee;}
	#comics .detail_thumb dl dt {font-size: 16px; font-weight: bold; color: #000; width: calc(100% - 100px); display: inline-block; float: left; overflow:hidden; text-overflow: ellipsis; white-space: nowrap;}
	#comics .detail_thumb dl dd {font-size: 12px; width: calc(100% - 100px); display: inline-block; float: left; line-height: 19px;}

	#comics .btn {position:absolute; display: inline-block; width: 100px; right: 15px; bottom: 15px; line-height: 38px; text-align: center; font-weight: bold; font-size: 16px;}
	#comics .btn button { font-size: 14px; font-weight: bold; color:#fff; background-color: #00BCD4; width: 100%; padding: 10px; border-radius:3px; border:none;}
	#comics .btn span.purchased i {color:#00BCD4; font-size: 20px;}
	#comics .btn > button.event{ background-color: #ef5350; } /* 181024 */
	#comics .btn > span.event { color: #ef5350; } /* 181024 */
	#comics .episode_list .up {border:1px solid #00BCD4; }
	#comics .episode_list .icon_up {display:none; position:absolute; top: 107px; right: 0; width: 43px;}
	#comics .episode_list .up > .icon_up{display:block;}
}


#comics .detail_allby {display:none; position: relative; width: 100%; font-size: 13px; border-top: 1px solid #eee; border-bottom: 1px solid #eee;}
#comics .detail_allby .d_a_chk {display: inline-block; float: left;}
#comics .detail_allby .d_a_chk label.sin_allpay_btn {margin-left: 40px; line-height: 47px; font-size: 14px;}
#comics .detail_allby .d_a_bonus { display: inline-block; float: right; text-align: right; padding: 8px 8px 0 0; }
#comics .detail_allby span.d_a_b_1 { color: #00BCD4; font-weight: bold; }
#comics .detail_allby span.d_a_b_2 { color: #ff9800; font-weight: bold; }
#comics .detail_allby .d_a_cancel { display: inline-block; float: right; }
#comics .detail_allby .d_a_cancel button { background-color: #eee; border:none; font-weight: bold; font-size: 13px; padding: 10px 20px; height: 47px;}
#comics .detail_allby .d_a_ok { display: inline-block; float: right; }
#comics .detail_allby .d_a_ok button {background-color: #00BCD4; border:none; font-weight: bold; font-size: 13px; color: #fff; padding: 10px; height: 47px;}

#comics .detail_allby .detail_chk {top: 13px;}


#comics .detail_allby .detail_chk {display:none; position: absolute; top: 10px; left: 10px; width:20px;}
#comics .detail_allby .detail_chk input[type="checkbox"] {visibility: hidden;}
#comics .detail_allby .detail_chk label {width: 20px; height: 20px; cursor: pointer;position: absolute; top: 0; left: 0; background:#fcfff4; background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%); border-radius: 4px; box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);}
#comics .detail_allby .detail_chk label:after {
	content: '';
    width: 9px;
    height: 5px;
    position: absolute;
    top: 4px;
    left: 4px;
    border: 3px solid #00BCD4;
    border-top: none;
    border-right: none;
    background: transparent;
    opacity: 0;
    transform: rotate(-45deg);}
#comics .detail_allby .detail_chk input[type="checkbox"]:checked + label:after {opacity: 1;}


#comics .episode_list{position: relative; padding-bottom:10px;}
#comics .episode_list .detail_chk {display:none; position: absolute; top: 10px; left: 10px; width:20px;}
#comics .episode_list .detail_chk input[type="checkbox"] {visibility: hidden;}
#comics .episode_list .detail_chk label {width: 20px; height: 20px; cursor: pointer;position: absolute; top: 0; left: 0; background:#fcfff4; background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%); border-radius: 4px; box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);}
#comics .episode_list .detail_chk label:after {
	content: '';
    width: 9px;
    height: 5px;
    position: absolute;
    top: 4px;
    left: 4px;
    border: 3px solid #00BCD4;
    border-top: none;
    border-right: none;
    background: transparent;
    opacity: 0;
    transform: rotate(-45deg);}
#comics .episode_list .detail_chk input[type="checkbox"]:checked + label:after {opacity: 1;}


@media screen and (max-width: 640px) {
	#comics .episode_list .icon_bookmark {display:none; position:absolute; top:0; left:0; width:53px; height:40px; }
}

@media screen and (min-width: 641px) {
	#comics .episode_list .icon_bookmark { display:none; position:absolute; top:0; left:0; width:53px; height:40px; }
}
#comics .episode_list .bookmark > .icon_bookmark{display:block;}
