/* viewer */
.toggle_menu, .right_page, .left_page {
	position: absolute;
	top: 0;
	z-index: 5;
	height: 100%;
	opacity: 0;
}

.toggle_menu {
	left: 40%;
	width: 20%;
}

.right_page, .left_page {
	width: 40%;
}

.right_page {
	left: 60%;
}

.viewer_body {
	min-height: 0px;
}

.viewer_header {
	background: rgba(255,255,255,.9);
	position: fixed;
	z-index: 20;
	left: 0;
	right: 0;
	top: 0;
	height: 47px;
	width: 100%;
	border-bottom: 1px solid #EEEEEE;
}

.viewer_header .header_left {
	display: inline-block;
	line-height: 47px;
	padding-left: 13px;
	cursor: pointer;
	overflow:hidden;
	position: relative;
}

.viewer_header .header_left span:before {
	content:'\f053';
	font-family:FontAwesome;
	font-size: 25px;
	padding-top: 12px;
	margin-right: 20px;
	vertical-align: middle;
}

.viewer_header .header_left span {
	font-size: 15px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-weight: bold;
	color: #00BCD4;
	vertical-align: middle;
}

.viewer_header .header_left img {
	width: 17px;
	height: 10px;
	margin-right: 10px;
}

.viewer_header .header_right {
	float: right;
	height: 100%;
	margin-right: 20px;
	line-height: 47px;
	position: relative;
}

.viewer_header .header_right .favorite_box {
	width: 20px;
	display: inline-block;
}

.viewer_header .header_right i {
	font-size: 20px;
	color: #00BCD4;
	vertical-align:middle;
}

.viewer_header .header_right a {
	color: #00BCD4;
	display: inline-block;
	margin-left: 10px;
}

.viewer_header .header_right img {
	position: absolute;
	top: 50%;
	cursor: pointer;
}

.viewer_header .header_right .doodletoss {
	width: 22px;
	height: 18px;
	margin-top: -11px;
	right: 110px;
}

.viewer_header .header_right .favorite {
	width: 17px;
	height: 16px;
	margin-top: -8.5px;
	right: 65px;
}

.viewer_header .header_right .my_library {
	width: 17px;
	height: 16px;
	margin-top: -8.5px;
	right: 20px;
}


.inviewer_list {
	position: absolute;
	top: 47px;
	right: 0;
	border:1px solid #eee;
	border-top:none;
	width: 130px;
	background-color: rgba(255,255,255,.9);
	height: 210px;
	overflow-x:hidden;
	overflow-y:scroll;
	display: none;
}

.inviewer_list ol {
	width:100%;
}

.inviewer_list li {
	font-size: 14px;
	font-weight: bold;
	padding: 10px;
	text-align: center;
	border-bottom: 1px solid #eee;
}

.inviewer_list li:last-child {
	border:none;
}

.inviewer_list li.list_on a {
	color: #00BCD4;
}


.viewer_footer {
	background: rgba(255,255,255,.9);
	position: fixed;
	z-index: 10;
	left: 0;
	right: 0;
	bottom: 0;
	height: 47px;
	line-height: 47px;
	width: 100%;
	text-align: center;
}

.viewer_footer button {
	position: relative;
	background:transparent;
	color: #00BCD4;
	font-size: 14px;
	vertical-align: middle;
	width: 100px;
}

.viewer_footer button span {
	display: inline-block;
	vertical-align: middle;
	padding: 7px 10px;
}


.viewer_footer button i {
	font-size: 30px;
	vertical-align: middle;
}

.viewer_footer button.btn_left {
	margin-right: 60px;
}

.viewer_footer img {
	width: 105px;
	height: 35px;
	margin-top: 6px;
}

.viewer_footer img.left {
	margin-right: 47px;
}

.webtoon_viewer {
	width: 100%;
	text-align: center;
	background: #fff;
}

.webtoon_viewer img {
	width: 100%;
}

.comic_viewer {
	text-align: center;
	height: 100vh;
}

.comic_viewer .cut {
	position: relative;
	height: 100vh;
	vertical-align: middle;
}

.comic_viewer .cut img {
	position: relative;
	max-width: 100%;
	max-height: 100vh;
}

.comic_page_controller {
	position: fixed;
	background: rgba(119,119,119,.9);
	color: #fff;
	font-weight: bold;
	width: 100%;
	height: 42px;
	bottom: 47px;
	z-index: 10;
	line-height: 42px;
	vertical-align: middle;
	border-top: 1px solid #777;
	border-bottom: 1px solid #eee;
	overflow:hidden;
}

.comic_page_controller .page_slider input[type='range'] {
	-webkit-appearance: none;
	position: absolute;
	top: calc(50% - 2px);
	min-width: 200px;
	width: 70%;
	left: 15%;
	margin:0 auto;
	border-radius: 10px;
	background-color: #fff;
	height: 4px;
	vertical-align: middle;
	-webkit-box-shadow: inset 1px 1px 3px 0px rgba(224,224,224,1);
	-moz-box-shadow: inset 1px 1px 3px 0px rgba(224,224,224,1);
	box-shadow: inset 1px 1px 3px 0px rgba(224,224,224,1);
}

.comic_page_controller .page_slider input[type='range']::-moz-range-track {
	-moz-appearance: none;
	position: absolute;
	top: calc(50% - 2px);
	min-width: 200px;
	width: 70%;
	left: 15%;
	margin:0 auto;
	border-radius: 10px;
	background-color: #fff;
	height: 4px;
	vertical-align: middle;
	-webkit-box-shadow: inset 1px 1px 3px 0px rgba(224,224,224,1);
	-moz-box-shadow: inset 1px 1px 3px 0px rgba(224,224,224,1);
	box-shadow: inset 1px 1px 3px 0px rgba(224,224,224,1);
}

.comic_page_controller .page_nav {
	float: left;
	margin-left: 5px;
}

.comic_page_controller .page_nav span {
	display: inline-block;
	width: 80px;
	text-align: center;
}

.empty_image {
	display: block;
	width: 1px;
	height: 1px;
	position: absolute;
	top: -10px;
	overflow: hidden;
}

.viewer_charge {
	display: inline-block;
	text-align: center;
	margin-top: 59px;
}
/* //viewer */
/*뷰 방향 안내 디자인*/
.direction {
	display: none;
	position: fixed;
	top: 0;
	width: 100%;
	height: 100vh;
	z-index: 15;
}

.direction .bg {
	display: block;
	opacity: 0.5;
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
}

.view_direction {
	width: 200px;
	height: 200px;
}
/*//뷰 방향 안내 디자인*/


img 
{ 
-webkit-user-select:none; 
-webkit-touch-callout:none; 
} 