@charset "UTF-8";

/* 초기화 */
* { margin:0; padding:0; border:0; list-style:none; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; outline:none; }
body { margin:0; padding:0; background-color:#fff; font-style:normal; font-size:12px; font-family:'Nanum Gothic', dotum, sans-serif; color:#444; }
div, ul, ol, li, dl, dt, dd, form, fieldset, input,textarea, select, button, p, h1, h2, h3, h4, h5, h6, blockquote, iframe, th, td, samp, em, code, var, strong{ margin:0; padding:0; text-size-adjust:none; font-family: inherit; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; }
input, img{border: 0 none; }
label, input, button, select, img { vertical-align:middle; }
img { max-width:100%; height:auto; }
legend { position:absolute; margin:0; padding:0; line-height:0; font-size:0; text-indent:-9999em; overflow:hidden; }
ul { -webkit-margin-before: 0em; -webkit-margin-after: 0em; -webkit-margin-start: 0px; -webkit-margin-end: 0px; -webkit-padding-start: 0px; }
li { list-style:none; }
button{ margin:0; background:transparent; border:none; vertical-align:middle; cursor:pointer; }

h1, h2, h3, h4, h5, h6{font-size:100%;}
h2 {color:#444; font-size:17px; font-weight: bold;}
h2 span {color:#26c6da;}
h3 {color:#8c8c8c; font-weight:bold; font-size:16px; line-height: 26px;}
h4 {font-size: 30px; color: #444; font-weight: 800;}
h4 span {color:#26c6da;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block;}

hr {display:none}
pre {overflow-x:scroll;}

a, a:link, a:visited, a:hover, a:focus, a:active {text-decoration:none;}
a {color:#444; cursor:pointer;}

table{
	white-space: normal;
    line-height: normal;
    font-weight: normal;
    font-size: medium;
    font-variant: normal;
    font-style: normal;
    text-align: start;
    border-spacing: 0;
    border-collapse: separate;
	/* border-collapse: collapse; */
}

/* 공통 */
.hidden {z-index:100000; position:absolute; top:0; left:0; width:1px; height:1px; font-size:0; line-height:0; visibility:hidden; overflow:hidden;}
.hide {display: none;}
.msg_sound_only, .sound_only {display:inline-block !important; margin:0 !important; padding:0 !important; position:absolute; top:0; left:0; font-size:0; line-height:0; border:0 !important;  visibility:hidden !important; overflow:hidden !important; }

.ft_r {float:right;}
.clear{ clear:both; }
.clear:after { display:block; visibility:hidden; clear:both; content:""; }

.mgt0{margin-top:0px !important; }
.mgt15 {margin-top:15px;}
.mgt50{margin-top:50px;}
.mgt60{margin-top:60px;}
.mgl0 {margin-left: 0;}
.mgb100{margin-bottom:100px;}
.mgb0 {margin-bottom:0;}

.pdt0{padding-top:0px !important; }

.bold { font-weight:600; }
.bold a{ font-weight:600; }

.txt_r{text-align:right; }
.txt_l{text-align:left; }
.txt_c{text-align:center; }

.bluepoint {color:#09599c; font-weight:bold;}
.red {color:#c90101;}

.underline {text-decoration:underline;}
.ellipsis { overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.visibility{ visibility:hidden; }

/*
span.moreread { border-radius: 3px; color: #00BCD4; text-align: right; font-size: 12px; vertical-align: middle; display:table-cell; margin-right: 10px; float: right; }
span.moreread a { color: #00BCD4; }
*/

span.moreread { border-radius: 1em; background-color: #00BCD4; color:#fff; text-align: right; font-size: 1em; margin-right: 10px; float: right; padding:3px 7px; }
span.moreread a { color: #fff; }
span.moreread:before { content:"\f067"; font-family: FontAwesome; margin-right: 5px; }
span.moreread:after { clear: both; }
/* wrapper */
#wrapper {position: relative; min-width: 320px; width: 100%;}

/* popup */
.alert_win_bg{position:fixed; background:#aaa repeat; opacity: 0.7; width:100%; height:100%; z-index:50; display: none;}

/* header */
#header {position: fixed; width: 100%; background-color: #fff; z-index:10; min-width: 320px;}
#header:after {	display:block; visibility:hidden; clear:both; content:""; }

#header .gnb {position:relative; width:100%; height: 50px; border-bottom: 1px solid #eee;}
#header .adult {position: absolute; top: 12px; right: 74px; width: 25px; height: 25px; }
#header .logo {position:absolute; top:3px; left: 15px; width: 164px; height:44px; }

#header .search {position: absolute; top:15px; right: 45px; width: 20px; height: 20px;}
#header .search img{width: 20px; height: 20px; max-width: none;} /* 파이어폭스에서 깨져서; */
#header .search #search_off{ display: none; }
#header .user_menu {position: absolute; top:15px; right: 15px; width: 20px; height: 20px; }

#header .lnb {width: 100%; position: relative; height: 40px; line-height: 40px; border-bottom: 2px solid #00BCD4; box-shadow: 0px 3px 3px 0 rgba(0, 0, 0, 0.3); -webkit-box-shadow: 0px 3px 3px 0 rgba(0, 0, 0, 0.3); -moz-box-shadow: 0px 2px 2px 0 rgba(0, 0, 0, 0.3);}
#header .lnb ul {font-size: 0; margin: 0; padding: 0; list-style: none;}
#header .lnb ul li {width: 20%; display: inline-block; height: 38px; float: left; text-align:center; position: relative;}
#header .lnb ul li a {font-weight: bold; font-size: 15px; color: #424242; font-weight: bold; display: block;}
#header .lnb ul li.on { background-color:#00BCD4; position: relative; }
#header .lnb ul li.on a { color: #fff; }

#header .lnb_sub { position: relative; width: 100%; height: 38px; line-height: 38px; background-color: #fff; box-shadow: 0px 2px 2px 0 rgba(0, 0, 0, 0.2); -webkit-box-shadow: 0px 2px 2px 0 rgba(0, 0, 0, 0.2); -moz-box-shadow: 0px 2px 2px 0 rgba(0, 0, 0, 0.2); z-index: 7;}
#header .lnb_sub ul {font-size: 0; margin: 0; padding: 0;}
#header .lnb_sub ul li {display: inline-block; height: 38px; float: left; text-align: center;}
#header .lnb_sub ul li a {font-weight: bold; font-size: 14px; color: #444; display: block;}
#header .lnb_sub ul li.on { border-bottom: 3px solid #00BCD4; background-color: #E0F7FA; }

/* user_menu */
#user_menu {position: fixed; width: 60%; top: 0; right: -100%; background-color: #F5F5F5; height: 100%; z-index: 100; -webkit-box-shadow: 2px 0px 2px 0px rgba(0,0,0,0.3); -moz-box-shadow: 2px 0px 2px 0px rgba(0,0,0,0.3); box-shadow: 2px 0px 2px 0px rgba(0,0,0,0.3);}
#user_menu .user_menu_top {position:relative; height: 50px; background-color:#00BCD4; width: 100%; color: #fff; font-weight: bold; font-size:15px; line-height: 50px; padding: 0 10px;}
#user_menu .user_menu_top a.cms{ color: #fff; }
#user_menu .user_menu_top span.close {float: right; font-size: 25px; color: #BF360C;}
#user_menu .user_menu_top span.close a { color: #006064; }

#user_menu ul.logmenu {width: 100%; background-color: #fff;}
#user_menu ul.logmenu li {display:block; border-bottom:1px solid #eee; padding: 0 15px; font-size: 14px; line-height: 47px;}
#user_menu ul.logmenu li span {font-size: 18px; color:#757575; padding-right: 10px;}

#user_menu ul.login {width: 100%;}
#user_menu ul.login li {display: block; padding: 10px; padding-bottom:0;}
#user_menu ul.login li a {display: block; border:none; width: 100%; padding: 10px; border-radius: 3px; color: #fff; text-align:center;}
#user_menu ul.login li button {display: block; border:none; width: 100%; padding: 10px; border-radius: 3px; color: #fff; text-align:center;}
#user_menu ul.login li .login {background-color: #00ACC1; font-weight: bold; font-size: 14px;}
#user_menu ul.login li .regi {background-color: #26C6DA; font-weight: bold; font-size: 14px;}
#user_menu ul.login li .cs_center {background-color: #9E9E9E; font-weight: bold; font-size: 14px;}
#user_menu ul.login li.cs_nexcube {color:red;}

/* search_list */
#search_list {position: fixed; top: 50px; left: 0; width: 100%; z-index: 70; -webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.3); -moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.3); box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.3); display: none;}
#search_list .search_form {position: relative; width: 100%; background-color: #FAFAFA; padding: 5px; }
#search_list .search_form form {position: relative; border:2px solid #00BCD4; border-radius: 3px; background-color: #fff; color: #9E9E9E;}
#search_list .search_form input[type=text] {padding: 10px; width:100%; }
#search_list .search_form input[type=image] {position: absolute; top: 4px; right: 4px; width:28px; height:28px; background-color:#fff;}

.ui-autocomplete li a img{display: inline-block; width: 50px; height: 50px; vertical-align: top; margin-right:10px;}
.ui-autocomplete li a span{display: inline-block; color: #FF9800; font-size: 13px;}
.ui-autocomplete li a span strong{color:#444; font-size: 16px;}

/* container */
#wrapper .container_lnb_sub{ padding-top:130px; }
#container {
	position: relative;
    max-width: 100%;
	padding-top:91px;
}

/* container-part */
.container_bg {
	position: relative;
    background-color: #f5f5f5;
	padding: 10px 0 0px 0;
	margin-bottom: 1px;
    border-top: 1px solid #eee;
	/*
    box-shadow: 0px 1px 1px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 1px 1px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 1px 1px 0 rgba(0, 0, 0, 0.2);
	*/
}

/* footer */
#footer{
	position: relative;
}

.pop_toast {
	display: block;
	opacity: 0.8;
	position: fixed;
	padding: 7px 14px;
	background-color: #000;
	color: #fff;
	text-align: center;
	border-radius: 50em;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	z-index: 300;
}

/* 로딩 */
.pop_load {
	display: block;
	opacity: 0.8;
	position: fixed;
	width: 100%;
	height:100%;
    top: 0px;
    left: 0px;
	vertical-align: middle;
	background-color: #fff;
	color: #757575;
	text-align: center;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	z-index: 300;
}