#header {position: fixed;}

#container {background-color: #fff; max-width: 100%; padding-top: 90px;}
.con {
	width: 95%;
	margin: 0 auto;
	margin-top:20px;
	font-size: 16px;
}
h3 {
	text-align: center;
	font-size: 1.6em;
	border-bottom: 1px solid #eee;
	padding-bottom: 10px;
	color: #333;
	font-weight: 800;
}
.couponwrap {
	position: relative;
	display: block;
	width: 100%;
	border:0.6em solid #2690da;
	margin: 0 auto;
	margin-top: 0.6em;
	background-color: #fff;
	background: url(http://qi01-ie5524.ktics.co.kr/_mobile/coupon/coupon.png) no-repeat right bottom;
	padding: 1em;
	text-align: center;
}
.couponwrap .couponinput span.couponinput_title {
	font-size: 1.4em;
	font-weight: bold;
	line-height: 1.5em;
	color: #757575;
}
.couponwrap .couponinput span.couponinput_exp {
	display: block;
	font-size: 0.8em;
	color: #66bb6a;
}
.couponwrap .couponinput .coupon_text {
	position: relative;
	margin: 0 auto;
	margin-top: 10px;
	width: 100%;
	max-width: 300px;
}
.couponwrap .couponinput .coupon_text input[type="text"].coupontext {
	color: #333;
	width: 100%;
	letter-spacing: -1px;
	border:0;
	padding: 7px 0;
	border-bottom: 1px solid #bdbdbd;
	z-index: 1;
	font-size: 1.7em;
	font-weight: bold;
	background-color: transparent;
	text-align: center;
}
.couponwrap .couponinput .coupon_text input[type="text"]::placeholder {
	color: #bdbdbd;
}
.coupontext ~ .focus-border {
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 2px;
	background-color: #ec407a;
	transition: 0.3s;
}
.coupontext:focus ~ .focus-border{
	width: 100%;
	transition: 0.3s;
	left: 0;
}
.couponwrap .couponinput button {
	background-color: #26c6da;
	color: #fff;
	border:none;
	margin-top: 15px;
	font-size: 1.1em;
	font-weight: bold;
	padding: 5px 15px;
	border-radius: 3px;
}

.couponinput input[type=submit] {
	background-color: #26c6da;
	color: #fff;
	border:none;
	margin-top: 15px;
	font-size: 1.1em;
	font-weight: bold;
	padding: 5px 15px;
	border-radius: 3px;
}

.list_area {
	position: relative;
	display: block;
	width: 100%;
	padding: 20px 0;
 }
span.list_title {
	font-size: 1.25em;
	font-weight: 800;
}

.list_area table {
	width: 100%;
	margin-top: 10px;
	border-top: 2px solid #b2ebf2;
	border-bottom: 2px solid #b2ebf2;
	font-size: 1em;
}
.list_area table th {
	background-color: #f5f5f5;
	padding: 10px;
	border-bottom: 2px solid #e0e0e0;
}
.list_area table td {
	padding: 10px 5px;
	border-bottom: 1px solid #e0e0e0;
	text-align: center;
}
.list_area table td button.active { background-color: #26c6da; padding: 0.5em 1em; color: #fff; border:none; border-radius: 3px; font-size: 0.9em; }
.list_area table td button.non_active { background-color: #9E9E9E; padding: 0.5em 1em; color: #fff; border:none; border-radius: 3px; font-size: 0.9em; cursor: default;}

.list_area table tbody tr:last-child td { border-bottom: 0; }
.list_area table tbody tr.rate td {
	text-decoration: line-through;
}
.list_area table tbody tr.rate td button { background-color: #9E9E9E; }
.list_area table tbody tr.rate td ul li, .list_area table tbody tr.rate td ul li span { color: #9e9e9e; }
.list_area table tbody td ul li {
	width: 100%;
	text-align: left;
	padding:3px 10px;
	font-size: 0.9em;
	color: #333;
}
.list_area table tbody td ul li:first-child { font-weight: bold; font-size: 1em; }
.list_area table tbody td ul li:first-child span { color: #26c6da; }
.list_area table tbody td ul li:last-child { color: #757575; }

.used table td { background-color: #F5F5F5; }
.used table tbody td ul li, .used table tbody td ul li:first-child span { color: #9e9e9e; }

.list_paging {
	margin: 0 auto;
    margin-top: 10px;
    width: 100%;
    text-align: center;
}
.list_paging ul { display: block; }
.list_paging ul li {
	display: inline-block;
	font-size: 20px;
	border:3px solid #e0e0e0;
	color: #9e9e9e;
	padding: 2px 10px;
}

.choice_wrap { width:100%; max-width: 600px; margin: 0 auto; padding : 20px; font-size: 16px; text-align: center; }

.choice_wrap h3 { border-bottom: 0; }



.choice_wrap ol.coupon { border-top:2px solid #B2EBF2; border-bottom: 2px solid #B2EBF2; margin-top: 10px; }
.choice_wrap ol.coupon li {  border-bottom: 1px solid #eee;  }
.choice_wrap ol.coupon li .coupon_radio { display: table; width: 100%; padding: 15px 10px; }
.coupon_check input[type="radio"] {display: none;}
.coupon_check span:before {font-family: "FontAwesome"; font-style: normal;content:'\f05d'; margin-right: 5px; font-size: 1.3em; color: #E0E0E0; line-height: 100%; }
.coupon_check input[type="radio"]:checked ~ span:before {content: '\f05d'; color: #00ACC1;}

.choice_wrap ol.coupon li:hover { background-color: #f5f5f5; }
.choice_wrap ol.coupon li:last-child { border:none; }
.choice_wrap ol.coupon li div { display: table-cell; padding: 0 5px; }


.choice_wrap ol.warn { margin: 10px 0 0 20px; }
.choice_wrap ol.warn li { width: 100%; text-align: left; font-size: 0.9em; list-style: disc; }
.choice_wrap button { border:none; background-color: #26c6da; padding: 10px 20px; font-size: 1.3em; color: #fff; border-radius: 3px; margin-top: 10px; }
.choice_wrap button.close { background-color:#9E9E9E }