/* Notice */
.notice_board { margin-top: 10px; width: 100%; padding: 5px 10px; margin-bottom: 30px; }
.notice_board table { width: 100%; font-size: 15px; border-top: 2px solid #9E9E9E; border-bottom: 2px solid #9E9E9E; }
.notice_board table th { padding: 15px 10px; background-color:#F5F5F5; border-bottom: 1px solid #eee; }
.notice_board table td { padding: 15px 10px; border-bottom: 1px solid #eee; }
.notice_board table tr.bordernone td { border-bottom: none; }
.notice_board table td.notice_board_title { }
.notice_board table td.notice_board_date { width: 100px; font-size: 13px; text-align: center; }
.notice_board table td span { color: #00BCD4; }

.notice_view { width: 100%; max-width: 100%; margin-top:5px; padding: 5px 10px; overflow-x:hidden; }
.notice_view table { width: 100%; font-size: 14px; border-top: 2px solid #9e9e9e; border-bottom: 2px solid #9e9e9e; }
.notice_view table th { padding: 10px; border-bottom: 1px solid #eee; font-size: 15px; }
.notice_view table th span { color: #00BCD4; }
.notice_view table td { padding: 15px 10px; line-height: 21px; }
.notice_view table td img { display:block; width: 100%; max-width: 720px; margin-bottom: 15px; text-align: center; }

.notice_back { width: 100%; text-align: center; padding: 5px 10px; margin-top: 10px; margin-bottom: 10px; }
.notice_back a { border:1px solid #00BCD4; color: #00BCD4; padding: 7px 20px; border-radius: 3px; }

/* FAQ */
.faq_list { width: 100%; padding: 5px 10px; }
.faq_list dl { width: 100%; }
.faq_list dl dt { font-size: 15px; color: #444; font-weight: bold; padding:15px; border-bottom: 1px solid #eee; }
.faq_list dl dt i { color: #00BCD4; font-size: 20px; }
.faq_list dl dd { padding:15px; font-size: 13px; line-height: 21px; display: none; border-bottom: 1px solid #eee; background-color: #fafafa; }
.faq_list dl dt.currunt { background-color: #E0F7FA; }
.faq_list dl dt.currunt dd { display: block; }

/* 1:1 문의 */
.qna_write { position: relative; width: 100%; padding: 0 10px; }
.qna_write a { display: block; margin-top:10px; width: 100%; text-align: center; color: #fff; background-color: #00BCD4; border:none; font-weight: bold; font-size: 15px; padding: 10px 0; border-radius: 3px; }
.qna_list { position:relative; margin-top: 10px; width: 100%; padding: 0 10px 5px 10px; }
.qna_list dl { width: 100%; border-top: 1px solid #eee; }
.qna_list dl dt { font-size: 15px; color: #444; font-weight: bold; padding:15px; border-bottom: 1px solid #eee; }
.qna_list dl dt ul {display: table; width: 100%;}
.qna_list dl dt ul li { vertical-align: middle; display: table-cell; }
.qna_list dl dt ul li:first-child { width: calc(100% - 70px); }
.qna_list dl dt ul li:last-child { font-size: 13px; width: 70px; text-align: center; color: #aaa; }
.qna_list dl dt ul li span { color:#E53935 }
.qna_list dl dt i { color: #00BCD4; font-size: 20px; }
.qna_list dl dd { font-size: 13px; line-height: 21px; display: none; border-bottom: 1px solid #eee; }
.qna_list dl dd ol { width: 100%; }
.qna_list dl dd ol li { padding: 15px; }
.qna_list dl dd ol li span { display: block; font-size: 16px; font-weight: bold; color: #00BCD4; }
.qna_list dl dd ol li:last-child { border-top: 1px solid #eee; background-color: #fafafa; }
.qna_list dl dt.currunt { background-color: #e0f7fa; }
.qna_list dl dt.currunt dd { display: block; }
.hidden { display: none; }

.qnaw_form { position: relative; margin-top: 10px; width: 100%; padding: 0 10px 5px 10px;  font-size: 0;}

.qnaw_select { width: 100%; }
.qnaw_select ul {}
.qnaw_select_list { display: none; }
.qnaw_select_1 { font-size: 15px; display: block; padding: 10px 20px; background-color: #f5f5f5; border:1px solid #00BCD4; border-radius: 3px; }
.currunt { border-radius: 3px 3px 0 0; border-bottom: 1px solid #e0e0e0 !important; }
.qnaw_select_1:after { content:"\f0d7"; font-size: 1em; color: #00BCD4; z-index: 6; font-family: FontAwesome; position: absolute; top: 10px; right: 20px; }

.qnaw_select_2, .qnaw_select_3, .qnaw_select_4, .qnaw_select_5 { font-size: 15px; display: block; padding: 10px 20px; background-color: #f5f5f5; border-left:1px solid #00BCD4; border-right:1px solid #00BCD4; border-bottom: 1px solid #e0e0e0; }
.qnaw_select_6 { font-size: 15px; display: block; padding: 10px 20px; background-color: #f5f5f5; border-left:1px solid #00BCD4; border-right: 1px solid #00BCD4; border-bottom: 1px solid #00BCD4; border-radius: 0 0 3px 3px; }

.qnaw_form input[type=text] { width: 100%; padding: 10px 20px; margin: 8px 0; box-sizing: border-box; border:1px solid #e0e0e0; transition: .5s; outline: none; border-radius: 3px; font-size: 16px; }
.qnaw_form input[type=text]:focus { border: 1px solid #00BCD4; }
.qnaw_form textarea { width: 100%; height: 350px; padding: 10px 20px; border: 1px solid #e0e0e0; border-radius: 3px; font-size: 16px; resize: none; outline: none; transition: border,.5s; }
.qnaw_form textarea:focus { border: 1px solid #00BCD4; }

.qnaw_form .csask input[type=submit]{display: block; float:left;}
.qnaw_form .csask a {display: block; float:right;}
.qnaw_form input[type=submit] { width: calc(50% - 5px); display: inline-block; background-color: #00BCD4; font-weight: bold; font-size: 15px; color: #fff; padding: 10px; border:none; border-radius: 3px; margin-top: 10px; }
.qnaw_form a { width: calc(50% - 5px); display: inline-block; background-color: #9E9E9E; font-weight: bold; color: #fff; font-size: 15px; padding: 10px; border:none; border-radius: 3px; margin-left: 10px; margin-top: 10px; text-align: center;}
