
/* login */
.login_box {position:relative; width: 70%; margin: 0 auto; min-height: 100%; text-align: center;}
.login_box h5 { padding-top: 30px; font-size: 18px; font-weight: bold; color: #00BCD4;}
.login_box fieldset {border:none; margin-top: 50px;}
.login_box fieldset form { display: block; }

.login_box .form_field {margin-bottom: 40px; position: relative;}
.login_box .form_field_text { background:0 0; border:none; border-bottom: 1px solid #dbdbdb; width: 100%; padding: 10px; font-size: 14px; color: #9e9e9e;}
.login_box label {color: #444; font-size: 14px; font-weight: bold;}
.login_box .form_field_text + label {display: block; position: absolute; top: 0; left: 0; line-height: 37px; transition: .2s ease-out;}
.login_box .form_field_text:focus + label {transform:translateY(-90%);-webkit-transform:translateY(-90%); font-style:normal; font-weight:normal; font-size: 13px;}
.login_box .form_field_text:focus {border-bottom: 2px solid #00BCD4; color: #444; padding-bottom: 9px;}
.login_box .completed {transform:translateY(-90%);-webkit-transform:translateY(-90%); font-style:normal; font-weight:700; font-size: 13px;}
.login_box input[type=checkbox] {float: left;}
.login_box input[type=checkbox] + label {float: left; padding: 0 10px 0 5px; font-size: 13px;}
.login_box input[type=checkbox] + label::after {clear: both;}
.login_box input[type=submit] {margin-top: 10px; width: 100%; border-radius: 3px; border:none; background-color: #00BCD4; color: #fff; font-weight: bold; font-size: 14px; padding: 10px; cursor: pointer;}
.login_box span.error {font-size: 12px; color:#ff5a59; visibility: hidden; position: absolute; top: 40px; left: 0;}
.login_box span.fail {font-size: 12px; color:#ff5a59; position: absolute; top: 40px; left: 0;}
.login_box span.hidden {visibility: hidden;}

.login_box .login_legi { margin-top: 20px; font-size: 14px; }
.login_box .login_legi span {color: #00BCD4;}

.login_box .login_or {width:100%; display: inline-block; margin-top: 20px; width: 100%;}
.login_box .login_or ul {font-size:0; width: 100%;}
.login_box .login_or li {font-size: 13px; width:100%; display: inline-block; border-radius: 2px; float: left; font-weight: bold; margin-top: 5px; line-height: 21px; vertical-align: middle;}
.login_box .login_or li a {display:block; padding: 7px; color: #fff;}
.login_box .login_or li:nth-child(1) {background-color: #48649f;}
.login_box .login_or li:nth-child(2) {background-color: #1da1f2;}
.login_box .login_or li:nth-child(3) {background-color: #ffeb00;}
.login_box .login_or li:nth-child(3) a {color: #3c1e1e;}
.login_box .login_or li:nth-child(4) {background-color: #2db400;}
.login_box .login_or li:nth-child(5) {background-color: #477dea;}
.login_box .login_or li i { font-size: 17px; }

.login_box .login_help {margin-top: 30px;}
.login_box .login_help a {text-decoration: underline; color: #00BCD4; font-weight: bold;}


/* join */
.login_box .regi_ck {position:relative; text-align: left; display: block;}
.login_box .regi_agree, .regi_terms, .regi_pinfo, .regi_event {padding-bottom:5px; font-size: 16px; color:#666; position: relative;}
.login_box .regi_agree span, .regi_terms span, .regi_pinfo span, .regi_event span {line-height: 18px; display: inline-block;}
.login_box .regi_agree span {font-weight: bold;}
.login_box .regi_terms span, .regi_pinfo span, .regi_event span {font-weight: 100; }

.login_box .regi_agree input[type="checkbox"], .regi_terms input[type="checkbox"], .regi_pinfo input[type="checkbox"], .regi_event input[type="checkbox"] {display: none;}
.login_box .regi_agree span:before, .regi_terms span:before, .regi_pinfo span:before, .regi_event span:before {font-family: "FontAwesome"; font-style: normal; width: 1em; height: 1em; content:'\f1db'; line-height:30px; margin-right: .3em; font-size: 18px;}
.regi_agree span, .regi_terms span, .regi_pinfo span, .regi_event span { min-width: 170px; }
.login_box .regi_agree .checked, .regi_terms .checked, .regi_pinfo .checked, .regi_event .checked {display: none;}
.login_box .regi_agree input[type="checkbox"]:checked ~ span:before {content: '\f058'; color: #00BCD4; font-weight: bold; text-shadow:1px 1px #eee;}
.login_box .regi_terms input[type="checkbox"]:checked ~ span:before {content: '\f058'; color: #00BCD4; font-weight: bold; text-shadow:1px 1px #eee;}
.login_box .regi_pinfo input[type="checkbox"]:checked ~ span:before {content: '\f058'; color: #00BCD4; font-weight: bold; text-shadow:1px 1px #eee;}
.login_box .regi_event input[type="checkbox"]:checked ~ span:before {content: '\f058'; color: #00BCD4; font-weight: bold; text-shadow:1px 1px #eee;}
.login_box .regi_detail {display: inline-block; right: 0; margin-top: 10px; text-decoration: underline; color: #00838F; float: right;}
.login_box .regi_detail:after { clear: both; }


/* joinup */
.joinup_box {position:relative; width: 70%; margin: 50px auto 0; min-height: 100%; text-align: center;}
.joinup_box h5 { padding-top: 30px; font-size: 18px; font-weight: bold; color: #00BCD4;}

.joinup_box .form_field {margin-bottom: 40px; position: relative;}
.joinup_box .form_field_text { background:0 0; border:none; border-bottom: 1px solid #dbdbdb; width: 100%; padding: 10px; font-size: 14px; color: #9e9e9e;  text-align: left;}
.joinup_box label {color: #444; font-size: 14px; font-weight: bold;}
.joinup_box .form_field_text + label {display: block; position: absolute; top: 0; left: 0; line-height: 37px; transition: .2s ease-out;}
.joinup_box .form_field_text + label {transform:translateY(-90%);-webkit-transform:translateY(-90%); font-style:normal; font-weight:normal; font-size: 13px;}
.joinup_box .form_field_text {border-bottom: 2px solid #00BCD4; color: #9e9e9e; padding-bottom: 9px;}
.joinup_box .completed {transform:translateY(-90%);-webkit-transform:translateY(-90%); font-style:normal; font-weight:700; font-size: 13px;}
.joinup_box input[type=checkbox] {float: left;}
.joinup_box input[type=checkbox] + label {float: left; padding: 0 10px 0 5px; font-size: 13px;}
.joinup_box input[type=checkbox] + label::after {clear: both;}
.joinup_box input[type=submit] {margin-top: 10px; width: 100%; border-radius: 3px; border:none; background-color: #00BCD4; color: #fff; font-weight: bold; font-size: 14px; padding: 10px; cursor: pointer;}
.joinup_box span.error {font-size: 12px; color:#ff5a59; visibility: hidden; position: absolute; top: 40px; left: 0;}
.joinup_box span.fail {font-size: 12px; color:#ff5a59; position: absolute; top: 40px; left: 0;}
.joinup_box span.hidden {visibility: hidden;}

.joinup_box .login_legi { margin-top: 20px; font-size: 14px; }
.joinup_box .login_legi span {color: #00BCD4;}

.joinup_box .joinup_link {width:100%; display: inline-block; margin-top: 20px; width: 100%;}
.joinup_box .joinup_link ul {font-size:0; width: 100%;}
.joinup_box .joinup_link li {font-size: 13px; width:100%; display: inline-block; border-radius: 2px; float: left; font-weight: bold; margin-top: 5px; line-height: 21px; vertical-align: middle;}
.joinup_box .joinup_link li a {display:block; padding: 7px; color: #fff;}
.joinup_box .joinup_link li:nth-child(1) {background-color: #007DC6;}
.joinup_box .joinup_link li:nth-child(2) {background-color: #00BCD4;}
.joinup_box .joinup_link li i { font-size: 17px; }

.joinup_box .login_help {margin-top: 30px;}
.joinup_box .login_help a {text-decoration: underline; color: #00BCD4; font-weight: bold;}


/* certify */
.certify_box { position:relative; width: 100%; }
.certify_box .adult_alart { position:relative; padding: 20px; width: 80%; border-radius: 10px; border:2px solid #00BCD4; margin: 0 auto; margin-top:20px; overflow:hidden; }
.certify_box .adult_mark { width: 100px; margin: 0 auto; position: relative; }
.certify_box .adult_mark img {width: 100%; height: auto;}
.certify_box .adult_warn { position:relative; margin-top: 10px; font-size: 14px; color: #444; line-height: 21px; }
.certify_box .adult_out { position:relative; margin-top: 10px; width: 100%; text-align:center; }
.certify_box .adult_out a {display: block; padding: 10px 20px; width: 100%; color: #4DD0E1; font-weight: bold; font-size: 13px; border:1px solid #4DD0E1; border-radius: 3px; }
.certify_box .adult_confirm { position:relative; margin-top:10px; width: 100%; text-align:center; }
.certify_box .adult_confirm a {display: block; padding: 10px 20px; width:100%; color: #fff; font-weight: bold; font-size: 14px; background-color: #00BCD4; border:none; border-radius: 3px; }
.certify_box .kcp_cert_bg {margin: auto;}
.certify_box .kcp_cert_bg_mobile {width:320px;}
.certify_box .kcp_cert_bg_px {width:400px;}

/* findidpw certify  */
.find_idpw { width: 100%; }
.find_idpw h5 { padding-top: 30px; font-size: 18px; font-weight: bold; color: #00BCD4; text-align: center;}
.find_idpw .idpw_btnwrap { width: 90%; position: relative; margin: 0 auto; }
.find_idpw .idpw_head { margin-top: 20px; }
.find_idpw .idpw_kcp { width: calc(50% - 5px); /* display: inline-block; */  display:none; border:1px solid #B2EBF2; /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f5f5f5+100 */ background: rgb(255,255,255); background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(245,245,245,1) 100%); background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(245,245,245,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5f5f5',GradientType=0 ); color: #666; box-shadow: inset 0 -1px 0 0 #d5d5d5; border-radius: 3px;}
.find_idpw .idpw_kcp a { display: block; width: 100%; text-align: center; font-size: 13px; padding: 10px 0 15px 0; color: #616161; }
.find_idpw .idpw_kcp a i { font-size: 4em; }

.find_idpw .idpw_email { /* width: calc(50% - 5px); */ width: 100%; display: inline-block; border:1px solid #B2EBF2; /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f5f5f5+100 */ background: rgb(255,255,255); background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(245,245,245,1) 100%); background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(245,245,245,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5f5f5',GradientType=0 ); color: #666; box-shadow: inset 0 -1px 0 0 #d5d5d5; border-radius: 3px; margin-left: 5px;}
.find_idpw .idpw_email a { display: block; width: 100%; text-align: center; font-size: 13px; padding: 20px 0 15px 0; color: #616161; }
.find_idpw .idpw_email a i { font-size: 2.5em; padding-bottom: 10px; }

.find_idpw .idpw_emailtxt { width: 100%; position: relative; margin-top: 10px; display: none; }
.find_idpw .idpw_emailtxt input[type=text] { width: calc(100% - 140px); border:2px solid #E0E0E0; color: #757575; padding: 10px 15px; border-radius: 3px; outline:none; }
.find_idpw .idpw_emailtxt input[type=text]:focus { border:2px solid #00BCD4; }
.find_idpw .idpw_emailtxt input[type=submit] { width: 130px; display: inline-block; color: #fff; border-radius: 3px; background-color: #00BCD4; font-weight: bold; padding: 12px 0; border:none }

.find_idpw .idpw_exp { text-align:left; }
.find_idpw .idpw_exp ol {margin-top: 10px; margin-left: 20px;}
.find_idpw .idpw_exp ol li { list-style: disc; padding: 3px 0; font-size: 11px; color: #757575; }

.certify_box .result_idpw { width: 90%; margin: 10px auto; display:none; }
.certify_box .result_idpw h5 { padding-top: 30px; font-size: 18px; font-weight: bold; color: #00BCD4; text-align: center;}
.certify_box .result_idpw table { width: 100%; margin-top: 20px; border:1px solid #FFAB91; border-bottom: none; }
.certify_box .result_idpw table th { background-color: #FF7043; color: #fff; font-size: 15px; padding: 10px; width: 100px; border-bottom: 1px solid #FFAB91; }
.certify_box .result_idpw table td { border-bottom: 1px solid #FFAB91; font-size: 14px; padding: 10px 15px; }
.certify_box .result_idpw table td ul li label { font-weight: bold; }
.certify_box .result_idpw table td.pw_input label { display: block; font-size: 13px; }
.certify_box .result_idpw table td.pw_input input[type=password] { border:1px solid #00BCD4; padding: 5px 10px; border-radius: 3px; margin: 10px 0; width: 100%; outline: none; }
.certify_box .result_idpw table td.pw_input input[type=submit] { display: block; width: 100%; border-radius: 3px; background-color: #00BCD4; color: #fff; font-weight: bold; padding: 10px 0; border:none; }


.ctmyfindpw_direct .result_idpw { width: 90%; margin: 10px auto; }
.ctmyfindpw_direct .result_idpw h5 { padding-top: 30px; font-size: 18px; font-weight: bold; color: #00BCD4; text-align: center;}
.ctmyfindpw_direct .result_idpw table { width: 100%; margin-top: 20px; border:1px solid #80DEEA; border-bottom: none; }
.ctmyfindpw_direct .result_idpw table th { background-color: #26C6DA; color: #fff; font-size: 15px; padding: 10px; width: 100px; border-bottom: 1px solid #80DEEA; }
.ctmyfindpw_direct .result_idpw table td { border-bottom: 1px solid #80DEEA; font-size: 14px; padding: 10px 15px; }
.ctmyfindpw_direct .result_idpw table td ul li label { font-weight: bold; }
.ctmyfindpw_direct .result_idpw table td.pw_input label { display: block; font-size: 13px; }
.ctmyfindpw_direct .result_idpw table td.pw_input input[type=password] { border:1px solid #00BCD4; padding: 5px 10px; border-radius: 3px; margin: 10px 0; width: 100%; outline: none; }
.ctmyfindpw_direct .result_idpw table td.pw_input input[type=submit] { display: block; width: 100%; border-radius: 3px; background-color: #00BCD4; color: #fff; font-weight: bold; padding: 10px 0; border:none; }




/* 회원가입 SNS */
.login_box button {margin-top: 10px; width: 100%; border-radius: 3px; border:none; background-color: #00BCD4; color: #fff; font-weight: bold; font-size: 14px; padding: 10px; cursor: pointer;}
.login_box button.login_no{background-color: #fff; border: 1px solid #00BCD4; color: #00BCD4;}