.evt-container {
    position: relative;
    width: 100%;
    background-color: #dfc38c;
}
.evt-title {
    position: relative;
    width: 100%;
}
.evt-title img {
    width: 100%;
    height: auto;
}
.evt-header {
    position: relative;
    width: 100%;
}
.evt-header img {
    width: 100%;
    height: auto;
}
.evt-insp {
    position: relative;
    width: 100%;
}
.evt-insp img {
    width: 100%;
    height: auto;
}
.evt-reply {
    position: relative;
    width: 100%;
    padding: 2%;
    font-size: 16px;
}
/* 추가 */
.evt-reply .reply_text {
    padding-bottom: 10px;
}
.evt-reply .reply_byte {
    position: relative;
    width: 100%;
    font-size: 0.8em;
    color: #b28a8a;
    padding: 0 15px;
}
.evt-reply .reply_byte span {
    color: #661616;
}
.evt-reply .reply_input {
    background-color: #fff;
    border-radius: 5px;
    padding: 0.5em;
    margin-top: 10px;
}
.evt-reply .reply_input textarea {
    border: 0;
    resize: none;
    width: calc(100% - 75px);
    height: 61px;
    font-size: 1em;
    color: #661616;
    padding: 10px;
}
.evt-reply .reply_input textarea::-webkit-input-placeholder {
    color: #b28a8a;
}
.evt-reply .reply_input textarea:-moz-placeholder { /* Firefox 18- */
    color: #b28a8a;
}
.evt-reply .reply_input textarea::-moz-placeholder {  /* Firefox 19+ */
    color: #b28a8a;
}
.evt-reply .reply_input textarea:-ms-input-placeholder {
    color: #b28a8a;
}
.evt-reply .reply_input input[type="image"] {
    width: 68px;
    border-radius: 5px;
    vertical-align: top;
    border:0;
}
.evt-reply .reply_img {
    position: relative;
    width: 100%;
}
.evt-reply .reply_list {
    background-color: #f5eddd;
    border-radius: 5px;
    color: #661616;
    padding: 1em;
    margin-bottom: 20px;
}
.evt-reply .reply_list ol {
    position: relative;
}
.evt-reply .reply_list ol>li {
    padding-bottom: 1.2em;
}
.evt-reply .reply_list ol>li:last-child { padding-bottom: 0; }
.evt-reply .reply_list ol li ul>li {}
.evt-reply .reply_list ol li ul>li:first-child:after {
    content: '';
    display: block;
    clear: both;
}
.evt-reply .reply_list ol li ul>li .reply_name {
    font-size: 0.9em;
    vertical-align: middle;
    font-weight: bold;
    width: 70%;
    float: left;
}
.evt-reply .reply_list ol li ul>li .reply_name img {
    width: 26px;
}
.evt-reply .reply_list ol li ul>li .reply_date {
    float: right;
    font-size: 0.8em;
    line-height: 26px;
    color: #b28a8a;
    width: 30%;
    text-align: right;
}
.evt-reply .reply_list ol li ul>li:last-child:before {
    content: '';
    position: absolute;
    display: block;
    background-color: #fff;
    width: 15px;
    height:15px;
    transform: rotate(45deg);
    top: -6px;
    left: 30px;
    z-index: 2;
}
.evt-reply .reply_list ol li ul>li:last-child {
    position: relative;
    margin-top: 10px;
    border-radius: 5px;
    background-color: #fff;
    padding: 0.8em;
}

/* Paging */
.evt-reply .reply_paging {
    text-align: center;
    margin-top: 30px;
}
.evt-reply .reply_paging ul {
    display: table;
    margin: 0 auto;
}
.evt-reply .reply_paging ul li {
    display: table-cell;
    font-size: 1em;
    vertical-align: middle;
    padding: 0 10px;

}
.evt-reply .reply_paging ul li a {
    display: block;
    color: #661616;
}
.evt-reply .reply_paging ul li a:hover, .evt-reply .reply_paging ul li a:focus {
    font-weight: bold;
}
.evt-reply .reply_paging ul li i {
    font-size: 25px;
}
.evt-reply .reply_paging ul li.end i {
    color: #bdbdbd;
}

.evt-warn {
    position: relative;
    width: 100%;
}
.evt-warn img {
    width: 100%;
    height: auto;
}