.evt-container {
	position: relative;
	width: 100%;
	background-color: #2d2d3b;
}

.evt-header {
	position: relative;
	width: 100%;
}
.evt-header img {
	width: 100%;
	height: auto;
}
.evt-content-wrap {
	position: relative;
	width: 100%;
	padding-bottom: 5%;
}
.evt-content {
	position: relative;
	width: 85%;
	background-color: rgba(255,255,255,.5);
	margin: 0 auto;
	padding: 5%;
	text-align: center;
}
.evt-content img {
	width: 100%;
	height: auto;
}
.evt-content .coupon {
	display: table;
	width: 100%;
	padding: 3vw 0;
	vertical-align: middle;
	font-size: 0;
	max-height: 550px;
}
.evt-content .coupon:after {
	content: '';
	display: block;
	clear: both;
}
.evt-content .coupon .couponimg {
	display: table-cell;
	width: 70%;
}
.evt-content .coupon .couponimg img {
	width: 100%;
	height: auto;
}
.evt-content .coupon .couponpara {
	display: table-cell;
	width: 30%;
	font-size: 16px;
	vertical-align: middle;
	padding: 3vw 0 0 0.5rem;
}
.evt-content .coupon .couponpara ul {
	width: 100%;
}
.evt-content .coupon .couponpara ul li {
	display: block;
	font-size: 3vw;
	color: #eb4f75;
}
.evt-content .coupon .couponpara ul li:first-child {
	background-color: rgba(255,156,188,.3);
	border-radius: 3px;
	margin-bottom: 0.5rem;
	padding: 0.7vw 0;
}
.evt-content .coupon .couponpara ul li span {
	color: #654fbd;
	font-size: 5vw;
	display: block;
	font-weight: 700;
}
.evt-content .coupon .couponpara ul li button {
	background-color:#eb4f75;
	font-weight: 700;
	border:0;
	border-radius: 3px;
	width: 100%;
	color: #fff;
	height: 100%;
	font-size: 3vw;
	padding: 1vw;
}
.evt-content .warning {
	position: relative;
	width: 100%;
	padding: 3vw 0;
	margin-top: 5%;
}

.Modalalert { overflow:hidden;}
.ModalBackground {
	position: absolute;
	width: 100%;
	height: 100vh;
	background-color: rgba(0,0,0,.8);
	z-index: 100;
	display: none;
}
.ModalPopup {
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -43%;
	width: 86%;
	background-color: #f5d7d7;
	z-index: 101;
	border-radius: 3px;
	font-size: 16px;
	display: none;
	border:1px solid rgba(255,255,255,.3);
}
.ModalPopup .p_content { padding: 20px; }
.ModalPopup .p_content .p_coupon {
	position: relative;
	max-width: 320px;
	height: 148px;
	margin: 0 auto;
}
.ModalPopup .p_content .p_coupon p {
	color: #eb4f75;
	font-weight: bold;
	letter-spacing: -0.1em;
	line-height: 1;
}
.ModalPopup .p_content .p_coupon span.coupon_value {
	color: #eb4f75;
	font-weight: bold;
	letter-spacing: -0.1em;
}
.ModalPopup .p_content .p_coupon span.coupon_time {
	display: inline-block;
	background-color: #eb4f75;
	color: #fff;
	text-align: left;
	border-radius: 1em;
}
.ModalPopup .p_content .p_get {
	position: relative;
	display: block;
	margin-top: 10px;
	text-align: center;
	font-weight: bold;
	color: #333;
}
.ModalPopup .p_content .p_coupon span.coupon_time span.coupon_value02 {
	font-weight: bold;
	color: #adf5ff;
}
.ModalPopup .p_content .p_get span {
	color: #fee065;
	letter-spacing: -0.1em;
}
.ModalPopup .p_content .p_get span {
	color: #654fbd;
	letter-spacing: -0.1em;
}
.ModalPopup .p_content .p_exp {
	position: relative;
	display: block;
	margin-top: 10px;
	text-align: center;
}
.ModalPopup .p_content .p_exp ol {
	position: relative;
	width: 100%;
	margin: 0 15px;
}
.ModalPopup .p_content .p_exp ol li {
	width: 100%;
	list-style: disc;
	color: #666;
	text-align: left;
}
.ModalPopup .p_content ul {
	position: relative;
	width: 100%;
	font-size: 0;
}
.ModalPopup .p_content ul li {
	display: inline-block;
	width: 50%;
	font-size: 16px;
}
.ModalPopup button {
	border:none;
	border-radius: 3px;
	background-color:#eb4f75;
	font-weight: bold;
	width: 80%;
	color: #fff;
}
.ModalPopup .p_content ul li:last-child { text-align: right; }
.ModalPopup button.p_buy, .ModalPopup button.p_couponpage { width: 95%; }
.ModalClose {
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	color: #eb4f75;
	position: absolute;
	top: -50px;
	right: 0px;
	cursor: pointer;
}
.ModalClose i { font-size: 3em; }


/* Mobile Device */
@media all and (max-width: 400px) {
	.ModalPopup .p_content .p_coupon {
		max-width: 320px;
		height: 130px;
		padding:8vw 0 0 19vw;
	}
	.ModalPopup .p_content .p_coupon p {
		font-size: 10vw;
	}
	.ModalPopup .p_content .p_coupon span.coupon_value {
		font-size: 18vw;
	}
	.ModalPopup .p_content .p_coupon span.coupon_time {
		font-size: 2.5vw;
		padding: 0.5vw 2.5vw;
	}
	.ModalPopup .p_content .p_get {
		font-size: 5vw;
	}

	.ModalPopup .p_content .p_get span {
		font-size: 8vw;
	}
	.ModalPopup .p_content .p_exp ol {
		margin-bottom:1.5vw;
	}
	.ModalPopup .p_content .p_exp ol li {
		padding-bottom: 1vw;
		font-size: 3.6vw;
	}

	.ModalPopup .p_content ul {
		margin-top: 1vw;
	}
	.ModalPopup button {
		margin-top: 2vw;
		font-size: 5vw;
		padding: 2vw 0;
	}
}
@media all and (min-width: 401px) and (max-width: 768px) {
	.ModalPopup .p_content .p_coupon {
		padding:8vw 0 0 20vw;
		height: 148px;
	}
	.ModalPopup .p_content .p_coupon p {
		font-size: 10vw;
	}
	.ModalPopup .p_content .p_coupon span.coupon_value {
		font-size: 18vw;
	}
	.ModalPopup .p_content .p_coupon span.coupon_time {
		font-size: 2.5vw;
		padding: 0.5vw 2.5vw;
	}
	.ModalPopup .p_content .p_get {
		font-size: 5vw;
	}

	.ModalPopup .p_content .p_get span {
		font-size: 8vw;
	}
	.ModalPopup .p_content .p_exp ol {
		margin-bottom:1vw;
	}
	.ModalPopup .p_content .p_exp ol li {
		padding-bottom: 1vw;
		font-size: 3.6vw;
	}

	.ModalPopup .p_content ul {
		margin-top: 1vw;
	}
	.ModalPopup button {
		margin-top: 2vw;
		font-size: 5vw;
		padding: 2vw 0;
	}

}

@media all and (min-width:768px) and (max-width:1280px) {
	.ModalPopup {
		width: 686px;
		margin-left: -343px;
	}
	.ModalPopup .p_content .p_coupon {
		padding:35px 0 0 85px;
		height: 148px;
	}
	.ModalPopup .p_content .p_coupon p {
		font-size: 5vw;
	}
	.ModalPopup .p_content .p_coupon span.coupon_value {
		font-size: 6vw;
	}
	.ModalPopup .p_content .p_coupon span.coupon_time {
		font-size: 12px;
		padding: 3px 15px;
	}
	.ModalPopup .p_content .p_get {
		font-size: 25px;
	}

	.ModalPopup .p_content .p_get span {
		font-size: 35px;
	}
	.ModalPopup .p_content .p_exp ol {
		margin-bottom:1vw;
	}
	.ModalPopup .p_content .p_exp ol li {
		padding-bottom: 1vw;
		font-size: 16px;
	}

	.ModalPopup .p_content ul {
		margin-top: 1vw;
	}
	.ModalPopup button {
		margin-top: 2vw;
		font-size: 20px;
		padding: 10px 0;
	}

}

.evt-content .coupon .couponpara ul li button.nochk {
	background-color: #9E9E9E;
}