@import url(https://cdn.rawgit.com/kattergil/NotoSerifKR-Web/76eb9ebf/stylesheet/NotoSerif-Web.css);


.evt-container > * { margin: 0; padding: 0; font-family: "Noto Serif KR", serif; outline: none; box-sizing: border-box; }
.evt-container {
	margin: 0; padding: 0; 
	outline: none; 
	box-sizing: border-box;
	position: relative;
	width: 100%;
	font-family: "Noto Serif KR", serif;
	color: #000;
	font-size: 16px;
}
.evt-header {
	position: relative;
	width: 100%;
	padding: 80px 0 70px 0;
	text-align: center;
}
.evt-header .header_btn {
	position: relative;
	width: 100%;
	margin-top: 95px;
	padding-bottom: 130px;
}

.evt-present {
	position: relative;
	width: 100%;
	text-align: center;
}
.evt-present img {
	margin: 50px 0;
}
.evt-present:before {
	position: relative;
	content: '';
	display: block;
	width: 100%;
	height: 2px;
}

.evt-input {
	position: relative;
	width: 100%;
	text-align: center;
	padding: 70px 0;
}
.evt-input:before {
	position: absolute;
	content: '';
	display: block;
	top: 0;
	width: 100%;
	height: 2px;
}
.evt-input .input_btn {
	margin: 50px 0;
	width: 100%;
	text-align: center;
}

.evt-answer {
	position: relative;
	width: 100%;
	text-align: center;
	padding: 70px 0;
}
.evt-answer:before {
	position: absolute;
	content: '';
	display: block;
	top: 0;
	width: 100%;
	height: 2px;
}
.evt-answer ul {
	font-size: 0;
	width: 1200px;
	margin: 0 auto;
	margin-top: 90px;
}
.evt-answer ul li {
	display: inline-block;
	width: 33.3%;
}
.evt-warn {
	position: relative;
	width: 100%;
	background-color: #454540;
	text-align: center;
	padding: 50px 0;
}



/* 당첨자 정보 입력 페이지 */
.question {
	position: relative;
	min-height: 100vh;
	font-size: 16px;
}
.question-header {
	position: relative;
	width: 100%;
	border-bottom: 1px solid #000;
	padding: 0.8em 0;
}
.question-header h3 {
	font-size: 1.3em;
	color: #000;
	text-align: center;
	letter-spacing: -1px;
	font-weight: bold;
}

.prizeinfo {
	position: relative;
	width: 100%;
	padding: 1em;
}
.prizeinfo .prize_name>label, .prizeinfo .prize_phone>label, .prizeinfo .prize_address>label {
	display: inline-block;
	width: 25%;
}
.prizeinfo input[type="text"] {
	display: inline-block;
	padding: 10px;
	font-size: 1em;
	border:3px solid #bdbdbd;
	width: calc(75% - 20px);
}
.prizeinfo input[type="text"]:focus {
	border: 3px solid #000;
}
.prizeinfo input[type="checkbox"] {
	height: 0;
	width: 0;
	display: none;
}
.prizeinfo input[type="checkbox"] + label {
	position: relative;
	display: flex;
	margin: .6em 0;
	align-items: center;color: #000;
	transition: color 250ms cubic-bezier(.4,.0,.23,1);
}
.prizeinfo input[type="checkbox"] + label > span {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 0.5em;
	width: 1em;
	height: 1em;
	background: transparent;
	border: 2px solid #000;
	border-radius: 2px;
	cursor: pointer;
	transition: all 250ms cubic-bezier(.4,.0,.23,1);
}
.prizeinfo input[type='checkbox'] + label:hover, .prizeinfo input[type='checkbox']:focus + label{
 	color: #000;
}
.prizeinfo input[type='checkbox'] + label:hover > span, .prizeinfo input[type='checkbox']:focus + label > span{
	background: rgba(255,255,255,.1);
}
.prizeinfo input[type='checkbox']:checked + label > span{
	border: .5em solid #FFEB3B;
	animation: shrink-bounce 200ms cubic-bezier(.4,.0,.23,1);
}
.prizeinfo input[type='checkbox']:checked + label > span:before{
	content: "";
	position: absolute;
	top: .6em;
	left: .2em;
	border-right: 3px solid transparent;
	border-bottom: 3px solid transparent;
	transform: rotate(45deg);
	transform-origin: 0% 100%;
	animation: checkbox-check 125ms 250ms cubic-bezier(.4,.0,.23,1) forwards;
}
@keyframes shrink-bounce{
  0%{
    transform: scale(1);
  }
  33%{
    transform: scale(.85);
  }
  100%{
    transform: scale(1);
  }
}
@keyframes checkbox-check{
  0%{
	width: 0;
    height: 0;
    border-color: #212121;
    transform: translate3d(0,0,0) rotate(45deg);
  }
  33%{
    width: .2em;
    height: 0;
    transform: translate3d(0,0,0) rotate(45deg);
  }
  100%{
    width: .2em;
    height: .5em;
    border-color: #212121;
    transform: translate3d(0,-.5em,0) rotate(45deg);
  }
}
.prizeinfo .prize_name, .prizeinfo .prize_address {
	position: relative;
	width: 100%;
}
.prizeinfo .prize_phone {
	position: relative;
	width: 100%;
	margin: 10px 0;
}

.prizeinfo .prize_check {
	position: relative;
	width: 100%;
	margin-top: 15px;
}
.prizeinfo .prize_check h4 {
	font-weight: 800;
}
.prizeinfo .prize_check .prize_term {
	position: relative;
	width: 100%;
	font-size: 0.8em;
	white-space: pre-wrap;
	padding: 10px;
	margin: 10px 20px 0 0 ;
	border: 1px solid #000;
}

.question-footer {
	position: relative;
	width: 100%;
	text-align: center;
}
.question-footer ul li {
	display: inline-block;
	padding: 10px 0;
}
.question-footer ul li span {
	border: 1px solid #000;
	border-radius: 10px;
	padding: 0 10px;
}
.question-footer ul li span i {
	margin-top: -4px;
	font-size: 1.4em;
}
.question-footer button {
	border: 1px solid #000;
	border-radius: 1em;
	font-size: 1.2em;
	width: 35vw;
	padding: 5px 0;
	background-color: #fff;
}

/* 문제해설 */
.exp-header-wrap {
	position:fixed;
	width:100%;
	border-bottom: 5px double #000;
	z-index:10;
}
.exp-header {
	position:relative;
	padding:30px 5px 20px 5px;
	margin:0 auto;
}
.exp-header > div {
	display: inline-block;
	vertical-align: middle;
}
.exp-header .q_part {
}
.exp-header .q_part span {
	font-size: 0.9em;
	padding: 3px 10px;
	border: 1px solid #000;
	border-radius: 2em;
}
.exp-header .q_title {
	width:calc(100% - 143px);
	text-align: center;
	margin:0 auto;
}
.exp-header .q_title img {
	width:90%;
}
.exp-header .q_paging {
	float:right;
	padding-top:10px;
}
.exp-header .q_paging ul {
	font-size:0;
}
.exp-header .q_paging ul li {
	display: inline-block;
	font-size: 14px;
	padding-left: 5px;
}
.exp-header .q_paging ul li span {
	border: 1px solid #000;
	padding: 0 7px;
	border-radius: 20px;
	cursor: pointer;
	color: #000;
}
.exp-header .q_paging ul li.off span {
	border: 1px solid rgba(0,0,0,.3);
	color: rgba(0,0,0,.3);
}
.exp-header .q_paging ul li i {
	vertical-align: middle;
	margin-top: -5px;
	font-weight:bold;
}
.exp-header:after {
	content:'';
	display:block;
	clear:both;
}
.exp-con {
	position: relative;
	width: 100%;
	padding-top:105px;
}
.exp-con img {
	width:100%;
	height:auto;
}
.exp-con .exp_img {
	position: relative;
	width: 100%;
	text-align: center;
}