.evt-container {
	position: relative;
	width: 100%;
	background-color: #ea284d;
}
.evt-container img {
	width: 100%;
	height: auto;
}
.evt-header {
	position: relative;
	width: 100%;
}
.evt-content {
	position: relative;
	width: 100%;
}