.evt-container {
	position: relative;
	width: 100%;
	background-color: #ffdecf;
}

.evt-header {
	position: relative;
	width: 100%;
}
.evt-header img {
	width: 100%;
	height: auto;
}
.evt-content-wrap {
	position: relative;
	width: 100%;
	padding: 5% 0;
}
.evt-content {
	position: relative;
	width: 90%;
	background-color: rgba(254,149,149,.3);
	margin: 0 auto;
	padding: 7% 7%;
	text-align: center;
}
.evt-content img {
	width: 100%;
	height: auto;
}
.evt-content .coupon {
	display: block;
	width: 100%;
	vertical-align: middle;
	font-size: 0;
	position: relative;
}
.evt-content .coupon .couponbadge {
	position: absolute;
	width: 27%;
	right: -6%;
	top: -10%;
}
.evt-content .coupon .couponimg {
	display: block;
	width: 100%;
	position: relative;
}
.evt-content .coupon .couponimg img {
	width: 100%;
	height: auto;
}
.evt-content .coupon .couponpara {
	display: block;
	width: 100%;
	font-size: 16px;
	vertical-align: middle;
	padding: 2vw 0;
	color: #f33737;
	font-size: 2rem;
	font-weight: bold;
}
.evt-content .coupon .couponget{
	padding-bottom: 5%;
}
.evt-content .coupon .couponget button {
	background-color: #f33737;
	color: #fff;
	width: 100%;
	border:none;
	font-size: 1.7rem;
	padding: 2vw;
	border-radius: 2rem;
}

.evt-content .coupon .couponget button.nochk {
	background-color: #9E9E9E;
}

.evt-link {
	position: relative;
	width: 100%;
	padding: 5% 0;
	text-align: center;
}
.evt-link .evt-info {
	margin: 0 auto;
	margin-bottom: 5%;
	width: 80%;
}
.evt-warn {
	background-color: #fff9ec;
	position:relative;
	padding:15% 0;
}
.Modalalert { overflow:hidden;}
.ModalBackground {
	position: absolute;
	width: 100%;
	height: 100vh;
	background-color: rgba(0,0,0,.8);
	z-index: 100;
	display: none;
}
.ModalPopup {
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -43%;
	width: 86%;
	background-color: #ffdece;
	z-index: 101;
	border-radius: 3px;
	font-size: 16px;
	display: none;
	border:1px solid rgba(255,255,255,.3);
}
.ModalPopup .p_content {
	width: 100%;
	padding: 20px;
}
.ModalPopup .p_content .p_coupon {
	position: relative;
	width: 100%;
	text-align: center;
	padding:22% 5% 0 5%;
}
.ModalPopup .p_content .p_coupon img { width: 100%; }

.ModalPopup .p_content .p_get {
	position: relative;
	display: block;
	margin-top: 13px;
	padding: 0 5%;
	text-align: center;
}
.ModalPopup .p_content .p_get img { width: 100%; }

.ModalPopup .p_content ul {
	position: relative;
	width: 100%;
	font-size: 0;
	margin: 0 auto;
	margin-top: 10px;
	padding: 0 5%;
}

.ModalPopup .p_content ul li {
	display: inline-block;
	width: 50%;
	font-size: 16px;
}

.ModalPopup .p_content ul li:last-child { text-align: right; }


.ModalPopup button {
	margin-top: 5%;
	border:none;
	border-radius: 26px;
	background-color:#fff;
	font-size: 1.3rem;
	padding: 0.5rem 0;
	font-weight: bold;
	width: 80%;
	color: #f43d3d;
	box-shadow: 3px 3px 0 rgba(132,45,45,.6);
	width: 100%;
}
.ModalPopup button.p_buy, .ModalPopup button.p_couponpage { width: 95%; }
.ModalClose {
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	color: #f33737;
	position: absolute;
	top: -50px;
	right: 0px;
	cursor: pointer;
}
.ModalClose i { font-size: 3em; }

