/* 이벤트 메인 */
.evt_list { width: 100%; padding: 10px 10px 10px 10px; }
.evt_list img { width: 100%; height: auto; margin-bottom: 10px; }

/* 이벤트 보기 */
.evt_view { width: 100%; margin-top:5px; padding: 5px 10px; overflow-x: hidden; }
.evt_view table { width: 100%; font-size: 14px; border-top: 2px solid #9e9e9e; border-bottom: 2px solid #9e9e9e; }
.evt_view table th { padding: 10px; border-bottom: 1px solid #eee; font-size: 15px; }
.evt_view table th span { color: #FF5722; }
.evt_view table td { padding: 15px 10px; line-height: 21px; }
.evt_view table td img { display:block; width: 100%; margin-bottom: 15px; text-align: center; }

.evt_back { width: 100%; text-align: center; padding: 5px 10px; margin-top: 10px; margin-bottom: 10px; }
.evt_back a { border:1px solid #FF5722; color: #FF5722; padding: 7px 20px; border-radius: 3px; }

/* 이벤트 리스트 */
.evt_top { width: 100%; background-color: #f6a9d3; position: relative; }
.evt_top img { width: 100%; height: auto; }

.evt_con { width: 100%; position: relative; padding:10px 10px 10px 10px; background-color: rgba(255,255,255,.7);}

.evt_pigure { width: 90%; margin: 0 auto; margin-top:10px; display: block; background-color: #fff; }
.evt_pigure dl { }
.evt_pigure dl dt:nth-child(2) {font-size: 20px; font-weight: 800; color: #444; padding-left:7px; margin: 10px;}
.evt_pigure dl dt img { width: 100%; }
.evt_pigure dl dt span { font-size: 13px; font-weight: normal; color: #666; border-left: 1px solid #E0E0E0; padding-left: 10px; margin-left: 10px; }
.evt_pigure dl dd { padding: 0 10px 10px 10px; font-size:14px; }
.evt_pigure a.first_ep { display:block; font-size: 13px; width: 100%; background-color: #F5F5F5; padding: 10px; font-weight: bold; text-align:center; }

/* 이름짓기 이벤트 2017-07-18 */
#evtcontainer .evt_title { width: 100%; text-align: center; }
#evtcontainer .evt_title img { width: 70%; height: auto; }

#evtcontainer .evt_con01 {
	width: 95%;
	max-width: 750px;
	min-width: 320px;
	position: relative;
	margin: 0 auto;
	margin-top: 30px;
	text-align: center;
	font-size: 1.2em;
	font-weight: bold;
	display: block;
}
#evtcontainer .evt_con01 img { width: 100%; height: auto; }

#evtcontainer .evt_con02 {position: relative; margin-top: 50px; display: block; }
#evtcontainer .evt_con02 ul { font-size: 0; width: 70%; margin: 0 auto; }
#evtcontainer .evt_con02 ul li { display: block; width: 100%; margin-top: 20px; }
#evtcontainer .evt_con02 ul li img { width: 100%; height: auto; }

#evtcontainer .evt_con03 { position: relative; width: 90%; margin: 0 auto; display: block; margin-top: 50px; }
#evtcontainer .evt_con03 ul {  }
#evtcontainer .evt_con03 ul li { display: block; overflow:hidden; padding: 20px; background-color: rgba(255,255,255,.7); border-radius: 20px; margin-top: 10px;}
#evtcontainer .evt_con03:after { clear: both; }
#evtcontainer .evt_con03 ul li .crt_img { display: inline-block; float: left; width: 30%; }
#evtcontainer .evt_con03 ul li .crt_img img { width: 100%; }
#evtcontainer .evt_con03 ul li .crt_name { display:inline-block; text-align: center; float: left; width: calc(70% - 20px); padding-top: 10px; padding-left: 20px; }
#evtcontainer .evt_con03 ul li .crt_name img { height:35px; }
#evtcontainer .evt_con03 ul li .crt_exp { display: inline-block; font-size: 1.2em; float: left; width: calc(70% - 20px); padding-top: 10px; padding-left: 20px; }
#evtcontainer .evt_con03 ul li .crt_text { display:block; float:left; text-align: center; width: 100%; margin-top: 10px; }
#evtcontainer .evt_con03 ul li .crt_text input[type=text] {  font-size: 1.3em; font-weight: bold; border:none; border:3px solid #BDBDBD; color: #b08a61; padding: 10px 0; border-radius: 25px; text-align: center; width: 100%; }
#evtcontainer .evt_con03 ul li .crt_text input[type=text]:focus { border:3px solid #b08a61; color: #b08a61 }

#evtcontainer .evt_con04 { position: relative; width: 100%; text-align: center; margin-top: 20px; }
#evtcontainer .evt_con04 button { font-size: 20px; font-weight: bold; color: #fff; padding: 10px; text-align: center; width: 90%; border:none; background-color: #89629d; border-radius: 20px; }
#evtcontainer .evt_con04 button:hover { background-color: #593b68; }

#evtcontainer .evt_con05 { position: relative; width: 100%; text-align: center; margin-top: 50px; }
#evtcontainer .evt_con05 img { width: 40%; }

#evtcontainer .crt_guide ol { margin: 0 auto; }
#evtcontainer .crt_guide ol li { list-style: decimal inside none; font-size: 14px; padding-bottom: 10px; line-height: 20px; }
#evtcontainer .crt_guide ol li span { padding-left: 69px; }

/***************************** 랜덤박스 이벤트 2017-08-14 ******************************/
#evtrancontainer .evt_title { width: 95%; padding: 50px 0 100px 0; position: relative; margin: 0 auto; text-align: center; max-height: 911px; }

#evtrancontainer .evt_contentswrap { position: relative; z-index:1; overflow: hidden; }
#evtrancontainer .evt_contentswrap:before { content:''; position: absolute; background:linear-gradient(to bottom, rgba(255,255,255,.6), #b1edf3); transform:skewY(10deg); top: 200px; width: 100%; height: 100%; }
#evtrancontainer .evt_pre { position:relative; width: 100%; margin: 0 auto; }
#evtrancontainer .evt_pre ul { font-size: 0; }
#evtrancontainer .evt_pre ul li { display: inline-block; width: 33.3%; }
#evtrancontainer .evt_pre ul li:nth-child(n+4) { width: 50%; padding: 0 8%; }
#evtrancontainer .evt_pre ul li img { width: 100%; }
#evtrancontainer .evt_pre ul li:first-child { margin-left: 0; }

#evtrancontainer .evt_exp { position: relative; border-radius: 20px; background-color: #f1f7ff; text-align: center; width: 90%; margin: 0 auto; padding: 30px; margin-top: 50px; border:5px solid #6599dd; overflow:auto; vertical-align: middle; }
#evtrancontainer .evt_exp_pwrap { width: 100%; overflow: hidden; text-align: left; margin-top: 10px; vertical-align: middle; display: table; }
#evtrancontainer .evt_exp_nwrap { display: table-cell; width: 45px; padding: 5px 0; }
#evtrancontainer .evt_exp span.num { padding: 5px 14px; border-radius: 50%; background-color: #ff8a2b; font-size: 28px; font-weight: 800; color: #fff; }
#evtrancontainer .evt_exp span.txt { text-align: left; font-size: 1.2em; font-weight: bold;  overflow:hidden; vertical-align: middle; display: table-cell; padding-left:10px; }
#evtrancontainer .evt_exp_pwrap:after { content: ''; display: block; clear: both; }

#evtrancontainer .evt_box { width: 100%; margin: 0 auto; border-radius: 20px;  padding: 30px 0; position: relative; text-align: center;  overflow:hidden; }

#evtrancontainer .evt_box ul { font-size: 0; position: relative; padding: 15px 0; }
#evtrancontainer .evt_box ul li { display: inline-block; position: relative; text-align: center; padding-top: 30px; width: 33.3%; padding: 15px; }
#evtrancontainer .evt_box ul li img { width:100%; }
#evtrancontainer .evt_box ul li label { position: relative; }
#evtrancontainer .evt_box ul li label > input { visibility: hidden; position: absolute; }
#evtrancontainer .evt_box ul li label > input + img { cursor: pointer; opacity: .6;}
#evtrancontainer .evt_box ul li label > i { display: block; vertical-align: middle; width: 20px; height: 20px; border-radius: 50%; transition: .2s; box-shadow: inset 0 0 0 10px #fff; border:1px solid gray; background:gray; margin: 10px auto;}
#evtrancontainer .evt_box ul li label:hover i { box-shadow: inset 0 0 0 3px #fff; background:grey; }
#evtrancontainer .evt_box ul li label > input[type=radio]:checked ~ i { box-shadow: inset 0 0 0 3px #fff; background:orange; }
#evtrancontainer .evt_box ul li label > input[type=radio]:checked + img { opacity: 1; }

/* Rectangle Out */
#evtrancontainer .evt_box button {
	position: relative;
	font-size: 25px;
	font-weight: bold;
	border:none;
	width: 300px;
	padding: 15px;
	text-align: center;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px transparent;
	position: relative;
	background: #1a76ff;
	color: #fff;
	border-radius: 10px;
	margin-top: 30px;
	-webkit-transition-property: color;
	transition-property: color;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
}
#evtrancontainer .evt_box button:before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #0c4190;
	border-radius: 10px;
	-webkit-transform: scale(0);
	transform: scale(0);
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
#evtrancontainer .evt_box button:hover:before, .evt_box button:focus:before, .evt_box button:active:before {
  -webkit-transform: scale(1);
  transform: scale(1);
}

#evtrancontainer .evt_box p { font-size: 1.2em; padding-top: 10px; }
#evtrancontainer .evt_warning { position:relative; width: 90%; margin: 0 auto; padding: 50px 0; text-align: center; }
#evtrancontainer .evt_warning p { display: block; padding: 15px 0 0 0; font-size: 1.2em; }

#dialog { display: none; }

/***************************** 출석 이벤트 2017-09-22 ******************************/

#evtattcontainer .evt_wrapper { position: relative; width: 100%; }
#evtattcontainer .evt_header { position: relative; width: 100%; }
#evtattcontainer .evt_header img { width: 100%; height: auto; }
#evtattcontainer .evt_con { position: relative; width: 100%; text-align: center; padding:0 10px 10px 10px; }
#evtattcontainer .evt_reward { position: relative; }
#evtattcontainer .evt_reward img { width:100%; }

/* Calender */
#evtattcontainer .evt_cal_wrap { position:relative; background-color: #fff; border:5px solid #c86800; border-top: none; }
#evtattcontainer .evt_cal_header { width: 100%; border-bottom: #eee; overflow: hidden; padding:10px; vertical-align: middle; position: relative; }
#evtattcontainer .evt_cal_header div { display: table; }

#evtattcontainer .evt_cal_month { font-size: 15px; text-align: center; margin: 0 auto;  display: inline-block; float: left; vertical-align: middle; }
#evtattcontainer .evt_cal_month span { display: block; font-weight: 800; font-size: 50px; }
#evtattcontainer .evt_cal_header_right { display: inline-block; float: right; width: 70%; text-align: right; vertical-align: middle; }
#evtattcontainer .evt_cal_myreward {font-size: 1.3em; text-align: right; line-height: 26px; display: block; width: 100%; }
#evtattcontainer .evt_cal_myreward span {  }
#evtattcontainer .evt_cal_myreward span strong { background-color: #f06292; border-radius: 15px; padding: 3px 10px; font-weight: 800; color: #fff; margin-right: 10px; }
#evtattcontainer .evt_cal_chkbtn { display: block; width: 100%; text-align: right; padding-top: 5px; }
#evtattcontainer .evt_cal_chkbtn button { background-color: #e91e63; border:none; box-shadow: 3px 3px 0 rgba(0,0,0,.3); font-weight: bold; font-size: 2em; padding: 5% 20%; color: #fff; border-radius: 30px; }
#evtattcontainer .evt_cal_header:after { content: ''; display: block; clear: both; }

#evtattcontainer .evt_cal { width: 100%; padding: 10px; }
#evtattcontainer .evt_cal > ul { display: table; width: 100%; font-size: 0; margin-bottom: 15px; border-top: 2px solid #eee; border-bottom: 2px solid #eee; }
#evtattcontainer .evt_cal > ul > li { display: table-row; width: 100%; }
#evtattcontainer .evt_cal > ul > li > div { display: table-cell; height: 73px; width: 14%; min-height: 73px; padding: 1%; border-right: 1px solid #eee; border-bottom: 1px solid #eee; border-left: 0; font-size: 13px; text-align: center; }
#evtattcontainer .evt_cal > ul > li > div:first-child { border:none; border-right: 1px solid #eee; border-bottom: 1px solid #eee; }
#evtattcontainer .evt_cal > ul > li > div:last-child { border-right: 0px; }
#evtattcontainer .evt_cal > ul > li.cal_day > div { height:30px; line-height: 30px; min-height: 0px; border-top: 1px solid #eee; border-right: 1px solid #eee; border-bottom:1px solid #eee; background-color: #f5f5f5; color: #777; font-weight: bold; text-align: center; }
#evtattcontainer .evt_cal > ul > li.cal_day > div:last-child { border-right: 0px; }
#evtattcontainer .evt_cal > ul > li.cal_day > div.sun { color: #cc2220; }
#evtattcontainer .evt_cal > ul > li.cal_day > div.sat { color: #2453a5; }
#evtattcontainer .evt_cal > ul > li > div.empty { background-color: #f5f5f5; }
#evtattcontainer .evt_cal > ul > li > div > time { display: block; padding: 3px 0 3px 3px; font-weight: bold; min-height: 15px; text-align: left; }
#evtattcontainer .evt_cal > ul > li > div > time span { display: none; }
#evtattcontainer .evt_cal > ul > li > div > img { display: block; margin: 0 auto; margin-top: 10px; }
#evtattcontainer .evt_cal > ul > li > div ul { width: 100%; font-size: 0px; text-align: right;padding: 0 3px; min-height: 60px; }
#evtattcontainer .evt_cal > ul > li > div ul li { margin: 0px 3px 3px 0px; padding: 3px; }
#evtattcontainer .evt_cal > ul > li > div.today { background-color: #fff8cf !important; }
#evtattcontainer .evt_cal > ul > li > div.sun > time, .evt_cal > ul > li > div.sun > time span { color: #cc2220; }
#evtattcontainer .evt_cal > ul > li > div.sat > time, .calender > ul > li > div.sat > time span { color: #2453a5; }