#header { position: fixed; }
#container { padding-top: 90px; }
.evtcontainer { position:relative; width: 100%; background-color: #42444b; }
.goToTop { position: fixed; right: 1em; bottom: 1em; width: 60px; height:60px; z-index: 60; cursor: pointer; }
.evt_header { position: relative; width: 100%; }
.evt_header img { width: 100%; height:auto; }
.evt_gauge { position: relative; display: block; }
.evt_gauge img { width: 100%; visibility: hidden; }
.evt_gauge .gauge_wrap { position: absolute; top: 50%; cursor: pointer; }
@media all and (max-width: 600px) {
        .evt_gauge .gauge_wrap { left: 50%; margin-left: -65px; margin-top: -65px; }
}
@media all and (min-width: 600px) {
        .evt_gauge .gauge_wrap { left: 50%; margin-left: -120px; margin-top: -120px; }
}
.evt_blankimg { position: relative; width: 100%; }
.evt_blankimg img { width:100%; height: auto; }

.evt_btn { position: relative; width: 100%; }
.evt_btn a { position: relative; display: inline-block; width: 319px; height:51px; left: 50%; margin-left: -159.5px; text-align: center; font-size: 2em; line-height: 51px; font-weight: bold; color: #fff; }
.evt_btn a span { display: inline-block; color: #02cdab; }

.evt_next { position: relative; width: 100%; }
.evt_next img { width: 100%; height: auto; }

.con02 { position: relative; width: 100%; background-color:#ffc372; }
.con02 img { width: 100%; height: auto; }
.con02 .gotocoupon { 
	position:relative;
	display:block;
	padding:10% 0;
	text-align:center;
}
.con02 .gotocoupon button {
	padding:3% 0%;
	width:85%;
	font-size:1.2em;
	background-color:#7c5e41;
	color:#fff;
}

.con03 { position: relative; width: 100%; }
.con03 img { width: 100%; height: auto; }

.Modalalert { overflow:hidden;}
.Modalalert img { width: 100%; }
.ModalBackground {
	position: absolute;
	width: 100%;
	height: 100vh;
	background-color: rgba(0,0,0,.8);
	z-index: 100;
	display: none;
}
.ModalPopup {
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -43%;
	width: 86%;
	max-width: 500px;
	height: 110vw;
	background-color: #fff;
	z-index: 101;
	border-radius: 3px;
	font-size: 16px;
	display: none;
	padding:0.5%;
}
.ModalPopup .p_content01 { padding: 20px; text-align: center; overflow: auto; }
.ModalPopup .p_content01 .p_title {
	position: relative;
	width: 100%;
	text-align: center;
}
.ModalPopup .p_content01 .p_exp {
	position: relative;
	width: 100%;
	text-align: center;
	margin-top: 10px;
}
.ModalPopup .p_content01 ul.p_choice {
	font-size: 0;
	width: 100%;
	margin-top: 10px;
}
.ModalPopup .p_content01 ul.p_choice li {
	display: inline-block;
	width: 33.3%;
	text-align: center;
}
.ModalPopup .p_content01 ul.p_choice li input[type='radio'] { display: none; }
.ModalPopup .p_content01 ul.p_choice li input[type='radio'] + label::before {
	content: '';
	display: inline-block;
	width: 95%;
	padding-top: 105%;
	background-position: left top;
	cursor: pointer;
}

.ModalPopup .p_content01 ul.p_choice li input[type='radio']#pocket1:checked +label::before {
	background-position: right top;
}

.ModalPopup .p_content01 ul.p_choice li input[type='radio']#pocket2:checked +label::before {
	background-position: right top;
}

.ModalPopup .p_content01 ul.p_choice li input[type='radio']#pocket3:checked +label::before {
	background-position: right top;
}


.ModalPopup .p_content02 { padding: 20px; max-width: 500px; margin: 0 auto; }
.ModalPopup .p_content02 .p_coupon {
	position: relative;
	max-width: 320px;
	height: 148px;
	margin: 0 auto;
	padding:45px 0 0 85px;
}

.ModalPopup .p_content02 .p_coupon p {
	color: #ff6872;
	font-size: 2.8em;
	font-weight: bold;
	letter-spacing: -0.1em;
	display: block;
	line-height: 100%;
}

.ModalPopup .p_content02 .p_coupon span.coupon_value { font-size: 1.5em; }

.ModalPopup .p_content02 .p_coupon span.coupon_time {
	display: inline-block;
	font-size: 0.7em;
	background-color: #ff6872;
	color: #fff;
	text-align: left;
	padding: 2px 10px;
	border-radius: 1em;
	margin-top: 1vh;
}

.ModalPopup .p_content02 .p_coupon span.coupon_time span.coupon_value02 { font-weight: bold; color: #ffec49; }

.ModalPopup .p_content02 .p_get {
	position: relative;
	display: block;
	margin-top: 3.5vh;
	font-size: 1.5em;
	text-align: center;
	font-weight: bold;
}

.ModalPopup .p_content02 .p_get span { color: #ff6872; font-size: 1.5em; letter-spacing: -0.1em; }

.ModalPopup .p_content02 .p_exp {
	position: relative;
	display: block;
	margin-top: 3.5vh;
}

.ModalPopup .p_content02 ul {
	position: relative;
	width: 100%;
	font-size: 0;
	margin-top: 8vh;
}
.ModalPopup .p_content02 ul li {
	display: inline-block;
	width: 50%;
	font-size: 16px;
}
.ModalPopup .p_content02 ul li:last-child { text-align: right; }


.ModalPopup button {
	margin-top: 20px;
	height: 45px;
	border:none;
	border-radius: 2em;
	background-color:#03ceab;
	font-size: 1.5em;
	font-weight: bold;
	width: 80%;
	color: #fff;
}
.ModalPopup button:hover {
	background-color:#0f7f6c;
}
.ModalPopup button.nochk {
	background-color: #9E9E9E;
}
.ModalPopup button.p_buy, .ModalPopup button.p_couponpage { width: 95%; }
.ModalClose {
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	color: #26c6da;
	position: absolute;
	top: -2em;
	right: 0px;
	cursor: pointer;
}
.ModalClose i { font-size: 2em; }