@charset "UTF-8";

#iscroll_lnb{
    position: relative;
    padding: 0px;
    background-color: #fff;
}
#header #iscroll_lnb ul li {
	width:60px;
}

#iscroll_lnb h2 {
    float:left;
	color: #444;
    font-size: 17px;
    font-weight: bold;
}
#iscroll_lnb p {
    float:right;
	margin-right:10px;
    font-size: 11px;
}

#iscroll_lnb .iscroll_bg{    
	position: relative;
    overflow: hidden;
}
#iscroll_lnb .width_scroll {
    position: relative;
    float: left;
    display: inline;
}
#iscroll_lnb .width_scroll ul {
    list-style: none;
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    white-space: nowrap;
}
#iscroll_lnb .width_scroll ul li {
    position: relative;
    display: block;
    float: left;
}

#iscroll_lnb .width_scroll ul li dl dt.series{
	margin-top: 10px;
	font-size: 14px;
    font-weight: bold;
    color: #000;
    line-height: 21px;
}
#iscroll_lnb .width_scroll ul li dl dd.professional{
	font-size: 13px;
    font-weight: normal;
    color: #26c6da
}
#iscroll_lnb .width_scroll ul li dl .ellipsis{
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
/*
#mo_iscroll_list #iscroll ul li img.top_img{
	border:1px solid #BEBEBE;
}
#mo_iscroll_list #iscroll ul li img.pub_adult3{
	position: absolute;
	top: 1px;
	right: 1px;
	width: 13px;
	height: 13px; 
	z-index:20; 
	margin-left:-15px; 
	margin-top:2px;
}
*/
