/* myinfo */
.con {width: 95%; margin: 0 auto; margin-top:20px;}
h2 {font-size: 20px; font-weight: bold; color:#00BCD4;}

.my_reward img { width: 100%; }
.myp_info {margin-top: 10px;}
.myp_info ul {width: 100%;}
.myp_info ul li {display: block; overflow:hidden;}
.myp_info ul li:first-child {border-bottom: 2px solid #00BCD4;}

.mem_info { font-size: 14px; padding: 10px 0; display: inline-block; width:calc(100% - 80px); float: left;}
.mem_info span {font-size: 20px; font-weight: bold;}
.mem_shop {display: inline-block; width: 80px; float: right; text-align: center; line-height: 43px; }
button.shop {border-radius: 3px; border:none;  background-color:#FF9800; padding: 5px; width: 100%; font-weight: bold; font-size: 13px; color: #fff; }

.mem_point {display: inline-block; width: 50%; float: left; background-color: #f5f5f5; border-right: 1px solid #E0E0E0; border-bottom: 2px solid #00BCD4; padding: 20px 10px; text-align: center;}
.mem_point dl dt {font-size:18px; font-weight: bold;}
.mem_point dl dd {font-size: 15px; margin-top: 10px;}
.mem_point dl dd img { width: 20px; }
.mem_point dl dd span {font-size: 30px; color: #00BCD4; font-weight: bold; letter-spacing: -2px;}

.mem_mpoint {display: inline-block; width: 50%; float: left; background-color: #f5f5f5; border-bottom: 2px solid #00BCD4; padding: 20px 10px; text-align: center;}
.mem_mpoint dl dt {font-size:18px; font-weight: bold;}
.mem_mpoint dl dd {font-size: 15px; margin-top: 10px;}
.mem_mpoint dl dd img { width: 20px; }
.mem_mpoint dl dd span {font-size: 30px; color: #00BCD4; font-weight: bold; letter-spacing: -2px;}

.myp_admin {margin-top: 10px; border-top: 2px solid #9E9E9E; width: 100%;}
.myp_admin table {width: 100%; border-collapse: collapse; border-bottom: 2px solid #9E9E9E;}
.myp_admin table th {padding: 10px 20px; font-size: 14px; border-bottom: 1px solid #E0E0E0; background-color: #F5F5F5; width: 40%;}
.myp_admin table td {padding: 10px; border-bottom:1px solid #e0e0e0;}
.myp_admin table td span.mem_adult {font-size: 13px; font-weight: bold; color: #EF5350; }
.myp_admin table td span.mem_adult_ok {font-size: 13px; font-weight: bold; color: red; }
.myp_admin button { padding: 3px 10px; border-radius: 3px; font-size: 12px; font-weight: bold; border:1px solid #00BCD4; color: #00BCD4; }
.myp_admin button.on {background-color: #00BCD4; color: #fff; -webkit-box-shadow: inset 1px 1px 1px 0px rgba(0,0,0,.5); -moz-box-shadow: inset 1px 1px 1px 0px rgba(0,0,0,.5); box-shadow: inset 1px 1px 1px 0px rgba(0,0,0,.5); }

.re_pw {display: block; margin-top:10px; padding: 0  10px 10px 10px; background-color: #fafafa; border:1px solid #f5f5f5; display: none;}
.re_pw label { font-size: 14px; display: block; margin-top: 10px;}
.re_pw input[type="password"] {border:1px solid #00BCD4; padding: 5px 10px; margin-top: 5px; width: 100%; display: block;}
.re_email input[type="text"] {border:1px solid #00BCD4; padding: 5px 10px; width: 60%; display: none;}
.re_email span#mem_email { font-size: 13px; }
.re_nick input[type="text"] {border:1px solid #00BCD4; padding: 5px 10px; width: 60%; display: none;}
.re_nick span#mem_nick { font-size: 13px; }


.myp_rest {position: relative;}
.myp_radio {padding-right:5px; padding-bottom:5px; font-size: 13px; color:#666; position: relative;}
.myp_radio input[type="radio"] {display: none;}
.myp_radio span:before {font-family: "FontAwesome"; font-style: normal;content:'\f1db';margin-right: 5px; font-size: 18px;}
.myp_radio .checked {display: none;}
.myp_radio input[type="radio"]:checked ~ span:before {content: '\f058'; color: #00BCD4; font-weight: bold;}

.myp_admin_ok { width: 100%; margin-top: 10px; display: block;}
.myp_admin_ok button {width: 100%; border-radius: 3px; border:none; background-color: #00BCD4; font-size: 15px; font-weight: bold; color: #fff; padding: 10px;}
.myp_admin_ok input[type="submit"] {width: 100%; border-radius: 3px; border:none; background-color: #00BCD4; font-size: 15px; font-weight: bold; color: #fff; padding: 10px;}

.myp_charge {position:relative; width: 100%; display: block; margin-top: 20px;}
.myp_charge table {margin-top: 10px; width: 100%; border-top:2px solid #9E9E9E; border-bottom: 2px solid #9E9E9E; border-collapse: collapse;}
.myp_charge table th {background-color: #f5f5f5; border-bottom: 1px solid #e0e0e0; padding:10px; font-size: 14px;}
.myp_charge table th.date {width: 10%;}
.myp_charge table th.type {width: 20%;}
.myp_charge table th.charge {width: 30%;}
.myp_charge table th.from {width: 40%;}
.myp_charge table td {padding: 10px; border-bottom: 1px solid #e0e0e0; text-align: center; font-size: 13px;}

.myp_use {position:relative; width: 100%; display: block; margin-top: 20px;}
.myp_use table {margin-top: 10px; width: 100%; border-top: 2px solid #9e9e9e; border-bottom: 2px solid #9e9e9e; border-collapse: collapse;}
.myp_use table th {background-color: #f5f5f5; border-bottom: 1px solid #e0e0e0; padding: 10px; font-size: 14px;}
.myp_use table td {padding: 10px; border-bottom: 1px solid #e0e0e0; text-align: center; font-size: 13px;}
.myp_use table th.date {width: 20%;}
.myp_use table th.expen {width: 40%;}
.myp_use table th.from {width: 40%;}

.myp_qna { position: relative; width: 100%; display: block; margin-top: 20px; }
.myp_qna table {margin-top: 10px; width: 100%; border-top: 2px solid #9e9e9e; border-bottom: 2px solid #9e9e9e; border-collapse: collapse;}
.myp_qna table th {background-color: #f5f5f5; border-bottom:1px solid #e0e0e0; padding: 10px; font-size: 14px;}
.myp_qna table td { padding: 10px; border-bottom: 1px solid #e0e0e0; text-align: center; font-size: 13px; }
.myp_qna table td span {color: #EF5350; }
.myp_qna table th.date {width: 20%;}
.myp_qna table th.title {width: 40%;}
.myp_qna table th.mode {width: 40%;}

/* 테이블설정 */
tr.t_last td, tr.t_last th { border:none; }
.t_date {width: 100px;}
.t_usep {width: 140px;}
.t_con {width: 90px; color:#aaa;}

/* 페이징 */
.myp_paging { margin: 0 auto; margin-top: 10px; width: 100%; text-align: center;}
.myp_paging ul {display: block;}
.myp_paging ul li {display: inline-block; font-size: 20px; border:3px solid #E0E0E0; color: #9E9E9E; padding: 2px 10px; cursor: pointer;}

.myp_drop {position: relative; width: 100%; display: block; margin-top: 20px; text-align: center; padding-bottom: 30px;}
.myp_drop button {width: 100%; border-radius: 3px; background-color: #BDBDBD; font-size: 17px; font-weight: bold; border:none; color: #fff; padding: 10px;}

/* Myinfo */
.lib_del { position: fixed; background-color: rgba(255,255,255,.8); z-index: 7; width: 100%; padding:8px 10px; border-bottom:1px solid #eee; }
.lib_del button.lib_del_btn { float: right; border:none; border-radius: 3px; padding: 7px 20px; font-size: 14px; font-weight: bold; color: #fff; background-color: #00BCD4; }
.lib_del button.lib_cancel_btn { float: right; border:none; border-radius: 3px; padding: 7px 20px; font-size: 14px; font-weight: bold; color:#fff; background-color: #9e9e9e; margin-right: 5px; display: none; } /* display */
.lib_del_chk { display: none; float: left; } /* display:inline-block; */
.lib_del_chk span {margin-left: 25px; font-size: 15px; line-height: 30px;}
.lib_del_chk .lib_chk {top: 12px; left: 10px;}
.lib_del:after { clear: both; }

.lib_con { position: relative; display: block; margin-top:45px; padding:10px 0; width: 100%; z-index: 1; }
.lib_list { position:relative; display: inline-block; border:1px solid #bdbdbd; width: calc(33.3% - 15px); margin-left:10px; margin-bottom: 10px; border-radius: 3px; max-width: 198px;}
.lib_list img { border-radius: 3px 3px 0 0; width: 100%; }
.lib_list dl { width: 100%; }
.lib_list dl dt { position: relative; }
.lib_list dt:nth-child(2) { padding: 5px 10px; font-weight: bold; font-size:14px; white-space: nowrap; text-overflow: ellipsis; overflow:hidden; width: 100%; }
.lib_list dd { padding: 0 10px; font-size: 13px; white-space: nowrap; text-overflow: ellipsis; overflow:hidden; }
.lib_list dd:nth-of-type(2) { padding-top: 5px; font-size: 12px; text-align: right; padding-bottom: 10px; color: #ff9800; }

.up { border:1px solid #00BCD4; }
.icon_up {position:absolute; bottom:0; right:0; width: 43px; display: none; } /* display  */

.lib_chk {position: absolute; top: 5px; left: 5px; width:20px; z-index: 5; display: none; } /* display */
.lib_chk label {width: 20px; height: 20px; cursor: pointer;position: absolute; top: 0; left: 0; background:#fcfff4; background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%); border-radius: 4px; box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5); }
.lib_chk label:after {
	content: '';
    width: 9px;
    height: 5px;
    position: absolute;
    top: 4px;
    left: 4px;
    border: 3px solid #00BCD4;
    border-top: none;
    border-right: none;
    background: transparent;
    opacity: 0;
    transform: rotate(-45deg);}
.lib_chk input[type="checkbox"]:checked + label:after {opacity: 1;}
.mylib_con { position: relative; display: block; margin-top:35px; padding:10px 0; width: 100%; z-index: 1; }

/* MyEpisode */
#comics {position:relative; width: 100%; z-index: 1; display: block;}
#comics .d_h_top {position: fixed; width: 100%; height: auto; opacity: 1; }
#comics .d_h_top_visibility {position: relative; width: 100%; height: auto;}
#comics .d_h_top img {width:100%; height: auto;}
#comics .d_h_top_visibility img {width:100%; height: auto;}

#comics .d_h_con {width:100%; position: relative; z-index:1; background-color: #fff; display: block; border-top: 1px solid #ddd; padding: 20px;}

#comics .d_h_title {border-left: 5px solid #00BCD4; padding-left: 10px; display: block; width: 100%; }
#comics .d_h_title h4 {margin-top: 7px; width: 100%; box-sizing: border-box;}
#comics .d_h_title p {line-height: 26px; font-size:16px; color: #00BCD4;}
#comics span.d_h_gen {color: #FFAB91; font-size: 12px; margin:10px 3px 0 0; padding: 3px 10px; display: inline-block; border:1px solid #FFAB91; border-radius: 10px; }
#comics .d_h_ex { display: block; background-color: #f5f5f5; border-radius: 3px;  margin-top: 10px; padding: 10px; font-size: 15px; line-height: 23px; color: #333; }

#comics .libd_con { position: relative; background-color: #f5f5f5; width: 100%; min-width: 320px; padding: 10px 10px 10px 15px; z-index: 2; }
#comics .libd_thumb { position: relative; display: inline-block; width: calc(50% - 10px); max-width: 200px; border:1px solid #80DEEA; margin-bottom: 5px; margin-left: 5px; background-size: cover; box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.2); -webkit-box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.2); -moz-box-shadow: 0px 1px 1px 0 rgba(0, 0, 0, 0.2); }
#comics .libd_thumb_img { position: relative; width: 100%; }
#comics .libd_thumb_num { position: relative; padding: 10px; background-color: #fff; width: 100%; font-size: 1.3em; font-weight: bold; color: #00BCD4; white-space: nowrap; text-overflow: ellipsis; overflow:hidden; }
#comics .libd_thumb_num:before { content:"\f0da"; font-family: FontAwesome; margin-right: 5px; font-weight: 100; }

#comics .none { background-color:#EEEEEE; position: relative; border:1px solid #bdbdbd; }
#comics .none img { filter: grayscale(100%); opacity:.5; }
/* #comics .none button { position:absolute; top:calc(50% - 14px); left: calc(50% - 41px); border:2px solid #757575; color: #757575; padding: 5px 15px; background-color: #fff; font-weight: bold; font-size: 13px; } */
#comics button { position:absolute; top:calc(50% - 14px); left: calc(50% - 43px); border:2px solid #757575; color: #757575; padding: 5px 10px; background-color: #fff; font-weight: bold; font-size: 13px; width : 86px;}
#comics button.button_off { display: none; }

#comics .gray { color: #9e9e9e; }

/* MyLeave */
.myp_dropout_warn { width: 100%; margin-top: 20px; border:2px solid #00BCD4; padding: 10px; text-align: center; font-size: 14px; background-color: #F5F5F5; border-radius: 3px; }
h3 { text-align:center; }

.myp_dropout_pw {margin-top:40px; margin-bottom: 40px; position: relative; text-align: center;}
.myp_dropout_pw form { display: block; }
.myp_dropout_pw .form_field_text { background:0 0; border:none; border-bottom: 1px solid #dbdbdb; width: 100%; padding: 10px; font-size: 14px; color: #9e9e9e;}
.myp_dropout_pw label {color: #444; font-size: 14px; font-weight: bold;}
.myp_dropout_pw .form_field_text + label {display: block; position: absolute; top: 0; left: 0; line-height: 37px; transition: .2s ease-out;}
.myp_dropout_pw .form_field_text:focus + label {transform:translateY(-90%);-webkit-transform:translateY(-90%); font-style:normal; font-weight:normal; font-size: 13px;}
.myp_dropout_pw .completed {transform:translateY(-90%);-webkit-transform:translateY(-90%); font-style:normal; font-weight:700; font-size: 13px;}
.myp_dropout_pw .form_field_text:focus {border-bottom: 2px solid #00BCD4; color: #444; padding-bottom: 9px;}
.myp_dropout_pw input[type=checkbox] {float: left;}
.myp_dropout_pw input[type=checkbox] + label {float: left; padding-left: 5px; font-size: 13px;}
.myp_dropout_pw input[type=checkbox] + label::after {clear: both;}
.myp_dropout_pw input[type=button] { width: calc(50% - 5px); border-radius: 3px; border:none; background-color: #9E9E9E; color: #fff; font-weight: bold; font-size: 14px; padding: 10px; display: inline-block;}
.myp_dropout_pw input[type=button].myp_dropout_no { background-color: #00BCD4; }
.myp_dropout_pw span.error {font-size: 12px; color:#ff5a59; visibility: visible; position: absolute; top: 40px; left: 0;}

.lib_no_data { width:80%; margin:0 auto; margin-top: 100px; padding: 30px; text-align: center; font-size: 14px; font-weight: bold; background-color: #f5f5f5; border-radius: 10px; }