#pointpark {position:relative; background-color: #fff; width: 100%; margin: 0 auto; border-left:1px solid #eee; border-right:1px solid #eee; z-index: 1; position: relative; padding: 30px 0px; min-height: 692px;}
#pointpark h4 {text-align: center; font-size: 25px; border-bottom: 1px solid #eee; padding-bottom: 10px; margin: 0 20px;}


#pointpark .mycoin { width: 100%; margin-top: 10px; padding: 0 20px; position: relative; }
#pointpark .mycoin span.mybasket { display:block; font-size: 18px; margin-top: 20px; color: #9E9E9E; }
#pointpark .mycoin span.mybasket strong { color: #00BCD4; font-weight: 800; }

#pointpark .mycoin ul { font-size: 0; border:2px solid #B2EBF2; border-radius: 3px; margin-top: 10px; }
#pointpark .mycoin ul li { width: 50%; font-size: 13px; display: inline-block; border-right: 2px solid #B2EBF2; padding: 20px; }
#pointpark .mycoin ul li .mycoin_con { font-size: 18px; color: #424242; line-height: 26px; }
#pointpark .mycoin ul li .mycoin_con span.mctitle01 { font-size: 18px; font-weight: bold; color: #757575; display: block; }
#pointpark .mycoin ul li .mycoin_con span.mctitle { font-size: 14px; color: #757575; display: block; }
#pointpark .mycoin ul li .mycoin_con span.mcnum { font-weight: 800; color: #444; font-size: 23px; vertical-align: middle; }
#pointpark .mycoin ul li .mycoin_con img{ width:20px; }
#pointpark .mycoin ul li:last-child { border-right: none; }

#pointpark #pointpark_iframe{ width: 100%; height:900px; border: none; background-color: #fff;}