#header {position: fixed;}

#recharge {background-color: #fff; max-width: 100%;}
#recharge h2 { padding:15px; border-bottom: 1px solid #eee; text-align: center; }
#recharge h3 { font-size: 20px; font-weight: bold; color:#00BCD4; }

#recharge .mar_section01 { position:relative; width: 90%; margin: 0 auto; padding: 10px 0px;}
#recharge .mar_myinfo_userinfo { position: relative; width: 100%; font-size: 15px; background-color: #00BCD4; color: #fff; padding: 10px; border-radius: 10px; font-weight: bold; display: block; }
#recharge .mar_myinfo_userinfo a { color: #fff; }

#recharge .mar_mycoin_bg { position:relative;}
#recharge .mar_mycoin_bg:after { content:""; clear: both; display: block; }
#recharge .mar_mycoin {margin-top:10px; display: inline-block; width: 50%; float: left; background-color: #f5f5f5; border-right: 1px solid #E0E0E0; border-top: 2px solid #00BCD4; border-bottom: 2px solid #00BCD4; padding: 20px 10px; text-align: center;}
#recharge .mar_mycoin dl dt {font-size:18px; font-weight: bold;}
#recharge .mar_mycoin dl dd {font-size: 15px; margin-top: 10px;}
#recharge .mar_mycoin dl dd img { width: 20px; }
#recharge .mar_mycoin dl dd span {font-size: 30px; color: #00BCD4; font-weight: bold; letter-spacing: -2px; vertical-align: middle;}

#recharge .coin_event { position:relative; width: 100%;}
#recharge .coin_event img{ width: 100%; height: auto; }

#recharge .pointpoak_event { position:relative; width: 100%;}
#recharge .pointpoak_event img{ width: 100%; height: auto; }

#recharge .mar_myinfo_notice { position:relative; display: block;  margin-top: 10px; }
#recharge .mar_myinfo_notice ol {font-size: 12px; white-space: normal; word-break: keep-all; line-height: 23px; }
#recharge .mar_myinfo_notice ol li { display: list-item; list-style: circle; margin-left: 20px; text-align: -webkit-match-parent; }

#recharge .mar_section02 { position: relative; width: 90%; margin: 0 auto; padding: 10px 0; }
#recharge .mar_section02 ol { width: 100%; border-top: 2px solid #9e9e9e; border-bottom: 2px solid #9e9e9e; margin-top: 10px; }
#recharge .mar_section02 ol li { display: block; padding: 10px 20px; border-bottom: 1px solid #f5f5f5; overflow:hidden; }
#recharge .mar_section02 ol li:after { clear: both; }
#recharge .mar_section02 ol li:last-child { border-bottom: none; }

#recharge .crp_event_text { color: #00BCD4; font-weight: bold; font-size: 15px; }
#recharge ol.crp_event_list { border:1px solid #00BCD4; margin-bottom: 20px; background-color: #FAFAFA;}
#recharge ol.crp_event_list li { border-bottom: 1px solid #FBE9E7; }

#recharge .mar_pay_check {display: table-cell; width: 21px; text-align: center; vertical-align: middle;}

#recharge .mar_radio { font-size: 13px; color:#666; position: relative; display: table; overflow:hidden; width: 100%; }
#recharge .mar_pay_check input[type="radio"] {display: none;}
#recharge .mar_pay_check span { vertical-align: middle; font-size: 15px;}
#recharge .mar_pay_check span:before {font-family: "FontAwesome"; font-style: normal;content:'\f1db';margin-right: 5px; font-size: 18px;}
#recharge .mar_pay_check .checked {display: none;}
#recharge .mar_pay_check input[type="radio"]:checked ~ span:before {content: '\f058'; color: #00BCD4; font-weight: bold;}

#recharge .mar_pay_con { display: inline-block; float: left; width: 100%; text-align: center; }
#recharge .mar_pay_con_app_sale { margin-top: 8px; }
#recharge .mar_pay_con span { font-size: 15px; font-weight:bold;}
#recharge .mar_pay_con span.minibonus { font-size: 14px; line-height: 16px; }
#recharge .mar_pay_con span.bonus { color: #ff9800; font-size: 13px; font-weight:300; }

#recharge .mar_pay_price { display: table-cell; font-size: 14px; width: 80px; text-align: right; vertical-align: middle; }
#recharge .mar_pay_price strong{color:#EF5350;}

#recharge .mar_section03 { position: relative; width: 90%; margin: 0 auto; padding: 10px 0; }
#recharge .mar_section03 ol { width: 100%; border-top: 2px solid #9e9e9e; border-bottom: 2px solid #9e9e9e; margin-top: 10px; overflow:hidden; }
#recharge .mar_section03 ol li { display: block; border-bottom: 1px solid #f5f5f5; overflow: hidden; width: 100%; vertical-align: middle; }
#recharge .mar_section03 ol li:after { clear: both; }
#recharge .mar_section03 ol li:last-child { border-bottom: none; }

#recharge .mar_pay_radio { color:#666; position: relative; display: inline-block; overflow:hidden; width: calc(50% - 7px); margin-left: 10px; padding: 10px; line-height: 18px; }
#recharge .mar_pay_radio img { width: calc(100% - 25px); /* max-width: 100px; max-width: 53px; */ max-width: 40px; }
#recharge .mar_pay_radio strong{ vertical-align: middle; margin-left:5px;}
#recharge .mar_pay_radio:nth-child(odd) { margin-left: 0; }
#recharge .mar_pay_method { float: left; display: inline-block; font-size: 15px; }
#recharge .mar_pay_method input[type="radio"] {display: none;}
#recharge .mar_pay_method span { vertical-align: middle; font-size: 15px; }
#recharge .mar_pay_method span:before {font-family: "FontAwesome"; font-style: normal;content:'\f1db';margin-right: 5px; font-size: 18px;}
#recharge .mar_pay_method .checked {display: none;}
#recharge .mar_pay_method input[type="radio"]:checked ~ span:before {content: '\f058'; color: #00BCD4; font-weight: bold; margin-right:5px;}

#recharge .mar_guide { display: none; margin-top: 10px; font-size: 13px; padding: 15px; border-radius: 3px; background-color: #FAFAFA; }
#recharge .mar_guide span { display: block; font-weight: bold; color: #F44336; }


#recharge .mar_section04 { position: relative; width: 90%; margin: 0 auto; padding-bottom: 20px; }
#recharge .mar_section04 button { width: 100%; font-size: 16px; font-weight: bold; background-color: #00BCD4; border-radius: 3px; border:none; padding: 15px 0; color: #fff; }

#recharge .mar_section05 { position: relative; width: 90%; margin: 0 auto; padding: 10px 0; margin-top: 60px;}
#recharge .coupon_form_wrap { width: 100%; border-top: 2px solid #9e9e9e; border-bottom: 2px solid #9e9e9e; margin-top: 10px; padding: 10px 0; }
#recharge .coupon_form_wrap span { display: block; font-size: 13px; padding-bottom: 10px; }
#recharge .coupon_form_wrap input[type="text"] { text-transform: uppercase; display: inline-block; padding: 10px 20px; border-bottom: 1px solid #f5f5f5; border:2px solid #E0E0E0; width: calc(25% - 9px); text-align: center; border-radius: 3px; transition: all .3s; }
#recharge .coupon_form_wrap input[type="text"]:focus { border:2px solid #FF8A65; }

#recharge .mar_free { position:relative; width: 80%; background-color: #FAFAFA; margin: 0 auto; margin-top:30px; border-radius: 10px; text-align: center; padding: 50px 30px; font-size:15px; font-weight: bold; }
#recharge .mar_free i { font-size: 5em; color: #00BCD4; display: block; margin-bottom: 20px; }



#recharge .coupondc_bg {
	position: relative;
	width: 90%;
    margin: 10px auto 15px;
	font-size: 0;
	border-radius: 3px;
	border:1px solid #eee;
	display: table;
}
#recharge .coupondc_bg:after {
	content: '';
	display: block;
	clear: both;
}
#recharge .coupondc_bg ul {
	margin-top: 0.5em;
	padding:0.3em 0.5em;
	width: 90%;
	display: table-cell;
	font-size: 16px;
}
#recharge .coupondc_bg ul li {
	width: 100%;
	padding: 3px 0;
	font-size: 0.9em;
	color: #333;
}
#recharge .coupondc_bg ul li:first-child {
	font-weight: bold;
	font-size: 1em;
}
#recharge .coupondc_bg ul li:first-child span { color: #26c6da; }
#recharge .coupondc_bg ul li:last-child { color: #757575; }
#recharge .coupon_cancel {
	width: 10%;
	text-align: right;
	vertical-align: middle;
	display: table-cell;
	padding: 0.3em 0.5em;
	font-size: 16px;
}
#recharge .coupon_cancel i {
	color: #26c6da;
	font-size: 2.5em;
}

#recharge .fleft { float: left; }
#recharge .fright { float: right; }

#recharge .mar_section03 .coupondc_btn{    
	font-size: 1.4em;
    border: 0;
    background-color: #26c6da;
    padding: 0.2em 1em;
    color: #fff;
    border-radius: 3px;
}

#recharge div.pay_agree {
	font-size: 13px;
	text-align: center;
	margin-bottom: 10px;
	}
	
#recharge div a { 
	text-decoration: #0c82c8 !important; 
	color: #0c82c8; 
	}