#search .sub_list {position: relative; margin-top:-10px; padding: 10px 0px; background-color: #fff; box-shadow: 0px 1px 1px 0 rgba(0, 0, 0, 0.2); -webkit-box-shadow: 0px 1px 1px 0 rgba(0, 0, 0, 0.2); -moz-box-shadow: 0px 1px 1px 0 rgba(0, 0, 0, 0.2); overflow-y: hidden;}
#search .sub_list .sub_list_thumb {width: 33.3%; border:1px solid #eee; border-top: none; border-left: none; float: left;}
#search .sub_list .sub_list_thumb img {width: 100%;}
#search .sub_list .sub_list_thumb dl {padding: 10px;}
#search .sub_list .sub_list_thumb dl dt {font-weight: bold; font-size: 13px; color: #444;}
#search .sub_list .sub_list_thumb dl dd {font-size: 12px; color: #666;}
#search .sub_list .sub_list_thumb dl dd:nth-of-type(1) {color: #8BC34A; border:1px solid #8BC34A; padding: 3px 5px; display: inline-block; border-radius: 10px; margin-top: 3px; }
#search .sub_list .sub_list_thumb dl dd span {color: #FF5722;}
#search .sub_list .sub_list_thumb img {width: 100%;}
#search .sub_list .sub_list_thumb .highlight{color: #000; background-color:#F4FF81}

#search .search_no_data { width:80%; margin:0 auto; margin-top: 100px; margin-bottom: 100px; padding: 30px; text-align: center; font-size: 14px; font-weight: bold; background-color: #f5f5f5; border-radius: 10px; }