.rest_con { position: relative; background-color: #f5f5f5; height: calc(100vh - 90px - 62px); padding: 20px; }
.rest_con h2 { position: relative; color: #757575; }
.restmem { background-color: #fff; padding: 20px; height: calc(100% - 100px); margin-top: 10px; overflow: auto; text-align: center; }
.restmem span { font-size: 1.3em; line-height: 1.95em; }

.vernotice_footer { position: relative; width: 100%; height: 80px; font-size: 0; padding: 20px 0; }
.vernotice_footer a { background-color: #00bcd4; border-radius: 3px; border:none; color: #fff; font-size: 18px; width: calc(50% - 5px); padding: 10px 0; display: inline-block; text-align: center;}
.vernotice_footer a:nth-of-type(2) { margin-left: 10px; background-color: #bdbdbd; }